<?php include("summerOfLearning/include/head.phtml"); ?>

<div id="homeHeaderLogo">
    <a class="button" id="pilot" data-fancybox-type="iframe" href="/summerOfLearning/pilotRegister.php">Join the  <strong>PILOT PROGRAM</strong> <i class="fa fa-chevron-right"></i></a>
    <img src="/public/summerOfLearning/img/home/homeHeaderLogo.png" />
</div>
<a class="homeHeaderButton" href="/index.php"><img src="/public/summerOfLearning/img/home/visitWarriorAcademy.png" alt="Visit the Shakti Warrior Academy. Take me to the academy." /></a>
<?php include('summerOfLearning/include/homeHero.phtml'); ?>

<div id="headerContainer">
    <?php include("summerOfLearning/include/header.phtml"); ?>
</div>

<div class="introContainer">
    <div class="intro">
        <h2>The Fate of the world is in your hands</h2>
        <p class="lead">The world needs more <span class="blue">Scientists</span>, <span class="orange">Technologists</span>, <span class="green">Engineers</span>, <span class="red">Artists</span>, and <span class="purple">Mathematicians</span>! <strong>And you can be one of them!</strong></p>
        <p>Did you ever stop to think how fun these careers are… and how much money people are making in these careers? <strong>Come learn more about it…</strong></p>
    </div>
</div>

<div class="progressContainer">
    <div class="progress">
        <div class="orbs">
            <div class="orb">
                <div class="glow">
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                    <img src="/public/summerOfLearning/img/shared/orbs/Science/gradient.png" class="element-animation" />
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                </div>
                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/Science/banner.png" alt="Science Banner" />
                <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/shared/orbs/Science/ScienceBase.png" alt="Science" /></a>
            </div>
            <div class="orb">
                <div class="glow">
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                    <img src="/public/summerOfLearning/img/shared/orbs/Technology/gradient.png" class="element-animation" />
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                </div>
                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/Technology/banner.png" alt="Technology Banner" />
                <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/shared/orbs/Technology/TechnologyBase.png" alt="Technology" /></a>
            </div>
            <div class="orb">
                <div class="glow">
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                    <img src="/public/summerOfLearning/img/shared/orbs/Engineering/gradient.png" class="element-animation" />
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                </div>
                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/Engineering/banner.png" alt="Engineering Banner" />
                <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/shared/orbs/Engineering/EngineeringBase.png" alt="Engineering" /></a>
            </div>
            <div class="orb">
                <div class="glow">
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                    <img src="/public/summerOfLearning/img/shared/orbs/Arts/gradient.png" class="element-animation" />
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                </div>
                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/Arts/banner.png" alt="Arts Banner" />
                <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/shared/orbs/Arts/ArtsBase.png" alt="Arts" /></a>
            </div>
            <div class="orb">
                <div class="glow">
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                    <img src="/public/summerOfLearning/img/shared/orbs/Mathematics/gradient.png" class="element-animation" />
                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                </div>
                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/Mathematics/banner.png" alt="Mathematics Banner" />
                <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/shared/orbs/Mathematics/MathematicsBase.png" alt="Mathematics" /></a>
            </div>
            <div class="orb badge">
                <!-- <div class="glow">
                    <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" />
                    <img src="/public/summerOfLearning/img/shared/orbs/SummerOfLearningBadge/gradient_small.png" class="element-animation" />
                    <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " />
                </div> -->
                <!-- <img class="banner" src="/public/summerOfLearning/img/shared/orbs/Mathematics/banner.png" alt="Mathematics Banner" /> -->
                <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/home/summerOfLearningBadgeWithHeading.png" alt="Summer Of Learning" /></a>
            </div>
        </div>
        <h4>Earn All Five Badges To Collect The</h4>
        <h2>Shakti S.T.E.A.M. Learning Badge</h2>
    </div>
    <?php if (!isset($_SESSION["user"])) {?>
        <a id="enter" class="button large" href="/summerOfLearning/register.php"><span>Enter The SHAKTI</span>S.T.E.A.M. Academy<img src="/public/summerOfLearning/img/home/shaktiLogoSmall.png" /></a>
    <?php } else { ?>
        <a id="enter" class="button large" href="/summerOfLearning/training.php"><span>Enter The SHAKTI</span>S.T.E.A.M. Academy<img src="/public/summerOfLearning/img/home/shaktiLogoSmall.png" /></a>
    <?php }?>
</div>

<?php include("summerOfLearning/include/warriorTeam.phtml"); ?>

<?php include("summerOfLearning/include/scripts.phtml"); ?>
<script type="text/javascript">
    new shaktiSOL.page.home.HomePage();
</script>
<?php include("summerOfLearning/include/footer.phtml"); ?>
