<?php include("include/html.phtml"); ?>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Shakti Warriors | <?=$orb->name?></title>

        <link rel="stylesheet" type="text/css" href="/min/?g=application-css" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.0/build/calendar/assets/calendar.css">
        <link rel="stylesheet" type="text/css" media="print" href="/public/css/print.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/training/orb.css" />

        <script src="/public/summerOfLearning/js/head/modernizr.js"></script>
        <script src="/public/summerOfLearning/js/head/respond.src.js"></script>

        <!-- open video js -->
        <link href="/public/summerOfLearning/videojs/video-js.css" rel="stylesheet">
        <script src="/public/summerOfLearning/videojs/video.js"></script>
        <script>
            videojs.options.flash.swf = "/public/summerOfLearning/videojs/video-js.swf";
        </script>
        <!-- end video js -->

        <?php include "include/cssFiles.phtml" ?>

    </head>

    <body id="Orb_-_Summer_of_Learning">
        <div class="orbWrapper step1">
            <div class="orbContainer">
                <div class="orbLanding orbSlide" data-step="1">
                    <img class="base" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/<?= $orb->name ?>Base.png" alt="<?= $orb->name ?>" />
                    <div class="heading">
                        <h1><?=$orb->name?></h1>
                        <img class="background" src="/public/summerOfLearning/img/orb/headingBg.png" alt="heading" />
                    </div>
                    <div class="description">
                        <p><?=$orb->description?></p>
                    </div>
                    <?php if ($userOrb != null && isset($userOrb->completedDate)) {?>
                        <a class="button large" id="orbClose" data-id="<?=$orb->id?>" href="/summerOfLearning/training.php">Badge Completed</a>
                    <?php } else {?>
                        <div class="button large startOrb" data-id="<?=$orb->id?>"><?=$userOrb != null ? "Continue Quest" : "Begin Your Quest"?> <i class="fa fa-chevron-right"></i></div>
                    <?php }?>
                </div>
                <div class="orbCheckpointsWrap">
                    <div class="checkpointsHeader">
                        <img class="base" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/<?= $orb->name ?>Base.png" alt="<?= $orb->name ?>" />
                        <div class="heading">
                            <h1><?=$orb->name?></h1>
                            <img class="background" src="/public/summerOfLearning/img/orb/headingBg.png" alt="heading" />
                        </div>
                        <div class="statusWrap">
                            <div class="checkpointStatusHeader">

                            </div>
                            <!--<div class="status clearfix">

                            </div> -->
                        </div>
                    </div>
                    <div class="checkpoints">
                        <?php $checkPointIndex = 1; ?>
                        <?php foreach ($checkpoints as $checkpoint) {
                            $checkPointIndex++;
                        ?>
                            <div class="checkpoint clearfix orbSlide" data-step="<?=$checkPointIndex?>">
                                <div class="orbDescription">
                                    <?php if ($checkpoint->type == 'LINK') {?>
                                        <div class="linkInstructions infoBox">
                                            This quest is going to take you at least <span class="red"><?= gmdate("i:s", $checkpoint->seconds);?></span> to complete!<br/>
                                            <span class="small">(Start it when you know you'll have time to finish the whole thing.)</span><br/> When you are finished, close the window/tab to come back to Shakti Warriors and complete this checkpoint.</span>
                                        </div>
                                    <?php }?>
                                    <span class="orbFirstLine inner"><?=$checkpoint->name?></span>

                                    <span><?=$checkpoint->description?></span>
                                    <?php if ($checkpoint->type == 'MULTIPLE_CHOICE') {?>
                                        <span>(Please choose one of the options below.)</span>
                                    <?php }?>
                                </div>




                                <?php if ($checkpoint->type == 'STORY') {?>
                                    <div class="storyCheckpoint">
                                        <div class="errorMessage"></div>
                                        <form class="storyForm" method="post" action="/app/actions/doOrbCheckpointStory.php">
                                            <div class="loader" style="display:none;">
                                                <img src="/public/img/training/profanityLoader.gif" />
                                            </div>
                                            <label for="story" generated="true" class="error" style="display:none;">This field is required.</label>
                                            <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                            <h3>Enter Answer Below</h3>
                                            <textarea name="story" class="required" minlength="30" maxlength="250"></textarea>
                                            <input type="submit" value="submit" class="button Large"/>
                                        </form>
                                    </div>
                                <?php }?>
                                <?php if ($checkpoint->type == 'STORY_IMAGE') {?>
                                    <div class="storyCheckpoint">
                                        <div class="errorMessage"></div>
                                        <form class="storyForm" method="post" action="/app/actions/doOrbCheckpointStoryImage.php">
                                            <div class="loader" style="display:none;">
                                                <img src="/public/img/training/profanityLoader.gif" />
                                            </div>
                                            <label for="story" generated="true" class="error" style="display:none;">This field is required.</label>
                                            <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                            <textarea name="story" class="required" minlength="30" maxlength="250"></textarea>

                                            <label for="file">Upload an image</label>
                                            <input type="file" name="file" />
                                            <input type="submit" value="submit" class="button Large"/>
                                        </form>
                                    </div>
                                <?php }?>
                                <?php if ($checkpoint->type == 'FILL_IN_THE_BLANK') {?>
                                    <div class="fillinCheckpoint">
                                        <div class="errorMessage"></div>
                                        <form class="fillInTheBlankForm" method="post" action="/app/actions/doOrbCheckpointFillInTheBlank.php">
                                            <label for="answer" generated="true" class="error" style="display:none;">This field is required.</label>
                                            <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                            <h3>Enter Answer Below</h3>
                                            <input type="text" name="answer" class="required"/>
                                            <input type="submit" value="submit" class="button Large"/>
                                        </form>
                                       </div>
                                <?php }?>
                                <?php if ($checkpoint->type == 'MULTIPLE_CHOICE') {?>
                                    <div class="multiplechoiceCheckpoint">
                                        <div class="errorMessage"></div>
                                        <form class="fillInTheBlankForm clearfix" method="post" action="/app/actions/doOrbCheckpointMultipleChoice.php">
                                            <label for="answer" generated="true" class="error" style="display:none;">This field is required.</label>
                                            <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                            <h3>Enter Answer Below</h3>
                                            <?php foreach ($checkpoint->getOptions() as $option) {?>
                                                <div class="option">
                                                    <input class="optionInput required" type="radio" name="answer" value="<?=$option->id?>"/> <div class="optionText"><?=$option->name?></div>
                                                </div>
                                            <?php }?>
                                            <input type="submit" value="submit" class="button Large"/>
                                        </form>
                                    </div>
                                <?php }?>
                                <?php if ($checkpoint->type == 'VIDEO') {?>
                                    <div class="linkCheckpoint">
                                        <form class="linkForm" method="post" action="/app/actions/doOrbCheckpointLink.php" style="display:none;">
                                            <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                            <div class="inputContainer"></div>
                                        </form>
                                        <div class="videoPlayer" data-video="<?=$checkpoint->url?>" data-poster="http://videos.shaktiwarriors.com/steam-2014/<?=$checkpoint->url?>.jpg">
                                            <img src="http://videos.shaktiwarriors.com/steam-2014/<?=$checkpoint->url?>.jpg" style="width: 100%;" />
                                        </div>
                                    </div>
                                <?php }?>

                                <?php if ($checkpoint->type == 'LINK') {?>
                                    <div class="linkCheckpoint">
                                        <a href="<?=$checkpoint->url?>" target="_blank" class="link linkButton button large" data-seconds="<?=$checkpoint->seconds?>">Click To Begin <i class="fa fa-chevron-right"></i></a>
                                        <div class="linkCountdown"></div>
                                        <div>
                                            <a href="<?=$checkpoint->url?>" class="button large" target="_blank" id="timer"></a>
                                        </div>
                                        <form class="linkForm" method="post" action="/app/actions/doOrbCheckpointLink.php" style="display:none;">
                                            <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                            <div class="inputContainer">

                                            </div>
                                        </form>
                                    </div>
                                <?php }?>
                            </div>
                        <?php }?>
                    </div>
                    <div class="orbClosing orbSlide" style="display:none;">
                        <img class="base" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/<?= $orb->name ?>Base.png" alt="<?= $orb->name ?>" />
                        <div class="heading">
                            <h1><?=$orb->name?></h1>
                            <img class="background" src="/public/summerOfLearning/img/orb/headingBg.png" alt="heading" />
                        </div>
                        <h3>Congratulations!</h3>
                        <p>You have earned the <strong><?= $orb->name ?></strong> digital badge!</p>
                        <div class="button large" id="closeButton" data-id="<?=$orb->id?>">Click to complete quest!</div>
                    </div>
                </div>
                <div class="next">

                </div>
            </div>
        </div>
        <?php include("summerOfLearning/include/scripts.phtml"); ?>
        <script type="text/javascript">
        new shaktiSOL.page.training.OrbPage({
            startingCheckpoint: <?=$startingCheckpoint?>
        });
        </script>
    </body>
</html>
