<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/training/orb.css" />
    </head>
    <body style="background:transparent;">
        <div class="orbWrap step1">
            <div class="orbLanding orbSlide" data-step="1">
                <div class="orbImage">
                    <img src="/public/img/training/orbsLarge/<?=$orb->getImageName()?>.png" />
                </div>
                <h1 style="display:none;">
                    <?=$orb->name?>
                </h1>
                <div class="orbDescription">
                    <span><?=$orb->description?></span>
                </div>

                <?php if ($userOrb != null && isset($userOrb->completedDate)) {?>
                    <div class="finishOrb">
                    </div>
                <?php } else {?>
                    <div class="startOrb <?=$userOrb != null ? "continue" : ""?>" data-id="<?=$orb->id?>">
                    </div>
                <?php }?>
            </div>
            <div class="orbCheckpointsWrap">
                <div class="checkpointsHeader">
                    <div class="orbImageSmall">
                        <img src="/public/img/training/orbsSmall/<?=$orb->getImageName()?>.png" />
                    </div>
                    <div class="statusWrap">
                        <div class="checkpointStatusHeader">

                        </div>
                        <!--<div class="status clearfix">

                        </div> -->
                    </div>
                </div>
                <div class="checkpoints">
                    <?php $checkPointIndex = 1; ?>
                    <?php foreach ($checkpoints as $checkpoint) {
                        $checkPointIndex++;
                    ?>
                        <div class="checkpoint clearfix orbSlide" data-step="<?=$checkPointIndex?>">
                            <div class="orbDescription">
                                <span class="orbFirstLine inner"><?=$checkpoint->name?></span>
                                <span><?=$checkpoint->description?></span>
                                <?php if ($checkpoint->type == 'MULTIPLE_CHOICE') {?>
                                    <span>(Please choose one of the options below.)</span>
                                <?php }?>
                            </div>
                            <?php if ($checkpoint->type == 'STORY') {?>
                                <div class="storyCheckpoint">
                                    <div class="errorMessage"></div>
                                    <form class="storyForm" method="post" action="/app/actions/doOrbCheckpointStory.php">
                                        <div class="loader" style="display:none;">
                                            <img src="/public/img/training/profanityLoader.gif" />
                                        </div>
                                        <label for="story" generated="true" class="error" style="display:none;">This field is required.</label>
                                        <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                        <textarea name="story" class="required"></textarea>
                                        <input type="submit" value="Submit" class="storySubmit"/>
                                    </form>
                                </div>
                            <?php }?>
                            <?php if ($checkpoint->type == 'STORY_IMAGE') {?>
                                <div class="storyCheckpoint">
                                    <div class="errorMessage"></div>
                                    <form class="storyForm" method="post" action="/app/actions/doOrbCheckpointStoryImage.php">
                                        <div class="loader" style="display:none;">
                                            <img src="/public/img/training/profanityLoader.gif" />
                                        </div>
                                        <label for="story" generated="true" class="error" style="display:none;">This field is required.</label>
                                        <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                        <textarea name="story" class="required"></textarea>
                                        
                                        <label for="file">Upload an image</label>
                                        <input type="file" name="file" />
                                        <input type="submit" value="Submit" class="storySubmit"/>
                                    </form>
                                </div>
                            <?php }?>
                            <?php if ($checkpoint->type == 'FILL_IN_THE_BLANK') {?>
                                <div class="fillinCheckpoint">
                                    <div class="errorMessage"></div>
                                    <form class="fillInTheBlankForm" method="post" action="/app/actions/doOrbCheckpointFillInTheBlank.php">
                                        <label for="answer" generated="true" class="error" style="display:none;">This field is required.</label>
                                        <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                        <input type="text" name="answer" class="required"/>
                                        <input type="submit" value="Submit" class="fillintheblankSubmit"/>
                                    </form>
                                   </div>
                            <?php }?>
                            <?php if ($checkpoint->type == 'MULTIPLE_CHOICE') {?>
                                <div class="multiplechoiceCheckpoint">
                                    <div class="errorMessage"></div>
                                    <form class="fillInTheBlankForm clearfix" method="post" action="/app/actions/doOrbCheckpointMultipleChoice.php">
                                        <label for="answer" generated="true" class="error" style="display:none;">This field is required.</label>
                                        <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                        <?php foreach ($checkpoint->getOptions() as $option) {?>
                                            <div class="option">
                                                <input class="optionInput required" type="radio" name="answer" value="<?=$option->id?>"/> <div class="optionText"><?=$option->name?></div>
                                            </div>
                                        <?php }?>
                                        <div class="multipleChoiceSubmitWrap">
                                            <input type="submit" value="Submit" class="multiplechoiceSubmit"/>
                                        </div>
                                    </form>
                                </div>
                            <?php }?>
                            <?php if ($checkpoint->type == 'LINK') {?>
                                <div class="linkCheckpoint">
                                    <a href="<?=$checkpoint->url?>" target="_blank" class="link linkButton" data-seconds="<?=$checkpoint->seconds?>">

                                    </a>
                                    <div class="linkCountdown"></div>
                                    <a href="<?=$checkpoint->url?>" target="_blank" id="timer"></a>
                                    <form class="linkForm" method="post" action="/app/actions/doOrbCheckpointLink.php" style="display:none;">
                                        <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                        <div class="inputContainer">

                                        </div>
                                    </form>
                                    <div class="linkInstructions">
                                        Click the link above to start reading. When you are finished, close the window/tab to come back to Shakti Warriors and complete this checkpoint.
                                    </div>
                                </div>
                            <?php }?>
                            <?php if ($checkpoint->type == 'SELECT_CHOICE') {?>
                                <div class="selectChoiceCheckpoint">
                                    <form class="selectChoiceForm clearfix" method="post" action="/app/actions/doOrbCheckpointSelectChoice.php">
                                        <input type="hidden" name="id" value="<?=$checkpoint->id?>"/>
                                        <select name="choice">
                                        <?php foreach ($checkpoint->getOptions() as $option) {?>
                                            <option class="optionInput" value="<?=$option->id?>"><?=$option->name?></option>
                                        <?php }?>
                                        </select>
                                        <div class="selectChoiceSubmitWrap">
                                            <input type="submit" value="Submit" class="selectChoiceSubmit"/>
                                        </div>
                                    </form>
                                </div>
                            <?php }?>
                        </div>
                    <?php }?>
                </div>
                <div class="orbClosing orbSlide" style="display:none;">
                    <img class="congrats" src="/public/img/training/congrats.png" />
                    <div class="orbImage">
                        <img src="/public/img/training/orbsLarge/<?=$orb->getImageName()?>.png" />
                    </div>
                    <div class="finishButton" data-id="<?=$orb->id?>">

                    </div>
                </div>
            </div>
            <div class="next">

            </div>
        </div>
        <?php include("summerOfLearning/include/scripts.phtml"); ?>
        <script type="text/javascript">
        new shaktiSOL.page.training.OrbPage({
            startingCheckpoint: <?=$startingCheckpoint?>
        });
        </script>
    </body>
</html>