<?php include("summerOfLearning/include/head.phtml"); ?>

<div class="hero">
    <img src="/public/summerOfLearning/img/home/hero/hero_sky.png" data-stellar-ratio=".1" data-stellar-vertical-offset="-500" data-stellar-offset-parent="true">
    <img src="/public/summerOfLearning/img/home/hero/hero_buildings.png" data-stellar-ratio=".5" data-stellar-vertical-offset="-400" data-stellar-offset-parent="true">
    <img src="/public/summerOfLearning/img/home/hero/hero_bushes.png" data-stellar-ratio=".7" data-stellar-vertical-offset="0" data-stellar-offset-parent="true">
    <img id="supers" src="/public/summerOfLearning/img/home/hero/hero_supers.png" data-stellar-ratio=".8" data-stellar-vertical-offset="0" data-stellar-offset-parent="true">
</div>
<div class="clearfix"></div>
<div class="placeholder">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, autem, dolore, quisquam beatae perferendis ab natus animi iure quae placeat dicta nobis delectus nisi quia voluptatem facere nulla et assumenda.
</div>

<?php include("summerOfLearning/include/scripts.phtml"); ?>
<script type="text/javascript">
    new shaktiSOL.page.parallaxTest.ParallaxTestPage();
</script>
<?php include("summerOfLearning/include/footer.phtml"); ?>