<?php include("summerOfLearning/include/head.phtml"); ?>
    <div id="thankYou">
        <h1>Success!</h1>
        <p>Thank you!  We will follow up with your shortly via email to show you how to set up your online SHAKTI S.T.E.A.M. Roster.  In the meantime, start making a list of your student’s SUPER HERO names!  You will need these for your class roster.</p>
        <p>Gratefully,</p>
        <p><strong>SHAKTI</strong></p>
        <a class="button large" id="close" tabindex="-1">Thank You</a>
    </div>
    <form action="/app/actions/sol/doPilotRequestSignup.php" method="post" id="pilotRegisterForm">
        <h1><span>Bring the S.H.A.K.T.I. STEAM ACADEMY PILOT</span><br/>to your Organization</h1>
        <div class="formInputsContainer">
            <div class="inputWrapper">
                <label>Organization</label>
                <div class="inputContainer">
                    <input id="organization" name="organization" type="text" value=""/>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="inputWrapper">
                <label>First Name</label>
                <div class="inputContainer">
                    <input name="firstName" type="text" value="" class="required"/>
                </div>
            </div>
            <div class="inputWrapper">
                <label>Last Name</label>
                <div class="inputContainer">
                    <input name="lastName" type="text" value="" class="required"/>
                </div>
            </div>
            <div class="inputWrapper">
                <label>Email</label>
                <div class="inputContainer">
                    <input name="email" type="email" value="" class="required"/>
                </div>
            </div>
            <div class="inputWrapper">
                <label>Phone #</label>
                <div class="inputContainer">
                    <input name="phone" type="text" value="" class="required"/>
                </div>
            </div>
            <div class="inputWrapper stateWrapper">
                <label>State</label>
                <div class="inputContainer">
                    <select id="state" name="state" class="required">
                        <option value=""></option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AS">American Samoa</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FM">Federated States Of Micronesia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="GU">Guam</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PW">Palau</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VI">Virgin Islands</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
            </div>
            <div class="inputWrapper cityWrapper">
                <label>City</label>
                <div class="inputContainer withNote">
                    <input id="city" name="city" type="text" value="" class="required"/>
                </div>
                <p>Enter the first 2-3 characters of your city's name.</p>
            </div>
            <div class="inputWrapper">
                <label>Level</label>
                <div class="inputContainer">
                    <select name="level" class="required">
                        <option value=""></option>
                        <option>Superintendent</option>
                        <option>Principal</option>
                        <option>Classroom Instructor</option>
                        <option>CBO - Program Director (Community Based Organization)</option>
                        <option>CBO - Program Instructor (Community Based Organization)</option>
                        <option>FBO - Program Director  (Faith Based Organization)</option>
                        <option>FBO - Program Instructor (Faith Based Organization)</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <input type="submit" value="Submit" class="button large" id="submit" tabindex="-1"/>
    </form>

    <?php include("summerOfLearning/include/scripts.phtml"); ?>
    <script type="text/javascript">
        new shaktiSOL.page.pilotRegister.PilotRegisterPage();
    </script>
<!-- Close Main Content Area -->
</div>
</body>
</html>
