<?php include("summerOfLearning/include/head.phtml"); ?>

<div id="headerContainer" class="fixed">
    <?php include("summerOfLearning/include/header.phtml"); ?>
</div>

<div class="container">
    <div class="formContainer">
        <div class="form">
            <form class="shakti-form" id="applicationForm" action="../app/actions/sol/doApplication.php" method="post" autocomplete = "off">
                <div class="royalSlider">
                    <div id="slide1" class="slide">
                        <div class="leaderContainer">
                            <div class="leader">
                                <div class="formDescription">
                                    <img class="echo" src="/public/summerOfLearning/img/register/echo.png" alt="Echo" />
                                    <h2>Your Secret Identity</h2>
                                    <p class="primary">Now it's time to come up with your great SUPER HERO name.  Remember, the world does not need another Spiderman, or Superman, or Wonder Woman.  Pick a name that tells the world about YOUR special powers.</p>
                                    <p class="note">Note:  If the name you choose is already taken – then simply add a number on the end.  (Examples:  Bright Wind34, or Sonic Power4)</p>
                                </div>
                            </div>
                        </div>
                        <div class="formInputsContainer">
                            <div class="inputWrapper noMargin">
                                <label>First Name</label>
                                <div class="inputContainer">
                                    <input autocomplete="off" name="child[firstName]" type="text" value="<?= $firstName ?>" class="required next"/>
                                </div>
                            </div>

                            <div class="inputWrapper">
                                <label>Boy or Girl</label>
                                <div class="inputContainer">
                                    <select name="child[gender]" class="required next">
                                        <option value=""></option>
                                        <option value="b">Boy</option>
                                        <option value="g">Girl</option>
                                    </select>
                                </div>
                            </div>

                            <div class="inputWrapper noMargin">
                                <label>State</label>
                                <div class="inputContainer">
                                    <select id="state" name="child[state]" class="required next">
                                        <option value=""></option>
                                        <option value="AL">Alabama</option>
                                        <option value="AK">Alaska</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AZ">Arizona</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="CA">California</option>
                                        <option value="CO">Colorado</option>
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="DC">District Of Columbia</option>
                                        <option value="FM">Federated States Of Micronesia</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="GU">Guam</option>
                                        <option value="HI">Hawaii</option>
                                        <option value="ID">Idaho</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IN">Indiana</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NV">Nevada</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="OH">Ohio</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="OR">Oregon</option>
                                        <option value="PW">Palau</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="TX">Texas</option>
                                        <option value="UT">Utah</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VI">Virgin Islands</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WA">Washington</option>
                                        <option value="WV">West Virginia</option>
                                        <option value="WI">Wisconsin</option>
                                        <option value="WY">Wyoming</option>
                                    </select>
                                </div>
                            </div>

                            <div class="inputWrapper">
                                <label>City</label>
                                <div class="inputContainer">
                                    <input id="city" autocomplete="off" name="child[city]" type="text" value="" class="required next"/>
                                    <p>Enter the first 2-3 characters of your city's name.</p>
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="inputWrapper noMargin">
                                <label>Year Born</label>
                                <div class="inputContainer">
                                    <select id="yearOfBirth" name="child[year]" class="required next">
                                        <option value=""></option>
                                        <option value="1990">1990</option>
                                        <option value="1991">1991</option>
                                        <option value="1992">1992</option>
                                        <option value="1993">1993</option>
                                        <option value="1994">1994</option>
                                        <option value="1995">1995</option>
                                        <option value="1996">1996</option>
                                        <option value="1997">1997</option>
                                        <option value="1998">1998</option>
                                        <option value="1999">1999</option>
                                        <option value="2000">2000</option>
                                        <option value="2001">2001</option>
                                        <option value="2002">2002</option>
                                        <option value="2003">2003</option>
                                        <option value="2004">2004</option>
                                        <option value="2005">2005</option>
                                        <option value="2006">2006</option>
                                        <option value="2007">2007</option>
                                    </select>
                                </div>
                            </div>

                            <div class="inputWrapper">
                                <label>Ethnicity</label>
                                <div class="inputContainer">
                                    <select name="child[ethnicity]" class="next">
                                        <option value=""></option>
                                        <option value="african">African-American</option>
                                        <option value="asian">Asian-American</option>
                                        <option value="caucasian">Caucasian</option>
                                        <option value="hispanic">Hispanic/Latino</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="clearfix"></div>
                        <a class="button large" id="next">Continue To Super Hero <i class="fa fa-chevron-right"></i></a>
                    </div><!--END SLIDE-->
                    <div class="slide">
                        <div class="leaderContainer">
                            <div class="leader small">
                                <div class="formDescription">
                                    <img class="echo" src="/public/summerOfLearning/img/register/echo.png" alt="Echo" />
                                    <h2>Your Super Hero Information</h2>
                                    <p>Please remember your Super Hero Name and Secret Code. You will need these to enter the Academy. Write them down if it helps you to remember.</p>
                                </div>
                            </div>
                        </div>

                        <div class="formInputsContainer">
                            <div class="inputWrapper noMargin">
                                <label>Super Hero Name</label>
                                <div class="inputContainer">
                                    <input autocomplete = "off" id="login" name="user[login]" type="text" class="required"/>
                                </div>
                            </div>

                            <div class="inputWrapper">
                                <label>Password</label>
                                <div class="inputContainer">
                                    <input autocomplete = "off" id="password" name="user[password]" type="password" class="required"/>
                                </div>
                            </div>
                            <div style="clear: both;"></div>
                            <div class="inputWrapper noMargin">
                                <label>Confirm Password</label>
                                <div class="inputContainer">
                                    <input autocomplete = "off" id="confirmPassword" name="confirm" type="password" class="required"/>
                                </div>
                            </div>

                            <div class="inputWrapper">
                                <label>Mentor</label>
                                <div class="inputContainer">
                                    <select name="child[superheroId]" class="required">
                                        <option value=""></option>
                                        <option value="5">Chune</option>
                                        <option value="6">Echo</option>
                                        <option value="4">Maye</option>
                                        <option value="7">Sable</option>
                                        <option value="1">Shakti</option>
                                        <option value="2">Solan</option>
                                        <option value="3">Vibrato</option>
                                    </select>
                                </div>
                            </div>
                            <div class="formDescription">
                                <p>By clicking the submit button below you understand that you are not yet a super hero and you should not try any of the activities that you see Shakti and her Warriors perform without consent of your parents. </p>
                            </div>
                            <?php if (Config::$approvalRequired) { ?>
                                <div class="inputWrapper noMargin">
                                    <label>Approval Password</label>
                                    <div class="inputContainer">
                                        <input type="password" name="approvalPassword" id="approvalPassword" class="required"/>
                                    </div>
                                </div>
                            <?php } ?>
                        </div>

                        <div class="clear"></div>

                        <!-- <a class="button large" id="submit" href="#">Submit My Information <i class="fa fa-chevron-right"></i></a> -->
                        <input type="submit" value="Submit My Information " class="button large" id="continue" tabindex="-1"/>
                    </div><!--END SLIDE-->
                </div><!--END ROYALSLIDER-->
            </form>
        </div>
    </div>
</div>

<?php include("summerOfLearning/include/scripts.phtml"); ?>
<script type="text/javascript">
    new shaktiSOL.page.register.RegisterPage();
</script>
<?php include("summerOfLearning/include/footer.phtml"); ?>
