<?php include("summerOfLearning/include/head.phtml"); ?>

<div id="headerContainer" class="fixed">
    <?php include("summerOfLearning/include/header.phtml"); ?>
</div>

<div class="container">

    <div class="leader">
    </div>

    <div class="progressContainer">
        <div class="progress<?= ($percentCompleted == 100) ? ' completed' : ''; ?>">
            <h3 class="overOrb"><?= $user->login ?> is</h3>
            <h2 class="overOrb"><?= $percentCompleted ?>%<span>Complete</span></h2>

            <?php if (isset($_SESSION["user"]) && $percentCompleted < 100) {?>
                 <!-- <a class="button large" href="/summerOfLearning/training.php">Continue Training <i class="fa fa-chevron-right"></i></a> -->
            <?php } ?>

            <?php if ($percentCompleted == 100) {?>
                 <div class="badge">
                    <div class="orb">
                        <div class="glow">
                            <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                            <img src="/public/summerOfLearning/img/shared/orbs/SummerOfLearningBadge/gradient.png" class="element-animation" />
                            <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                        </div>
                        <img class="base" src="/public/summerOfLearning/img/shared/summerOfLearningBadge.png" alt="Summer Of Learning Badge" />
                    </div>
                </div>
                <p>CONGRATULATIONS!  You have earned all the digital badges available!</p>
            <?php } ?>


            <p class="overOrb">Copy the link below and use it to show your Summer of Learning Digital Badge progress with your friends and teachers!</p>
            <div class="copyLink overOrb">
                <div class="button" href="#">Share Link <i class="fa fa-chevron-right"></i></div>
                <a id="linkSpan" class="link" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/share.php?userId=<?=$user->id?>">http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/share.php?userId=<?=$user->id?></a>
            </div>
        </div>
        <div class="steamContainer">
            <div class="steam">
                <div>
                    <h2>S.T.E.A.M. DIGITAL BADGES</h2>
                    <?php if ($percentCompleted == 100) { ?>
                        <p>You have earned all the digital badges available.</p>
                    <?php } else { ?>
                        <p>You have earned the following digital badges.</p>
                    <?php } ?>
                </div>
                <div class="orbs">
                    <?php
                        foreach ($orbs as $orb) {
                        $userCheckpoints = $orb->getCheckpointsForUser($user->id);

                        $orbCheckpointsCompleted = 0;
                        $orbCheckpoints = 0;

                        foreach ($userCheckpoints as $checkpoint) {
                            $orbCheckpoints ++;
                            if ($checkpoint->completed) {
                                $orbCheckpointsCompleted++;
                            }
                        }
                    ?>
                        <div class="orb <?= $orb->name ?><?= $orbCheckpointsCompleted == $orbCheckpoints ? ' completed' : ' incomplete'?>">
                            <?php if ($orbCheckpointsCompleted == $orbCheckpoints) { ?>
                                <div class="glow">
                                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/white-gradi.png" class="element-animation-gradiSwell" /> -->
                                    <img src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/gradient.png" class="element-animation" />
                                    <!-- <img src="/public/summerOfLearning/img/shared/orbs/flareAndBall.png" class="flareAndBall " /> -->
                                </div>
                                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/banner.png" alt="<?= $orb->name ?> Banner" />
                            <?php } ?>
                            <a href="/summerOfLearning/training.php"><img class="base" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/<?= $orb->name ?>Base.png" alt="<?= $orb->name ?>" /></a>
                            <div class="title"><?= $orb->name ?></div>
                        </div>
                    <?php } ?>
                </div>
            </div>
        </div>
    </div>
</div>

<?php include("summerOfLearning/include/warriorTeam.phtml"); ?>

<?php include("summerOfLearning/include/scripts.phtml"); ?>
<script type="text/javascript">
    new shaktiSOL.page.share.SharePage();
</script>
<?php include("summerOfLearning/include/footer.phtml"); ?>
