<?php include("summerOfLearning/include/head.phtml"); ?>

<div id="headerContainer" class="fixed">
    <?php include("summerOfLearning/include/header.phtml"); ?>
</div>

<div class="container">

    <div class="leader">
        <h2><?= $user->login ?>'s Digital Badge Progress</h2>
        <p>Earn your digital badge by completing these different quests.  You'll be watching videos, reading artcles, and doing real-world projects!  Ready for your S.T.E.A.M. journey?  Click on a badge to begin!</p>
    </div>

    <div class="progressContainer">
        <div class="progress<?= ($percentCompleted == 100) ? ' complete' : ''; ?>">
            <div class="trainingContainer">
                <h2><?= $percentCompleted ?>% Complete</h2>
                <?php
                    foreach ($orbs as $orb) {
                    $userCheckpoints = $orb->getCheckpointsForUser($user->id);

                    $orbCheckpointsCompleted = 0;
                    $orbCheckpoints = 0;

                    foreach ($userCheckpoints as $checkpoint) {
                        $orbCheckpoints ++;
                        if ($checkpoint->completed) {
                            $orbCheckpointsCompleted++;
                        }
                    }

                    $progressPercentage = 0;
                    if ($orbCheckpoints > 0) {
                        $progressPercentage = floor($orbCheckpointsCompleted / $orbCheckpoints * 100);
                    }
                ?>
                    <div class="training<?= $orbCheckpointsCompleted == $orbCheckpoints ? ' completed' : ''?>">
                        <div class="orb <?= $orb->name ?><?= $orbCheckpointsCompleted == $orbCheckpoints ? ' completed' : ' incomplete'?>">
                            <?php if ($orbCheckpointsCompleted == $orbCheckpoints) { ?>
                                <div class="glow">
                                    <img src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/gradient.png" class="element-animation" />
                                </div>
                                <img class="banner" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/banner.png" alt="<?= $orb->name ?> Banner" />
                            <?php } ?>
                            <a href="/summerOfLearning/orb.php?id=<?=$orb->id?>" class="orbPopUp"><img class="base" src="/public/summerOfLearning/img/shared/orbs/<?= $orb->name ?>/<?= $orb->name ?>Base.png" alt="<?= $orb->name ?>" /></a>
                            <div class="title"><?= $orb->name ?></div>
                        </div>
                        <div class="progressPercentage"><?= $progressPercentage ?>%</div>
                        <div class="progressBar">
                            <img class="wrapper" src="/public/summerOfLearning/img/shared/progressBar/wrapper.png" alt="progress bar" />
                            <div data-percent="<?= $progressPercentage ?>" class="power <?= $orb->name ?> <?= $orbCheckpointsCompleted == $orbCheckpoints ? ' completed' : ''?>"></div>
                            <img class="background" src="/public/summerOfLearning/img/shared/progressBar/wrapperDarkener.png" alt="progress bar background" />
                        </div>

                        <?php if ($orbCheckpointsCompleted == 0) { ?>
                            <a href="/summerOfLearning/orb.php?id=<?=$orb->id?>" class="button orbPopUp orbStartButton">Start <i class="fa fa-chevron-right"></i></a>
                        <?php } else if ($orbCheckpointsCompleted < $orbCheckpoints) { ?>
                            <a href="/summerOfLearning/orb.php?id=<?=$orb->id?>" class="button orbPopUp orbFinishButton">Continue <i class="fa fa-chevron-right"></i></a>
                        <?php } else if ($orbCheckpointsCompleted == $orbCheckpoints) { ?>
                            <span class="button orbComplete">Complete</span>
                        <?php } ?>

                        <div class="description"><?= $orb->longDescription ?></div>
                    </div>
                <?php } ?>
                <div class="description">
                    <?=$curriculum?> Curriculum
                </div>
            </div>
        </div>
    </div>
</div>

<?php include("summerOfLearning/include/scripts.phtml"); ?>
<script type="text/javascript">
    new shaktiSOL.page.training.TrainingPage();
</script>
<?php include("summerOfLearning/include/footer.phtml"); ?>
