<?php include("_header.phtml"); ?>
<div id="messages">
<form class="shakti-form" id="applicationForm" action="/app/actions/doManagerLogin.php" method="post" autocomplete = "off">
    <fieldset>
        <div class="fieldSetWrap">
            <img src="../public/img/application/yourSecretIdentity.png" />
            <div class="fieldWrap">
                <label>
                    Login Type
                    <select name="managerType" class="required">
                        <option value="">Select One</option>
                        <option value="district">District Manager</option>
                        <option value="school">School Manager</option>
                        <option value="classroom">Classroom Manager</option>
                    </select>
                </label>
            </div>
            <div class="fieldWrap">
                <label>Password<input autocomplete="off" name="password" type="password" class="required"/></label>
            </div>
           <div class="fieldWrap">
                <input autocomplete="off" type="image" src="../public/img/global/pixel.gif" value="" class="submitButton" />
            </div>
        </div>
        <div class="form-tc"></div>
        <div class="form-bc"></div>
    </fieldset>
</form>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
