<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/editSchoolHeader.png" />
                <?php if (isset($school->id)) {?>
                    <a href="/manager/school/index.php?schoolId=<?=$school->id?>"><img class="manageBack" src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                <?php } else {?>
                    <a href="/manager/district/index.php?districtId=<?=$school->districtId?>"><img class="manageBack" src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                <?php }?>
                <form class="shakti-form" id="inviteForm" action="/app/actions/doManagerEditSchool.php" method="post">
                    <?php if ($school->id != null) {?>
                        <input type="hidden" name="id" value="<?=$school->id?>"/>
                    <?php }?>
                    <input type="hidden" name="districtId" value="<?=$school->districtId?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>School Name
                                 <input autocomplete="off" type="text" name="name" value="<?=$school->name?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Prefix
                                <select name="contactPrefix" class="required">
                                    <option value="">Select One</option>
                                    <option <?=$school->contactPrefix == "Mr." ? 'selected="selected"' : ''?>>Mr.</option>
                                    <option <?=$school->contactPrefix == "Mrs." ? 'selected="selected"' : ''?>>Mrs.</option>
                                    <option <?=$school->contactPrefix == "Ms." ? 'selected="selected"' : ''?>>Ms.</option>
                                    <option <?=$school->contactPrefix == "Dr." ? 'selected="selected"' : ''?>>Dr.</option>
                                </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact First Name
                                 <input autocomplete="off" type="text" name="contactFirstName" value="<?=$school->contactFirstName?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Last Name
                                 <input autocomplete="off" type="text" name="contactLastName" value="<?=$school->contactLastName?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Super Hero Name
                                 <input autocomplete="off" type="text" name="contactSuperHeroName" value="<?=$school->contactSuperHeroName?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Email
                                 <input autocomplete="off" type="text" name="contactEmail" value="<?=$school->contactEmail?>" class="required email"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Work Phone Number
                                 <input autocomplete="off" type="text" name="contactWorkPhone" value="<?=$school->contactWorkPhone?>" class="required phoneUS"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Cell Phone Number
                                 <input autocomplete="off" type="text" name="contactCellPhone" value="<?=$school->contactCellPhone?>" class="required phoneUS"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Address
                                 <input autocomplete="off" type="text" name="address" value="<?=$school->address?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>City
                                 <input autocomplete="off" type="text" name="city" value="<?=$school->city?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>State
                                 <select name="state" class="required">
                                    <option value="">State</option>
                                    <option value="AK" <?=$school->state == "AK" ? 'selected="selected"' : ''?>>AK</option>
                                    <option value="AL" <?=$school->state == "AL" ? 'selected="selected"' : ''?>>AL</option>
                                    <option value="AR" <?=$school->state == "AR" ? 'selected="selected"' : ''?>>AR</option>
                                    <option value="AZ" <?=$school->state == "AZ" ? 'selected="selected"' : ''?>>AZ</option>
                                    <option value="CA" <?=$school->state == "CA" ? 'selected="selected"' : ''?>>CA</option>
                                    <option value="CO" <?=$school->state == "CO" ? 'selected="selected"' : ''?>>CO</option>
                                    <option value="CT" <?=$school->state == "CT" ? 'selected="selected"' : ''?>>CT</option>
                                    <option value="DC" <?=$school->state == "DC" ? 'selected="selected"' : ''?>>DC</option>
                                    <option value="DE" <?=$school->state == "DE" ? 'selected="selected"' : ''?>>DE</option>
                                    <option value="FL" <?=$school->state == "FL" ? 'selected="selected"' : ''?>>FL</option>
                                    <option value="GA" <?=$school->state == "GA" ? 'selected="selected"' : ''?>>GA</option>
                                    <option value="HI" <?=$school->state == "HI" ? 'selected="selected"' : ''?>>HI</option>
                                    <option value="IA" <?=$school->state == "IA" ? 'selected="selected"' : ''?>>IA</option>
                                    <option value="ID" <?=$school->state == "ID" ? 'selected="selected"' : ''?>>ID</option>
                                    <option value="IL" <?=$school->state == "IL" ? 'selected="selected"' : ''?>>IL</option>
                                    <option value="IN" <?=$school->state == "IN" ? 'selected="selected"' : ''?>>IN</option>
                                    <option value="KS" <?=$school->state == "KS" ? 'selected="selected"' : ''?>>KS</option>
                                    <option value="KY" <?=$school->state == "KY" ? 'selected="selected"' : ''?>>KY</option>
                                    <option value="LA" <?=$school->state == "LA" ? 'selected="selected"' : ''?>>LA</option>
                                    <option value="MA" <?=$school->state == "MA" ? 'selected="selected"' : ''?>>MA</option>
                                    <option value="MD" <?=$school->state == "MD" ? 'selected="selected"' : ''?>>MD</option>
                                    <option value="ME" <?=$school->state == "ME" ? 'selected="selected"' : ''?>>ME</option>
                                    <option value="MI" <?=$school->state == "MI" ? 'selected="selected"' : ''?>>MI</option>
                                    <option value="MN" <?=$school->state == "MN" ? 'selected="selected"' : ''?>>MN</option>
                                    <option value="MO" <?=$school->state == "MO" ? 'selected="selected"' : ''?>>MO</option>
                                    <option value="MS" <?=$school->state == "MS" ? 'selected="selected"' : ''?>>MS</option>
                                    <option value="MT" <?=$school->state == "MT" ? 'selected="selected"' : ''?>>MT</option>
                                    <option value="NC" <?=$school->state == "NC" ? 'selected="selected"' : ''?>>NC</option>
                                    <option value="ND" <?=$school->state == "ND" ? 'selected="selected"' : ''?>>ND</option>
                                    <option value="NE" <?=$school->state == "NE" ? 'selected="selected"' : ''?>>NE</option>
                                    <option value="NH" <?=$school->state == "NH" ? 'selected="selected"' : ''?>>NH</option>
                                    <option value="NJ" <?=$school->state == "NJ" ? 'selected="selected"' : ''?>>NJ</option>
                                    <option value="NM" <?=$school->state == "NM" ? 'selected="selected"' : ''?>>NM</option>
                                    <option value="NV" <?=$school->state == "NV" ? 'selected="selected"' : ''?>>NV</option>
                                    <option value="NY" <?=$school->state == "NY" ? 'selected="selected"' : ''?>>NY</option>
                                    <option value="OH" <?=$school->state == "OH" ? 'selected="selected"' : ''?>>OH</option>
                                    <option value="OK" <?=$school->state == "OK" ? 'selected="selected"' : ''?>>OK</option>
                                    <option value="OR" <?=$school->state == "OR" ? 'selected="selected"' : ''?>>OR</option>
                                    <option value="PA" <?=$school->state == "PA" ? 'selected="selected"' : ''?>>PA</option>
                                    <option value="RI" <?=$school->state == "RI" ? 'selected="selected"' : ''?>>RI</option>
                                    <option value="SC" <?=$school->state == "SC" ? 'selected="selected"' : ''?>>SC</option>
                                    <option value="SD" <?=$school->state == "SD" ? 'selected="selected"' : ''?>>SD</option>
                                    <option value="TN" <?=$school->state == "TN" ? 'selected="selected"' : ''?>>TN</option>
                                    <option value="TX" <?=$school->state == "TX" ? 'selected="selected"' : ''?>>TX</option>
                                    <option value="UT" <?=$school->state == "UT" ? 'selected="selected"' : ''?>>UT</option>
                                    <option value="VA" <?=$school->state == "VA" ? 'selected="selected"' : ''?>>VA</option>
                                    <option value="VT" <?=$school->state == "VT" ? 'selected="selected"' : ''?>>VT</option>
                                    <option value="WA" <?=$school->state == "WA" ? 'selected="selected"' : ''?>>WA</option>
                                    <option value="WI" <?=$school->state == "WI" ? 'selected="selected"' : ''?>>WI</option>
                                    <option value="WV" <?=$school->state == "WV" ? 'selected="selected"' : ''?>>WV</option>
                                    <option value="WY" <?=$school->state == "WY" ? 'selected="selected"' : ''?>>WY</option>
                                 </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Zipcode
                                 <input autocomplete="off" type="text" name="zip" value="<?=$school->zip?>" class="required number"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Passcode
                                 <input autocomplete="off" type="text" name="passcode" value="<?=$school->passcode?>" class="required"/>
                                </label>
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
