<?php include("_header.phtml"); ?>
        <div id="mainContent">
        <div class="controlPanel-content">
            <div class="controlPanel-content-inn clearfix">
                <div id="messages">
                    <img src="/public/img/headers/schools.png" />
                    <h1><?=$school->name?> - <?=$school->city?>, <?=$school->state?></h1>
                    <div style="float: left;" class="clearfix">
                    <?php if ($role == 'district') {?>
                            <a id="backTo" href="/manager/district/index.php?districtId=<?=$school->districtId?>"><!--Back to District--></a>
                    <?php } else {?>
                            <a id="backTo" href="/manager/login.php"><!--Back to Login--></a>
                    <?php }?>
                        <a id="editSchool" href="/manager/school/editSchool.php?schoolId=<?=$school->id?>"><!--Edit School--></a>
                        <a id="addManageClassroom" href="/manager/classroom/editClassroom.php?schoolId=<?=$school->id?>"><!--Add--></a>
                    </div>
                    <div>
                        <fieldset style="margin: 40px 5px 40px 0pt;">
                    <div id="darkGrayBox">
                    <table id="schoolTable">
                            <tr class="schoolManageTable">
                                <th class="manageBorder">Classroom Name</th>
                                <th class="manageBorder">Number of Students</th>
                                <th class="manageBorder">Action</th>
                            </tr>
                            <?php foreach ($classrooms as $classroom) {?>
                                <tr class="schoolManageTable">
                                    <th><?=$classroom->name?></th>
                                    <th><?=sizeof($classroom->getMembers())?></th>
                                    <th><a href="/manager/classroom/index.php?classroomId=<?=$classroom->id?>">Manage Classroom</a></th>
                                </tr>
                            <?php }?>
                        </table>
                        </div>
                        <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        </fieldset>
                    </div>
                </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>