<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/joinCompetition.png" />
                <form class="shakti-form" id="inviteForm" action="/app/actions/doManagerJoinCompetition.php" method="post">
                    <input type="hidden" name="competitionSchool[schoolId]" value="<?=$schoolId?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>School Name
                                 <select name="competitionSchool[competitionId]" class="required">
                                    <option value="">Choose A Competition</option>
                                    <?php foreach ($competitions as $competition){?>
                                        <option value="<?=$competition->id?>"><?=$competition->name?></option>
                                    <?php }?>
                                 </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Passcode
                                    <input type="password" name="passcode" class="required"/>
                                </label>
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
