.echo-animation{
  position: relative;
  animation: echoFrames linear 6s;
  animation-iteration-count: infinite;
  -webkit-animation: echoFrames linear 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: echoFrames linear 6s;
  -moz-animation-iteration-count: infinite;
  -o-animation: echoFrames linear 6s;
  -o-animation-iteration-count: infinite;
  -ms-animation: echoFrames linear 6s;
  -ms-animation-iteration-count: infinite;
}

@keyframes echoFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  12% {
    left:-4px;
    top:-2px;
  }
  25% {
    left:5px;
    top:-2px;
  }
  36% {
    left:7px;
    top:7px;
  }
  50% {
    left:12px;
    top:8px;
  }
  62% {
    left:7px;
    top:5px;
  }
  75% {
    left:-3px;
    top:3px;
  }
  83% {
    left:4px;
    top:3px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes echoFrames{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  12% {
    left:-4px;
    top:-2px;
  }
  25% {
    left:5px;
    top:-2px;
  }
  36% {
    left:7px;
    top:7px;
  }
  50% {
    left:12px;
    top:8px;
  }
  62% {
    left:7px;
    top:5px;
  }
  75% {
    left:-3px;
    top:3px;
  }
  83% {
    left:4px;
    top:3px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes echoFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  12% {
    left:-4px;
    top:-2px;
  }
  25% {
    left:5px;
    top:-2px;
  }
  36% {
    left:7px;
    top:7px;
  }
  50% {
    left:12px;
    top:8px;
  }
  62% {
    left:7px;
    top:5px;
  }
  75% {
    left:-3px;
    top:3px;
  }
  83% {
    left:4px;
    top:3px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes echoFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  12% {
    left:-4px;
    top:-2px;
  }
  25% {
    left:5px;
    top:-2px;
  }
  36% {
    left:7px;
    top:7px;
  }
  50% {
    left:12px;
    top:8px;
  }
  62% {
    left:7px;
    top:5px;
  }
  75% {
    left:-3px;
    top:3px;
  }
  83% {
    left:4px;
    top:3px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes echoFrames {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  12% {
    left:-4px;
    top:-2px;
  }
  25% {
    left:5px;
    top:-2px;
  }
  36% {
    left:7px;
    top:7px;
  }
  50% {
    left:12px;
    top:8px;
  }
  62% {
    left:7px;
    top:5px;
  }
  75% {
    left:-3px;
    top:3px;
  }
  83% {
    left:4px;
    top:3px;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}
