.footerContainer {
    .clearfix;
    background:#201f33;
    color:@white;
    .font-size(13px);
    .footer {
        .padding;
        .clearfix;
        max-width:@max-width;
        text-align:left;
        margin:0 auto;
        padding-top:20px;
        padding-bottom:20px;
        .copyright {
            float:right;
            a {
                display:inline-block;
                background:darken(@black,3%);
                color:@white;
                margin-left:10px;
                padding:15px;
                &:hover {
                    background:darken(@black,5%);
                    .transition(background .3s ease);
                }
                @media screen and (max-width:@width-mobile) {
                    display:block;
                    margin-top:10px;
                    margin-left:0px;
                }
            }
            @media screen and (max-width:@width-mobile) {
                float:none;
            }
        }
        @media screen and (max-width:@width-mobile) {
            text-align:center;
        }
    }
    .footerNav {
        float:left;
        .button {
            text-align:center;
            padding-left:10px;
            padding-right:10px;
            margin-right:10px;
            @media screen and (max-width:@width-mobile) {
                width:100%;
                margin-bottom:5px;
            }
        }
        @media screen and (max-width:930px) {
            float:none;
            text-align:center;
            margin-bottom:10px;
        }
    }
}