#headerContainer {
    .clearfix;
    .padding;
    .boxShadow (0px 3px 10px fade(@black,30%));
    background:url(/public/summerOfLearning/img/shared/header/bgLarge.png) top center no-repeat @yellow;
    border-bottom:1px solid lighten(@yellow,30%);
    width:100%;
    height:70px;
    position:relative;
    z-index:50;
    color:@white;
    &.fixed {
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index:50;
        overflow: hidden;

        .logo {
            -moz-transform: scale(0.7) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
            -webkit-transform: scale(0.7) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
            -o-transform: scale(0.7) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
            -ms-transform: scale(0.7) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
            transform: scale(0.7) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        }
    }
    .header {
        .clearfix;
        position:relative;
        max-width:@max-width;
        margin:0 auto;
    }
    .headerButton {
        .caps;
        .boxSizing(border-box);
        .transition(background .3s ease);
        float:right;
        border:none;
        color:@purple-dark;
        font-weight:normal;
        font-family:@specialFontFamily;
        text-align:center;
        .font-size(11px);
        background:fade(@white,30%);
        margin-right:.25%;
        height:6.8rem;
        padding:15px;
        span {
            display:block;
            clear:both;
            font-weight:bold;
            .font-size(21px);
            .line-height(23px);
            @media screen and (max-width:@width-mobile) {
                .font-size(13px);
            }
        }
        &:hover {
            background:fade(@white,50%);
        }      
        &:first-child {
            margin-right:0;
        } 
        @media screen and (max-width:@width-mobile) {
            width:27%;
            .font-size(11px);
        } 
    }
    .home {
        display:none;
    }
    input.headerButton {
        font-family:@specialFontFamily;
        background:@red;
        color:@white;
        margin-top:0 !important;
        font-size:21px !important;
        &:hover {
            background:darken(@red,10%);
        }
    }
    .loginForm {
        float:right;
        display:none;
        .inputWrapper {
            float:left;
            max-width:160px;
            margin-top:16px;
            margin-right:12px;
            input {
                .boxSizing(border-box);
                padding:8px 3px;
                background:@white;
                color:@black;
                width:100%;
                border:1px solid fade(@black, 50%);
                border-radius:@borderRadius;
                .font-size(13px);
                font-family:@sansFontFamily;
            }
            label {
                .caps;
                font-weight:bold;
                .font-size(14px);
                font-family:@sansFontFamily;
                text-align:left;
                display:block;
                color:@red;
                margin-bottom:3px;
                margin-top:8px;
            }
            @media screen and (max-width:@width-mobile) {
                max-width:30%;
            }
        }
        input[type="submit"] {
            .font-size(15px);
            .line-height(15px);
            padding:10px 5px;
            margin-top:24px;
            margin-right:5px;
            width:120px;
        }
        @media screen and (max-width:@width-mobile) {
            .boxSizing(border-box);
            padding-bottom:6px;
            padding-left:14px;
        }
        
    }
    .logo {
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        float:left;
        position:absolute;
        left:0;
        top:-31px;
        width:20%;
        display:block;

        -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        -ms-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);

        img {
            max-width:100%;
        }
        &:hover {
            opacity:.8;
        }
        @media screen and (max-width:@width-mobile) {
            width:20%;
            top:15px;
        }
    }
    @media screen and (max-width:@width-mobile) {
        padding:0;
    }
}
.lt-ie9 {
    #headerContainer {
        .headerButton {
            background:url(/public/summerOfLearning/img/shared/bgWhite30.png) repeat !important;
            padding:7px;
            height:69px;
            &:hover {
                background:url(/public/summerOfLearning/img/shared/bgWhite50.png) repeat !important;
            }
        }
        input.headerButton {
            font-family:@specialFontFamily;
            background:@red !important;
            color:@white;
            height:69px;
            margin-top:0 !important;
            font-size:21px !important;
            &:hover {
                background:darken(@red,10%) !important;
            }
        }
    }
    #Summer_of_Learning {
        #headerContainer {
            .home.title {
                padding-top:25px;
                font-size:25px;
            }
        }
    }
}