.progressContainer {
    .clearfix;
    .cover;
    background:url(/public/summerOfLearning/img/shared/bgYellowBurst.jpg) @orange no-repeat;
    background-position:center -202px;
    .progress {
        .padding;
        text-align:center;
        max-width:@max-width;
        margin:0 auto;

    }

    .overOrb{
        position: relative;
        z-index: 10;
    }
}
