.members {
    margin-top:50px;
    text-align:left;
    .member {
        .transition(width .3s ease);
        width:15%;
        margin-left:2%;
        color:@white;
        float:left;
        .degree {
            .caps;
            text-align:center;
            color:@yellow;
            .font-size(12px);
            height:65px;
            .line-height(15px);
            margin-top:15px;
            .salary {
                color:#333;
                font-weight:bold;
                margin-top:5px;
            }
            span {
                color:@purple;
                .font-size(15px);
                font-weight:bold;
                font-family:@specialFontFamily;
                display: block;
            }
        }
        .description {
            color:@yellow;
            .font-size(12px);
            margin-bottom:5px;
            span {
                color:@white;
            }
        }
        .details {
            .caps;
            background:@purple-dark;
            padding:20px;
            height:55px;
            @media screen and (max-width:@width-mobile) {
                padding:5px;
                height:70px;
            }
        }
        .imageContainer {
            overflow:hidden;
            position: relative;
            img {
                width:100%;
                z-index: 5;
                position: relative;
            }
            .videoBg,
            video{
                position: absolute;
                left:0;
                right: 0;
                top: 0;
                width:100%;
                bottom: 0;
                z-index: 2;
                background: #000;
            }
        }
        .memberName {
            font-family:@specialFontFamily;
            .font-size(20px);
            .line-height(20px);
            margin-bottom:8px;
        }
        &:first-child {
            margin-left:0;
        }
        @media screen and (max-width:@width-mobile) {
            width:32%;
            margin-bottom:10px;
            &:nth-child(4) {
                margin-left:0;
            }
        }
    }
}
.warriorTeam {
    .padding;
    .clearfix;
    max-width:@max-width;
    margin:0 auto;
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
    .button {
        margin-top:50px;
    }
    h2 {
        color:@purple;
    }
    p {
        color:fade(@black,50%);
        .font-size(17px);
        .line-height(20px);
        text-align:left;
        strong {
            color:@black;
        }
    }
}
.warriorTeamContainer {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 50%, #f9c289 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#f9c289));
    background: -webkit-linear-gradient(top,  #ffffff 50%,#f9c289 100%);
    background: -o-linear-gradient(top,  #ffffff 50%,#f9c289 100%);
    background: -ms-linear-gradient(top,  #ffffff 50%,#f9c289 100%);
    background: linear-gradient(to bottom,  #ffffff 50%,#f9c289 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9c289',GradientType=0 );
}
.lt-ie9 {
    .members {
        .member {
            .description {
                font-size:12px;
            }
            .memberName {
                font-size:12px;
            }
        }
    }
}
