#Warrior_-_Summer_of_Learning {
    background:transparent;
    border-radius:@borderRadius;
    text-align:center;
    .container {
        padding:30px 15px;
        color:@white;
        border-radius:@borderRadius;
        background:url(/public/summerOfLearning/img/shared/bgBlack70.png) repeat;
    }
    .description {
        .font-size(13px);
        .line-height(15px);
    }
    .fancybox-opened .fancybox-skin {
        background:transparent !important;
        box-shadow:none !important;
    }
    h2 {
        text-align:center;
        margin-bottom:10px;
    }
    img {
        text-align:center;
        margin:0 auto;
        max-width:400px;
        width:100%;
    }
    .salary {
        .font-size(23px);
        color:@yellow;
        .line-height(23px);
        margin-bottom:10px;
    }
}