.addProgram{
  .default-form{
    .date{
       .controls{
        .make-md-column(3);
      }
    }
    .dates{
      .controls{
         .make-md-column(8);
      }
      input, span{
        display: inline-block !important;
      }
      #inputDatesOut, #inputDatesOut2{
        .make-md-column(3);
      }
      #inputDatesOut, .range{
        vertical-align: middle;
        float: left;
      }
      span{
        margin: 5px 10px;
      }
    }
    button[type="button"]{
      padding-left: 10px;
      padding-right: 10px;
    }
  }

    .close {
        float: left;
        margin-top: 5px;
        margin-left: 25px;
    }

    .calendar {
        position: absolute;
        top: 3px;
        right: -15px;
        font-size: 21px;
    }
}
