.addSession {
    .controls {
        .cancel {
            margin-left: 0 !important;
        }
    }

    .datepicker-wrap {
        .controls {
            width: 100% !important;
        }
    }

    .leftLabel,
    .rightLabel {
        width: 100% !important;
    }

    .leftLabel {
        float: left !important;
    }

    .rightLabel {
        float: right !important;
    }

    .calendar {
        position: absolute;
        top: 3px;
        right: 20px;
        font-size: 21px;
    }
}