.adminDistrict{
  .breadcrumb > li + li:before{
    content: "- ";
  }
  button, a.btn{
    padding-left: 10px;
    padding-right: 10px;
  }
  p{
    margin: 0;
  }
  .distAdminHeader{
    h3,.buttons{
      display: inline-block;
    }
    .buttons{
      float: right;
      a{
          margin-left:10px;

      }

    }
  }
}
