.editSchool {
    .calendar {
        position: absolute;
        top: 3px;
        right: 20px;
        font-size: 21px;
    }

    .close {
        position: absolute;
        float: none;
        top: 8px;
        right: 0;
    }

    #notInSession {
        .form-group {
            position: relative;
        }
    }
}