.main{
    .addDist{
        float: right;
        padding: 10px 0;
    }
    a.btn{
        padding-left: 10px;
        padding-right: 10px;
    }

    .row {
        .nav-tabs {
            background: none;
            margin-bottom: 0px;
            width: auto;
            max-width: 990px;

            li {
                a {
                    color: #0D75B2;
                }

                &.active {
                    a {
                        background: #ECEDED;
                    }
                }
            }
        }
    }

    .districtTitle {
        background: #F6F6F6;
        margin: 0 -15px;
        padding: 3px 0 3px 15px;
    }
}
