body.lessonPlan {

    .introText {
        margin-top: 50px;
    }
    #selectWeek {
        float: right;
    }
    .container {
        padding: 20px;
    }

    p {
        padding: 0 15px;
    }

    h1 {
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;

        &.title {
            padding-bottom: 40px;
        }
    }

    h2 {
        margin: 0 0 10px;
        padding: 0;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
    }

    h3 {
        font-size: 16px;
        font-weight: bold;
        margin-left: 15px;
    }

    ol {
        li {
            position: relative;
            margin-left: 40px;

            .glyphicon {
                position: absolute;
                top: 1px;
                left: -40px;
            }
        }
    }

    .well {
        background: #EEE5EE;
    }

    .pushContent {
        margin-left: 30px;

        li {
            margin-left: 17px;
        }
    }

    .panel {
        h1 {
            margin-left: 15px;
        }
    }

    label {
        margin-left: 40px;
    }

    .lessonPlans {
        span {
            margin-left: 40px;

            & + p {
                margin-top: 15px;
            }

            .glyphicon {
                margin-right: 20px;
            }
        }

        li {
            margin-left: 0;
        }

        .toRemember {
            margin: 15px 0 10px;
        }
    }

    .panel-heading {
        h1 {
            color: #000;
        }
    }

    .accomplishments .panel-heading {
        background: #dae9f4;
    }
    .agenda .panel-heading {
        background: #def2d9;
    }
    .reminders .panel-heading {
        background: #f1dfd0;
    }
    .prep .panel-heading {
        background: #f1f0cf;
    }

    @media print {
        .backgroundWrap,
        .nav,
        #selectWeek {
            display: none;
        }
    }
}
