.login {
    background: url('/public/admin/img/loginBackgroundGradient.png') repeat-x top center;

    .outer{
        height: 850px;
    }
    .nav {
        display: block;
        height: 44px;
        .logout {
            display: none;
        }
    }

    h2 {
        text-align: center;
        margin: 20px 0 50px;
    }

    form {
        width: 1024px;
        .control-label, .controls{
            display: inline-block;
            margin: 0 auto;
            vertical-align: middle;
        }

        .control-label.username {
            margin-top: -17px;
        }

        input[type='text'], input[type='password']{
            vertical-align: middle;
            border: 1px solid #737373;
            -webkit-box-shadow: inset 0px 3px 3px 0px #c5c5c5;
            box-shadow: inset 0px 3px 3px 0px #c5c5c5;
            line-height: 35px;
            height: 35px;
            width: 250px;
        }
        .control-group{
            width:365px;
            .clearfix;
            .center-block();
            padding-bottom:25px;
            .control-label{
                padding: 0 28px 0 0;
                vertical-align: middle;
            }
        }
        label {
            color: #666;
            font-weight: bold;
            font-family: 'Helvetica';
            text-transform: uppercase;
        }

        .btns{
            padding-bottom: 15px;
            width: 195px;
            padding-left: 25px;
            .submit{
                width: 195px;
                border:none;
                height:50px;
            }
        }

        .forgot{
            text-transform: uppercase;
            padding-bottom: 0;
            font-family: 'Helvetica';
            width: 240px;
            a{
                color: #999;
                font-size: 14px;
                font-weight: bold;
                float: right;
            }
        }
    }
}

