.manageStudents{
  .programDetailHeader{
    vertical-align: middle;
    margin-bottom: 40px;
    h3, .buttons{
      display: inline-block;
      vertical-align: middle;
      margin: 0;
    }
    .buttons{
      float: right;
      a{
          margin-left:10px;    
      }
    }
  }
  .container{
    .row, form, .studentSearch{
      margin-left:0;
      padding-left: 0;
    }
  }
  .studentSearch label{
    margin-right: 10px;
  }
  
  .topControls {
    margin: 15px 0;
  }
  
  button, button[type="button"], a.btn, input[type="submit"]{
    padding-left:20px;
    padding-right: 20px;
  }
  .delete{
    display: block;
    i{
      margin: 0 auto;
      display: block;
      zoom: 2;
      width: 12px;
      height: 12px;
      // background: url('/public/admin/img/glyphicons-halflings.png') 169px 97px no-repeat;
      background: url('/public/admin/img/glyphicons-halflings.png') -314px -2px no-repeat;
    }
  } 
}
