.manageSessions {
    .table {
        td {
            width: 5%;
            text-align: center;

            & + td {
                width: 80%;
                text-align: left;

                & + td {
                    width: 15%;
                    text-align: center;
                }
            }
        }
    }
}