.programDetail{
  button, button[type="button"], a.btn, input[type="submit"]{
    padding-left: 10px;
    padding-right: 10px;
  }
  .programDetailHeader{
    margin-bottom: 20px;
    .buttons{
      display: inline-block;
      margin-bottom: 20px;
    }
    .buttons{
      float: right;
      a{
          margin-left:10px;
      }
    }
  }
}
