.schoolDetail{
  .distAdminHeader{
    margin-bottom: 20px;
    h3,.buttons{
      display: inline-block;
    }
    .buttons{
      float: right;
      a{
          margin-left:10px;
        
      }
    }
  }
}
