.weeklyLessonPlan {
    .container > h1 {
        margin-bottom: 0;
    }

    .container > h2 {
        font-family: 'ethnocentricregular';
        text-align: center;
        color: #797979;
        margin-top: 0;
    }

    .button-wrap button {
        width: 100%;
    }

    .panel-title {
        color: #000;
        font-size: 24px;
        font-weight: bold;
        margin: 15px 0;
    }
}