label
{
    display: block;
    text-align: right;
    width: 300px;
}

input,
select,
textarea
{
    width: 170px;
    margin: 3px;
}

textarea
{
    height: 100px;
    vertical-align: top;
}

.largeTextareaLabel
{
    width: 438px;
}

.largeTextareaLabel span
{
    width: 322px;
    text-align: right;
    float: right;
    font-size: 1em;
}

.largeTextareaLabel textarea
{
    width: 308px;
}

select,
input[type="submit"]
{
    width: 174px;
}

input.checkbox
{
    width: auto;
}

#systemMessage
{
    background: url("../img/backgrounds/errorBg.png") no-repeat top center;
    color: #ffffff;
    font-size:1.2em;
font-weight: bold;
float: right;
height: 30px;
vertical-align: bottom;
padding: 15px 0 0 0;
width: 764px;
text-indent:60px;
}
