.fieldWrap input{
    height:auto;
}

body#Meet .headerPic{
    margin:0;
}
body#Manage_District #darkGrayBox,
body#Manage_Schools #darkGrayBox{
	margin-top: 25px;
}
.manageBorder{
	float: left;
	text-align: left;
	height:25px;
}
#ieLogin{
	width: 20.5%;
}
#ieFName{
	width: 25%;
}
#ieLName{
	width: 25%;
}
#iestudentID{
	width: 24%;
}

.controlPanelTopWrap{
    float:left;
    width:100%;
    height:auto;
}
.ddWrap{
    margin-top:-3px;
}