body#Track #navigation,
body#Track #sideMenuContainer,
body#Track #footerNav,
#printBttn
{
	display: none;
}

body#Track #pointsColumn
{
	position: absolute;
	left: 50%;
	margin-left: -275px;
	width: 550px;
}

body#Track h1
{
	display: none;
}
