<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addClassroom">
        <div class="outer">

            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin/schoolDetail.php/">School Name</a>
                </li>
                <li>
                    <a href="/admin/programDetail/">Fall 2013</a>
                </li>
                <li class="active">Add Classroom</li>
            </ul>
            <div class="container">
                <h1>Add/Edit Classroom</h1>
                <form class="form-horizontal default-form">
                    <fieldset>
                        <legend>Classroom Leader</legend>
                        <div class="form-group">
                            <label class="control-label" for="classLeaderPrefix">Prefix</label>
                            <div class="controls">
                                <select id="classLeaderPrefix">
                                    <option value="MR">Mr</option>
                                    <option value="MS">Ms</option>
                                    <option value="MRS">Mrs</option>
                                    <option value="MISS">Miss</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 firstName-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputClassLeaderFname">First Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputClassLeaderFname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 lastName-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputClassLeaderLname">Last Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputClassLeaderLname" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputClassLeaderEmail">Email</label>
                            <div class="controls">
                                <input type="email" id="inputClassLeaderEmail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectClassLeaderStatus">Status</label>
                            <div class="controls">
                                <select id="selectClassLeaderStatus">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <span class="message muted clearfix">Disable an account</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminJoin">Join Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker" id="inputSchoolAdminJoin" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectPLCLevel">PLC Level</label>
                            <div class="controls">
                                <select id="selectPLCLevel">
                                    <option value="lv1">Level 1</option>
                                    <option value="lv2">Level 2</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Classroom</legend>
                        <div class="form-group">
                            <label class="control-label" for="inputClassName">Name</label>
                            <div class="controls">
                                <input type="text" id="inputClassName" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectClassroomStatus">Status</label>
                            <div class="controls">
                                <select id="selectClassroomStatus">
                                    <option value="">-- Select --</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <span class="message muted clearfix">Disable an account</span>
                            </div>
                        </div>
                        <div class="form-group levels">
                            <label class="control-label">Grade Levels <span class="muted message">Check all that apply</span></label>

                            <div class="controls">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="-4">
                                        Below 4th
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="4">
                                        4th Grade
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="5">
                                        5th Grade
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="6">
                                        6th Grade
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="6+">
                                        Above 6th Grade
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.classroom.ClassroomFormPage();
        </script>
    </body>
</html>
