<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addSession">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Add Session</h1>
                <form class="form-horizontal default-form" action="/app/actions/doAddDistrictSession.php" method="post">
                    <input type="hidden" name="districtSession[districtId]" value="<?=$districtId?>"/>
                    <fieldset>
                        <legend>Session Information</legend>
                        <div class="alert alert-warning fade in" id="sessionWarning" style="display: none">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputcompetitionName">Name</label>
                            <div class="controls">
                                <select name="districtSession[sessionId]" class="required">
                                    <option value"">Select Session</option>
                                    <?php foreach ($sessions as $session) {?>
                                        <option value="<?=$session->id?>"><?=$session->name?></option>
                                    <?php }?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label rightLabel" for="inputcompetitionName">1st Week of School</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group datepicker-wrap">
                                    <div class="controls">
                                        <input type="text" name="districtSession[startDate]" class="datepicker required date"/>
                                        <a class="calendar" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label leftLabel">First Day of Session</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label rightLabel" for="inputcompetitionName">Last Week of School</label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group datepicker-wrap">
                                    <div class="controls">
                                        <input type="text" name="districtSession[endDate]" class="datepicker required date"/>
                                        <a class="calendar" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label leftLabel">Last Day of Session</label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Save Session">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.district.DistrictSessionFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>