<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addSchool">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin/">Districts</a>
                </li>
                <li class="active">Add School</li>
            </ul>
            <div class="container">
                <?php $states = array(
                    '' => '-- Select --',
                    'AL'=>'Alabama',
                    'AK'=>'Alaska',
                    'AZ'=>'Arizona',
                    'AR'=>'Arkansas',
                    'CA'=>'California',
                    'CO'=>'Colorado',
                    'CT'=>'Connecticut',
                    'DE'=>'Delaware',
                    'DC'=>'District of Columbia',
                    'FL'=>'Florida',
                    'GA'=>'Georgia',
                    'HI'=>'Hawaii',
                    'ID'=>'Idaho',
                    'IL'=>'Illinois',
                    'IN'=>'Indiana',
                    'IA'=>'Iowa',
                    'KS'=>'Kansas',
                    'KY'=>'Kentucky',
                    'LA'=>'Louisiana',
                    'ME'=>'Maine',
                    'MD'=>'Maryland',
                    'MA'=>'Massachusetts',
                    'MI'=>'Michigan',
                    'MN'=>'Minnesota',
                    'MS'=>'Mississippi',
                    'MO'=>'Missouri',
                    'MT'=>'Montana',
                    'NE'=>'Nebraska',
                    'NV'=>'Nevada',
                    'NH'=>'New Hampshire',
                    'NJ'=>'New Jersey',
                    'NM'=>'New Mexico',
                    'NY'=>'New York',
                    'NC'=>'North Carolina',
                    'ND'=>'North Dakota',
                    'OH'=>'Ohio',
                    'OK'=>'Oklahoma',
                    'OR'=>'Oregon',
                    'PA'=>'Pennsylvania',
                    'RI'=>'Rhode Island',
                    'SC'=>'South Carolina',
                    'SD'=>'South Dakota',
                    'TN'=>'Tennessee',
                    'TX'=>'Texas',
                    'UT'=>'Utah',
                    'VT'=>'Vermont',
                    'VA'=>'Virginia',
                    'WA'=>'Washington',
                    'WV'=>'West Virginia',
                    'WI'=>'Wisconsin',
                    'WY'=>'Wyoming',
                );?>
                <h1>Add/Edit School</h1>
                <form class="form-horizontal default-form">
                    <fieldset>
                        <legend>School Information</legend>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolName">Name</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolName" required>
                                <span class="message muted clearfix">Name is displayed throughout the application</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolCity">City</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolCity" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectSchoolState">State</label>
                            <div class="controls">
                                <select id="selectSchoolState" required>
                                    <?php foreach($states as $key => $value) { ?>
                                        <option value="<?php echo $key ?>"><?php echo $value ?></option>
                                      <?php }?>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>School Admin</legend>
                        <div class="form-group">
                            <label class="control-label" for="classLeaderPrefix">Prefix</label>
                            <div class="controls">
                                <select id="classLeaderPrefix">
                                    <option value="MR">Mr</option>
                                    <option value="MS">Ms</option>
                                    <option value="MRS">Mrs</option>
                                    <option value="MISS">Miss</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 firstName-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputSchoolAdminFname">First Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputSchoolAdminFname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 lastName-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputSchoolAdminLname">Last Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputSchoolAdminLname" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminEmail">Email</label>
                            <div class="controls">
                                <input type="email" id="inputSchoolAdminEmail" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectSchoolAdminStatus">Status</label>
                            <div class="controls">
                                <select id="selectSchoolAdminStatus">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                                <span class="message muted clearfix">Disable an account</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminJoin">Join Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker" id="inputSchoolAdminJoin" required>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.school.SchoolFormPage();
        </script>
    </body>
</html>
