        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Change Password</h4>
                </div>
                <form class="default-form" id="passwordForm" method="post" action="/app/actions/doChangePassword.php">
                    <input autocomplete="off" type="hidden" name="userId" value="<?=$editUser->id?>"/>
                    <div class="modal-body">
                        <div class="alert alert-success" id="passwordChangeMessage" style="display:none">Password has been changed</div>
                        <div class="form-group">
                            <label class="control-label">New Password</label>
                            <div class="controls">
                                <input type="password" id="password" name="password" class="form-control required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm Password</label>
                            <div class="controls">
                                <input type="password" name="confirmPassword" class="form-control required">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-primary" value="Save"/>
                    </div>
                </form>
            </div>
        </div>
