<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="login completeRegistration">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <form class="form-horizontal" method="post" action="/app/actions/doCompleteAdminRegistration.php">
                    <input type="hidden" name="activationKey" value="<?=$adminUser->activationKey?>"/>
                    <h3>Please Complete SHAKTI Warriors Administrative Setup</h3>
                    <div>Hey <?=$adminUser->firstName?>, you are almost set. Please type in a password that you would like to use to access the SHAKTI Warriors administrative screens. (Remember to write this down somewhere!).</div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" name="password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn btn-lg btn-primary">Complete Administrative Setup</button>
                        </div>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
    </body>
</html>