<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="manageStudents">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin/manageCompetitions.php">Competitions</a>
                </li>
                <li class="active">
                   <?=$competition->name?>
                </li>
            </ul>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php unset($_SESSION['successMessage']); }?>
                <h1><?=$competition->name?></h1>
                <p>Lorem ipsum dolor sit amet</p>
                <div class="programDetailHeader">
                    <div class="buttons">
                        <a class="btn btn-primary" href="/admin/editCompetition.php?id=<?=$competition->id?>">Edit Competition</a>
                    </div>
                </div>
                <div class="studentSearch navbar-form">
                    <div class="alert alert-warning fade in" id="studentWarning" style="display: none">
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>City</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody id="schools">
                            <?php foreach ($competition->getSchools() as $i=>$school) {?>
                            <tr>
                                <td><?=$school->name?></td>
                                <td><?=$school->city?></td>
                                <td><?=$school->state?></td>
                            </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.classroom.ManageStudentsPage();
        </script>

    </body>
</html>