<?php
    $source = $_GET['source'];
    
    $lessonSelected = false;
    if ($source == "lessonPlan") {
        $lessonSelected = true;
    }
?>
<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="contactUs">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Contact Us:</h1>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning fade in" id="warningMessage" style="display: none">
                        </div>
                        <div class="alert alert-success fade in" id="successMessage" style="display: none">
                        </div>
                        <form id="contactForm" role="form" method="post" action="/app/actions/doAdminContactUs.php">
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="control-label" for="questionType">What do you want to do?</label>
                                <select id="questionType" name="reason" class="input-xlarge form-control">
                                    <option>Share a testimonial.</option>
                                    <option>Report a technical problem.</option>
                                    <option <?= $lessonSelected ? 'selected="selected"' : ''?> >Ask a question regarding Lesson Plans</option>
                                    <option>Other Questions</option>
                                </select>
                            </div>

                            <!-- Textarea -->
                            <div class="form-group">
                                <label class="control-label" for="question">Comment / Question:</label>
                                <div class="controls">
                                    <textarea id="question" name="comments" class="form-control required"></textarea>
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="userEmail">Email:</label>
                                <div class="controls">
                                    <input id="userEmail" name="email" placeholder="you@example.com" class="input-xlarge form-control required" type="text">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="userName">Name:</label>
                                <div class="controls">
                                    <input id="userName" name="name" placeholder="" class="input-xlarge form-control" type="text">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="control-label" for="userPhone">Phone:</label>
                                <div class="controls">
                                    <input id="userPhone" name="phone" placeholder="123-456-7890" class="input-xlarge form-control" type="text">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
            <?php include "include/scripts.phtml" ?>
            <script type="text/javascript">
                new shaktiAdmin.page.contact.ContactUsPage();
            </script>
        </div>
    </body>
</html>
