<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="adminDistrict">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin/">Districts</a>
                </li>
                <li class="active"><?=$district->name?></li>
            </ul>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <div class="pageTitle">
                    <h1><?=$district->name?></h1>
                    <h2>School List</h2>
                </div>
                <p>Below outlines the list of schools for the <span class="distName"><?=$district->name?></span> district. You may either edit district information or add new schools to your district.</p>
                <div class="distAdminHeader">
                    <div class="buttons">
                        <a class="btn btn-primary btn-xs" href="/admin/editDistrict.php?id=<?=$district->id?>">Edit District<br/>Information</a>
                        <a class="btn btn-primary btn-xs" href="/admin/editSchool.php?districtSessionId=<?=$district->getCurrentlyActiveDistrictSession()->id?>">Add School<br/>to District</a>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Contact</th>
                                <th>Start / End</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($schools as $i=>$school) { $adminUser = $school->getAdmin(); ?>
                                <tr class="clickableRow" href="/admin/schoolDetail.php?id=<?=$school->id?>">
                                    <td><?=$i+1?></td>
                                    <td><?=$school->name?></td>
                                    <td>
                                        <?=$school->address?>
                                        <div><?=$school->city?>, <?=$school->state?> <?=$school->zip?></div>
                                        <div><?=$school->phone?></div>
                                    </td>
                                    <td>
                                        <?=$adminUser->firstName?> <?=$adminUser->lastName?>,
                                        <div class="clearfix"><?=$adminUser->email?></div>
                                        <?php if (trim($adminUser->workPhone)) {?>
                                            <div class="clearfix">work: <?=$adminUser->workPhone?></div>
                                        <?php }?>
                                        <?php if (trim($adminUser->cellPhone)) {?>
                                            <div class="clearfix">cell: <?=$adminUser->cellPhone?></div>
                                        <?php }?>
                                    </td>
                                    <td><?=date("m/d/Y", strtotime($school->startDate))?> - <?=date("m/d/Y", strtotime($school->endDate))?></td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <a class="btn btn-primary btn-xs" href="/admin/editSchool.php?id=<?=$school->id?>">Edit School Information</a>
                                            <?php if ($admin != null) { ?>
                                                <?php
                                                    $classroomEmails = "";
                                                    foreach ($school->getClassrooms() as $classroom) {
                                                        $classroomEmails .= $classroom->getAdmin()->email . ", ";
                                                    }
                                                    
                                                    // Remove the last ", " from the list of emails
                                                    $classroomEmails = substr($classroomEmails, 0, -2);
                                                ?>
                                                <a class="btn btn-danger btn-xs sendEmail" href="#email-modal" data-toggle="modal" data-email="<?=$adminUser->email?>" data-email-classrooms="<?=$classroomEmails?>">Send Email</a>
                                            <?php } ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.district.DistrictOverviewPage();
        </script>
    </body>
</html>
