<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="editSession">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Add/Edit Session</h1>
                <form class="form-horizontal default-form" action="/app/actions/doEditSession.php" method="post">
                    <?php if ($session->isPersisted()) {?>
                        <input type="hidden" name="session[id]" value="<?=$session->id?>"/>
                    <?php }?>
                    <fieldset>
                        <legend>Session Information</legend>
                        <div class="alert alert-warning fade in" id="sessionWarning" style="display: none">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputcompetitionName">Name</label>
                            <div class="controls">
                                <input type="text" id="inputcompetitionName" name="session[name]" class="required" value="<?=$session->name?>">
                                <span class="message muted clearfix">Name is displayed throughout the application</span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.session.SessionFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>