<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="editDistrict">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Add/Edit Competition</h1>
                <form class="form-horizontal default-form" action="/app/actions/doEditCompetition.php" method="post">
                    <?php if ($competition->isPersisted()) {?>
                        <input type="hidden" name="competition[id]" value="<?=$competition->id?>"/>
                    <?php }?>
                    <fieldset>
                        <legend>Competition Information</legend>
                        <div class="alert alert-warning fade in" id="districtWarning" style="display: none">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputcompetitionName">Name</label>
                            <div class="controls">
                                <input type="text" id="inputcompetitionName" name="competition[name]" class="required" value="<?=$competition->name?>">
                                <span class="message muted clearfix">Name is displayed throughout the application</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputDistrictCity">Description</label>
                            <div class="controls">
                                <textarea name="competition[description]"><?=$competition->description?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputCompetitionStart">Start Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker" id="inputCompetitionStart" name="competition[startDate]" value="<?=isset($competition->startDate) ? date("m/d/Y", strtotime($competition->startDate)) : date("m/d/Y")?>" class="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputCompetitionEnd">End Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker" id="inputCompetitionEnd" name="competition[endDate]" value="<?=isset($competition->endDate) ? date("m/d/Y", strtotime($competition->endDate)) : date("m/d/Y")?>" class="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputcompetitionPasscode">Passcode</label>
                            <div class="controls">
                                <input type="text" id="inputcompetitionPasscode" name="competition[passcode]" value="<?=$competition->passcode?>" class="required">
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.competition.CompetitionFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>