<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addClassroom">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <?php if ($admin->hasDistrictAccess()) {?>
                    <li>
                        <a href="/admin/districtAdmin.php?id=<?=$district->id?>"><?=$district->name?></a>
                    </li>
                <?php }?>
                <?php if ($admin->hasSchoolAccess()) {?>
                    <li>
                        <a href="/admin/schoolDetail.php?id=<?=$school->id?>"><?=$school->name?></a>
                    </li>
                <?php }?>
                <li class="active">Add Classroom</li>
            </ul>
            <div class="container">
                <h1>Add/Edit Classroom</h1>
                <form class="form-horizontal default-form" method="post" action="/app/actions/doEditClassroom.php">
                    <?php if ($classroom->isPersisted()) {?>
                        <input type="hidden" name="classroom[id]" value="<?=$classroom->id?>"/>
                    <?php }?>
                    <input type="hidden" name="classroom[schoolId]" value="<?=$classroom->schoolId?>"/>
                    <fieldset>
                        <legend>Classroom</legend>
                        <div class="alert alert-warning fade in" id="classroomWarning" style="display: none">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectClassroomStatus">Status</label>
                            <div class="controls">
                                <select id="selectClassroomStatus" name="classroom[active]" required>
                                    <option value="true" <?=$classroom->active === true ? 'selected="selected"' : ''?>>Active</option>
                                    <option value="false" <?=$classroom->active === false ? 'selected="selected"' : ''?>>Inactive</option>
                                </select>
                                <span class="message muted clearfix">Disable an account</span>
                            </div>
                        </div>
                        <div class="form-group levels">
                            <label class="control-label">Grade Levels <span class="muted message">Check all that apply</span></label>
                            <div class="controls">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="gradeTypes[]" value="BELOW_4TH" <?=in_array("BELOW_4TH", $gradeTypes) ? 'checked="checked"' : ''?>>
                                        Below 4th
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="gradeTypes[]" value="4TH" <?=in_array("4TH", $gradeTypes) ? 'checked="checked"' : ''?>>
                                        4th Grade
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="gradeTypes[]" value="5TH" <?=in_array("5TH", $gradeTypes) ? 'checked="checked"' : ''?>>
                                        5th Grade
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="gradeTypes[]" value="6TH" <?=in_array("6TH", $gradeTypes) ? 'checked="checked"' : ''?>>
                                        6th Grade
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="gradeTypes[]" value="ABOVE_6TH" <?=in_array("ABOVE_6TH", $gradeTypes) ? 'checked="checked"' : ''?>>
                                        Above 6th Grade
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputNumStudents">How many students do you expect for this session?</label>
                            <div class="controls">
                                <input type="number" id="inputNumStudents" name="classroom[students]" value="<?=$classroom->students?>" required>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Classroom Teacher</legend>
                        <?php
                            $admin = $classroom->getAdmin();
                            if ($admin == null)
                                $admin = new AdminUser();
                        ?>
                        <div class="form-group">
                            <label class="control-label" for="classLeaderPrefix">Prefix</label>
                            <div class="controls">
                                <select id="classLeaderPrefix" name="admin[prefix]">
                                    <option value="Mr" <?=$admin->prefix == "Mr" ? 'selected="selected"' : ''?>>Mr</option>
                                    <option value="Ms" <?=$admin->prefix == "Ms" ? 'selected="selected"' : ''?>>Ms</option>
                                    <option value="Miss" <?=$admin->prefix == "Miss" ? 'selected="selected"' : ''?>>Miss</option>
                                    <option value="Mrs" <?=$admin->prefix == "Mrs" ? 'selected="selected"' : ''?>>Mrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputClassAdminFname">First Name</label>
                                    <div class="controls">
                                        <input type="text"  name="admin[firstName]" value="<?=$admin->firstName?>">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputClassAdminLname">Last Name</label>
                                    <div class="controls">
                                        <input type="text"  name="admin[lastName]" value="<?=$admin->lastName?>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputClassAdminEmail">Email</label>
                            <div class="controls">
                                <input type="email" id="inputClassAdminEmail" name="admin[email]" value="<?=$admin->email?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <label class="control-label">Work Number</label>
                                <div class="controls">
                                    <input type="text" name="admin[workPhone]" class="phoneUS" value="<?=$admin->workPhone?>" required>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <label class="control-label" for="inputClassAdminEmail">Cellphone Number</label>
                                <div class="controls">
                                    <input type="text" name="admin[cellPhone]" class="phoneUS" value="<?=$admin->cellPhone?>">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Which days will you be running the SHAKTI Warriors program?</legend>
                        <div class="form-group levels">
                            <label class="control-label">Days<br/><span class="muted message">Check all that apply</span></label>
                            <div class="controls"  id="dayCheckboxes">
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="MON" <?=in_array("MON", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Monday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="TUES" <?=in_array("TUES", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Tuesday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="WEDS" <?=in_array("WEDS", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Wednesday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="THURS" <?=in_array("THURS", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Thursday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="FRI" <?=in_array("FRI", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Friday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="SAT" <?=in_array("SAT", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Saturday
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input class="updateApproximateTime"  type="checkbox" name="classroomDays[]" value="SUN" <?=in_array("SUN", $classroomDays) ? 'checked="checked"' : ''?>>
                                        Sunday
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolCity">Start Time<br/><span class="muted message">Approximate</span></label>
                            <div class="controls">
                                <select name="classroom[startTime]" class="required updateApproximateTime">
                                    <?php
                                        $time = strtotime("7:00 AM");
                                        for ($i = 0; $i < 23; $i++) {
                                    ?>
                                        <option value="<?=date("H:i:s", $time)?>" <?=date("H:i:s", $time) == $classroom->startTime ? 'selected="selected"' : ''?>><?=date("g:i a", $time)?></option>
                                    <?php
                                            $time = strtotime("+30 minutes", $time);
                                        }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolCity">End Time</label>
                            <div class="controls">
                                <select name="classroom[endTime]" class="required updateApproximateTime">
                                    <?php
                                        $time = strtotime("7:00 AM");
                                        for ($i = 0; $i < 23; $i++) {
                                    ?>
                                        <option value="<?=date("H:i:s", $time)?>" <?=date("H:i:s", $time) == $classroom->endTime ? 'selected="selected"' : ''?>><?=date("g:i a", $time)?></option>
                                    <?php
                                            $time = strtotime("+30 minutes", $time);
                                        }
                                    ?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolCity">Approx # of minutes</label>
                            <div class="controls">
                                <input type="text" name="classroom[approxNumberMinutes]" value="<?=$classroom->approxNumberMinutes?>" class="required updateApproximateTime" id="approximateTime">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Computers</legend>
                        <div class="form-group">
                            <label class="control-label" for="inputNumComputers">How many computers do you have for this session?</label>
                            <div class="controls">
                                <input type="number" id="inputSchoolAdminFname" name="classroom[computers]" value="<?=$classroom->computers?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputLocated">Located in the</label>
                            <div class="controls">
                                <select id="inputLocated" name="classroom[computersLocatedIn]" required>
                                    <option value="">-- Select --</option>
                                    <option value="Classroom" <?=$classroom->computersLocatedIn == "Classroom" ? 'selected="selected"' : ''?>>Classroom</option>
                                    <option value="Computer Lab" <?=$classroom->computersLocatedIn == "Computer Lab" ? 'selected="selected"' : ''?>>Computer Lab</option>
                                    <option value="Media Center" <?=$classroom->computersLocatedIn == "Media Center" ? 'selected="selected"' : ''?>>Media Center</option>
                                    <option value="Laptop Cart" <?=$classroom->computersLocatedIn == "Laptop Cart" ? 'selected="selected"' : ''?>>Laptop Cart</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group levels">
                            <label class="control-label">Computer Types<span class="muted message">Check all that apply</span></label>
                            <div class="controls">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="computerTypes[]" value="PC_DESKTOP" <?=in_array("PC_DESKTOP", $computerTypes) ? 'checked="checked"' : ''?>>
                                        PC Desktop
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="computerTypes[]" value="PC_LAPTOP" <?=in_array("PC_LAPTOP", $computerTypes) ? 'checked="checked"' : ''?>>
                                        PC Laptop
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="computerTypes[]" value="MAC_DESKTOP" <?=in_array("MAC_DESKTOP", $computerTypes) ? 'checked="checked"' : ''?>>
                                        Mac Desktop
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="computerTypes[]" value="MAC_LAPTOP" <?=in_array("MAC_LAPTOP", $computerTypes) ? 'checked="checked"' : ''?>>
                                        Mac Laptop
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="otherOption" type="checkbox" name="computerTypes[]" value="OTHER" <?=in_array("OTHER", $computerTypes) ? 'checked="checked"' : ''?>>
                                        Other
                                    </label>
                                    <div id="otherField" <?=!in_array("OTHER", $computerTypes) ? 'style="display: none"' : ''?>>
                                        <input type="text" id="otherValue" name="otherValue" value="<?=$otherValue?>" class="<?=in_array("OTHER", $computerTypes) ? 'required' : ''?>"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Save Classroom">
                        </div>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.classroom.ClassroomFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>
