<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addProgram">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <?php if ($admin->hasDistrictAccess()) {?>
                    <li>
                        <a href="/admin/districtAdmin.php?id=<?=$district->id?>"><?=$district->name?></a>
                    </li>
                <?php }?>
                <li>
                    <a href="/admin/schoolDetail.php?id=<?=$school->id?>"><?=$school->name?></a>
                </li>
                <li class="active">Add Session</li>
            </ul>
            <div class="container">
                <h1>Add/Edit Session</h1>
                <form class="form-horizontal default-form" method="post" action="/app/actions/doEditProgram.php">
                    <?php if ($program->isPersisted()) {?>
                        <input type="hidden" name="program[id]" value="<?=$program->id?>"/>
                    <?php }?>
                    <input type="hidden" name="program[schoolId]" value="<?=$program->schoolId?>"/>
                    <fieldset>
                        <div class="alert alert-warning fade in" id="programWarning" style="display: none">
                        </div>
                        <legend>Session</legend>
                        <div class="form-group">
                            <label class="control-label" for="inputProgramName">Session Name</label>
                            <div class="controls">
                                <input type="text" id="inputProgramName" name="program[name]" value="<?=$program->name?>" required>
                                <span class="message muted clearfix">(ie. Fall 2013, Spring 2014, etc.)</span>
                            </div>
                        </div>
                        <div class="form-group date">
                            <label class="control-label" for="inputProgramStart">1st Week of School</label>
                            <div class="controls">
                                <input type="text" class="datepicker weekpicker" id="inputProgramStart" name="program[startDate]" value="<?=isset($program->startDate) ? date("m/d/Y", strtotime($program->startDate)) : date("m/d/Y")?>" required>
                                <a class="calendar" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
                            </div>
                        </div>
                        <div class="form-group date">
                            <label class="control-label" for="inputProgramEnd">Last Week of School</label>
                            <div class="controls">
                                <input type="text" class="datepicker weekpicker" id="inputProgramEnd" name="program[endDate]" value="<?=isset($program->endDate) ? date("m/d/Y", strtotime($program->endDate)) : date("m/d/Y")?>"  required>
                                <a class="calendar" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
                            </div>
                        </div>
                        <legend>Weeks Not In Session</legend>
                        <p>Please enter any weeks your students will not be in attendance. For example holiday vacation, spring break, etc. This will be used to plan out the SHAKTI program week by week when students are in attendance.</p>
                        <div id="notInSession">
                            <?php foreach ($program->getWeeksNotInSession() as $weekNotInSession) {?>
                                <div class="form-group date">
                                    <label class="control-label" for="inputDatesOut">Week not in session</label>
                                    <div class="controls">
                                        <input type="text" class="datepicker weekpicker" name="weeksNotInSession[]" value="<?=date("m/d/Y", strtotime($weekNotInSession->startDate))?>" data-getmindatefrominputid="inputProgramStart" data-getmaxdatefrominputid="inputProgramEnd">
                                        <a class="calendar" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
                                    </div>

                                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                                </div>
                            <?php }?>
                        </div>
                        <div class="form-group form-button-group">
                            <div class="controls">
                                <button type="button" id="addNotInSessionWeek" class="btn">Add another out of session week</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.program.ProgramFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>
