<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="editDistrict">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <li>
                    <a href="/admin/">Districts</a>
                </li>
                <li class="active">Edit <?=$district->name?></li>
            </ul>
            <div class="container">
                <?php $states = array(
                    '' => '-- Select --',
                    'AL'=>'Alabama',
                    'AK'=>'Alaska',
                    'AZ'=>'Arizona',
                    'AR'=>'Arkansas',
                    'CA'=>'California',
                    'CO'=>'Colorado',
                    'CT'=>'Connecticut',
                    'DE'=>'Delaware',
                    'DC'=>'District of Columbia',
                    'FL'=>'Florida',
                    'GA'=>'Georgia',
                    'HI'=>'Hawaii',
                    'ID'=>'Idaho',
                    'IL'=>'Illinois',
                    'IN'=>'Indiana',
                    'IA'=>'Iowa',
                    'KS'=>'Kansas',
                    'KY'=>'Kentucky',
                    'LA'=>'Louisiana',
                    'ME'=>'Maine',
                    'MD'=>'Maryland',
                    'MA'=>'Massachusetts',
                    'MI'=>'Michigan',
                    'MN'=>'Minnesota',
                    'MS'=>'Mississippi',
                    'MO'=>'Missouri',
                    'MT'=>'Montana',
                    'NE'=>'Nebraska',
                    'NV'=>'Nevada',
                    'NH'=>'New Hampshire',
                    'NJ'=>'New Jersey',
                    'NM'=>'New Mexico',
                    'NY'=>'New York',
                    'NC'=>'North Carolina',
                    'ND'=>'North Dakota',
                    'OH'=>'Ohio',
                    'OK'=>'Oklahoma',
                    'OR'=>'Oregon',
                    'PA'=>'Pennsylvania',
                    'RI'=>'Rhode Island',
                    'SC'=>'South Carolina',
                    'SD'=>'South Dakota',
                    'TN'=>'Tennessee',
                    'TX'=>'Texas',
                    'UT'=>'Utah',
                    'VT'=>'Vermont',
                    'VA'=>'Virginia',
                    'WA'=>'Washington',
                    'WV'=>'West Virginia',
                    'WI'=>'Wisconsin',
                    'WY'=>'Wyoming',
                );?>
                <h1>Add/Edit District</h1>
                <form class="form-horizontal default-form" action="/app/actions/doEditDistrict.php" method="post">
                    <?php if ($district->isPersisted()) {?>
                        <input type="hidden" name="district[id]" value="<?=$district->id?>"/>
                        <input type="hidden" name="district[joinDate]" value="<?=$district->joinDate?>"/>
                    <?php }?>
                    <fieldset>
                        <legend>District Information</legend>
                        <div class="alert alert-warning fade in" id="districtWarning" style="display: none">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputDistrictName">Name</label>
                            <div class="controls">
                                <input type="text" id="inputDistrictName" name="district[name]" class="required" value="<?=$district->name?>">
                                <span class="message muted clearfix">Name is displayed throughout the application</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputDistrictCity">City</label>
                            <div class="controls">
                                <input type="text" id="inputDistrictCity" name="district[city]" value="<?=$district->city?>" class="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectDistrictState">State</label>
                            <div class="controls">
                                <select id="selectDistrictState" name="district[state]" class="required">
                                    <?php foreach($states as $key => $value) { ?>
                                        <option value="<?php echo $key ?>" <?=$key == $district->state ? 'selected="selected"' : ''?>><?php echo $value ?></option>
                                      <?php }?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectDistrictDb">Does this district require a seperate database?</label>
                            <div class="controls">
                                <select id="selectDistrictDb">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectDistAdminStatus">Status</label>
                            <div class="controls">
                                <select id="selectDistAdminStatus" name="district[active]" class="required">
                                    <option value="true" <?=$district->active === true ? 'selected="selected"' : ''?>>Active</option>
                                    <option value="false" <?=$district->active === false ? 'selected="selected"' : ''?>>Inactive</option>
                                </select>
                                <span class="message muted clearfix">Disable an account</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>H2 Group Contact Person</legend>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputHHAName">First Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputHHAName" name="district[hhaContactFirstName]" value="<?=$district->hhaContactFirstName?>" class="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputHHAName">Last Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputHHAName" name="district[hhaContactLastName]" value="<?=$district->hhaContactLastName?>" class="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputHHAEmail">Email</label>
                            <div class="controls">
                                <input type="email" id="inputHHAEmail" name="district[hhaContactEmail]" value="<?=$district->hhaContactEmail?>" class="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputHHAPhone">Phone</label>
                            <div class="controls">
                                <input type="tel" name="district[hhaContactPhone]" class="phoneUS" value="<?=$district->hhaContactPhone?>" id="inputHHAPhone">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>District Admin</legend>
                        <?php
                            $admin = $district->getAdmin();
                            if ($admin == null)
                                $admin = new AdminUser();
                        ?>
                        <div class="form-group">
                            <label class="control-label" for="classLeaderPrefix">Prefix</label>
                            <div class="controls">
                                <select id="classLeaderPrefix" name="admin[prefix]">
                                    <option value="Mr" <?=$admin->prefix == "Mr" ? 'selected="selected"' : ''?>>Mr</option>
                                    <option value="Ms" <?=$admin->prefix == "Ms" ? 'selected="selected"' : ''?>>Ms</option>
                                    <option value="Miss" <?=$admin->prefix == "Miss" ? 'selected="selected"' : ''?>>Miss</option>
                                    <option value="Mrs" <?=$admin->prefix == "Mrs" ? 'selected="selected"' : ''?>>Mrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputDistAdminFname">First Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputDistAdminFname" name="admin[firstName]" value="<?=$admin->firstName?>" class="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputDistAdminLname">Last Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputDistAdminLname" name="admin[lastName]" value="<?=$admin->lastName?>" class="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputDistAdminEmail">Email</label>
                            <div class="controls">
                                <input type="email" id="inputDistAdminEmail" name="admin[email]" value="<?=$admin->email?>" class="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <label class="control-label">Work Number</label>
                                <div class="controls">
                                    <input type="text" name="admin[workPhone]" class="phoneUS" value="<?=$admin->workPhone?>" required>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <label class="control-label" for="inputClassAdminEmail">Cellphone Number</label>
                                <div class="controls">
                                    <input type="text" id="inputClassAdminEmail" name="admin[cellPhone]" class="phoneUS" value="<?=$admin->cellPhone?>">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.district.DistrictFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>
