<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="editDistrictBasic">
    	<div class="outer">
	        <?php include "include/header.phtml" ?>
	        <ul class="breadcrumb">
	            <li>
	                <a href="/admin/">Districts</a>
	            </li>
	            <li class="active">Edit District</li>
	        </ul>
	        <div class="container">
	            <?php $states = array('' => '-- Select --', 'AL' => 'Alabama', 'AK' => 'Alaska', 'AZ' => 'Arizona', 'AR' => 'Arkansas', 'CA' => 'California', 'CO' => 'Colorado', 'CT' => 'Connecticut', 'DE' => 'Delaware', 'DC' => 'District of Columbia', 'FL' => 'Florida', 'GA' => 'Georgia', 'HI' => 'Hawaii', 'ID' => 'Idaho', 'IL' => 'Illinois', 'IN' => 'Indiana', 'IA' => 'Iowa', 'KS' => 'Kansas', 'KY' => 'Kentucky', 'LA' => 'Louisiana', 'ME' => 'Maine', 'MD' => 'Maryland', 'MA' => 'Massachusetts', 'MI' => 'Michigan', 'MN' => 'Minnesota', 'MS' => 'Mississippi', 'MO' => 'Missouri', 'MT' => 'Montana', 'NE' => 'Nebraska', 'NV' => 'Nevada', 'NH' => 'New Hampshire', 'NJ' => 'New Jersey', 'NM' => 'New Mexico', 'NY' => 'New York', 'NC' => 'North Carolina', 'ND' => 'North Dakota', 'OH' => 'Ohio', 'OK' => 'Oklahoma', 'OR' => 'Oregon', 'PA' => 'Pennsylvania', 'RI' => 'Rhode Island', 'SC' => 'South Carolina', 'SD' => 'South Dakota', 'TN' => 'Tennessee', 'TX' => 'Texas', 'UT' => 'Utah', 'VT' => 'Vermont', 'VA' => 'Virginia', 'WA' => 'Washington', 'WV' => 'West Virginia', 'WI' => 'Wisconsin', 'WY' => 'Wyoming', ); ?>
	            <h1>Edit District Info</h1>
				<form class="form-horizontal default-form">
	                <fieldset>
	                    <legend>Edit District</legend>
	                    <div class="form-group">
	                        <label class="control-label" for="inputDistrictName">Name</label>
	                        <div class="controls">
	                            <input type="text" id="inputDistrictName" required>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label" for="inputDistrictCity">City</label>
	                        <div class="controls">
	                            <input type="text" id="inputDistrictCity" required>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label" for="selectDistrictState">State</label>
	                        <div class="controls">
	                            <select id="selectDistrictState" required>
	                                <?php foreach($states as $key => $value) { ?>
	                                    <option value="<?php echo $key ?>"><?php echo $value ?></option>
	                                <?php } ?>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label" for="selectDistrictType">Type</label>
	                        <div class="controls">
	                            <select id="selectDistrictType">
	                                <option value="none">-- Select --</option>
	                                <option value="type1">Type 1</option>
	                                <option value="type2">Type 2</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="form-group">
	                        <label class="control-label" for="inputDistrictWeb">Website</label>
	                        <div class="controls">
	                            <input type="text" id="inputDistrictWeb">
	                        </div>
	                    </div>
	                </fieldset>
	                <div class="form-group form-button-group">
	                	<div class="controls">
	                		<input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
	                		<input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">                		
	                	</div>
	                </div>
	             </form>
	
	            <?php include "include/footer.phtml" ?>
	        </div> <!-- /container -->
		</div>

        <?php include "include/scripts.phtml" ?>
		<script type="text/javascript">
            new shaktiAdmin.page.district.DistrictFormPage();
        </script>
    </body>
</html>