<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="editSchool">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <?php if ($admin->hasDistrictAccess()) {?>
                    <li>
                        <a href="/admin/districtAdmin.php?id=<?=$district->id?>"><?=$district->name?></a>
                    </li>
                <?php if ($admin->hasSchoolAccess() && $school->isPersisted()) {?>
                    <li>
                        <a href="/admin/schoolDetail.php?id=<?=$school->id?>"><?=$school->name?></a>
                    </li>
                <?php }?>
                <?php }?>
                <li class="active">Add School</li>
            </ul>
            <div class="container">
                <?php $states = array(
                    '' => '-- Select --',
                    'AL'=>'Alabama',
                    'AK'=>'Alaska',
                    'AZ'=>'Arizona',
                    'AR'=>'Arkansas',
                    'CA'=>'California',
                    'CO'=>'Colorado',
                    'CT'=>'Connecticut',
                    'DE'=>'Delaware',
                    'DC'=>'District of Columbia',
                    'FL'=>'Florida',
                    'GA'=>'Georgia',
                    'HI'=>'Hawaii',
                    'ID'=>'Idaho',
                    'IL'=>'Illinois',
                    'IN'=>'Indiana',
                    'IA'=>'Iowa',
                    'KS'=>'Kansas',
                    'KY'=>'Kentucky',
                    'LA'=>'Louisiana',
                    'ME'=>'Maine',
                    'MD'=>'Maryland',
                    'MA'=>'Massachusetts',
                    'MI'=>'Michigan',
                    'MN'=>'Minnesota',
                    'MS'=>'Mississippi',
                    'MO'=>'Missouri',
                    'MT'=>'Montana',
                    'NE'=>'Nebraska',
                    'NV'=>'Nevada',
                    'NH'=>'New Hampshire',
                    'NJ'=>'New Jersey',
                    'NM'=>'New Mexico',
                    'NY'=>'New York',
                    'NC'=>'North Carolina',
                    'ND'=>'North Dakota',
                    'OH'=>'Ohio',
                    'OK'=>'Oklahoma',
                    'OR'=>'Oregon',
                    'PA'=>'Pennsylvania',
                    'RI'=>'Rhode Island',
                    'SC'=>'South Carolina',
                    'SD'=>'South Dakota',
                    'TN'=>'Tennessee',
                    'TX'=>'Texas',
                    'UT'=>'Utah',
                    'VT'=>'Vermont',
                    'VA'=>'Virginia',
                    'WA'=>'Washington',
                    'WV'=>'West Virginia',
                    'WI'=>'Wisconsin',
                    'WY'=>'Wyoming',
                );?>
                <h1>Add/Edit School</h1>
                <form class="form-horizontal default-form" method="post" action="/app/actions/doEditSchool.php">
                    <?php if ($school->isPersisted()) {?>
                        <input type="hidden" name="school[id]" value="<?=$school->id?>"/>
                        <input type="hidden" name="school[joinDate]" value="<?=$school->joinDate?>"/>
                    <?php }?>
                    <input type="hidden" name="school[districtSessionId]" value="<?=$school->districtSessionId?>"/>
                    <fieldset>
                        <legend>School Information</legend>
                        <div class="alert alert-warning fade in" id="schoolWarning" style="display: none">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolName">Name</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolName" name="school[name]" value="<?=$school->name?>" required>
                                <span class="message muted clearfix">Name is displayed throughout the application</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAddress">Address</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolAddress" name="school[address]" value="<?=$school->address?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolCity">City</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolCity" name="school[city]" value="<?=$school->city?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectSchoolState">State</label>
                            <div class="controls">
                                <select id="selectSchoolState" name="school[state]" required>
                                    <?php foreach($states as $key => $value) { ?>
                                        <option value="<?php echo $key ?>" <?=$school->state == $key ? 'selected="selected"' : ''?>><?php echo $value ?></option>
                                      <?php }?>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolZip">Zipcode</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolZip" name="school[zip]" value="<?=$school->zip?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolZip">Phone Number</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolPhone" name="school[phone]"  class="phoneUS" value="<?=$school->phone?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolStartDate">SHAKTI Warriors Start Date</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolStartDate" name="school[startDate]"  class="datepicker" value="<?= $school->startDate != null ? date("m/d/Y", strtotime($school->startDate)) : '' ?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolEndDate">SHAKTI Warriors End Date</label>
                            <div class="controls">
                                <input type="text" id="inputSchoolEndDate" name="school[endDate]"  class="datepicker" value="<?= $school->endDate != null ? date("m/d/Y", strtotime($school->endDate)) : '' ?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="selectSchoolAdminStatus">Status</label>
                            <div class="controls">
                                <select id="selectSchoolAdminStatus" name="school[active]">
                                    <option value="true" <?=$school->active === true ? 'selected="selected"' : ''?>>Active</option>
                                    <option value="false" <?=$school->active === false ? 'selected="selected"' : ''?>>Inactive</option>
                                </select>
                                <span class="message muted clearfix">Disable an account</span>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Weeks Not In Session</legend>
                        <p>Please enter any weeks your students will not be in attendance. For example holiday vacation, spring break, etc. This will be used to plan out the SHAKTI program week by week when students are in attendance.</p>
                        <div id="notInSession">
                            <?php foreach ($school->getWeeksNotInSession() as $weekNotInSession) {?>
                                <div class="form-group date">
                                    <label class="control-label" for="inputDatesOut">Week not in session</label>
                                    <div class="controls">
                                        <input type="text" class="datepicker weekpicker" name="weeksNotInSession[]" value="<?=date("m/d/Y", strtotime($weekNotInSession->startDate))?>" data-getmaxdatefrominputid="inputSchoolEndDate" data-getmindatefrominputid="inputSchoolStartDate" >
                                        <a class="calendar" href="#"><i class="glyphicon glyphicon-calendar"></i></a>
                                    </div>
                                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                                </div>
                            <?php }?>
                        </div>
                        <div class="form-group form-button-group">
                            <div class="controls">
                                <button type="button" id="addNotInSessionWeek" class="btn">Add another out of session week</button>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>School Admin</legend>
                        <?php
                            $admin = $school->getAdmin();
                            if ($admin == null)
                                $admin = new AdminUser();
                        ?>
                        <div class="form-group">
                            <label class="control-label" for="classLeaderPrefix">Prefix</label>
                            <div class="controls">
                                <select id="classLeaderPrefix" name="admin[prefix]">
                                    <option value="Mr" <?=$admin->prefix == "Mr" ? 'selected="selected"' : ''?>>Mr</option>
                                    <option value="Ms" <?=$admin->prefix == "Ms" ? 'selected="selected"' : ''?>>Ms</option>
                                    <option value="Miss" <?=$admin->prefix == "Miss" ? 'selected="selected"' : ''?>>Miss</option>
                                    <option value="Mrs" <?=$admin->prefix == "Mrs" ? 'selected="selected"' : ''?>>Mrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputSchoolAdminFname">First Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputSchoolAdminFname" name="admin[firstName]" value="<?=$admin->firstName?>" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <div class="form-group">
                                    <label class="control-label" for="inputSchoolAdminLname">Last Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputSchoolAdminLname" name="admin[lastName]" value="<?=$admin->lastName?>" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminEmail">Email</label>
                            <div class="controls">
                                <input type="email" id="inputSchoolAdminEmail" name="admin[email]" value="<?=$admin->email?>" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 first-wrap">
                                <label class="control-label">Work Number</label>
                                <div class="controls">
                                    <input type="text" name="admin[workPhone]" class="phoneUS" value="<?=$admin->workPhone?>" required>
                                </div>
                            </div>
                            <div class="col-md-6 last-wrap">
                                <label class="control-label" for="inputClassAdminEmail">Cellphone Number</label>
                                <div class="controls">
                                    <input type="text" id="inputClassAdminEmail" name="admin[cellPhone]" class="phoneUS" value="<?=$admin->cellPhone?>">
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.school.SchoolFormPage({
                redirectUrl: "<?=$_SERVER['HTTP_REFERER']?>"
            });
        </script>
    </body>
</html>
