<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="login">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <?php if (isset($_SESSION['errorMessage'])) {?>
                    <div class="alert alert-warning fade in" id="errorMessage">
                        <?=$_SESSION['errorMessage']?>
                    </div>
                <?php } unset($_SESSION['errorMessage']); ?>
                <form class="form-horizontal" method="post" action="/app/actions/doAdminForgotPassword.php">
                    <h3>Forgot Password</h3>
                    <div>
                        <p>Please enter your email below and we will send you an email to reset your password</p>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputUsername">Email</label>
                        <div class="controls">
                            <input type="text" id="inputUsername" name="email">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit"/>
                            <a href="/admin/login.php" class="btn btn-lg btn-danger cancel">Cancel</a>
                        </div>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
    </body>
</html>