<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="main">
        <div class="outer">

            <?php include "include/header.phtml" ?>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <p class="districtTitle">Healthy Heroes Alliance District List</p>
                <div class="title">
                    <h1>Edit Districts</h1>
                </div>
                <div class="addDist">
                    <a class="btn btn-primary btn-xs" href="/admin/editDistrict.php">Add District</a>
                </div>
                <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="/admin/index.php">Districts</a></li>
                        <li><a href="/admin/manageSessions.php">Sessions</a></li>
                    </ul>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>District</th>
                                <th># of Schools</th>
                                <th>Location</th>
                                <th>Contact</th>
                                <th>Session</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($districts as $index=>$district) { $adminUser = $district->getAdmin(); $districtSession = $district->getCurrentlyActiveDistrictSession(); ?>
                                <tr class="clickableRow" href="/admin/districtAdmin.php?id=<?=$district->id?>">
                                    <td><?=$index + 1?></td>
                                    <td><?=$district->name?></td>
                                    <td><?=sizeof($district->getSchools())?></td>
                                    <td><?=$district->city?>, <span class="clearfix"><?=$district->state?></span></td>
                                    <td>
                                        <?=$adminUser->firstName?> <?=$adminUser->lastName?>,
                                        <div class="clearfix"><?=$adminUser->email?></div>
                                        <?php if (trim($adminUser->workPhone)) {?>
                                            <div class="clearfix">work: <?=$adminUser->workPhone?></div>
                                        <?php }?>
                                        <?php if (trim($adminUser->cellPhone)) {?>
                                            <div class="clearfix">cell: <?=$adminUser->cellPhone?></div>
                                        <?php }?>
                                    </td>
                                    <td>
                                        <?php if ($districtSession != null) {?>
                                            <?=$districtSession->getSession()->name?>
                                        <?php } else {?>
                                            <a class="btn btn-primary btn-xs" href="/admin/addDistrictSession.php?id=<?=$district->id?>">Assign Session</a>
                                        <?php }?>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <a class="btn btn-primary btn-xs" href="/admin/editDistrict.php?id=<?=$district->id?>">Edit District Information</a>
                                            <a class="btn btn-primary btn-xs" href="/admin/districtAdmin.php?id=<?=$district->id?>">Add Schools to District</a>
                                            <?php if ($admin != null) { ?>
                                                <?php
                                                    $schoolEmails = "";
                                                    $classroomEmails = "";
                                                    foreach ($district->getSchools() as $school) {
                                                        $schoolEmails .= $school->getAdmin()->email . ", ";
                                                        
                                                        foreach ($school->getClassrooms() as $classroom) {
                                                            $classroomEmails .= $classroom->getAdmin()->email . ", ";
                                                        }
                                                    }
                                                    // Remove the last ", " from each list of emails
                                                    $schoolEmails = substr($schoolEmails, 0, -2);
                                                    $classroomEmails = substr($classroomEmails, 0, -2);
                                                ?>
                                            
                                                <a class="btn btn-danger btn-xs sendEmail" href="#email-modal" data-toggle="modal" data-email="<?=$adminUser->email?>" data-email-schools="<?=$schoolEmails?>" data-email-classrooms="<?=$classroomEmails?>">Send Email</a>
                                            <?php } ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <hr>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.home.HomePage();
        </script>
    </body>
</html>
