<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="login completeRegistration">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
				<h3>HEADS UP!</h3>
				<div>It looks like you have already registered with SHAKTI Warriors. <a href="/admin/login.php">Click here to login.</a></div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
    </body>
</html>