<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="lessonPlan">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1 class="title">Weekly Framework Session</h1>
                <div id="selectWeek" class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        Choose Week <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <?php for ($i = 1; $i <= 14; $i++) {?>
                            <li><a href="/admin/lessonPlan.php?week=<?=$i?>" <?=$week == $i ? 'selected="selected"' : ''?>>Week <?=$i?></a></li>
                        <?php }?>
                    </ul>
                </div>
                <div class="introText">
                    <p><strong>Good morning Team Warriors!</strong></p>

                    <p>Welcome to <strong>Week <?=$week?></strong> of the SHAKTI Warriors program implementation. At this point in the program you should have completed the following</p>
                </div>
                <div class="panel panel-default accomplishments">
                    <div class="panel-heading">
                        <h1>Accomplishments To-date</h1>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            <h2>Lesson Plans</h2>
                            <?php if (sizeof($lessonPlans) > 0) {?>
                                <ol>
                                    <?php foreach ($lessonPlans as $lessonPlan) {?>
                                        <li><i class="glyphicon glyphicon-check"></i><?=$lessonPlan->description?></li>
                                    <?php }?>
                                </ol>
                            <?php } else {?>
                                <p>Not applicable for this week.</p>
                            <?php }?>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default agenda">
                    <div class="panel-heading">
                        <h1>This Week's Agenda</h1>
                    </div>
                    <div class="panel-body">
                        <div class="well lessonPlans">
                            <h2>Lesson Plan for this Week</h2>
                            <span><i class="glyphicon glyphicon-unchecked"></i><?=$currentLessonPlan->description?></span>
                            <p>
                                Detailed instructions on how to implement this weeks lesson plan are outlined in the SHAKTI Warriors Lesson Plan manual. Please review the lesson prior to experiencing it with your students to ensure you have all the required materials and are familiar with the Objective. Additionally,  the Prompting and Reflective questions are an integral part of the work with the students, so don’t forget to review these as well.
                            </p>
                            <h2 class="toRemember">Things to Remember about this Lesson Plan</h2>
                            <div>
                                <?=$currentLessonPlan->thingsToRemember?>
                            </div>
                        </div>
                        <div class="well">
                            <h2>SW Website</h2>
                            <h3>1st Year Students</h3>
                            <div class="pushContent">
                                <?php if (sizeof($currentFirstYearWebActivityEntries) > 0) {?>
                                    <ol>
                                        <?php foreach ($currentFirstYearWebActivityEntries as $currentFirstYearWebActivityEntry) {?>
                                            <li><i class="glyphicon glyphicon-unchecked"></i><?=$currentFirstYearWebActivityEntry->name?></li>
                                            <br/>
                                            <p><?=$currentFirstYearWebActivityEntry->description?></p>
                                        <?php }?>
                                    </ol>
                                <?php } else {?>
                                    <p>Not applicable for this week.</p>
                                <?php }?>
                            </div>
                            <h3>2nd Year Students</h3>
                            <div class="pushContent">
                                <?php if (sizeof($currentSecondYearWebActivityEntries) > 0) {?>
                                    <ol>
                                        <?php foreach ($currentSecondYearWebActivityEntries as $currentSecondYearWebActivityEntry) {?>
                                            <li><i class="glyphicon glyphicon-unchecked"></i><?=$currentSecondYearWebActivityEntry->name?></li>
                                            <br/>
                                            <p><?=$currentSecondYearWebActivityEntry->description?></p>
                                        <?php }?>
                                    </ol>
                                <?php } else {?>
                                    <p>Not applicable for this week.</p>
                                <?php }?>
                            </div>
                        </div>
                        <div class="well">
                            <h2>If Time Permits</h2>
                            <?php if (sizeof($asTimePermitsEntries) > 0) {?>
                                <ol>
                                    <?php foreach ($asTimePermitsEntries as $asTimePermitEntry) {?>
                                        <li><i class="glyphicon glyphicon-unchecked"></i><?=$asTimePermitEntry->description?></li>
                                    <?php }?>
                                </ol>
                            <?php } else {?>
                                <p>Not applicable for this week.</p>
                            <?php }?>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default reminders">
                    <div class="panel-heading">
                        <h1>Weekly Reminders</h1>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            <?php if (sizeof($weeklyReminders) > 0) {?>
                                <ol>
                                    <?php foreach ($weeklyReminders as $weeklyReminder) {?>
                                        <li><i class="glyphicon glyphicon-unchecked"></i><?=$weeklyReminder->description?></li>
                                    <?php }?>
                                </ol>
                            <?php } else {?>
                                <p>Not applicable for this week.</p>
                            <?php }?>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default prep">
                    <div class="panel-heading">
                        <h1>Next Week's Prep (Lesson Plan)</h1>
                    </div>
                    <div class="panel-body">
                        <div class="well">
                            <?php if ($nextWeeksLessonPlan != null) {?>
                                <p>Here's the materials you are going to be using for next week... so start collecting them this week if you can.</p>
                                <p><?=$nextWeeksLessonPlan->preperation?></p>
                            <?php } else {?>
                                <p>Not applicable for this week.</p>
                            <?php }?>
                        </div>
                    </div>
                </div>
                <p>Please click <a href="/admin/contactUs.php?source=lessonPlan">here</a> if you have any questions or comments</p>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
            <?php include "include/scripts.phtml" ?>
        </div>
    </body>
</html>
