<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="login">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <?php if (isset($_SESSION['errorMessage'])) {?>
                    <div class="alert alert-warning fade in" id="errorMessage">
                        <?=$_SESSION['errorMessage']?>
                    </div>
                <?php } unset($_SESSION['errorMessage']); ?>
                <form class="form-horizontal default-form" method="post" action="/app/actions/doAdminLogin.php">
                    <h2><img src="/public/admin/img/welcome.png"></h2>
                    <div class="control-group">
                        <label class="control-label username" for="inputUsername">Username</label>
                        <div class="controls">
                            <input type="text" id="inputUsername" name="email">
                            <div class="message muted clearfix">i.e. your email address</div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" name="password">
                        </div>
                    </div>
                    <div class="control-group btns">
                        <div class="controls">
                            <input type="image" class="submit" src="/public/admin/img/login.png" alt="LOG IN">
                        </div>
                    </div>
                    <div class="control-group forgot">
                        <a href="/admin/forgotPassword.php">Forgot Your Password?</a>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
            <?php include "include/scripts.phtml" ?>
        </div>
    </body>
</html>
