<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="manageStudents">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <?php if ($admin->hasDistrictAccess()) {?>
                    <li>
                        <a href="/admin/districtAdmin.php?id=<?=$district->id?>"><?=$district->name?></a>
                    </li>
                <?php }?>
                <?php if ($admin->hasSchoolAccess()) {?>
                    <li>
                        <a href="/admin/schoolDetail.php?id=<?=$school->id?>"><?=$school->name?></a>
                    </li>
                <?php }?>
                <li>
                    <a href="/admin/editClassroom.php?id=<?=$classroom->id?>"><?=$classroom->name?></a>
                </li>
                <li class="active">
                    Students
                </li>
            </ul>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php unset($_SESSION['successMessage']); }?>
                <div class="pageTitle">
                    <h1><?=$classroom->name?></h1>
                    <h2>Student Roster</h2>
                </div>
                <p>To "add a student" to your classroom roster you must locate them using their SHAKTI Warrior super hero name. They will need to have "Joined" the online academy in order for you to locate them. </p>
                <div class="programDetailHeader">
                    <div class="buttons">
                        <a class="btn btn-primary" href="/admin/editClassroom.php?id=<?=$classroom->id?>">Edit Classroom</a>
                    </div>
                </div>
                <div class="studentSearch navbar-form">
                    <div class="form-group search">
                        <label class="" for="studentSearchInput">Add Student</label>
                    </div>
                    <div class="form-group search">
                        <input type="text" id="studentSearchInput" class="form-control">
                    </div>
                    <div class="alert alert-warning fade in" id="studentWarning" style="display: none">
                    </div>
                </div>
                <form class="navbar-form horizontal-form" role="search" _lpchecked="1" method="post" action="/app/actions/doManageStudents.php">
                    <input type="hidden" name="id" value="<?=$classroom->id?>"/>
                    <div class="form-group form-button-group topControls">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <a href="/admin/manageStudents.php?id=<?=$classroom->id?>" class="btn btn-lg btn-danger cancel">Cancel</a>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Student Login</th>
                                    <th>Student Name</th>
                                    <th>Points</th>
                                    <th>Rank</th>
                                    <th>Student ID</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="students">
                                <?php foreach ($classroom->getMembers() as $i=>$student) {?>
                                <tr>
                                    <td>
                                        <input type="hidden" name="ids[]" value="<?=$student->id?>"/>
                                        <?=$student->login?> - <a data-target="#passwordModal" data-toggle="modal" href="/admin/changePassword.php?userId=<?=$student->id?>">Change Password</a>
                                    </td>
                                    <td><?=$student->getChild()->firstName?></td>
                                    <td><?=$student->totalPoints?></td>
                                    <td><?=$student->getRankName()?></td>
                                    <td><input type="text" name="studentIds[]" value="<?=$student->getChild()->studentId?>"/></td>
                                    <td><a href="#" class="delete"><i><!-- Delete Symbol --></i></a></td>
                                </tr>
                                <?php }?>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <a href="/admin/manageStudents.php?id=<?=$classroom->id?>" class="btn btn-lg btn-danger cancel">Cancel</a>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.classroom.ManageStudentsPage();
        </script>

    </body>
</html>