<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="main manageSessions">
        <div class="outer">

            <?php include "include/header.phtml" ?>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <p class="districtTitle">Healthy Heroes Alliance Session List</p>
                <div class="title">
                    <h1>Session List</h1>
                </div>
                <div class="addDist">
                    <a class="btn btn-primary btn-xs" href="/admin/editSession.php">Add Session</a>
                </div>
                <!-- Main hero unit for a primary marketing message or call to action -->
                <div class="row">
                    <ul class="nav nav-tabs">
                        <li><a href="/admin/index.php">Districts</a></li>
                        <li class="active"><a href="/admin/manageSessions.php">Sessions</a></li>
                    </ul>
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Sessions</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($sessions as $index=>$session) { ?>
                                <tr>
                                    <td><?=$index + 1?></td>
                                    <td><?=$session->name?></td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <a class="btn btn-primary btn-xs" href="/admin/editSession.php?id=<?=$session->id?>">Edit Session</a>
                                        </div>
                                    </td>
                                </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <hr>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.GlobalPage();
        </script>
    </body>
</html>
