<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="adminDistrict">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <h1>Competitions</h1>
                <p>Lorem ipsum</p>
                <div class="distAdminHeader">
                    <div class="buttons">
                        <a class="btn btn-primary" href="/admin/editCompetition.php">Add Competition</a>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($competitions as $i=>$competition) {?>
                                <tr class="clickableRow" href="/admin/competitionDetail.php?id=<?=$competition->id?>">
                                    <td><?=$competition->name?></td>
                                    <td><?=date("m/d/Y", strtotime($competition->startDate))?></td>
                                    <td><?=date("m/d/Y", strtotime($competition->endDate))?></td>
                                    <td>
                                        <a class="btn btn-primary" href="/admin/editCompetition.php?id=<?=$competition->id?>">Edit</a>
                                    </td>
                                </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.competition.CompetitionOverviewPage();
        </script>
    </body>
</html>