<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="printedMaterials">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <div class="pageTitle">
                    <h1>Printed Materials</h1>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
    </body>
</html>