<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="programDetail">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <?php if ($admin->hasDistrictAccess()) {?>
                    <li>
                        <a href="/admin/districtAdmin.php?id=<?=$district->id?>"><?=$district->name?></a>
                    </li>
                <?php }?>
                <li>
                    <a href="/admin/schoolDetail.php?id=<?=$school->id?>"><?=$school->name?></a>
                </li>
                <li class="active">
                    <?=$program->name?> Information
                </li>
            </ul>
            <div class="container">
                <?php if (isset($_SESSION['successMessage'])) {?>
                    <div class="alert alert-success fade in" id="successMessage">
                        <?=$_SESSION['successMessage']?>
                    </div>
                <?php } unset($_SESSION['successMessage']); ?>
                <div class="pageTitle">
                    <h1><?=$program->name?></h1>
                </div>
                <p>Below outlines the list of Classrooms participating in the "<?=$program->name?>" SHAKTI Warrior session. To add a new classroom, click on the "Add a Classroom to Session" button. You will need to know the Classroom's teacher's/coach's email address to complete adding a classroom.</p>
                <div class="programDetailHeader">
                    <div class="buttons">
                        <a class="btn btn-primary btn-xs" href="/admin/editProgram.php?id=<?=$program->id?>">Edit Session<br/>Information</a>
                        <a class="btn btn-primary btn-xs" href="/admin/editClassroom.php?programId=<?=$program->id?>">Add Classroom<br>To Session</a>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Classroom</th>
                                <th>Contact</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($program->getClassrooms() as $i=>$classroom) { $adminUser = $classroom->getAdmin();?>
                                <tr class="clickableRow" href="/admin/manageStudents.php?id=<?=$classroom->id?>">
                                    <td><?=$classroom->name?></td>
                                    <td>
                                        <?=$adminUser->firstName?> <?=$adminUser->lastName?>,
                                        <div class="clearfix"><?=$adminUser->email?></div>
                                        <?php if (trim($adminUser->workPhone)) {?>
                                            <div class="clearfix">work: <?=$adminUser->workPhone?></div>
                                        <?php }?>
                                        <?php if (trim($adminUser->cellPhone)) {?>
                                            <div class="clearfix">cell: <?=$adminUser->cellPhone?></div>
                                        <?php }?>
                                    </td>
                                    <td>
                                        <div class="btn-group-vertical">
                                            <a class="btn btn-primary btn-xs" href="/admin/editClassroom.php?id=<?=$classroom->id?>">Edit Classroom Information</a>
                                            <?php if ($admin != null) { ?>
                                                <a class="btn btn-danger btn-xs sendEmail" href="#email-modal" data-toggle="modal" data-email="<?=$adminUser->email?>">Send Email</a>
                                            <?php } ?>
                                        </div>
                                    </td>
                                </tr>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.classroom.ClassroomOverviewPage();
        </script>
    </body>
</html>
