<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="login">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <form class="form-horizontal" method="post" action="/app/actions/doAdminResetPassword.php">
                    <input type="hidden" name="activationKey" value="<?=$adminUser->activationKey?>"/>
                    <h3>Reset Password</h3>
                    <p>Hey <?=$adminUser->firstName?>, type in your new password below</p>
                    <div class="control-group">
                        <label class="control-label" for="inputPassword">Password</label>
                        <div class="controls">
                            <input type="password" id="inputPassword" name="password">
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <a href="/admin/login.php" class="btn btn-lg btn-danger cancel">Cancel</a>
                        </div>
                    </div>
                </form>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
    </body>
</html>