<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="adminDistrict">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                 <div class="pageTitle">
                    <h1>School Report</h1>
                </div>
                <p>This report shows which schools are fully setup and which schools are not.</p>
                <div class="row">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>District</th>
                                <th># Active Schools</th>
                                <th>School</th>
                                <th>Session</th>
                                <th># Active Classrooms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($districts as $district) {
                                $schools = $district->getSchools(true);
                            ?>
                                <?php if (sizeof($schools) == 0) {?>
                                    <tr>
                                        <td><?=$district->name?></td>
                                        <td>0</td>
                                        <td>--</td>
                                        <td>--</td>
                                        <td>--</td>
                                    </tr>
                                <?php
                                    }
                                    else {
                                        foreach ($schools as $school) {
                                            $programs = $school->getCurrentOrUpcomingPrograms();

                                ?>
                                        <?php if (sizeof($programs) == 0) {?>
                                            <tr>
                                                <td><?=$district->name?></td>
                                                <td><?=sizeof($schools)?></td>
                                                <td><?=$school->name?></td>
                                                <td>--</td>
                                                <td>--</td>
                                            </tr>
                                        <?php
                                            }
                                            else {
                                                foreach ($programs as $program) {
                                        ?>
                                                    <tr>
                                                        <td><?=$district->name?></td>
                                                        <td><?=sizeof($schools)?></td>
                                                        <td><?=$school->name?></td>
                                                        <td><?=$program->name?></td>
                                                        <td><?=sizeof($program->getClassrooms(true))?></td>
                                                    </tr>
                                                <?php }?>
                                        <?php }?>
                                    <?php }?>
                                <?php }?>
                            <?php }?>
                        </tbody>
                    </table>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>
        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.competition.CompetitionOverviewPage();
        </script>
    </body>
</html>