<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addSchool">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Daily State Report</h1>
                <p>Breaks down sign ups by state each day between dates specified</p>
                <form class="form-horizontal default-form" method="post" action="/app/actions/doStateReport.php">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminJoin">Start Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker required" name="startDate" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminJoin">End Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker" name="endDate"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.stateReport.StateReportPage();
        </script>
    </body>
</html>