<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="contactUs">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Thank you for contacting support. We will get back to you soon.</h1>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
            <?php include "include/scripts.phtml" ?>
        </div>
    </body>
</html>
