<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="trainingVideos">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <ul class="breadcrumb">
                <?php if ($admin != null && $admin->hasDistrictAccess()) {?>
                    <li>
                        <a href="/admin/districtAdmin.php?id=<?=$district->id?>"><?=$district->name?></a>
                    </li>
                <?php }?>
                <li class="active"><?=$school->name?></li>
            </ul>
            <div class="container">
                <div class="pageTitle">
                    <h1>Training Videos</h1>
                </div>
                <div class="videos">
                    <div class="col-md-4">
                        <a href="#videoPlayer" class="youtubeLink" data-toggle="modal" data-title="Curriculum Intro" data-youtube="jUsl22Uw03Y">
                            <img src="http://img.youtube.com/vi/jUsl22Uw03Y/0.jpg" width="100%"/>
                            <h3>Curriculum Overview</h3>
                        </a>
                        <a href="/public/admin/videos/Part1_SW_CurriculumIntro-002.mp4" target="_blank">Youtube not playing?</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#videoPlayer" class="youtubeLink" data-toggle="modal" data-title="Curriculum 2: Hands on Kit" data-youtube="qyGPdaNE9_s">
                            <img src="http://img.youtube.com/vi/qyGPdaNE9_s/0.jpg" width="100%"/>
                            <h3>SHAKTI Warriors Kit: Hands-On Learning Curriculum</h3>
                        </a>
                        <a href="/public/admin/videos/Part2_SW_HandsOnKit-002-1.mp4" target="_blank">Youtube not playing?</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#videoPlayer" class="youtubeLink" data-toggle="modal" data-title="Curriculum 3: Online World" data-youtube="p-q94q0Xscs">
                            <img src="http://img.youtube.com/vi/p-q94q0Xscs/0.jpg" width="100%"/>
                            <h3>SHAKTI Warriors Academy: Online Curriculum</h3>
                        </a>
                        <a href="/public/admin/videos/Part3_SW_OnlineAcademy-002.mp4" target="_blank">Youtube not playing?</a>
                    </div>
                    <div class="col-md-4">
                        <a href="#videoPlayer" class="youtubeLink" data-toggle="modal" data-title="S.T.E.A.M. Video" data-youtube="o4wtycfaaCo">
                            <img src="http://img.youtube.com/vi/o4wtycfaaCo/0.jpg" width="100%"/>
                            <h3>S.T.E.A.M. Video</h3>
                        </a>
                        <a href="/public/admin/videos/SW_STEAM_School_Year.mp4" target="_blank">Youtube not playing?</a>
                    </div>
                    <div class="modal fade" id="videoPlayer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel"></h4>
                                </div>
                                <div class="modal-body">
                                    <div class="videoWrapper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
            new shaktiAdmin.page.training.TrainingVideosPage();
        </script>
    </body>
</html>