<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="addSchool">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Warrior Report</h1>
                <p>A report of the users that shows a break down of the users points and what current level they are. You can optionally include a sign up date to only show users who have signed up after a certain date.</p>
                <form class="form-horizontal default-form" method="post" action="/app/actions/doWarriorReport.php">
                    <input type="hidden" name="school[districtId]" value="<?=$school->districtId?>"/>
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="inputSchoolAdminJoin">Sign Up Date</label>
                            <div class="controls">
                                <input type="date" class="datepicker" id="inputSchoolAdminJoin" name="signUpDate"/>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group form-button-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-lg btn-primary submit" value="Submit">
                            <input type="submit" class="btn btn-lg btn-danger cancel" value="Cancel">
                        </div>
                    </div>

                </form>

                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
        </div>

        <?php include "include/scripts.phtml" ?>
        <script type="text/javascript">
        new shaktiAdmin.page.GlobalPage();
        </script>
    </body>
</html>