<?php include "include/html.phtml" ?>
    <head>
        <?php include "include/head.phtml" ?>
        <meta name="description" content="">
    </head>
    <body class="weeklyLessonPlan">
        <div class="outer">
            <?php include "include/header.phtml" ?>
            <div class="container">
                <h1>Weekly Framework Session</h1>
                <?php foreach ($classroomGroups as $classroomGroup) {?>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h2 class="panel-title"><?=$classroomGroup->name?></h2>
                        </div>

                        <div class="panel-body">
                            <?php if ($classroomGroup->done) {?>
                                <p>"<?=$classroomGroup->name?>" is done with the program! We hope you enjoyed your shakti warrior experience</p>
                            <?php } else {?>
                                <?php if ($classroomGroup->updated) {?>
                                    <a class="btn btn-success btn-lg" href="/admin/lessonPlan.php?week=<?=$classroomGroup->currentWeek?>">Go to lesson Plan</a>
                                <?php } else {?>
                                    <p>Last week "<?=$classroomGroup->name?>" was working on week <?=$classroomGroup->currentWeek?> of the program. Would you like to start your next weekly framework session?</p>

                                    <div class="buttons">
                                        <div class="button-wrap col-md-4">
                                            <a class="btn btn-success btn-lg" href="/app/actions/doUpdateLessonPlan.php?id=<?=$classroomGroup->id?>&action=yes">Yes, start week <?=$classroomGroup->currentWeek + 1?></a>
                                        </div>
                                        <div class="button-wrap col-md-4">
                                            <a class="btn btn-success btn-lg" href="/app/actions/doUpdateLessonPlan.php?id=<?=$classroomGroup->id?>&action=no">No, finish week <?=$classroomGroup->currentWeek?></a>
                                        </div>
                                        <div class="button-wrap col-md-4">
                                            <a class="btn btn-success btn-lg" href="/app/actions/doUpdateLessonPlan.php?id=<?=$classroomGroup->id?>&action=done">Done with program</a>
                                        </div>
                                    </div>
                                <?php }?>
                            <?php }?>
                        </div>
                    </div>
                <?php }?>
                <?php include "include/footer.phtml" ?>
            </div> <!-- /container -->
            <?php include "include/scripts.phtml" ?>
        </div>
    </body>
</html>
