body {
    .font-size(@baseFontSize);
    .line-height(@baseLineHeight);
    font-family:@baseFontFamily;
    background:@white;
    color:@black;
}

a {
    color:@linkColor;
    font-weight:normal;
    &:hover {
        color:@linkColorHover;
        .transition (color .3s ease);
    }
}

h2 {
    .caps;
    text-align:left;
    .font-size(30px);
    .line-height(30px);
    margin:0;
    font-family:@specialFontFamily;
}
h4 {
    .caps;
    color:@purple-dark;
    .font-size(13px);
    margin:5px 0;
}

p {
    color:lighten(@black,50%);
    margin:15px 0;
    .font-size(13px);
    .line-height(17px);
}
input[type=submit].button {
    .caps;
    display:inline-block;
    background: #f7931d;
    background: -moz-linear-gradient(top,  #f7931d 0%, #f57916 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7931d), color-stop(100%,#f57916));
    background: -webkit-linear-gradient(top,  #f7931d 0%,#f57916 100%);
    background: -o-linear-gradient(top,  #f7931d 0%,#f57916 100%);
    background: -ms-linear-gradient(top,  #f7931d 0%,#f57916 100%);
    background: linear-gradient(to bottom,  #f7931d 0%,#f57916 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931d', endColorstr='#f57916',GradientType=0 );
    border:none;
    border-radius:@borderRadius;
    color:@white;
    font-family:@specialFontFamily;
    .font-size(25px);
    .line-height(25px);
    padding:20px 30px;
    text-indent:0 !important;
    &:hover {
        color:@white;
        background: #f7931d;
    }
}
.button {
    .caps;
    .boxSizing(border-box);
    .transition(background .3s ease);
    background: #f7931d;
    background: -moz-linear-gradient(top,  #f7931d 0%, #f57916 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7931d), color-stop(100%,#f57916));
    background: -webkit-linear-gradient(top,  #f7931d 0%,#f57916 100%);
    background: -o-linear-gradient(top,  #f7931d 0%,#f57916 100%);
    background: -ms-linear-gradient(top,  #f7931d 0%,#f57916 100%);
    background: linear-gradient(to bottom,  #f7931d 0%,#f57916 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7931d', endColorstr='#f57916',GradientType=0 );
    display:inline-block;
    border:none;
    cursor:pointer;
    padding:7px 25px;
    border-radius:@borderRadius;
    color:@white;
    font-family:@specialFontFamily;
    .font-size(15px);
    text-indent:0 !important;
    text-shadow:0px 2px 5px darken(@orange,10%);
    &.large {
        .font-size(30px);
        .line-height(22px);
        padding:20px 30px;
    }
    &:hover {
        color:@white;
        background: #f57916;
    }
}

.fancybox-overlay {
    background:fade(@white,70%);
}

.leader {
    .padding;
    .clearfix;
    max-width:@max-width;
    margin:0 auto;
    padding-top:10px;
    padding-bottom:5px;

    h2 {
        color:@white;
        .font-size(25px);
        .line-height(11px);
        margin-bottom: 10px;
        &.progress {
            float:right;
            @media screen and (max-width:@width-tablet) {
                float:left;
                clear:both;
                margin-top:10px;
                .font-size(20px);
            }
        }
    }
    p {
        color:@white;
        margin: 0 0 10px 0;
        padding: 0;
    }
}
.wrapper {
    .clearfix;
    #systemMessage {
        background:@red;
        color:@white;
        float:none;
        display:block;
        height:3rem;
        padding:0;
        margin:0;
        .line-height(3rem);
        .font-size(1.3rem);
        text-align:center;
        width:100%;
        &:before {
           font-family: FontAwesome;
           content: "\f071 ";
           position:relative;
           left:-5px;
           top:2px;
        }
    }
}
.container{
    margin-top:70px;
}
