#Summer_of_Learning {
    .container{
        margin-top: 0;
    }

    .homeHeaderButton {
        position: absolute;
        top: 20px;
        left: 5%;
        z-index: 50;
        max-width: 18.5%;

        img {
            max-width: 100%;
            height: auto;
            display:inline-block;
            margin:0;
            padding:0;
        }

        @media screen and (max-width:@width-mobile) {
            display: none;
        }
    }

    #homeHeaderLogo{
        background: #430e61;
        height: 42px;
        overflow: visible;
        position: relative;
        z-index: 20;

        img{
            display: block;
            margin: 0 auto;
            padding: 0;
            clear:both;
            position:relative;
            top:-13px;
            @media screen and (max-width:@width-mobile) {
                margin-top:-8px;
                width:95px;
                top:20px;
            }
        }
        #pilot {
            float:right;
            margin-top:7px;
            margin-right:10px;
            i {
                margin-right:0;
            }
            @media screen and (max-width:@width-mobile) {
                float:none;
            }
        }
        @media screen and (max-width:@width-mobile) {
            text-align:center;
            height:74px;
        }
    }
    #enter {
        border-radius:10px;
        padding:7px 25px;
        z-index:5;
        img {
            margin-bottom:-30px;
            width:60px;
        }
        span {
            color:@black;
            text-shadow:none;
            display:block;
            .font-size(13px);
            font-weight:bold;
            margin-bottom:5px;
        }
    }
    .fancybox-inner {
        .boxShadow(0px 10px 10px fade(@black,50%));
        border-radius:3px;
        border-top:@white;
        border-bottom:lighten(@black,50%);
    }
    #homeHero{
        position: relative;
        overflow: hidden;
        display:none;
        background: url(/public/summerOfLearning/img/home/hero/hero_clouds.jpg) center 0 repeat scroll;

        #hero_branding{
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0px;

            #heroLogo{
                z-index: 20;
                position: relative;

                img{
                    display: block;
                    margin: 30px auto 0 auto;
                    max-width: 57.7857143%;
                    width: auto;
                }
            }
            #hero-echo{
                left: 71%;
                max-width: 24.6428571%;
                position: absolute;
                top: 12%;
                z-index: 5;

                img{
                    max-width: 100%;
                }
            }
        }

        #heroStage{
            img{
                display: block;
                margin: 0 auto;
                max-width: 100%;
                height: auto;
            }

            .heroBuildings{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;

                .leftTowers,
                .rightTowers{
                    position: absolute;
                    top: 0;
                    height: 100%;
                }
                .leftTowers{
                    background: url(/public/summerOfLearning/img/home/hero/hero_leftBuildings.jpg) right top repeat;
                    left: 0;
                    right: 46%;
                }
                .rightTowers{
                    background: url(/public/summerOfLearning/img/home/hero/hero_rightBuildings.png) left center no-repeat;
                    right: 0;
                    left: 60%;
                }
            }
            #hero_bush{
                background: url(/public/summerOfLearning/img/home/hero/hero_bush.png) bottom center repeat-x;
                background-size: auto 90%;
                top: 0;
                left: 0;
                position: absolute;
                right: 0;
                height: 100%;
            }
            .heroHeros{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                img{
                    max-width: 110%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        .load & {
            display:block;
        }

    }
    .heroContainer {
        .transition (max-height .3s ease);
        color:@white;
        position:relative;
        z-index:-1;
        height:400px;
        overflow:hidden;
        h1 {
            .font-size(50px);
            .line-height(50px);
            margin-bottom:15px;
            font-family:@specialFontFamily;
            text-shadow:0px 3px 5px @black;
            span {
                .font-size(20px);
                display:block;
                .line-height(20px);
            }
            @media screen and (max-width:@width-mobile) {
                .font-size(40px);
                .line-height(40px);
            }
        }
        .hero {
            .caps;
            text-align:center;
            overflow:hidden;
        }
        img {
            position:fixed;
            z-index:0;
            left:0;
            width:100%;
        }
        .logo {
            margin-bottom:-20px;
            margin-top:45px;
            @media screen and (max-width:@width-mobile) {
                width:150px;
                margin-top:12px;
            }
        }
        #supers {
            width:69%;
            left:15% !important;
        }
    }
    .intro {
        .padding;
        .clearfix;
        max-width:@max-width;
        margin:0 auto;
        padding-top:50px;
        padding-bottom:20px;
        .blue {
            border:none;
            color:#3c6fa8;
        }
        .green {
            border:none;
            color:#4ea06e;
        }
        h2 {
            color:@purple;
        }
        h4 {
            color:@white;
        }
        p {
            color:#464646;
            max-width:50%;
            &.lead {
                color:fade(@black,50%);
                .font-size(17px);
                .line-height(20px);
                strong {
                    color:@black;
                }
            }
            strong {
                color:@purple;
            }
            @media screen and (max-width:640px) {
                max-width:100%;
            }
        }
        .orange {
            border:none;
            color:@orange;
        }
        .purple {
            border:none;
            color:#290d6d;
        }
        .red {
            border:none;
            color:#d71756;
        }
    }
    .introContainer {
    }
    .orbs {
        .clearfix;
        .transition (width .3s ease);
        margin-top:30px;
        margin-bottom:30px;
        width:100%;
        color:@white;
        .orb {
            .transition (width .3s ease);
            .caps;
            font-family:@specialFontFamily;
            float:left;
            .font-size(1.4px);
            text-align:center;
            width:9%;
            max-width:none;
            margin-top:20px;
            position:relative;
            margin-left:3.5%;
            &.badge {
                width:37%;
                float:right;
                margin-top:-193px;
                margin-bottom:-200px;
                img {
                    margin-top:-10px;
                    @media screen and (max-width:@width-mobile) {
                        margin-top:0;
                    }
                }
                .glow {
                    left: -172px;
                    top: -188px;
                    img {
                        width:190%;
                    }
                    @media screen and (max-width:@width-tablet) {
                        left: -118px;
                        top: -132px;
                        // left:-60px;
                    }
                    @media screen and (max-width:@width-mobile) {
                        left: -77px;
                        top: -114px;
                    }
                }
                // @media screen and (max-width:@width-mobile) {
                //     width:45%;
                //     margin-top:50px;
                // }
                @media screen and (max-width:1100px) {
                    margin-top:-200px;
                }
                @media screen and (max-width:@width-tablet) {
                    margin-top:-120px;
                    width:30%;
                }
                @media screen and (max-width:@width-mobile) {
                    margin-top:0;
                    margin-bottom:0;
                }
            }
            .banner {
                width:100%;
                position:absolute;
                z-index:10;
                bottom:0;
            }
            .base {
                width:100%;
                margin-bottom:20px;
                position:relative;
            }
            .element-animation {
                position:absolute;
            }
            .glow {
                .clearfix;
                position: relative;
                top: -114px;
                left: -97px;
                @media screen and (max-width:768px) {
                    top: -125px;
                    left: -116px;
                }
                @media screen and (max-width:@width-mobile) {
                    left:-97px;
                }
            }
            &:first-child {
                margin-left:0;
            }
            @media screen and (max-width:@width-mobile) {
                width:25%;
                margin-left:10%;
                margin-bottom:20px;
                &:nth-child(4) {
                    margin-left:0;
                }
            }
        }
        @media screen and (max-width:@width-tablet) {
            width:100%;
        }
    }
    .progressContainer {
        .cover;
        color:@white;
        position:relative;
        background:url(/public/summerOfLearning/img/home/bgClouds.jpg) repeat-x top center;
        background-position:top center;
        text-align:center;
        .button {
            position:absolute;
            bottom:-55px;
            width:100%;
            max-width:365px;
            left:0;
            right:0;
            margin:0 auto;
        }
        h4 {
            color:@yellow;
        }
        .progress {
            .padding;
            max-width:@max-width;
            margin:0 auto;
            padding-top:25px;
            padding-bottom:50px;
            text-align:left;
        }

    }
}
.lt-ie9 {
    #enter {
        img {
            display:none;
        }
    }
    .progress {
        .orbs {
            .title {
                font-weight:bold;
            }
        }
    }
}
