#Orb_-_Summer_of_Learning {

    .vjs-default-skin{
        display: block;
        float: none;
        border: 1px solid #000;
        width: 100%;

        *{
            outline: none;
        }

        &.vjs-playing{
            .vjs-big-play-button,
            .vjs-poster{
                display: none;
            }
        }

        .vjs-slider{
            display: none;
            .testing & {
                display:block;
            }
        }
    }

    .videoPlayer{
        margin: 20px 0;
        padding-bottom:100px;
    }

    background:transparent;
    text-align:center;
    .base {
        margin:60px auto 10px auto;
        padding:0 15px;
    }
    .button {
        margin-top:30px;
        height:auto;
        width:100%;
        max-width:515px;
        cursor:pointer;
        margin-bottom:30px;
        .font-size(30px);
        .line-height(30px);
    }

    .watchVideo {
        color: #f7941d;
        display: inline;
        font-size: 17.333px;
    }

    .checkpoint p {
        color:@white;
        .font-size(17px);
        .line-height(22px);
    }
    .description {
        .padding;
        p {
            color:@white;
            .font-size(15px);
            .line-height(17px);
        }
    }
    form {
        text-align:center;
        padding:0;
        margin:0;
    }
    h3 {
        .caps;
        .font-size(25px);
        .line-height(25px);
        color:@yellow;
        text-align:center;
        font-family:@specialFontFamily;
        font-weight:normal;
    }
    .heading {
        .caps;
        font-family:@specialFontFamily;
        color:@white;
        max-width:388px;
        margin:0 auto;
        position:relative;
        .background {
            width:100%;
        }
        h1 {
            position:absolute;
            padding:10px 20px;
            left:0;
            right:0;
            top:33px;
            .font-size(30px);
            margin:0 43px;
            background:fade(@black,30%);
            border-top:1px solid fade(@black, 50%);
            border-bottom:1px solid fade(@white,30%);
            border-radius:@borderRadius;
            @media screen and (max-width:@width-mobile) {
                .font-size(20px);
                padding:10px 5px;
                top:25%;
            }
            @media screen and (max-width:@width-mobile) {
                .font-size(13px);
                padding:5px;
            }
        }
    }
    .linkInstructions {
        width:auto;
        padding:0;
        margin-bottom:50px;
        color:@white;
        font-family:@sansFontFamily;
        .line-height(15px);
        span{
            &.red {
                .font-size(20px) !important;
                display:inline-block;
                color:@red;
            }
            &.small {
                .font-size(12px);
            }
        }
    }
    .multiplechoiceCheckpoint {
        width:auto;
        margin:0 auto;
        .option {
            .clearfix;
            color:@white;
            .font-size(15px);
            .line-height(15px);
            text-align:left;
            width:50%;
            margin:0 auto 15px auto;
            float:none;
            display:block;
            @media screen and (max-width:@width-mobile) {
                width:80%;
            }
        }

    }

    .orbClosing {
        p {
            color:@white;
            font-size:1.6rem;
        }
    }
    .orbDescription {
        width:auto;
        padding:0;
        margin-bottom:15px;
        span {
            font-family:@sansFontFamily;
            .line-height(22px);
            .font-size(17px);
        }


    }
    .infoBox{
        border-radius: 10px;
        background: rgba(36, 34, 34, 0.7);
        border: 1px solid rgba(36, 34, 34, 1);
        padding: 10px 20px;
    }
    .orbFirstLine {
        .caps;
        font-family:@sansFontFamily;
        margin-bottom:15px;
        .font-size(16px);
    }
    .orbWrapper {
        padding:0;
        width: 90%;
        margin: auto;
    }
    .statusWrap {
        .caps;
        color:@white;
        .font-size(18px);
    }
    .storyCheckpoint, .fillinCheckpoint {
        background:none;
        padding:0;
        margin:0;
        input[type="text"] {
            background:fade(@black,50%);
            color:@white;
            padding:15px;
            border-radius:@borderRadius;
            box-shadow:none;
            .font-size(17px);
            font-family:@sansFontFamily;
            width:100%;
            max-width:400px;
            text-align:center;
        }
        textarea {
            .boxSizing(border-box);
            background:fade(@black,50%);
            color:@white;
            padding:15px;
            border-radius:@borderRadius;
            box-shadow:none;
            .font-size(13px);
            font-family:@sansFontFamily;
            width:100%;
            max-width:430px;
        }
    }
    .storyForm {
        label[for="file"] {
            .caps;
            color:@white;
            text-align:center;
            margin:0 auto;
            font-family:@sansFontFamily;
            margin-top:15px;
            margin-bottom:15px;
            .font-size(16px);
        }
        input[type="file"] {
            color:@white;
            .font-size(14px);
            display:block;
            width:auto;
            border-radius:@borderRadius;
            background:fade(@black,70%);
            text-align:center;
            margin:0 auto;
            padding:3px;
        }
    }
    #timer {
        .caps;
        .boxSizing(border-box);
        .transition(background .3s ease);
        text-shadow:none;
        background:url(/public/summerOfLearning/img/orb/timerBg.png) no-repeat center -1px;
        border:none;
        cursor:auto;
        border-radius:@borderRadius;
        color:@white;
        margin:30px auto;
        font-family:@specialFontFamily;
        text-indent:0 !important;
        .font-size(35px);
        .line-height(25px);
        padding:20px 30px;
        width:auto;
        height:110px;
    }
}
.lt-ie9 {
    #Orb_-_Summer_of_Learning {
        .heading h1 {
            background:url(/public/summerOfLearning/img/shared/bgBlack30.png) repeat;
        }
        .orbContainer {
            background:url(/public/summerOfLearning/img/shared/bgBlack70.png) repeat;
        }
        .storyCheckpoint, .fillinCheckpoint {
            input[type="text"], textarea {
                background:url(/public/summerOfLearning/img/shared/bgBlack70.png) repeat;
            }
        }
        .storyForm {
            input[type="file"] {
                background:url(/public/summerOfLearning/img/shared/bgBlack70.png) repeat;
            }
        }
    }
}
