#Pilot_Registration_-_Summer_of_Learning {
    .caps;
    background:lighten(@black,75%);
    font-family:@specialFontFamily;
    color:@black;
    text-shadow:0px 1px 1px @white;
    form {
        .boxSizing(border-box);
        padding:30px;
        margin:0 auto;
        max-width:@max-width;
    }
    h1 {
        .caps;
        .font-size(40px);
        .line-height(40px);
        padding-bottom:30px;
        border-bottom:1px solid lighten(@black,70%);
        margin-bottom:30px;
        text-align:center;
        span {
            .font-size(18px);
            .line-height(12px);
            @media screen and (max-width:@width-mobile) {
                .font-size(20px);
                .line-height(20px);
            }
        }
        @media screen and (max-width:@width-mobile) {
            .font-size(20px);
            .line-height(20px);
            padding-bottom:15px;
            margin-bottom:15px;
        }
    }
    input[type=text],
    input[type=password],
    input[type=email],
    select
    {
        .caps;
        padding:5px 10px;
        width:95%;
        position:relative;
        float:none;
        border:0;
        margin-top:7px;
        outline:none;
        font-size:1.5rem;
        font-family:@specialFontFamily;
    }

    .inputWrapper {
        margin:0 auto;
        float:left;
        width:47%;
        margin-left:2%;
        &.noMargin {
            margin-left:0;
        }
        @media screen and (max-width:@width-mobile) {
            width:100%;
            float:none;
            margin-left:0;
        }
    }
    .inputContainer {
        .boxSizing(border-box);
        position:relative;
        margin-bottom:24px;
        background:fade(@white,30%);
        border:2px solid fade(@black,70%);
        height:40px;
        input {
            background:none;
        }
        @media screen and (max-width:@width-mobile) {
            margin-bottom:24px;
            &.withNote {
                margin-bottom:50px;
            }
        }
    }

    .cityWrapper,
    .stateWrapper {
        .inputContainer {
            margin-bottom: 0;
        }
    }

    .cityWrapper {
        p {
            margin: 5px 0 0;
        }
    }

    label {
        .caps;
        font-family:@specialFontFamily;
        display:block;
        width:auto;
        text-align:left;
        margin-bottom:20px;
        .font-size(18px);
        font-weight:bold;
        &.error {
            font-family:@sansFontFamily;
            text-transform:none;
            .font-size(13px);
            font-weight:normal;
            margin-top:9px;
            width: 100%;
            &:before {
                content:"\f0d8";
                font-family: "FontAwesome";
                padding-right:5px;
            }
        }
        @media screen and (max-width:@width-mobile) {
            .font-size(12px);
            margin-bottom:10px;
        }
    }
    #submit {
        width:100%;
    }
    #thankYou {
        .boxSizing(border-box);
        padding:30px;
        display:none;
        margin-top:30px;
        #close {
            width:100%;
            text-align:center;
        }
        h1 {
            border-bottom:0;
            margin-bottom:15px;
            padding-bottom:15px;
        }
        p {
            max-width:500px;
            margin:1em auto;
            color:@black;
            text-transform:none;
            font-family:@sansFontFamily;
        }
    }
}
