#Register_-_Summer_of_Learning {
    .button {
        &#next, &#continue {
            float:none;
            margin-bottom:100px;
        }
    }
    .container {
        color:@black;
        margin-top:55px;
    }
    .echo {
        position: absolute;
        max-width:403px;
        width:50%;
        top: 60px;
        left: -200px;
        -webkit-animation:echomove 3s;
        -webkit-animation-iteration-count: infinite;
        animation:echomove 3s;
        animation-iteration-count: infinite;
        @media screen and (max-width:@width-tablet) {
            display:none;
        }
    }
    .form {
        .clearfix;
        margin:0 auto;
        input[type=text],
        input[type=password],
        select
        {
            .caps;
            padding:5px 10px;
            width:98%;
            position:relative;
            float:none;
            border:0;
            margin-top:7px;
            outline:none;
            font-size:1.5rem;
            font-family:@specialFontFamily;
        }

        .inputWrapper {
            margin:0 auto;
            float:left;
            width:49%;
            margin-left:2%;
            &.noMargin {
                margin-left:0;
            }
            @media screen and (max-width:@width-mobile) {
                width:100%;
                float:none;
                margin-left:0;
            }
        }
        .inputContainer {
            .boxSizing(border-box);
            position:relative;
            margin-bottom:39px;
            background:fade(@white,30%);
            border:2px solid fade(@black,70%);
            height:40px;
            input {
                background:none;
            }
        }
        label {
            .caps;
            font-family:@specialFontFamily;
            display:block;
            width:auto;
            text-align:left;
            margin-bottom:20px;
            .font-size(18px);
            font-weight:bold;
            &.error {
                font-family:@sansFontFamily;
                text-transform:none;
                .font-size(13px);
                font-weight:normal;
                margin-top:9px;
                width: 100%;
                &:before {
                    content:"\f0d8";
                    font-family: "FontAwesome";
                    padding-right:5px;
                }
            }
        }
    }
    .formContainer {
        .clearfix;
        background:url(/public/summerOfLearning/img/shared/bgYellowBurst.jpg) no-repeat center -100px @orange;
        color:@black;
        text-align:center;
        @media screen and (max-width:@width-tablet) {
            background:url(/public/summerOfLearning/img/shared/bgYellowBurstMobile.jpg) no-repeat top center @orange;
        }
    }
    .formDescription {
        margin-bottom:30px;
        h2 {
            text-align:center;
            float:none;
        }
        p {
            .font-size(16px);
            color:@black;
        }
    }
    .formInputsContainer {
        .padding;
        visibility:hidden;
        width:100%;
        max-width:800px;
        margin:20px auto 0 auto;
    }
    h2 {
        color:@white;
    }
    .leader {
        text-align:center;
        padding-top:35px;
        padding-bottom:10px;
        position:relative;
        p {
            color:@white;
        }
    }
    .leaderContainer {
        background:url(/public/summerOfLearning/img/register/headerBg.png) repeat-x bottom center;
        position:relative;
        margin-bottom:-25px;
    }
    p {
        color:@black;
        text-align:left;
        font-weight:bold;
        .font-size(12px);
        .line-height(17px);
        max-width:700px;
        margin-left:auto;
        margin-right:auto;
        &.note {
            font-weight: normal;
            font-style: italic;
            .font-size(12px);
        }

    }
    .royalSlider {
        overflow:hidden;
        width:100%;
        margin:0 auto;
    }
    .rsActiveSlide .formInputsContainer {
        visibility:visible !important;
    }
    select {
        .font-size(20px);
    }
    .shakti-form {
       margin-top:0;
    }
    #continue {
        width:auto;
    }
    .wrapper #systemMessage {
        margin-top:70px !important;
        margin-bottom:-55px !important;
    }
}
@-webkit-keyframes echomove
{
0%   {top: 60px;}
50%  {top: 90px;}
100% {top: 60px;}
}
@keyframes echomove
{
0%   {top: 60px;}
50%  {top: 90px;}
100% {top: 60px;}
}
.lt-ie9 {
    .echo {
        display:none !important;
    }
    .form {
        .inputContainer {
            input, select, option {
                background:@white !important;
                padding:10px !important;
                margin:0 !important;
                font-size:11px !important;
                line-height:11px !important;
            }
            input {
                width:93% !important;
            }
        }
    }
}
