#Share_-_Summer_of_Learning {
    .badge {
        .clearfix;
        margin:0 auto;
        width:300px;
        .orb {
            max-width:none;
        }
        .base {
            width:100%;
            margin-bottom:20px;
            position:relative;
        }
        .glow {
            img {
                width:200%;
                top:-155px;
                left:-155px;
            }
        }
    }
    .container {
        .cover;
        margin-top:55px;
        background:url(/public/summerOfLearning/img/training/headerBg.jpg) repeat-x top center;
        color:@white;
    }
    .orbs {
        .clearfix;
        color:@white;
        width:86%;
        margin:30px auto;
        .orb {
            .caps;
            font-family:@specialFontFamily;
            float:left;
            .font-size(14px);
            text-align:center;
            width:14%;
            margin-left:7%;
            &:first-child {
                margin-left:0;
            }
        }
    }
    .progress {
        .button {
            margin-top:15px;
        }
        .copyLink {
            margin-bottom:30px;
            .button {
                border-top-right-radius:0;
                border-bottom-right-radius:0;
                margin-top:0;

                @media screen and (max-width:@width-tablet) {
                    border-radius:@borderRadius;
                    clear:both;
                    margin-bottom:10px;
                }
            }
            .link {
                background:fade(@black,30%);
                .font-size(15px);
                .line-height(20px);
                padding:4px 8px;
                border-top-right-radius:@borderRadius;
                border-bottom-right-radius:@borderRadius;
                position:relative;
                left:-2px;
                color: fade(@white, 90%);

                &:hover {
                    color: @white;
                }

                @media screen and (max-width:@width-mobile) {
                    .font-size(13px);
                }
            }
        }
        h2 {
            .caps;
            text-align:center;
            font-family:@specialFontFamily;
            text-shadow: 6px 6px 0 fade(@black,30%);
            .font-size(160px);
            .line-height(150px);
            @media screen and (max-width:@width-tablet) {
                .font-size(70px);
                .line-height(40px);
                text-shadow: 3px 3px 0 fade(@black,30%);
            }
            span {
                display:block;
                .font-size(80px);
                .line-height(60px);
                @media screen and (max-width:@width-tablet) {
                    .font-size(50px);
                    .line-height(70px);
                    text-shadow: 3px 3px 0 fade(@black,30%);
                }
            }
        }
        h3 {
            .caps;
            margin:0;
            padding-top:20px;
            .font-size(30px);
            .line-height(25px);
            font-family:@specialFontFamily;
            text-shadow: 3px 3px 0 fade(@black,30%);
            @media screen and (max-width:@width-tablet) {
                .font-size(15px);
                .line-height(10px);
            }
        }
        p {
            max-width:570px;
            margin:20px auto;
            .font-size(22px);
            .line-height(24px);
            color:@black;
            position:relative;
            z-index:10;
        }
    }
    .steamContainer {
        .clearfix;
        background:fade(@black,30%);
        padding-top:20px;
        padding-bottom:20px;
        color:@white;
        text-align:center;
        h2 {
            text-align:center;
        }
        p {
            color:@white;
        }
        .orbs {
            .clearfix;
            .transition (width .3s ease);
            margin-top:30px;
            margin-bottom:30px;
            width:80%;
            color:@white;
            .orb {
                .transition (width .3s ease);
                .caps;
                font-family:@specialFontFamily;
                float:left;
                .font-size(14px);
                text-align:center;
                width:14%;
                position:relative;
                margin-left:7%;
                .banner {
                    width:100%;
                    position:absolute;
                    z-index:10;
                    bottom:0;
                }
                .base {
                    width:100%;
                    margin-bottom:20px;
                    position:relative;
                }
                .element-animation {
                    position:absolute;
                }
                .glow {
                    .clearfix;
                    position: relative;
                    top: -82px;
                    left: -82px;
                    @media screen and (max-width:@width-mobile) {
                        left:-60px;
                    }
                }
                &.completed {
                    .title {
                        display:none;
                    }
                }
                &.incomplete {
                    .base {
                        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
                        filter: gray; /* IE6-9 */
                        -webkit-filter: grayscale(70%); /* Chrome 19+ & Safari 6+ */
                    }
                }
                &:first-child {
                    margin-left:0;
                }
                @media screen and (max-width:@width-mobile) {
                    width:45%;
                    margin-left:10%;
                    margin-bottom:20px;
                    &:nth-child(odd) {
                        margin-left:0;
                    }
                }
            }
            @media screen and (max-width:@width-tablet) {
                width:100%;
            }
        }
        .steam {
            .padding;
            max-width:@max-width;
            margin:0 auto;
        }
    }
}
.lt-ie9 {
    #Share_-_Summer_of_Learning {
        .progress .copyLink .link {
            background:url(/public/summerOfLearning/img/shared/bgBlack30.png) repeat;
        }
        .steamContainer {
            background:url(/public/summerOfLearning/img/shared/bgBlack30.png) repeat;
        }
    }
}
