#Training_-_Summer_of_Learning {
    
    .orbContainer {
        .clearfix;
        .boxShadow(0px 3px 10px fade(@black, 70%));
        background:fade(@black, 70%);

        .lt-ie9 &{
            background: #666;
        }

        border:13px solid @black;
        border-radius:@borderRadius;
    }

    .container {
        .cover;
        background:url(/public/summerOfLearning/img/training/headerBg.jpg) repeat-x top center;
        color:@black;
    }
    .fancybox-skin {
        background: transparent;
        box-shadow: none;
    }
    .leader p {
        .font-size(15px);
        .line-height(17px);
    }
    .orbs {
        .clearfix;
        margin-top:30px;
        margin-bottom:30px;
        color:@white;
        width:86%;
        .orb {
            .caps;
            font-family:@specialFontFamily;
            float:left;
            .font-size(14px);
            text-align:center;
            width:14%;
            margin-left:7%;
            .base {
                margin-bottom:20px;
            }
            img {
                width:100%;
            }
            &:first-child {
                margin-left:0;
            }
        }
    }
    .trainingContainer {
        h2 {
            text-align:right;
            padding-top:35px;
            @media screen and (max-width:@width-mobile) {
                text-align:center;
                margin-bottom:20px;
            }
        }
        .training {
            .clearfix;
            .button {
                float:left;
                margin-left:4px;
                position:relative;
                z-index:50;
                @media screen and (max-width:@width-mobile) {
                    clear:both;
                    width:100%;
                    margin-left:0;
                    margin-bottom:10px;
                }
            }
            .description {
                float:left;
                .font-size(15px);
                .line-height(17px);
                max-width:62%;
                text-align:left;
                margin-left:15px;
                @media screen and (max-width:@width-tablet) {
                    max-width:53%;
                }
                @media screen and (max-width:@width-mobile) {
                    max-width:91%;
                    margin-bottom:50px;
                }
            }
            .orb {
                .caps;
                .transition (width .3s ease);
                text-align:center;
                font-family:@specialFontFamily;
                .font-size(14px);
                float:left;
                width:8.6%;
                margin-right:3%;
                position:relative;
                .banner {
                    width:100%;
                    position:absolute;
                    z-index:10;
                    bottom:0;
                }
                .base {
                    width:100%;
                    margin-bottom:20px;
                    position:relative;
                }
                .element-animation {
                    position:absolute;
                }
                .glow {
                    .clearfix;
                    position: relative;
                    top: -121px;
                    left: -100px;
                    @media screen and (max-width:768px) {
                        top:-93px;
                        left:-99px;
                    }
                    @media screen and (max-width:@width-mobile) {
                        top:-40px;
                        left:-40px;
                    }
                }
                &.completed {
                    margin-bottom:45px;
                    .title {
                        display:none;
                    }
                    @media screen and (max-width:@width-mobile) {
                        margin-bottom:30px;
                    }
                }
                &.incomplete {
                    .base {
                        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
                        filter: gray; /* IE6-9 */
                        -webkit-filter: grayscale(70%); /* Chrome 19+ & Safari 6+ */
                    }
                }
                .title {
                    .completed & {
                        display:none;
                    }
                    margin-bottom:20px;
                }
                @media screen and (max-width:@width-mobile) {
                    width:45%;
                    .font-size(20px);
                    float:none;
                    margin:0 auto;
                }
            }
            .power {
                position:absolute;
                background:url(/public/summerOfLearning/img/shared/progressBar/powerBarSprite.png) no-repeat;
                background-position: right 0;
                height:36px;
                width:0%;
                max-width:97.5%;
                top:10px;
                left:10px;

                z-index:1;

                -webkit-transition: width 1s ease-in;
                -moz-transition: width 1s ease-in;
                -ms-transition: width 1s ease-in;
                -o-transition: width 1s ease-in;
                transition: width 1s ease-in;

                // -webkit-mask-position: right bottom;
                // -webkit-mask-box-image:url(/public/summerOfLearning/img/shared/progressBar/powerBarMask.png);
                // border-bottom-right-radius:20px;
                &.Technology {
                    background-position:right -38px;
                }
                &.Engineering {
                    background-position:right -76px;
                }
                &.Arts {
                    background-position:right -114px;
                }
                &.Mathematics {
                    background-position:right -152px;
                }
                //change height of progress bar so they don't extend beyond wrapper
                @media screen and (max-width:1103px) {
                    height:37px;
                    top:5px;
                }
                @media screen and (max-width:894px) {
                    height:28px;
                }
                @media screen and (max-width:519px) {
                    height:18px;
                    left:4px;
                }
                @media screen and (max-width:400px) {
                    height:13px;
                }
            }
            .progressBar {
                width:79%;
                float:left;
                position:relative;
                margin-top:22px;
                margin-bottom:10px;
                .background {
                    width:100%;
                    position:absolute;
                    top:0;
                    left:0;
                    @media screen and (max-width:@width-mobile){

                    }
                }
                .wrapper {
                    width:100%;
                    position:relative;
                    z-index:5;
                }
                @media screen and (max-width:@width-tablet) {
                    margin-top:20px;
                }
                @media screen and (max-width:@width-mobile) {
                    clear:both;
                    margin-top:0;
                    width:100%;
                }
            }
            .progressPercentage {
                .boxSizing(border-box);
                float:right;
                color:@white;
                text-align:center;
                padding-top:15px;
                .font-size(15px);
                height:50px;
                margin-top:28px;
                width:50px;
                border-radius:50%;
                font-family:@specialFontFamily;
                background:fade(@black,30%);
                border-top:1px solid fade(@black,50%);
                border-bottom:1px solid fade(@white,30%);
                @media screen and (max-width:@width-tablet) {
                    margin-top:14px;
                    width:42px;
                    padding-top:12px;
                    height:42px;
                }
                @media screen and (max-width:@width-mobile) {
                    height: 51px;
                    width: 100%;
                    border-radius:@borderRadius;
                    .font-size(45px);
                    padding-top:15px;
                    margin-top: 0px;
                    margin-bottom:10px;
                }
            }
        }
    }
}
.lt-ie9 {
    #Training_-_Summer_of_Learning {
        .trainingContainer {
            .training {
                .progressPercentage {
                    background:url(/public/summerOfLearning/img/shared/bgBlack30.png) repeat;
                }
            }
        }
    }
}
