<?php include("_header.phtml"); ?>

<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/editDistrictHeader.png" />
                <a href="/manager/district/index.php?districtId=<?=$district->id?>"><img class="manageBack" src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                <form class="shakti-form" id="inviteForm" action="/app/actions/doManagerEditDistrict.php" method="post">
                    <input type="hidden" name="id" value="<?=$district->id?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>District Name
                                 <input autocomplete="off" type="text" name="name" value="<?=$district->name?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Prefix
                                <select name="contactPrefix" class="required">
                                    <option value="">Select One</option>
                                    <option <?=$district->contactPrefix == "Mr." ? 'selected="selected"' : ''?>>Mr.</option>
                                    <option <?=$district->contactPrefix == "Mrs." ? 'selected="selected"' : ''?>>Mrs.</option>
                                    <option <?=$district->contactPrefix == "Ms." ? 'selected="selected"' : ''?>>Ms.</option>
                                    <option <?=$district->contactPrefix == "Dr." ? 'selected="selected"' : ''?>>Dr.</option>
                                </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact First Name
                                 <input autocomplete="off" type="text" name="contactFirstName" value="<?=$district->contactFirstName?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Last Name
                                 <input autocomplete="off" type="text" name="contactLastName" value="<?=$district->contactLastName?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Super Hero Name
                                 <input autocomplete="off" type="text" name="contactSuperHeroName" value="<?=$district->contactSuperHeroName?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Email
                                 <input autocomplete="off" type="text" name="contactEmail" value="<?=$district->contactEmail?>" class="required email"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Work Phone Number
                                 <input autocomplete="off" type="text" name="contactWorkPhone" value="<?=$district->contactWorkPhone?>" class="required phoneUS"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Cell Phone Number
                                 <input autocomplete="off" type="text" name="contactCellPhone" value="<?=$district->contactCellPhone?>" class="required phoneUS"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>District Password
                                 <input autocomplete="off" type="text" name="passcode" value="<?=$district->passcode?>" class="required"/>
                                </label>
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
