<?php include("_header.phtml"); ?>
<script type="text/javascript">
$(document).ready(function() {
    $(".validate").click(function() {
        return confirm("Are you sure you want to leave the competition?");
    });
});
</script>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                    <img src="/public/img/headers/district.png" />
                    <h1><?=$district->name?></h1>
                    <div style="float: left;" class="clearfix">
                        <a id="backTo" href="/manager/login.php"><!--Back to Login--></a>
                        <a id="editDistrict" href="/manager/district/editDistrict.php?districtId=<?=$district->id?>"><!--Edit District--></a>
                        <a id="addManageSchool" class="managerButtons" href="/manager/school/editSchool.php?districtId=<?=$district->id?>"><!--Add--></a>
                    </div>
                    <div>
                        <fieldset style="margin: 40px 5px 40px 0pt;">
                        <div id="darkGrayBox">
                        <table id="districtsTable">
                                <tr class="districtManageTable">
                                    <th class="manageBorder">School Name</th>
                                    <th class="manageBorder">City</th>
                                    <th class="manageBorder">State</th>
                                    <th class="manageBorder">Action</th>
                                </tr>
                                <?php foreach ($schools as $school) { $competition = $school->getCompetition(); ?>
                                    <tr class="districtManageTable">
                                        <th><?=$school->name?></th>
                                        <th><?=$school->city?></th>
                                        <th><?=$school->state?></th>
                                        <th>
                                            <a href="/manager/school/index.php?schoolId=<?=$school->id?>">Manage School</a> -
                                            <?php if ($competition != null) {?>
                                                <a class="validate" href="/app/actions/doManagerLeaveCompetition.php?schoolId=<?=$school->id?>&competitionId=<?=$competition->id?>">Leave Competition</a>
                                            <?php } else {?>
                                                <a href="/manager/school/joinCompetition.php?schoolId=<?=$school->id?>">Join Competition</a>
                                            <?php }?>
                                        </th>
                                    </tr>
                                <?php }?>
                            </table>
                            </div>
                        <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        </fieldset>
                    </div>
                </div>
            </div>
            </div>
            <div class="clear"></div>
        </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>