<?php include("../include/html.phtml"); ?>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title><?= $pageTitle ?></title>

        <link rel="stylesheet" type="text/css" href="/min/?g=application-css" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.0/build/calendar/assets/calendar.css">
        <link rel="stylesheet" type="text/css" media="print" href="/public/css/print.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/training/orb.css" />

        <script src="/public/summerOfLearning/js/head/modernizr.js"></script>
        <script src="/public/summerOfLearning/js/head/respond.src.js"></script>

        <?php include "../include/cssFiles.phtml" ?>

    </head>

    <body id="Warrior_-_Summer_of_Learning">
        <div class="container">
                <img class="base" src="/public/summerOfLearning/img/shared/summerOfLearningBadge.png" alt="Summer Of Learning" />
                <h2 class="degree">Technology</h2>
                <div class="salary">$90,000+</div>
                <div class="description">Did you ever wonder how electric motors work? OR… If robots the size of mosquitos really exist? Well, join other Warriors on their quest for future technologies that are already here!</div>
        </div>
        <?php include("summerOfLearning/include/scripts.phtml"); ?>
        <script type="text/javascript">
        </script>
    </body>
</html>