    <!-- Close Main Content Area -->
    </div>

    <div class="footerContainer">
        <div class="footer">
            <div class="footerNav">
                <a class="button" target="_blank" href="http://youtu.be/o4wtycfaaCo">About This<br/>Website Video</a>
                <a class="button" href="/public/summerOfLearning/pdf/STEAM_Teacher_User_Guide_V1.pdf" target="_blank">Teacher<br/>Training Guide</a>
                <a class="button" href="/public/summerOfLearning/pdf/SW_Workbook_2014_STEAM_Version_v3.pdf" target="_blank">Student S.T.E.A.M.<br/>Hero Workbook</a>
            </div>
            <div class="copyright">
                <a target="_blank" href="http://swheroes.com/"> &copy; 2014 The H2 Group LLC</a> <a href="/admin/stateReport.php">S.T.E.A.M. Admin</a><a href="/terms_conditions.php">Terms of Use</a><a href="#"><i class="fa fa-chevron-up"></i></a>
            </div>
        </div>
    </div>
    </body>
</html>
