<?php include("html.phtml"); ?>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Shakti Warriors | <?= $pageTitle ?></title>

        <link rel="stylesheet" type="text/css" href="/min/?g=application-css" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.0/build/calendar/assets/calendar.css">
        <link rel="stylesheet" type="text/css" media="print" href="/public/css/print.css" />

        <script src="/public/summerOfLearning/js/head/modernizr.js"></script>
        <script src="/public/summerOfLearning/js/head/respond.src.js"></script>

        <?php include "cssFiles.phtml" ?>

    </head>

    <?php
       $bodytag = str_replace(" ", "_", $pageTitle);

       $competitionService = new CompetitionService();
       $today = date('Y-m-d');
       $navCompetitions = $competitionService->find("start_date <= '$today' ORDER BY start_date");
    ?>

    <body id="<?= $bodytag ?>" class="">

        <div class="wrapper<?= ($controlPanel == true) ? ' controlPanel' : ''; ?>">

        <?php if (isset($_REQUEST["systemMessage"])) {?>
        <div id="systemMessage"><?= $_REQUEST["systemMessage"] ?></div>
        <?php } else {?>
        <div id="systemMessage" style="display: none"></div>
        <?php }?>
        <!-- Open Main Content Area -->