<div class="header">

    <div class="logo"><a href="/summerOfLearning/"><img src="/public/summerOfLearning/img/shared/header/shaktiLogo.png" alt="SHAKTI Warriors" /></a></div>

    <div class="login">
        <?php if (!isset($_SESSION["user"])) {?>            
            <a class="headerButton" id="joinNow" href="/summerOfLearning/register.php">Not A Warrior?<span>Join Now</span></a>
            <a class="headerButton" id="loginNow">Already A Warrior?<span>Login Now</span></a>
            <div class="loginForm">
                <form name="loginForm" id="loginForm" action="/app/actions/sol/doLogin.php"  method="post">
                    <div class="inputWrapper">
                        <input autocomplete="off" name="login" type="text" placeholder="USERNAME"/>
                    </div>
                    <div class="inputWrapper">
                        <input autocomplete="off" name="password" type="password" placeholder="PASSWORD"/>
                    </div>
                    <input autocomplete="off" type="submit" value="login" class="headerButton" />
                </form>
            </div>
        <?php } else { ?>
            <a class="headerButton" id="logout" href="/app/actions/sol/doLogout.php">Finished Your Work?<span>Logout</span></a>
            <a class="headerButton" id="shareProgress" href="/summerOfLearning/share.php?userId=<?=$_SESSION["user"]->id?>">Share Your<span>Progress</span></a>
            <a class="headerButton" id="shareProgress" href="/summerOfLearning/training.php?userId=<?=$_SESSION["user"]->id?>">Re-Enter Your<span>Training</span></a>
            <!--div class="title">Welcome Back <?=$_SESSION["user"]->login?>!</div-->
            
        <?php }?>
    </div>

</div>