<div id="homeHero">
    <div id="heroStage">
             <div class="heroBuildings"  data-stellar-ratio="0.2" data-stellar-vertical-offset="-50" data-stellar-offset-parent="true">
                 <div class="leftTowers"></div>
                 <div class="rightTowers"></div>
             </div>
             <div id="hero_bush"  data-stellar-ratio="0.5" data-stellar-vertical-offset="100" data-stellar-offset-parent="true"></div>
             <div class="heroHeros" data-stellar-ratio="0.6" data-stellar-vertical-offset="100" data-stellar-offset-parent="true">
                 <img src="/public/summerOfLearning/img/home/hero/hero_heros.png" />
             </div>
             <img src="/public/summerOfLearning/img/home/hero/hero_space.gif" class="heroSpacer" />
    </div>
    <div id="hero_branding" data-stellar-ratio="0.8" data-stellar-vertical-offset="30" data-stellar-offset-parent="false">
        <!-- div id="hero-echo"><img  class="echo-animation" src="/public/summerOfLearning/img/home/hero/hero_echo.png" /></div -->
        <div id="heroLogo"><img src="/public/summerOfLearning/img/home/hero/hero_Logo.png" /></div>
    </div>
</div>
