<div class="warriorTeamContainer">
    <div class="warriorTeam">
        <h2>Meet The SHAKTI Warriors</h2>
        <p>SHAKTI and her Warriors are <span class="caps">"Real World"</span> heros committed to protecting the Earth from CHAOS and his minions.  <strong><br />But did you also know they have S.T.E.A.M. careers? Check them out!</strong></p>
        <div class="members">
            <div class="member" id="shakti" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/warriors/shakti.php">
                <div class="imageContainer">
                    <div class="videoBg" data-bg="magic_1">
                          <img src="/public/summerOfLearning/movies/warriorCards/magic_1.jpg" alt="member" />
                    </div>
                    <img src="/public/summerOfLearning/img/home/team/shakti.png" alt="member" />
                </div>
                <div class="details">
                    <div class="memberName">Shakti</div>
                    <div class="description"><span>Career:</span><br />Nurse</div>
                </div>
                <div class="degree">
                    Degree: <span>Science</span>
                    <div class="salary">$62,000-$92,000</div>
                </div>
            </div>
            <div class="member" id="solan" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/warriors/solan.php">
                <div class="imageContainer">
                    <div class="videoBg" data-bg="magic_2">
                          <img src="/public/summerOfLearning/movies/warriorCards/magic_2.jpg" alt="member" />
                    </div>
                    <img src="/public/summerOfLearning/img/home/team/solan.png" />
                </div>
                <div class="details">
                    <div class="memberName">Solan</div>
                    <div class="description"><span>Career:</span><br />Engineer</div>
                </div>
                <div class="degree">
                    Degree: <span>Engineering</span>
                    <div class="salary">$77,000-$149,000+</div>
                </div>
            </div>
            <div class="member" id="vibrato" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/warriors/vibrato.php">
                <div class="imageContainer">
                    <div class="videoBg" data-bg="magic_4">
                          <img src="/public/summerOfLearning/movies/warriorCards/magic_4.jpg" alt="member" />
                    </div>
                    <img src="/public/summerOfLearning/img/home/team/vibrato.png" alt="member" />
                </div>
                <div class="details">
                    <div class="memberName">Vibrato</div>
                    <div class="description"><span>Career:</span><br />Producer</div>
                </div>
                <div class="degree">
                    Degree: <span>Arts</span>
                    <div class="salary">$45,000-$110,000</div>
                </div>
            </div>
            <div class="member" id="chune" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/warriors/chune.php">
                <div class="imageContainer">
                    <div class="videoBg" data-bg="magic_3">
                          <img src="/public/summerOfLearning/movies/warriorCards/magic_3.jpg" alt="member" />
                    </div>
                    <img src="/public/summerOfLearning/img/home/team/chune.png" alt="member" />
                </div>
                <div class="details">
                    <div class="memberName">Chune</div>
                    <div class="description"><span>Career:</span><br />Ecologist</div>
                </div>
                <div class="degree">
                    Degree: <span>Science</span>
                    <div class="salary">$67,000-$107,000</div>
                </div>
            </div>
            <div class="member" id="maye" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/warriors/maye.php">
                <div class="imageContainer">
                    <div class="videoBg" data-bg="magic_5">
                          <img src="/public/summerOfLearning/movies/warriorCards/magic_5.jpg" alt="member" />
                    </div>
                    <img src="/public/summerOfLearning/img/home/team/maye.png" alt="member" />
                </div>
                <div class="details">
                    <div class="memberName">Maye</div>
                    <div class="description"><span>Career:</span><br />Veterinarian</div>
                </div>
                <div class="degree">
                    Degree: <span>Science</span>
                    <div class="salary">$79,000-$104,000</div>
                </div>
            </div>
            <div class="member" id="echo" href="http://<?= $_SERVER[HTTP_HOST] ?>/summerOfLearning/warriors/echo.php">
                <div class="imageContainer">
                    <div class="videoBg" data-bg="magic_6">
                          <img src="/public/summerOfLearning/movies/warriorCards/magic_6.jpg" alt="member" />
                    </div>
                    <img src="/public/summerOfLearning/img/home/team/echo.png" alt="member" />
                </div>
                <div class="details">
                    <div class="memberName">Echo</div>
                    <div class="description"><span>Career:</span><br />App Developer</div>
                </div>
                <div class="degree">
                    Degree: <span>Technology</span>
                    <div class="salary">$89,000-$109,000</div>
                </div>
            </div>
        </div>
        <?php if (!isset($_SESSION["user"])) {?>
            <a class="button large" href="/summerOfLearning/register.php">Become A Warrior <i class="fa fa-chevron-right"></i></a>
        <?php } else { ?>
            <a class="button large" href="/summerOfLearning/training.php">Become A Warrior <i class="fa fa-chevron-right"></i></a>
        <?php }?>
    </div>
</div>
