.burst2{
  animation: burst2anim linear 15s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: burst2anim linear 15s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -moz-animation: burst2anim linear 15s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -o-animation: burst2anim linear 15s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -ms-animation: burst2anim linear 15s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
}

@keyframes burst2anim{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(131deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
  50% {
    transform:  scaleX(0.8) scaleY(0.8) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(-34deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes burst2anim{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(131deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
  50% {
    -moz-transform:  scaleX(0.8) scaleY(0.8) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(-34deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes burst2anim {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(131deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
  50% {
    -webkit-transform:  scaleX(0.8) scaleY(0.8) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -webkit-transform:  rotate(-34deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes burst2anim {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(131deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
  50% {
    -o-transform:  scaleX(0.8) scaleY(0.8) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(-34deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes burst2anim {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(131deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
  50% {
    -ms-transform:  scaleX(0.8) scaleY(0.8) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(-34deg) scaleX(0.5) scaleY(0.5) skewX(0deg) skewY(0deg) ;
  }
}