.burst{
  animation: burstAnimation linear 20s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: burstAnimation linear 20s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -moz-animation: burstAnimation linear 20s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -o-animation: burstAnimation linear 20s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -ms-animation: burstAnimation linear 20s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
}

@keyframes burstAnimation{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(-23deg) scaleX(0.52) scaleY(0.52) skewX(0deg) skewY(0deg) ;
  }
  26% {
    transform:  rotate(49deg) ;
  }
  31% {
    transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes burstAnimation{
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(-23deg) scaleX(0.52) scaleY(0.52) skewX(0deg) skewY(0deg) ;
  }
  26% {
    -moz-transform:  rotate(49deg) ;
  }
  31% {
    -moz-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -moz-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes burstAnimation {
  0% {
    opacity:1;
    -webkit-transform:  rotate(-123deg) scaleX(0.32) scaleY(0.32) skewX(0deg) skewY(0deg) ;
  }
  30% {
    -webkit-transform:  rotate(40deg) scaleX(0.85) scaleY(0.85) ;
  }
  48% {
    -webkit-transform:  rotate(200deg) scaleX(0.19) scaleY(0.17) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes burstAnimation {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(-23deg) scaleX(0.52) scaleY(0.52) skewX(0deg) skewY(0deg) ;
  }
  26% {
    -o-transform:  rotate(49deg) ;
  }
  31% {
    -o-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -o-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes burstAnimation {
  0% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(-23deg) scaleX(0.52) scaleY(0.52) skewX(0deg) skewY(0deg) ;
  }
  26% {
    -ms-transform:  rotate(49deg) ;
  }
  31% {
    -ms-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) ;
  }
  100% {
    left:0px;
    top:0px;
    opacity:1;
    -ms-transform:  rotate(103deg) scaleX(0.19) scaleY(0.17) skewX(0deg) skewY(0deg) ;
  }
}
