body{
  background: #000;
}
.orb {
  max-width: 272px;
  position: relative;
  float: left;
  img{
    max-width: 500%;
    position: absolute;
    top: 0;
    left:0;
  }
  .orbImg{
    position: relative;
  }

  .flareAndBall{
    -moz-transform: scale(0.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -webkit-transform: scale(0.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(0.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(0.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(0.1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  }
}

.gradiStars{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

.element-animation{
  animation: animationFrames linear 75s;
  animation-iteration-count: infinite;
  transform-origin: ;
  -webkit-animation: animationFrames linear 75s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames linear 75s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: ;
  -o-animation: animationFrames linear 75s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: ;
  -ms-animation: animationFrames linear 75s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: ;
}

@keyframes animationFrames{
  0% {
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  24% {
    opacity:0.8;
    transform:  rotate(90deg) scaleX(0.85) scaleY(0.85) ;
  }
  50% {
    opacity:1;
    transform:  rotate(180deg) scaleX(1) scaleY(1) ;
  }
  76% {
    opacity:0.8;
    transform:  rotate(270deg) scaleX(0.85) scaleY(0.85) ;
  }
  100% {
    opacity:1;
    transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  24% {
    opacity:0.8;
    -moz-transform:  rotate(90deg) scaleX(0.85) scaleY(0.85) ;
  }
  50% {
    opacity:1;
    -moz-transform:  rotate(180deg) scaleX(1) scaleY(1) ;
  }
  76% {
    opacity:0.8;
    -moz-transform:  rotate(270deg) scaleX(0.85) scaleY(0.85) ;
  }
  100% {
    opacity:1;
    -moz-transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  24% {
    opacity:0.8;
    -webkit-transform:  rotate(90deg) scaleX(0.85) scaleY(0.85) ;
  }
  50% {
    opacity:1;
    -webkit-transform:  rotate(180deg) scaleX(1) scaleY(1) ;
  }
  76% {
    opacity:0.8;
    -webkit-transform:  rotate(270deg) scaleX(0.85) scaleY(0.85) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  24% {
    opacity:0.8;
    -o-transform:  rotate(90deg) scaleX(0.85) scaleY(0.85) ;
  }
  50% {
    opacity:1;
    -o-transform:  rotate(180deg) scaleX(1) scaleY(1) ;
  }
  76% {
    opacity:0.8;
    -o-transform:  rotate(270deg) scaleX(0.85) scaleY(0.85) ;
  }
  100% {
    opacity:1;
    -o-transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
  24% {
    opacity:0.8;
    -ms-transform:  rotate(90deg) scaleX(0.85) scaleY(0.85) ;
  }
  50% {
    opacity:1;
    -ms-transform:  rotate(180deg) scaleX(1) scaleY(1) ;
  }
  76% {
    opacity:0.8;
    -ms-transform:  rotate(270deg) scaleX(0.85) scaleY(0.85) ;
  }
  100% {
    opacity:1;
    -ms-transform:  rotate(360deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

.element-animation-gradiSwell{
  animation: animationFrames-gradiSwell ease-in-out 6s;
  animation-iteration-count: infinite;
  -webkit-animation: animationFrames-gradiSwell ease-in-out 6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: animationFrames-gradiSwell ease-in-out 6s;
  -moz-animation-iteration-count: infinite;
  -o-animation: animationFrames-gradiSwell ease-in-out 6s;
  -o-animation-iteration-count: infinite;
  -ms-animation: animationFrames-gradiSwell ease-in-out 6s;
  -ms-animation-iteration-count: infinite;
  
}

@keyframes animationFrames-gradiSwell{
  0% {
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  50% {
    transform:  scaleX(0.9) scaleY(0.9) ;
  }
  100% {
    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-moz-keyframes animationFrames-gradiSwell{
  0% {
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -moz-transform:  scaleX(0.9) scaleY(0.9) ;
  }
  100% {
    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-webkit-keyframes animationFrames-gradiSwell {
  0% {
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -webkit-transform:  scaleX(0.9) scaleY(0.9) ;
  }
  100% {
    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}

@-o-keyframes animationFrames-gradiSwell {
  0% {
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -o-transform:  scaleX(0.9) scaleY(0.9) ;
  }
  100% {
    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}


@-ms-keyframes animationFrames-gradiSwell {
  0% {
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
  50% {
    -ms-transform:  scaleX(0.9) scaleY(0.9) ;
  }
  100% {
    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) ;
  }
}