<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/editClassroomHeader.png" />
                <?php if (isset($classroom->id)) {?>
                    <a href="/manager/classroom/index.php?classroomId=<?=$classroom->id?>"><img class="manageBack" src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                <?php } else {?>
                    <a href="/manager/school/index.php?schoolId=<?=$classroom->schoolId?>"><img class="manageBack" src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                <?php }?>
                <form class="shakti-form" id="inviteForm" action="/app/actions/doManagerEditClassroom.php" method="post">
                    <?php if ($classroom->id != null) {?>
                        <input type="hidden" name="classroom[id]" value="<?=$classroom->id?>"/>
                    <?php }?>
                    <input type="hidden" name="classroom[schoolId]" value="<?=$classroom->schoolId?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>Active
                                 <input autocomplete="off" type="checkbox" name="classroom[active]" value="true" <?=$classroom->active ? 'checked="checked"' : ''?>/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Classroom Name
                                 <input autocomplete="off" type="text" name="classroom[name]" value="<?=$classroom->name?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Prefix
                                <select name="classroom[contactPrefix]" class="required">
                                    <option value="">Select One</option>
                                    <option <?=$classroom->contactPrefix == "Mr." ? 'selected="selected"' : ''?>>Mr.</option>
                                    <option <?=$classroom->contactPrefix == "Mrs." ? 'selected="selected"' : ''?>>Mrs.</option>
                                    <option <?=$classroom->contactPrefix == "Ms." ? 'selected="selected"' : ''?>>Ms.</option>
                                    <option <?=$classroom->contactPrefix == "Dr." ? 'selected="selected"' : ''?>>Dr.</option>
                                </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact First Name
                                 <input autocomplete="off" type="text" name="classroom[contactFirstName]" value="<?=$classroom->contactFirstName?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Last Name
                                 <input autocomplete="off" type="text" name="classroom[contactLastName]" value="<?=$classroom->contactLastName?>" class="required"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Super Hero Name
                                 <input autocomplete="off" type="text" name="classroom[contactSuperHeroName]" value="<?=$classroom->contactSuperHeroName?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Email
                                 <input autocomplete="off" type="text" name="classroom[contactEmail]" value="<?=$classroom->contactEmail?>" class="required email"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Work Phone Number
                                 <input autocomplete="off" type="text" name="classroom[contactWorkPhone]" value="<?=$classroom->contactWorkPhone?>" class="required phoneUS"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Contact Cell Phone Number
                                 <input autocomplete="off" type="text" name="classroom[contactCellPhone]" value="<?=$classroom->contactCellPhone?>" class="required phoneUS"/>
                                </label>
                            </div>
                            <div id="gradeLevels" class="fieldWrap">
                                <p id="gradeLevelHeader">Grade Levels (select all that apply):</p>
                                <label for="gradeTypes[]" style="display: none;" class="error">Please Select at least 1 grade</label>
                                <label>Below 4th Grade<input class="required" type="checkbox" name="gradeTypes[]" value="BELOW_4TH" <?=in_array("BELOW_4TH", $gradeTypes) ? 'checked="checked"' : ''?>/></label>
                                <label>4th Grade<input type="checkbox" name="gradeTypes[]" value="4TH" <?=in_array("4TH", $gradeTypes) ? 'checked="checked"' : ''?>/></label>
                                <label>5th Grade<input type="checkbox" name="gradeTypes[]" value="5TH" <?=in_array("5TH", $gradeTypes) ? 'checked="checked"' : ''?>/></label>
                                <label>6th Grade<input type="checkbox" name="gradeTypes[]" value="6TH" <?=in_array("6TH", $gradeTypes) ? 'checked="checked"' : ''?>/></label>
                                <label>Above 6th Grade<input type="checkbox" name="gradeTypes[]" value="ABOVE_6TH" <?=in_array("ABOVE_6TH", $gradeTypes) ? 'checked="checked"' : ''?>/></label>
                            </div>
                            <div class="fieldWrap">
                                <label>Passcode
                                 <input autocomplete="off" type="text" name="classroom[passcode]" value="<?=$classroom->passcode?>" class="required"/>
                                </label>
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>