<?php include("_header.phtml"); ?>
<script type="text/javascript">
$(document).ready(function() {
    $(".studentForm").ajaxForm();
    $(".studentInput").blur(function() {
        $(this).parents(".studentForm").submit();
    });

});
</script>

        <div id="mainContent">
        <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/classrooms.png" />
                    <h1><?=$classroom->name?></h1>
                    <div>
                        <?php if ($role == 'district' || $role == 'school') {?>
                            <a id="backTo" href="/manager/school/index.php?schoolId=<?=$classroom->schoolId?>"><!--Back to School--></a>
                        <?php } else {?>
                            <a id="backTo" href="/manager/login.php"><!--Back to Login--></a>
                        <?php }?>
                        <a id="editClassroom" href="/manager/classroom/editClassroom.php?classroomId=<?=$classroom->id?>"><!--Edit Classroom--></a>
                        <a id="manageStudent" class="managerButtons" href="/manager/classroom/manageStudents.php?classroomId=<?=$classroom->id?>"><!--Manage--></a>
                    </div>
                    <div>
                        <fieldset style="margin: 40px 4px">
                        <div id="classroomBorder">
                        <div id="darkGrayBox">
                            <div id="classRoomKids">
                                <section class="classroomManageTable-row">
                                    <div id="ieLogin" class="manageBorder studentName">Student Login</div>
                                    <div id="ieFName" class="manageBorder">Student First Name</div>
                                    <div id="iestudentID" class="manageBorder">Student ID</div>
                                </section>
                                <?php foreach ($students as $student) {?>
                                        <form class="classroomManageTable-row studentForm" action="/app/actions/doUpdateStudent.php" method="post">
                                            <input type="hidden" name="id" value="<?=$student->getChild()->id?>"/>
                                            <div class="manageBorder studentName"><?=$student->login?></div>
                                            <div class="manageBorder"><input style="width: 90%;" type="text" class="studentInput" name ="firstName" value="<?=$student->getChild()->firstName?>"/></div>
                                            <div class="manageBorder"><input style="width: 90%;" type="text" class="studentInput" name="studentId" value="<?=$student->getChild()->studentId?>"/></div>
                                        </form>
                                <?php }?>
                            </div>
                        </div>
                        </div>
                        <!--<div class="form-tc"></div>
                           <div class="form-bc"></div>-->
                        </fieldset>
                    </div>
                </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>