<?php include("_header.phtml"); ?>


<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <img src="/public/img/headers/addRemoveHeader.png" />
            <div>
                <div class="searchContainer clearfix">
                    <a href="/manager/classroom/index.php?classroomId=<?=$classroom->id?>"><img src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                    <label>Search:
                        <input type="text" id="search"/>
                        <input type="button" class="btnAdd" id="clear" />
                    </label>
                </div>
                <div>
                    <p>In order to add someone to your team, simply click on the name in the left list and drag them over to the right list. If you would like to remove someone from the team, just drag them from the right list to the left list.</p>
                </div>
            <div class="largeHolder">
                <div class="nonMembersContainer">
                    <ul id="nonMembers">
                        <?php foreach ($nonMembers as $nonMember) { ?>
                            <li class="nonMember" title="<?=$nonMember->id?>"><?=trim($nonMember->login)?></li>
                        <?php } ?>
                    </ul>
                </div>
                <div class="currentMembersContainer">
                    <ul id="members">
                        <?php foreach ($members as $member) { ?>
                            <li class="member" title="<?=$member->id?>"><?=trim($member->login)?></li>
                        <?php } ?>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.admin.manageStudents({
    classroomId: <?=$classroom->id?>
});
</script>
<?php include("_footer.phtml"); ?>
