@font-face {
    font-family: 'novecento';
    src: url('../../../fonts/novecento-bold-webfont.eot');
    src: url('../../../fonts/novecento-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/novecento-bold-webfont.woff') format('woff'),
         url('../../../fonts/novecento-bold-webfont.ttf') format('truetype'),
         url('../../../fonts/novecento-bold-webfont.svg#novecento_sans_wide_bookbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: url('../../../fonts/novecento-book-webfont.eot');
    src: url('../../../fonts/novecento-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/novecento-book-webfont.woff') format('woff'),
         url('../../../fonts/novecento-book-webfont.ttf') format('truetype'),
         url('../../../fonts/novecento-book-webfont.svg#novecento_sans_widebook') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: url('../../../fonts/novecento-light-webfont.eot');
    src: url('../../../fonts/novecento-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/novecento-light-webfont.woff') format('woff'),
         url('../../../fonts/novecento-light-webfont.ttf') format('truetype'),
         url('../../../fonts/novecento-light-webfont.svg#novecento_sans_widelight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: url('../../../fonts/novecento-medium-webfont.eot');
    src: url('../../../fonts/novecento-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/novecento-medium-webfont.woff') format('woff'),
         url('../../../fonts/novecento-medium-webfont.ttf') format('truetype'),
         url('../../../fonts/novecento-medium-webfont.svg#novecento_sans_widemedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'novecento';
    src: url('../../../fonts/novecento-normal-webfont.eot');
    src: url('../../../fonts/novecento-normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/novecento-normal-webfont.woff') format('woff'),
         url('../../../fonts/novecento-normal-webfont.ttf') format('truetype'),
         url('../../../fonts/novecento-normal-webfont.svg#novecento_sans_widenormal') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto-bold-webfont.eot');
    src: url('../../../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto-bold-webfont.woff') format('woff'),
         url('../../../fonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../../../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto-bolditalic-webfont.eot');
    src: url('../../../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto-bolditalic-webfont.woff') format('woff'),
         url('../../../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
         url('../../../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto-regular-webfont.eot');
    src: url('../../../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../../../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../../../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto-italic-webfont.eot');
    src: url('../../../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto-italic-webfont.woff') format('woff'),
         url('../../../fonts/roboto-italic-webfont.ttf') format('truetype'),
         url('../../../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto-thin-webfont.eot');
    src: url('../../../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../../../fonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../../../fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../../../fonts/roboto-thinitalic-webfont.eot');
    src: url('../../../fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../fonts/roboto-thinitalic-webfont.woff') format('woff'),
         url('../../../fonts/roboto-thinitalic-webfont.ttf') format('truetype'),
         url('../../../fonts/roboto-thinitalic-webfont.svg#robotothin_italic') format('svg');
    font-weight: 100;
    font-style: italic;
}