@borderRadius: 3px;

// RESPONSIVE
@width-mobile: 640px;
@width-tablet: 1024px;
@max-width: 1170px;

// COLORS
@black: #242222;
@white: #ffffff;
@red: #fc121c;
@yellow: #f7941d;
@orange: #fe8004;
@teal: #498b99;
@purple: #48186d;
@purple-dark: #440e62;

// LINKS
@linkColor: @yellow;
@linkColorHover: darken(@linkColor,15%);

// TYPOGRAPHY
@sansFontFamily: 'roboto' arial, sans-serif;
@serifFontFamily: Georgia, "Times New Roman", Times, serif;
@monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;
@specialFontFamily: 'novecento' arial, sans-serif;

html{
	font-size: 63.75% !important;
}

@baseFontSize: 10px;
@baseFontFamily: @sansFontFamily;
@baseLineHeight: 13px;