            <footer>
                <!-- <p>&copy; Company 2012</p> -->
            </footer>
            <div class="modal fade" id="email-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Send Email</h4>
                        </div>
                        <form id="emailform" method="post" action="/app/actions/doAdminSendEmail.php">
                            <div class="modal-body">
                                <div class="alert alert-success" id="emailSentMessage" style="display:none">Email has been sent.</div>
                                <input type="hidden" name="from" value="<?=$admin->email?>"/>
                                <input type="hidden" name="to"/>
                                <input type="hidden" name="adminEmail"/>
                                <input type="hidden" name="schoolEmails"/>
                                <input type="hidden" name="classroomEmails"/>
                                <div class="form-group">
                                    <label class="control-label">From: <span id="from-email"><?=$admin->email?></span></label>
                                </div>
                                <div class="form-group">
                                    <span class="control-label to-email-wrap">To: 
                                        <label id="to-email-admin" class="toEmails"><input type="checkbox" name="managers[]" value="admin" checked="checked"/> <span></span></label>
                                        <label id="to-email-school" class="toEmails checkbox"><input type="checkbox" name="managers[]" value="school"/> <span>School Managers</span></label>
                                        <label id="to-email-classroom" class="toEmails checkbox"><input type="checkbox" name="managers[]" value="classroom"/> <span>Classroom Managers</span></label>
                                        <label class="error" for="managers[]" style="display: none"></label>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Subject</label>
                                    <div class="controls">
                                        <input type="text" name="subject" class="form-control" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="inputClassAdminEmail">Message</label>
                                    <div class="controls">
                                        <textarea name="message" class="form-control" required rows="6"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <input type="submit" class="btn btn-primary" value="Send Email"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
