<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="displayMessages"></div>
        <div class="backgroundWrap">
            <a href="<?=Config::$baseUrl?>">
                <img src="/public/admin/img/headerImg.png">
            </a>
        </div>
        <?php if ($admin != null) {?>
            <ul class="nav nav-tabs">
                <?php if ($admin != null && $admin->hasAdminAccess()) {?>
                    <li class="<?= ($section == "districts") ? 'active' : '' ?>">
                        <a href="/admin/">Districts</a>
                    </li>
                    <li class="<?= ($section == "competitions") ? 'active' : '' ?> competitionsLink">
                        <a href="/admin/manageCompetitions.php">Competitions</a>
                    </li>
                <?php }?>
                <li class="<?= ($section == "professionalDevelopment") ? 'active' : '' ?> dropdown professionalDevelopmentLink">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Professional Development<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/admin/trainingVideos.php">P.D.Training Videos</a>
                        </li>
                        <?php if ($admin != null && $admin->hasAdminAccess()) {?>
                            <li class="dropdown-submenu">
                                <a href="#" style="width:200px;">SW Printed Materials</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/public/admin/printed/Getting-Started-Checklist.pdf">Getting Started Checklist</a></li>
                                        <li><a href="/public/admin/printed/SW-Student-Workbook-2015-Jan-June.pdf">Student Workbook - Jan - Jun 2015</a></li>
                                        <li><a href="/public/admin/printed/SW-Student-Workbook-2015-Part-1-Super-Hero-Creation-(only).pdf">Student Workbook - Super Hero Creation (only)</a></li>
                                        <li><a href="/public/admin/printed/SW-Student-Workbook-2015-Part-2-Point-Tracking (only).pdf">Student Workbook - Point Tracking (only)</a></li>
                                        <li><a href="/public/admin/printed/SW-Student-Workbook-2015-Part-3-Mind-Works(only).pdf">Student Workbook - Mind Works (only)</a></li>
                                        <li><a href="/public/admin/printed/Library-Articles-First-Year-Students.pdf">Library Articles - for 1st Year Students</a></li>
                                        <li><a href="/public/admin/printed/Orb-Definition-Overview.pdf">Orb Definition</a></li>
                                        <li><a href="/public/admin/printed/Weekly-Framework-Session-2-(Example).pdf">Weekly Session Framework</a></li>
                                    </ul>
                            </li>
                        <?php }?>
                        <?php if ($admin != null && $admin->hasAdminAccess()) {?>
                            <li class="dropdown-submenu">
                                <a href="#" style="width:200px;">Reports</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/admin/warriorReport.php">Warrior Report</a>
                                    </li>
                                    <li>
                                        <a href="/admin/schoolReport.php">School Setup</a>
                                    </li>
                                    <li>
                                        <a href="/admin/stateReport.php">Daily State Report</a>
                                    </li>
                                    <li>
                                        <a href="/admin/finalStateReport.php">Final State Report</a>
                                    </li>
                                </ul>
                            </li>
                        <?php }?>
                    </ul>
                </li>
                <li class="<?= ($section == "lessonPlans") ? 'active' : ''?> lessonPlansLink">
                    <a href="/admin/weeklyLessonPlan.php">Lesson Plans</a>
                </li>
                <li class="<?= ($section == "contactUs") ? 'active' : ''?>">
                    <a href="/admin/contactUs.php">Contact Us</a>
                </li>
                <li class="logout">
                    <a href="/app/actions/doAdminLogout.php"><img src="/public/admin/img/logout.png"></a>
                </li>
            </ul>
        <?php }?>
