        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/public/admin/styles/css/vendor/ui-lightness/jquery-ui-1.10.3.custom.css">


        <?php include "cssFiles.phtml" ?>


        <script src="/public/admin/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <!-- Latest compiled and minified CSS
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
        Latest compiled and minified JavaScript -->

        <title><?= $pageTitle ?></title>


