.orbWrap{
    width:673px;
    height:756px;
    color:white;
    font-family:arial;
    text-align:center;
    background: url("../../img/training/orbsBg.png") no-repeat -44px -22px transparent;
    margin:0 auto;
}

.orbSlide{
    width: 100%;
    float: left;
}

.orbDescription .orbFirstLine{
    color:#f7941d;
    font-weight:bold;
    background: url('../../img/training/angelLine1.png') no-repeat top center;
    padding-top: 15px;
    margin-top: 0px;
}

.orbLanding .orbFirstLine{
	padding-top:25px;
}

.orbDescription .orbFirstLine.inner{
    background: none;
    margin-top:0px;
}

.orbDescription span{
    color:white;
    font-family:arial;
    font-weight:normal;
    font-size:14px;
    display:block;
    text-align:center;
}

#fancybox-overlay{
    background-color:#000 !important;
}
.startOrb{
    background: url("../../img/training/start.png") no-repeat top center transparent;
    display:block;
    width:263px;
    height:84px;
    cursor:pointer;
    margin:10px auto 0;
}

.startOrb.continue{
    background: url("../../img/training/continueQuest.png") no-repeat top center transparent;
}

.finishOrb{
    background: url("../../img/training/questComplete.png") no-repeat top center transparent;
    display:block;
    width:263px;
    height:84px;
    margin:10px auto 0;
}
.lockedOrb{
    background: url("../../img/training/lockedButton.png") no-repeat top center transparent;
	display: block;
	width: 394px;
	height: 84px;
	margin: 10px auto 0;
	padding-top: 90px;
	font-size: 14px;
	color: #ccc;	
}

.orbImageSmall{
    background: url('../../img/training/angelLine1.png') no-repeat bottom center;
    padding-bottom:25px;
}

.orbImage img, .orbImageSmall img{
    display:block;
    margin:0 auto;
}

.orbWrap .status{
    height:34px;
    width:100%;
    margin:0 auto;
}

.orbWrap .status .checkpointPag{

    display:block;
    float:left;
    width: 9%;
    height: 34px;
    text-indent: -9999em;
}

.checkpoint{
    width:100%;
    display:block;
    float:left;
}

.pagSphere{
    background: url('../../img/training/pagSphereSprite.png') no-repeat 0px -52px;
    display:inline-block;
    width:38px;
    height:30px;
}

.statusWrap{
    margin-top:10px;
    padding-bottom:24px;
    background: url('../../img/training/angelLine1.png') no-repeat bottom center;
}

.checkpoints label.error, .checkpoints .errorMessage{
    color: red;
    text-align: center;
    margin: -5px auto 10px auto;
    width: auto;
    display: block;
    font-size:14px;
}

.storyCheckpoint .checkpoints label.error{
	margin: -15px auto 15px auto;
	font-size: 14px;
}

.checkpoints .errorMessage{
    margin:0 auto 0px auto;
    font-size:14px;
}

.checkpoints .showError{
    display:block !important;
}

.checkpointStatusHeader div{
    background: url('../../img/training/checkpointSprite.png') no-repeat left center;
    display:block;
    height:20px;
    padding-top:6px;
    padding-left:227px;
    margin-bottom:3px;
    color:#898989;
    font-size:13px;
}

.fillinCheckpoint .showError{
    margin-bottom:12px;
}

.checkpoints .fillInTheBlankForm label.error{
    margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
}

.checkpointStatusHeader .checkpointHeaderImg1{
    background-position:top center;
}
.checkpointStatusHeader .checkpointHeaderImg2{
    background-position:237px -24px;
}
.checkpointStatusHeader .checkpointHeaderImg3{
    background-position:237px -48px;
}
.checkpointStatusHeader .checkpointHeaderImg4{
    background-position:237px -72px;
}
.checkpointStatusHeader .checkpointHeaderImg5{
    background-position:237px -96px;
}
.checkpointStatusHeader .checkpointHeaderImg6{
    background-position:237px -120px;
}
.checkpointStatusHeader .checkpointHeaderImg7{
    background-position:237px -144px;
}
.checkpointStatusHeader .checkpointHeaderImg8{
    background-position:237px -168px;
}
.checkpointStatusHeader .checkpointHeaderImg9{
    background-position:237px -192px;
}
.checkpointStatusHeader .checkpointHeaderImg10{
    background-position:237px -216px;
}
.checkpointStatusHeader .checkpointHeaderImg11{
    background-position:237px -240px;
}
.checkpointStatusHeader .checkpointHeaderImg12{
    background-position:237px -264px;
}
.checkpointStatusHeader .checkpointHeaderImg13{
    background-position:237px -288px;
}
.checkpointStatusHeader .checkpointHeaderImg14{
    background-position:237px -312px;
}
.checkpointStatusHeader .checkpointHeaderImg15{
    background-position:237px -336px;
}
.checkpointStatusHeader .checkpointHeaderImg16{
    background-position:237px -360px;
}
.checkpointStatusHeader .checkpointHeaderImg17{
    background-position:237px -384px;
}
.checkpointStatusHeader .checkpointHeaderImg18{
    background-position:237px -408px;
}
.checkpointStatusHeader .checkpointHeaderImg19{
    background-position:237px -432px;
}
.checkpointStatusHeader .checkpointHeaderImg20{
    background-position:237px -456px;
}



.step1 .checkpointPag0{
    background-position:0px -5px;
}
.step2 .checkpointPag1,
.step2 .checkpointPag0{
    background-position:0px -5px;
}
.step3 .checkpointPag2,
.step3 .checkpointPag0,
.step3 .checkpointPag1{
    background-position:0px -5px;
}
.step4 .checkpointPag3,
.step4 .checkpointPag0,
.step4 .checkpointPag1,
.step4 .checkpointPag2{
    background-position:0px -5px;
}
.step5 .checkpointPag4,
.step5 .checkpointPag0,
.step5 .checkpointPag1,
.step5 .checkpointPag2,
.step5 .checkpointPag3{
    background-position:0px -5px;
}
.step6 .checkpointPag5,
.step6 .checkpointPag0,
.step6 .checkpointPag1,
.step6 .checkpointPag2,
.step6 .checkpointPag3,
.step6 .checkpointPag4{
    background-position:0px -5px;
}
.step7 .checkpointPag6
.step7 .checkpointPag0,
.step7 .checkpointPag1,
.step7 .checkpointPag2,
.step7 .checkpointPag3,
.step7 .checkpointPag4,
.step7 .checkpointPag5{
    background-position:0px -5px;
}
.step8 .checkpointPag7,
.step8 .checkpointPag0,
.step8 .checkpointPag1,
.step8 .checkpointPag2,
.step8 .checkpointPag3,
.step8 .checkpointPag4,
.step8 .checkpointPag5,
.step8 .checkpointPag6{
    background-position:0px -5px;
}
.step9 .checkpointPag8,
.step9 .checkpointPag0,
.step9 .checkpointPag1,
.step9 .checkpointPag2,
.step9 .checkpointPag3,
.step9 .checkpointPag4,
.step9 .checkpointPag5,
.step9 .checkpointPag6,
.step9 .checkpointPag7{
    background-position:0px -5px;
}
.step10 .checkpointPag9,
.step10 .checkpointPag0,
.step10 .checkpointPag1,
.step10 .checkpointPag2,
.step10 .checkpointPag3,
.step10 .checkpointPag4,
.step10 .checkpointPag5,
.step10 .checkpointPag6,
.step10 .checkpointPag7,
.step10 .checkpointPag8{
    background-position:0px -5px;
}
.step11 .checkpointPag10,
.step11 .checkpointPag0,
.step11 .checkpointPag1,
.step11 .checkpointPag2,
.step11 .checkpointPag3,
.step11 .checkpointPag4,
.step11 .checkpointPag5,
.step11 .checkpointPag6,
.step11 .checkpointPag7,
.step11 .checkpointPag8,
.step11 .checkpointPag9{
    background-position:0px -5px;
}
.step12 .checkpointPag11,
.step12 .checkpointPag0,
.step12 .checkpointPag1,
.step12 .checkpointPag2,
.step12 .checkpointPag3,
.step12 .checkpointPag4,
.step12 .checkpointPag5,
.step12 .checkpointPag6,
.step12 .checkpointPag7,
.step12 .checkpointPag8,
.step12 .checkpointPag9,
.step12 .checkpointPag10{
    background-position:0px -5px;
}
.step13 .checkpointPag12,
.step13 .checkpointPag0,
.step13 .checkpointPag1,
.step13 .checkpointPag2,
.step13 .checkpointPag3,
.step13 .checkpointPag4,
.step13 .checkpointPag5,
.step13 .checkpointPag6,
.step13 .checkpointPag7,
.step13 .checkpointPag8,
.step13 .checkpointPag9,
.step13 .checkpointPag10,
.step13 .checkpointPag11{
    background-position:0px -5px;
}
.step14 .checkpointPag13,
.step14 .checkpointPag0,
.step14 .checkpointPag1,
.step14 .checkpointPag2,
.step14 .checkpointPag3,
.step14 .checkpointPag4,
.step14 .checkpointPag5,
.step14 .checkpointPag6,
.step14 .checkpointPag7,
.step14 .checkpointPag8,
.step14 .checkpointPag9,
.step14 .checkpointPag10,
.step14 .checkpointPag11,
.step14 .checkpointPag12{
    background-position:0px -5px;
}
.step15 .checkpointPag14,
.step15 .checkpointPag0,
.step15 .checkpointPag1,
.step15 .checkpointPag2,
.step15 .checkpointPag3,
.step15 .checkpointPag4,
.step15 .checkpointPag5,
.step15 .checkpointPag6,
.step15 .checkpointPag7,
.step15 .checkpointPag8,
.step15 .checkpointPag9,
.step15 .checkpointPag10,
.step15 .checkpointPag11,
.step15 .checkpointPag12,
.step15 .checkpointPag13{
    background-position:0px -5px;
}
.step16 .checkpointPag15,
.step16 .checkpointPag0,
.step16 .checkpointPag1,
.step16 .checkpointPag2,
.step16 .checkpointPag3,
.step16 .checkpointPag4,
.step16 .checkpointPag5,
.step16 .checkpointPag6,
.step16 .checkpointPag7,
.step16 .checkpointPag8,
.step16 .checkpointPag9,
.step16 .checkpointPag10,
.step16 .checkpointPag11,
.step16 .checkpointPag12,
.step16 .checkpointPag13,
.step16 .checkpointPag14{
    background-position:0px -5px;
}
.step17 .checkpointPag16,
.step17 .checkpointPag0,
.step17 .checkpointPag1,
.step17 .checkpointPag2,
.step17 .checkpointPag3,
.step17 .checkpointPag4,
.step17 .checkpointPag5,
.step17 .checkpointPag6,
.step17 .checkpointPag7,
.step17 .checkpointPag8,
.step17 .checkpointPag9,
.step17 .checkpointPag10,
.step17 .checkpointPag11,
.step17 .checkpointPag12,
.step17 .checkpointPag13,
.step17 .checkpointPag14,
.step17 .checkpointPag15{
    background-position:0px -5px;
}
.step18 .checkpointPag17,
.step18 .checkpointPag0,
.step18 .checkpointPag1,
.step18 .checkpointPag2,
.step18 .checkpointPag3,
.step18 .checkpointPag4,
.step18 .checkpointPag5,
.step18 .checkpointPag6,
.step18 .checkpointPag7,
.step18 .checkpointPag8,
.step18 .checkpointPag9,
.step18 .checkpointPag10,
.step18 .checkpointPag11,
.step18 .checkpointPag12,
.step18 .checkpointPag13,
.step18 .checkpointPag14,
.step18 .checkpointPag15,
.step18 .checkpointPag16{
    background-position:0px -5px;
}
.step19 .checkpointPag18,
.step19 .checkpointPag0,
.step19 .checkpointPag1,
.step19 .checkpointPag2,
.step19 .checkpointPag3,
.step19 .checkpointPag4,
.step19 .checkpointPag5,
.step19 .checkpointPag6,
.step19 .checkpointPag7,
.step19 .checkpointPag8,
.step19 .checkpointPag9,
.step19 .checkpointPag10,
.step19 .checkpointPag11,
.step19 .checkpointPag12,
.step19 .checkpointPag13,
.step19 .checkpointPag14,
.step19 .checkpointPag15,
.step19 .checkpointPag16,
.step19 .checkpointPag17{
    background-position:0px -5px;
}
.step20 .checkpointPag19,
.step20 .checkpointPag0,
.step20 .checkpointPag1,
.step20 .checkpointPag2,
.step20 .checkpointPag3,
.step20 .checkpointPag4,
.step20 .checkpointPag5,
.step20 .checkpointPag6,
.step20 .checkpointPag7,
.step20 .checkpointPag8,
.step20 .checkpointPag9,
.step20 .checkpointPag10,
.step20 .checkpointPag11,
.step20 .checkpointPag12,
.step20 .checkpointPag13,
.step20 .checkpointPag14,
.step20 .checkpointPag15,
.step20 .checkpointPag16,
.step20 .checkpointPag17,
.step20 .checkpointPag18{
    background-position:0px -5px;
}

.checkpointStatusHeader img{
    display:block;
    margin-top: -4px;
    float:left;
}

.clickable{
    cursor:pointer;
}

form.storyForm{
    padding: 68px 161px 0;
    position:relative;
}

.storyCheckpoint{
    background: url('../../img/training/storyCheckpointBg.png') no-repeat 36px -50px;
    height:300px;
}

.storyCheckpoint .showError{
    padding-top:10px;
}

.storyCheckpoint textarea{
    width: 332px;
height: 109px;
    display: block;
    margin: 0 auto;
    background: url('../../img/training/textareaBg.png') no-repeat 0px 0px;
    border: none;
    padding: 10px;
    color: white;
    -webkit-box-shadow:  0px 0px 7px 4px #000;
    box-shadow:  0px 0px 7px 4px #000;
    -webkit-border-radius: 9px;
    border-radius: 9px;
}

.fillinCheckpoint{
    background: url('../../img/training/storyCheckpointBg.png') no-repeat 36px -50px;
    height:223px;
    padding-top: 60px;
}


.fillinCheckpoint input[type="text"]{
    width: 248px;
height: 15px;
    display: block;
    margin: 0 auto;
    background: url('../../img/training/textfieldBg.png') no-repeat 0px 0px;
    border: none;
    padding: 12px 14px 9px 8px;
    color: white;
    -webkit-box-shadow: 0px 0px 7px 4px #000;
    box-shadow: 0px 0px 7px 4px #000;
    -webkit-border-radius: 3px;
    border-radius: 6px;
    font-size: 12px;
}

.fillintheblankSubmit, .multiplechoiceSubmit, .storySubmit, .linkSubmit{
    background: url('../../img/training/clickToComplete.png') no-repeat top center;
    border: none;
    height: 95px;
    width: 279px;
    margin: 0 auto;
    display: block;
    text-indent: -99999em;
    cursor:pointer;
}

.fillInTheBlankForm li{
    font-size:13px;
}

.fillInTheBlankForm{
	margin:0 auto;
	width:auto;
}

.multipleChoiceSubmitWrap{
	float:left;
	width:100%;
}

.multiplechoiceCheckpoint{
    width: 440px;
    margin: 10px auto;
}

#timer{
	margin: 0 auto;
	width: 262px;
	height: 105px;
	/*background: url('../../img/training/timerBg.png') no-repeat top center;*/
	padding-top: 18px;
	font-size: 22px;
	color:#f6f6f6;
	text-shadow: 0px 0px 8px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0);
}

#timer.showTimer{
	display:block !important;
	margin-bottom: -20px;
}

.linkCheckpoint{
    text-align: center;
    margin-top: 17px;
    color: white;
    font-size: 25px;
}

.linkCheckpoint a{
    color:white;
    text-decoration:none;
}

.linkButton{
    display:block;
    width:262px;
    height:85px;
    margin:0 auto;
    background: url('../../img/training/clickToRead.png') no-repeat top center;
}

.linkInstructions{
	width:73%;
	text-align:center;
	font-size:14px;	
	margin:10px auto 0;
	color: #898989;
}

.orbClosing .finished{
    display:block;
    width:auto;
    margin:10px auto;
}

.orbClosing .finishButton{
    background: url('../../img/training/finishQuest.png') no-repeat top center;
    width:263px;
    height:86px;
    margin:0 auto;
    cursor:pointer;
}

#fancybox-overlay{
    opacity:0.95 !important;
}

.orbWrap .showError{
    display:block;
}

.congrats{
    display:block;
    width:auto;
    margin:60px auto 0px auto;
}

.orbClosing .orbImage{
    margin-top: -100px;
}

.loader{
    width: 129px;
    height: 41px;
    position:absolute;
    bottom: 238px;
    left: 272px;

}

.multiplechoiceCheckpoint .option{
    font-size:13px;
    margin-top:5px;
    display:block;
    float:left;
    width:100%;
}
.multiplechoiceCheckpoint .optionInput{
    display:block;
    float:left;
    width: 10%;
}

.multiplechoiceCheckpoint .optionText{
    float:left;
    display:block;
    width:88%;
}

.showLoading.loader{
    display:block !important;
}


#fancybox-close{
    top:40px !important;
}
