        <div style="display: none">
            <div id="bigdoor-story">
                <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogTop.png" />
                        <div class="ddWrap">
                            <form id="story-form">
                                <div class="formInner">
                                    <div id="story-error" style="display: none"></div>
                                    <input type="hidden" name="bigDoorCheckpointId" id="bigDoorCheckpointId" value="<?=$_GET['checkpointId']?>"/>
                                    <input type="hidden" name="title" id="bigDoorTitle" value="<?=urlencode($_GET['title'])?>"/>
                                    <input type="hidden" name="description" id="bigDoorDescription" value="<?=urlencode($_GET['description'])?>"/>
                                    <div id="bigDoorDescription2">
                                        <?=urldecode($_GET['description'])?>
                                    </div>
                                    <div class="textAreaWrap">
                                        <textarea name="response" id="response"></textarea>
                                    </div>
                                    <div class="submitWrap">
                                        <input id="submitStory" type="image" src="/public/img/dialogs/pixel.gif" value="Submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogBottom.png" />
            </div>
        </div>

        <div style="display: none">
            <div id="bigdoor-description">
                <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogTop.png" />
                        <div class="ddWrap">
                            <div class="ddInner clearfix">
                                <div id="bigDoorExtendedDescription">


                                </div>
                            </div>
                        </div>
                <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogBottom.png" />
            </div>
        </div>
        <?php if (true) {//isset($_SESSION['user']) && $_SESSION['user']->getChild()->academyYear == 2) {?>
            <!--start BigDoor LEVR code -->
            <script type="text/javascript">
            $(window).load(function() {

                (function(d, t, pid, sid) {
                    var s = d.createElement(t), p = 'https:' == d.location.protocol ? 'https://' : 'http://';
                    s.src = p + 'd23716qn9q7omq.cloudfront.net/branches/release/gambit/load.min.js?pubid=' + pid + '&siteid=' + sid;
                    s.onload = s.onreadystatechange = function() {
                      var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                      BDM.load({
                          'config': p + 'd27wmgjeh13rj8.cloudfront.net/partner/publishers/' + pid + '/release/' + sid + '/default.js',
                          'callback' : setupBigDoor
                      });
                    };
                    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                  })(document, 'script', 2016232, 2007055);

                 function setupBigDoor() {

                    <?php $onWelcomePage = strstr($_SERVER['SCRIPT_NAME'], "/welcome.php") ?>
                	var onWelcomePage = <?=$onWelcomePage ? "true" : "false"?>;


                    BDM.subscribe('quest.activated', function(event, quest) {
                        //nothing for right now
                    });

                    BDM.subscribe('quest.deactivated', function(event, quest) {
                        //nothing for right now
                    });

                    BDM.subscribe('quest.completed', function(event, quest) {
                        if (quest.is_active()) {
                            $.ajax({
                                url: "/app/actions/doCompleteOrb.php",
                                type: "POST",
                                data: {
                                    bigDoorQuestId : quest.id()},
                                    success: function() {
                                        if (onWelcomePage) {
	                                        var orbContainer = $("div:[data-big-door-quest-id=" + quest.id() + "]");
	                                        orbContainer.attr("data-quest-completed", "true");
	                                        var orbImage = orbContainer.find(".orbs");
	                                        orbImage.attr("src", orbImage.attr("data-active-src"));
	                                        orbImage.attr("data-original-src", orbImage.attr("data-active-src"));
                                        }
                                    }
                            });
                        }
                    });

                    BDM.subscribe('checkpoint.activated', function(event, checkpoint) {
                		$.fancybox.close();
                        checkForPopup(checkpoint);
                    });

                    function checkForPopup(checkpoint) {
                        $.ajax({
                            url: "/json/checkBigDoorCheckpoint.php",
                            type: "POST",
                            data: {bigDoorCheckpointId: checkpoint.id()},
                            dataType: "json",
                            success: function(json) {
                                var title = checkpoint.title();
                                var description = "";
                                var checkpointId = checkpoint.id();
                                var customCheckpoint = false;

                                var attributes = checkpoint.attributes();
                                for (x in attributes) {
                                    var attribute = attributes[x];
                                    var title = attribute.data().end_user_title;

                                    if (title == "Tell us what you did") {
                                        customCheckpoint = true;
                                        description = '<div class="checkpointWrap">' + checkpoint.end_user_description() + '</div>';
                                    }
                                }

                                if (customCheckpoint) {
                                    if (json.found)
                                        description = json.description;
                                     $.fancybox({
                                         'padding'       : 0,
                                         'scolling'      : 'no',
                                         'transitionIn'  : 'none',
                                         'transitionOut' : 'none',
                                         'width': "auto",
                                         'href'          : '#bigdoor-story',
                                         'onStart'       : function () {
                                            $("#fancybox-close").css('right', '114px');
                                            $("#fancybox-close").css('left', 'auto');
                                            $("#fancybox-close").css('top', '70px');
                                            $("#fancybox-overlay").css('background','none');
                                         },
                                         'onComplete' : function() {
                                             $("#response").val('');
                                             $("#bigDoorCheckpointId").val(checkpointId);
                                             $("#bigDoorTitle").val(escape(title));
                                             $("#bigDoorDescription").val(escape(description));
                                             $("#bigDoorDescription2").html(description);
                                             $('#fancybox-close').css({
                                                right: '99px',
                                                top: '60px'
                                            });
                                            $('#fancybox-wrap').width(700);
                                            $('#fancybox-content').addClass("closeBigdoor");
                                         }
                                     });
                                }
                                else if (json.found) {
                                    description = json.description;
                                    showDescriptionPopup(description, true);
                                }
                            }
                        });
                    }
                    BDM.subscribe('checkpoint.completed', function(event, checkpoint) {
                        $.fancybox.close();
                    });
                    $("#story-form").submit(function() {
                        $("#story-error").hide();
                        var bigDoorCheckpointId = $("#bigDoorCheckpointId").val();
                        var title = $("#bigDoorTitle").val();
                        var description = $("#bigDoorDescription").val();
                        var response = $.trim($("#response").val());
                        if (response == "") {
                            $("#story-error").show().html("You cannot submit an empty form");
                        }
                        else {
                            $.ajax({
                                url: "/json/profanityCheck.php",
                                type: "POST",
                                data: {text: response},
                                dataType: "json",
                                success: function(json) {
                                    if (!json.result) {
                                        $.ajax({
                                            url: "/app/actions/doCompleteBigDoorStory.php",
                                            type: "POST",
                                            data: {
                                                bigDoorCheckpointId: bigDoorCheckpointId, title: title, description: description, response: response},
                                                success: function() {
                                                    BDM.trigger("tell_us");
                                                    $.fancybox.close();
                                                }

                                        });
                                    }
                                    else {
                                        $("#story-error").show().html("Your response contains profanity. Please fix and re submit");
                                    }
                                }
                            });
                        }
                        return false;
                    });
                    
                    BDM.$(".bd-button.bd-minimize-button").click();

                    //this code is for checking to see if you are in a checkpoint on page load to show the pop up.
                    //commented out because not needed right now
					/*
                    if(BDM.app.current().providers.quests.active()) {
                        var checkpoint = BDM.app.current().providers.quests.active().next_notifiable_checkpoint();
                        checkForPopup(checkpoint);
                    }
                    */
                    

                    BDM.$(".bd-button.bd-minimize-button").bind('click',function() {
                        $.fancybox.close();
                    });

                 }
            });
            </script>
            <!--end BigDoor LEVR code-->
        <?php }?>