<?php //include("_bigdoor.phtml"); ?>
<!-- Close Main Content Area -->
<!-- Open footer -->
<!-- TODO: these links are all to assets on the old site. -->
                <div id="footer">
                    <div id="footerNav">
                        <a href="index.php">Headquarters</a>
                        <a href="chaos.php">The Bad Guys</a>
                        <a href="mission_recruits.php">Your Mission</a>
                        <a href="/admin/login.php">Shakti Admin</a>
                        <a href="contact.php">Contact Us</a>
                        <a href="privacy_policy.php">Privacy Policy</a>
                        <a href="terms_conditions.php">Terms &amp; Conditions</a>
                        <a href="#">PLC</a>
                    </div>
                </div>
                <div style="display: none">
                <div id="bigdoor-story">
                    <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogTop.png" />
                            <div class="ddWrap">
                                <form id="story-form">
                                    <div class="formInner">
                                        <div id="story-error" style="display: none"></div>
                                        <input type="hidden" name="bigDoorCheckpointId" id="bigDoorCheckpointId" value="<?=$_GET['checkpointId']?>"/>
                                        <input type="hidden" name="title" id="bigDoorTitle" value="<?=urlencode($_GET['title'])?>"/>
                                        <input type="hidden" name="description" id="bigDoorDescription" value="<?=urlencode($_GET['description'])?>"/>
                                        <div id="bigDoorDescription2">
                                            <?=urldecode($_GET['description'])?>
                                        </div>
                                        <div class="textAreaWrap">
                                            <textarea name="response" id="response"></textarea>
                                        </div>
                                        <div class="submitWrap">
                                            <input id="submitStory" type="image" src="/public/img/dialogs/pixel.gif" value="Submit"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogBottom.png" />
                </div>
            </div>
            <div style="display: none">
                <div id="bigdoor-description">
                    <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogTop.png" />
                            <div class="ddWrap">
                                <div class="ddInner clearfix">
                                    <div id="bigDoorExtendedDescription">


                                    </div>
                                </div>
                            </div>
                    <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogBottom.png" />
                </div>
            </div>
        </div>
    </body>
</html>
<!-- Close footer -->
