<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

        <link rel="stylesheet" type="text/css" href="/min/?g=application-css" />
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.2.0/build/calendar/assets/calendar.css">
        <link rel="stylesheet" type="text/css" media="print" href="/public/css/print.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/training/orb.css" />

        <script type="text/javascript" src="/min/?g=shakti-js"></script>

        <script type="text/javascript" src="http://yui.yahooapis.com/2.2.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
        <script type="text/javascript" src="http://yui.yahooapis.com/2.2.0/build/calendar/calendar-min.js"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24569369-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

        <!--[if lte IE 6]>
        <link rel="stylesheet" type="text/css" href="/public/css/ie.css" />
        <![endif]-->
        <!--[if IE 7]>
            <link rel="stylesheet" type="text/css" href="/public/css/ie7.css">
        <![endif]-->
        <!--[if IE 8]>
            <link rel="stylesheet" type="text/css" href="/public/css/ie8.css">
        <![endif]-->
        <title>Shakti Warriors &rsaquo; <?= $pageTitle ?></title>
    </head>
    <?php
       $bodytag = str_replace(" ", "_", $pageTitle);
       $pageBG = array("sloanBg","mayeBg","chuneBg", "vibratoBg", "shaktiBg");

       $competitionService = new CompetitionService();
       $today = date('Y-m-d');
       $navCompetitions = $competitionService->find("start_date <= '$today' ORDER BY start_date");

    ?>

    <body id="<?= $bodytag ?>" class="<?= $pageBG[rand(0,count($pageBG)-1)] ?> <?=isset($bgId) ? "bg-$bgId" : ""?>">
        <div class="pageWrapper">
            <div class="homeLink">
                <a href="/"><img src="/public/img/global/logo.png" /></a>
            </div>
            <div class="menuWrap">
                <a href="/"></a>
                <div class="menu">
                    <ul class="menuL">
                        <li id="main-yourMission"><a class="mainLink" href="/mission_recruits.php">Your Mission</a></li>
                        <li id="main-yourTraining"><a class="mainLink" href="/training_program.php">Your Training</a></li>
                        <li id="main-badGuys"><a class="mainLink" href="/chaos.php">The Bad Guys</a></li>
                        <li id="main-meetOther"><a class="mainLink" href="/warriors_list.php">Meet Other Warriors</a></li>
                        <li id="main-gameRoom"><a class="mainLink" href="/games.php">Arcade</a></li>
                        <li id="challengeVideo"><a class="mainLink" href="#" id="challengeVideoLink"><!-- LEADERBOARD--></a></li>
                    </ul>
                </div>
                <div class="steamLink-wrap">
                    <div class="steamLink">
                        <a href="/summerOfLearning/"><img src="/public/img/global/visitSteamAcademy.png" alt="Visit the S.T.E.A.M. Academy. Take me to the Academy." /></a>
                    </div>
                </div>
                <?php if (true) {//$navCompetitions != null && $pageTitle == 'Home') { ?>
                    <div id="leaderBoard">
                        <a href="#" id="leaderboardLink"><!-- LEADERBOARD--></a>
                    </div>
                <?php } ?>
            </div>
            <?php if (true) { //$navCompetitions != null && $pageTitle == 'Home') { ?>
                <div style="display: none">
                    <div id="competitionList" class="cmpWrapper">
                        <div class="competitionInner">
                            <?php foreach ($navCompetitions as $navCompetition) { ?>
                                <div class="competitionLinkHolder">
                                    <a href="/competitionMap.php?competitionId=<?=$navCompetition->id?>"><?=$navCompetition->name?></a>
                                </div>
                            <?php } ?>
                        </div>
                        <div class="alert-tc"></div>
                        <div class="alert-bc"></div>
                    </div>
                </div>
            <?php } ?>
            <div id="container" <?= ($controlPanel == true) ? 'class="controlPanel"' : ''; ?>>
                <!--
                <div id="navigation">
                    <a href="http://www.adobe.com/go/getflashplayer"><img src="/public/img/flashPlaceholder/navNoFlash.gif" /></a>
                </div>
                <script type="text/javascript">
                    // <![CDATA[
                    var nav = new SWFObject('/public/swf/nav.swf', 'nav', '762', '120', '9', "#000000");
                    nav.addVariable("youAreHereLocation", $('body').id);
                    nav.addVariable("msg", getQueryStringVariable('msg'));
                    <?php if (isset($_SESSION["user"])) {?>
                    nav.addVariable("loggedIn", true);
                    <?php } ?>
                    nav.write("navigation");
                    // ]]>
                </script>
                <form name="loginForm" id="loginForm" action="app/actions/doLogin.php"    method="post">
                    <input autocomplete="off" name="login" type="text" />
                    <input autocomplete="off" name="password" type="password" />
                </form>
                -->

          <div id="loginFormWrap" class="clearfix">
                    <?php if (!isset($_SESSION["user"])) {?>
                    <div class="academyBlock">
                        <a href="/application.php"><img src="/public/img/global/joinNow.png" /></a>
                    </div>
                        <form name="loginForm" id="loginForm" action="/app/actions/doLogin.php"  method="post">
                            <div class="loginFormBlock">
                               <label>Username:</label>
                                <input autocomplete="off" name="login" type="text" />
                            </div>
                            <div class="loginFormBlock">
                                <label>Password:</label>
                                <input autocomplete="off" name="password" type="password" />
                            </div>
                            <div class="loginFormBlock">
                                 <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                            </div>
                        </form>
                    <?php } else {?>
                        <a href="/welcome.php"><img src="/public/img/global/enterAcademy.png" /></a>
                        <a href="/app/actions/doLogout.php" class="logout"><img src="/public/img/buttons/logOut.png" /></a>
                        <span class="logoutContainer">
                            Welcome Back <?=$_SESSION["user"]->login?>!
                        </span>


                    <?php }?>
                </div>

                <?php if (isset($_REQUEST["systemMessage"])) {?>
                <div id="systemMessage"><?= $_REQUEST["systemMessage"] ?></div>
                <?php } else {?>
                <div id="systemMessage" style="display: none"></div>
                <?php }?>
                <!-- Open Main Content Area -->
                <div class="clearfix"></div>
