<script type="text/javascript">
$(window).load(function()
{
    updateTotalPoints();
    $("#warriorMail").fancybox({
        'transitionIn': 'fade',
        'transitionOut': 'fade',
        'width': 580,
        'autoScale': false
    });
});
</script>
<!-- _menu2.phtml -->
<div id="sideMenuContainer">
    <div class="control-t"></div>
    <div class="control-c">
        <div>
        <ul class="sideMenu" id="year2Menu">
            <li style="height: auto">
                <iframe class="heroMachine" style="height: 208px; width: 147px; margin: 0px auto;" src="/public/swf/heromachine/character.php?ChildHeroID=<?= $childHeroId ?>&amp;heroMachineString=<?= $heroMachineString ?>"></iframe>
                <a class="heroMachine" style="display: none" href="/public/swf/heromachine/editCharacter.php?childHeroId=<?= $childHeroId ?>"><img src="/public/img/home/call_heroMachine.jpg" width="147" height="auto" alt="Hero Machine"></a>
            </li>
        </ul>
        <ul class="sideMenu">
            <li><a id="editAvatar" href="/public/swf/heromachine/editCharacter.php?childHeroId=<?= $childHeroId ?>&heroMachineString=<?= $heroMachineString ?>"></a></li>
            <li><a id="trainingBtn" href="/trackYourPoints.php"></a></li>
        </ul>
        <div id="calendarContainer" style="width: 166px; padding: 0px; margin: 0px auto;"></div>
        <ul class="sideMenu">
            <li><a id="extraBtn" href="/extraCredit.php"></a></li>
            <li><a id="heroBtn" href="/editSuperHero.php"></a></li>
            <li><a id="profileBtn" href="/editProfile.php"></a></li>
            <li><a id="backgroundBtn" href="/editBackground.php"></a></li>
            <li><a id="groupBtn" href="/createGroup.php"></a></li>
            <?php if ($user->role == 'admin') {?>
                <li><a id="adminBtn" href="/admin/index.php"></a></li>
            <?php }?>
            <li><a id="logoutBtn" href="/app/actions/doLogout.php"></a></li>
        </ul>
        </div>
    </div>
    <div class="control-b"></div>
    <?php if ($invites != null || $requests != null || $heroCornerInvites != null) { ?>
    <a href="#superHeroMessages" id="warriorMail"><img src="/public/img/welcome/mail.png" /></a>
    <div style="display: none;">
        <div id="superHeroMessages">
            <div class="shmWrapper">
            <?php if ($invites != null){?>
                <div id="superHeroMessagesInner">
                    <h1>You have <?= sizeof($invites)?> new Team Invitations</h1>
                    <?php foreach ($invites as $invite){?>
                    <h2>Invitation for Team "<?= $invite->getGroup()->name?>" from <?= $invite->getSender()->login?></h2>
                    <p><?= $invite->message?></p>
                    <div><a href="/app/actions/doGroupInvitationReply.php?response=accept&groupId=<?= $invite->getGroup()->id?>&userId=<?= $invite->senderId ?>">ACCEPT</a> - <a href="/app/actions/doGroupInvitationReply.php?response=deny&groupId=<?= $invite->getGroup()->id?>&userId=<?= $user->id ?>">DENY</a></div>
                        <br class="clear" />
                    <?php }?>
                </div>
            <?php }?>
            <?php if ($requests != null){?>
                <div id="superHeroMessagesInner">
                    <h1>You have <?= sizeof($requests)?> new Team Requests</h1>
                    <?php
                        foreach ($requests as $request){
                            $group = $request->getGroup();
                    ?>
                        <div class="message">
                            <h2>Request from <?= $request->getSender()->login?> for Team "<?=$request->groupName?>"</h2>
                            <p><?= $request->message?></p>
                            <hr/>
                            <div><a href="/app/actions/doGroupRequestReply.php?response=accept&groupId=<?=$group->id?>&userId=<?= $request->senderId ?>">ACCEPT</a> - <a href="/app/actions/doGroupRequestReply.php?response=accept&groupId=<?= $group->id?>&userId=<?= $request->senderId ?>">DENY</a></div>
                            <br class="clear" />
                        </div>
                    <?php }?>
                </div>
            <?php }?>
            <?php if ($heroCornerInvites != null) {?>
                <div id="superHeroMessagesInner">
                    <h1>You have <?= sizeof($heroCornerInvites)?> new Hero's Corner Invites</h1>
                    <?php foreach ($heroCornerInvites as $heroCornerInvite) {?>
                        <div class="message">
                            <h2>Request from <?=$heroCornerInvite->login?></h2>
                            <p><?=$heroCornerInvite->message?></p>
                            <hr/>
                            <div><a href="/app/actions/doHeroCornerInviteReply.php?response=accept&senderId=<?=$heroCornerInvite->senderId?>&recipientId=<?= $heroCornerInvite->recipientId ?>">ACCEPT</a> - <a href="/app/actions/doHeroCornerInviteReply.php?response=accept&senderId=<?= $heroCornerInvite->senderId?>&recipientId=<?= $heroCornerInvite->recipientId ?>">DENY</a></div>
                            <br class="clear" />
                        </div>
                    <?php }?>
                </div>
            <?php }?>
            </div>
            <div class="alert-tc"></div>
            <div class="alert-bc"></div>
        </div>
    </div>
    <?php }?>
</div>
<!-- end _menu.phtml -->
