<script type="text/javascript">
$(window).load(function()
{
    updateTotalPoints();
    $("#warriorMail").fancybox({
        'transitionIn': 'fade',
        'transitionOut': 'fade',
        'width': 580,
        'autoScale': false
    });
});
</script>
<!-- _menu.phtml -->
<div id="sideMenuContainer">

    <?php if ($invites != null || $requests != null || $heroCornerInvites != null) { ?>

        <a href="#superHeroMessages" id="warriorMail"><img src="/public/img/welcome/mail.png" /></a>
        <div style="display: none;">
            <div id="superHeroMessages">
                <div class="shmWrapper">
                <?php if ($invites != null){?>
                    <div id="superHeroMessagesInner">
                        <h1>You have <?= sizeof($invites)?> new Team Invitations</h1>
                        <?php foreach ($invites as $invite){?>
                            <h2>Invitation for Team "<?= $invite->getGroup()->name?>" from <?= $invite->getSender()->login?></h2>
                            <p><?= $invite->message?></p>

                            <div><a href="/app/actions/doGroupInvitationReply.php?response=accept&groupId=<?= $invite->getGroup()->id?>&userId=<?= $invite->senderId ?>">ACCEPT</a> - <a href="/app/actions/doGroupInvitationReply.php?response=deny&groupId=<?= $invite->getGroup()->id?>&userId=<?= $user->id ?>">DENY</a></div>
                            <br class="clear" />
                        <?php }?>
                    </div>
                <?php }?>
                <?php if ($requests != null){?>
                    <div id="superHeroMessagesInner">
                        <h1>You have <?= sizeof($requests)?> new Team Requests</h1>
                        <?php
                            foreach ($requests as $request){
                                $group = $request->getGroup();
                        ?>
                            <div class="message">
                                <h2>Request from <?= $request->getSender()->login?> for Team "<?=$request->groupName?>"</h2>
                                <p><?= $request->message?></p>
                                <hr/>
                                <div><a href="/app/actions/doGroupRequestReply.php?response=accept&groupId=<?=$group->id?>&userId=<?= $request->senderId ?>">ACCEPT</a> - <a href="/app/actions/doGroupRequestReply.php?response=accept&groupId=<?= $group->id?>&userId=<?= $request->senderId ?>">DENY</a></div>
                                <br class="clear" />
                            </div>
                        <?php }?>
                    </div>
                <?php }?>
                <?php if ($heroCornerInvites != null) {?>
                    <div id="superHeroMessagesInner">
                        <h1>You have <?= sizeof($heroCornerInvites)?> new Hero Corner Invites</h1>
                        <?php foreach ($heroCornerInvites as $heroCornerInvite) {?>
                            <div class="message">
                                <h2>Request from <?=$heroCornerInvite->senderId?></h2>
                                <p><?=$heroCornerInvite->message?></p>
                                <hr/>
                                <div><a href="/app/actions/doHeroCornerInviteReply.php?response=accept&senderId=<?=$heroCornerInvite->senderId?>&recipientId=<?= $heroCornerInvite->recipientId ?>">ACCEPT</a> - <a href="/app/actions/doHeroCornerInviteReply.php?response=accept&senderId=<?= $heroCornerInvite->senderId?>&recipientId=<?= $heroCornerInvite->recipientId ?>">DENY</a></div>
                                <br class="clear" />
                            </div>
                        <?php }?>
                    </div>
                <?php }?>
            </div>
            <div class="alert-tc"></div>
            <div class="alert-bc"></div>
            </div>
        </div>
    <?php }?>

    <div class="control-t"></div>
    <div class="control-c">
        <ul class="sideMenu">
            <li style="height: auto">
                <table class="userTable">
                    <tr>
                        <td class="highLight">Name:</td><td><strong><?= $user->login ?></strong></td>
                    </tr>
                    <tr>
                        <td class="highLight">Rank:</td><td><strong><?= $user->getRankName() ?></strong></td>
                    </tr>
                    <tr>
                        <td class="highLight">Points:</td><td><strong class="totalPoints"></strong></td>
                    </tr>
                </table>
            </li>
            <li><a id="trainingBtn" href="/trackYourPoints.php"></a></li>
        </ul>
        <div id="calendarContainer" style="width: 166px; padding: 0px; margin: 0px auto;"></div>
        <ul class="sideMenu">
            <li><a id="extraBtn" href="/extraCredit.php"></a></li>
            <li><a id="heroBtn" href="/editSuperHero.php"></a></li>
            <li><a id="groupBtn" href="/createGroup.php"></a></li>
            <li><a id="profileBtn" href="/editProfile.php"></a></li>
            <?php if ($user->role == 'admin') {?>
                <li><a id="adminBtn" href="/admin/index.php"></a></li>
            <?php }?>
            <li><a id="logoutBtn" href="/app/actions/doLogout.php"></a></li>
        </ul>
    </div>
    <div class="control-b"></div>
</div>
<!-- end _menu.phtml -->
