<div>
	<center>
	<img src="/public/img/flashPlaceholder/noFlashIcon.gif" />
	<p>This site requires Flash and Javascript.  Please <a href="http://www.adobe.com/go/gntray_dl_getflashplayer">click here</a> to download the latest version of the free Flash Player.</p>
	</center>
</div>