        <!-- open scripts -->
        <script type="text/javascript" src="/min/?g=application-js-core"></script>
        <script type="text/javascript">
            <?php
                if (isset($_SESSION['user'])) {
                    $loggedInUser = $_SESSION['user'];
                    $created = strtotime($loggedInUser->getChild()->createdAt);
                    $monday = $created;
                    if (date('w', $created) != 1) {
                        $monday = strtotime("last monday", $created);
                    }
            ?>
                application.USER = {
                    login: "<?=$loggedInUser->login?>",
                    joinDate: new Date("<?=Date("Y-m-d", $created)?>"),
                    calendarDate: new Date("<?=Date("Y-m-d", $monday)?>")
                };
            <?php }?>
        </script>