<?php

    $controlPanel = true;
    include("_header.phtml");
?>
<script type="text/javascript">
function addMember(member, memberList) {
    var memberId = member.attr("title");
    var groupId = <?=$group->id?>;

    $.ajax({
        async: true,
        type: 'POST',
        data: {userId: memberId, groupId: groupId},
        dataType: 'json',
        url: '/json/addMember.php',
        success: function(json) {
            if (json.success == true) {
                member.appendTo(memberList);
                member.addClass("member").removeClass("nonMember");
                sortUnorderedList("#members");
            }
            else {
                alert(json.message);
            }
        }
    });
}

function removeMember(member, memberList) {
    var memberId = member.attr("title");
    var groupId = <?=$group->id?>;

    $.ajax({
        async: true,
        type: 'POST',
        data: {userId: memberId, groupId: groupId},
        dataType: 'json',
        url: '/json/removeMember.php',
        success: function(json) {
            if (json.success == true) {
                member.appendTo(memberList);
                member.addClass("nonMember").removeClass("member");
                sortUnorderedList("#nonMembers");
            }
            else {
                alert("Something went wrong")
            }
        }
    });
}

function sortUnorderedList(ul, sortDescending) {
    var mylist = $(ul);
    var listitems = mylist.children('li').get();
    listitems.sort(function(a, b) {
       var compA = $(a).text().toUpperCase();
       var compB = $(b).text().toUpperCase();
       return (compA < compB) ? -1 : (compA > compB) ? 1 : 0;
    })
    $.each(listitems, function(idx, itm) { mylist.append(itm); });
}

$(document).ready(function() {
    $(".nonMember").draggable({
        appendTo: 'body',
        helper: 'clone'
    });

    $(".member").draggable({
        appendTo: 'body',
        helper: 'clone'
    });

    $("#members").droppable({
        accept: '.nonMember',
        drop: function(event, ui) {
            var member = ui.draggable;
            var memberList = this;
            addMember(member, memberList);
        }
    });

    $("#nonMembers").droppable({
        accept: '.member',
        drop: function(event, ui) {
            var member = ui.draggable;
            var memberList = this;
            removeMember(member, memberList);
        }
    });

    $('#search').keyup(function(){
        var input = this;
        $('.nonMember').each(function(){
            if ( ($.trim($(this).text())).toLowerCase().indexOf( $.trim($(input).val()).toLowerCase() ) == -1 ) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });
    });
    $("#clear").click(function() {
        $('#search').val('').keyup();
    });

    sortUnorderedList("#nonMembers");
    sortUnorderedList("#members");

});
</script>

    <div id="mainContent">
        <?php include("_menu.phtml"); ?>
        <div class="controlPanel-content">
            <div class="controlPanel-content-inn">
                <img src="/public/img/headers/addRemoveHeader.png" />
                <div>
                    <div class="searchContainer clearfix">
                        <a href="/groupDetails.php?groupId=<?=$group->id?>"><img src="/public/img/buttons/back.png" alt="Back To Team" /></a>
                        <label>Search:
                            <input type="text" id="search"/>
                            <input type="button" class="btnAdd" id="clear" />
                        </label>
                    </div>
                    <div>
                        <p>In order to add someone to your team, simply click on the name in the left list and drag them over to the right list. If you would like to remove someone from the team, just drag them from the right list to the left list.</p>
                    </div>
                <div class="largeHolder">
                    <div class="nonMembersContainer">
                        <ul id="nonMembers">
                            <?php foreach ($nonMembers as $nonMember) { ?>
                                <li class="nonMember" title="<?=$nonMember->id?>"><?=trim($nonMember->login)?></li>
                            <?php } ?>
                        </ul>
                    </div>
                    <div class="currentMembersContainer">
                        <ul id="members">
                            <?php foreach ($members as $member) { ?>
                                <?php if ($member->login != $user->login) {?>
                                    <li class="member" title="<?=$member->id?>"><?=trim($member->login)?></li>
                                <?php } ?>
                            <?php } ?>
                        </ul>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <?php include("_scripts.phtml"); ?>
    <script type="text/javascript">
    new application.page.training.BaseTrainingPage();
    </script>
<?php include("_footer.phtml"); ?>
