<?php include("_header.phtml"); ?>
<div id="messages">
<form class="shakti-form" id="applicationForm" action="app/actions/doApplication.php" method="post" autocomplete = "off">
    <fieldset>
        <div class="fieldSetWrap">
            <img src="public/img/application/yourSecretIdentity.png" />
            <div class="fieldWrap">
                <label>First Name<input autocomplete="off" name="child[firstName]" type="text" value="<?= $firstName ?>" class="required"/></label>
            </div>
            <div class="fieldWrap">
                <label>
                    Boy or Girl
                    <select name="child[gender]" class="required">
                        <option value=""></option>
                        <option value="b">Boy</option>
                        <option value="g">Girl</option>
                    </select>
                </label>
            </div>
            <div class="fieldWrap">
                <label>Year you were born
                    <select id="yearOfBirth" name="child[year]" class="required">
                        <option value=""></option>
                        <option value="1950">1950</option>
                        <option value="1951">1951</option>
                        <option value="1952">1952</option>
                        <option value="1953">1953</option>
                        <option value="1954">1954</option>
                        <option value="1955">1955</option>
                        <option value="1956">1956</option>
                        <option value="1957">1957</option>
                        <option value="1958">1958</option>
                        <option value="1959">1959</option>
                        <option value="1960">1960</option>
                        <option value="1961">1961</option>
                        <option value="1962">1962</option>
                        <option value="1963">1963</option>
                        <option value="1964">1964</option>
                        <option value="1965">1965</option>
                        <option value="1966">1966</option>
                        <option value="1967">1967</option>
                        <option value="1968">1968</option>
                        <option value="1969">1969</option>
                        <option value="1970">1970</option>
                        <option value="1971">1971</option>
                        <option value="1972">1972</option>
                        <option value="1973">1973</option>
                        <option value="1974">1974</option>
                        <option value="1975">1975</option>
                        <option value="1976">1976</option>
                        <option value="1977">1977</option>
                        <option value="1978">1978</option>
                        <option value="1979">1979</option>
                        <option value="1980">1980</option>
                        <option value="1981">1981</option>
                        <option value="1982">1982</option>
                        <option value="1983">1983</option>
                        <option value="1984">1984</option>
                        <option value="1985">1985</option>
                        <option value="1986">1986</option>
                        <option value="1987">1987</option>
                        <option value="1988">1988</option>
                        <option value="1989">1989</option>
                        <option value="1990">1990</option>
                        <option value="1991">1991</option>
                        <option value="1992">1992</option>
                        <option value="1993">1993</option>
                        <option value="1994">1994</option>
                        <option value="1995">1995</option>
                        <option value="1996">1996</option>
                        <option value="1997">1997</option>
                        <option value="1998">1998</option>
                        <option value="1999">1999</option>
                        <option value="2000">2000</option>
                        <option value="2001">2001</option>
                        <option value="2002">2002</option>
                        <option value="2003">2003</option>
                        <option value="2004">2004</option>
                        <option value="2005">2005</option>
                        <option value="2006">2006</option>
                        <option value="2007">2007</option>
                    </select>
                </label>
            </div>
            <div class="fieldWrap">
                <label>
                    State
                    <select name="child[state]" class="required">
                        <option value=""></option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AS">American Samoa</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FM">Federated States Of Micronesia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="GU">Guam</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="MP">Northern Mariana Islands</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PW">Palau</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VI">Virgin Islands</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </label>
            </div>
            <div class="fieldWrap">
                <label>
                    Ethnicity
                    <select name="child[ethnicity]">
                        <option value=""></option>
                        <option value="african">African-American</option>
                        <option value="asian">Asian-American</option>
                        <option value="caucasian">Caucasian</option>
                        <option value="hispanic">Hispanic/Latino</option>
                        <option value="other">Other</option>
                    </select>
                </label>
            </div>
<!--             <p> -->
<!--                 Enter your email address if  you would like to receive regular updates by email including information about Shakti Warrior events in your area, etc. -->
<!--             </p> -->
<!--             <div class="fieldWrap"> -->
<!--                 <label>Email<input autocomplete = "off" id="emailAddress" name="user[email]" type="text" /></label> -->
<!--             </div> -->
<!--                 <p>Since you have entered your own email and you are under 14 years of age, -->
<!--                 you are required also to provide the email address of a parent or guardian.</p> -->
<!--                 <div class="fieldWrap"> -->
<!--                     <label id="parentEmailLabel">Parent's Email<input autocomplete = "off" id="parentEmailAddress" name="guardian[email]" type="text" /></label> -->
<!--                 </div> -->
            <img src="/public/img/application/yourSuperHeroInformation.png" width="393" height="21" alt="Your Super Hero Information">
            <p>Please remember your Super Hero Name and Secret Code. You will need these to
                enter the Academy. Write them down if it helps you to remember.</p>
            <div class="fieldWrap">
              <label>Super Hero Name<input autocomplete = "off" id="login" name="user[login]" type="text" class="required"/></label>
            </div>
            <div class="fieldWrap">
                <label>Password<input autocomplete = "off" id="password" name="user[password]" type="password" class="required"/></label>
            </div>
            <div class="fieldWrap">
                <label>Confirm Password<input autocomplete = "off" id="confirmPassword" name="confirm" type="password" class="required"/></label>
            </div>
            <div class="fieldWrap">
                <label>
                    Mentor
                    <select name="child[superheroId]" class="required">
                        <option value=""></option>
                        <option value="5">Chune</option>
                        <option value="6">Echo</option>
                        <option value="4">Maye</option>
                        <option value="7">Sable</option>
                        <option value="1">Shakti</option>
                        <option value="2">Solan</option>
                        <option value="3">Vibrato</option>
                    </select>
                </label>
            </div>
            <div class="fieldWrap">
                <label>
                    Color
                    <select name="hero[color]">
                        <option value="orange">Orange</option>
                        <option value="blue">Blue</option>
                        <option value="purple">Purple</option>
                        <option value="green">Green</option>
                    </select>
                </label>
            </div>

			<?php if (Config::$approvalRequired) { ?>
				<div class="fieldWrap" id="approvalPasswordContainer">
					<label>Approval Password
						<input type="password" name="approvalPassword" id="approvalPassword" class="required"/>
					</label>
				</div>
			<?php } ?>

            <p>
                By clicking the submit button below you understand that you are not yet a super
                hero and you should not try any of the activities that you see Shakti and her
                Warriors perform without consent of your parents.
            </p>

            <div class="fieldWrap">
                <input autocomplete = "off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
            </div>

        </div>
        <div class="form-tc"></div>
        <div class="form-bc"></div>
    </fieldset>
</form>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.ApplicationPage();
</script>
<?php include("_footer.phtml"); ?>
