<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <img src="/public/img/headers/assessment.png" />
                <h2>
                    You must complete all <?=count($assessmentQuestionCategories) ?> sections
                </h2>
                <form method="post" id="assessment" action="/app/actions/doAssessment.php" class="clearfix">
                    <input autocomplete="off" type="hidden" name="assessmentResponse[assessmentId]" value="<?=$assessment->id?>"/>
                    <input autocomplete="off" type="hidden" name="assessmentResponse[userId]" value="<?=$user->id?>"/>
                    <input autocomplete="off" type="hidden" name="assessmentResponse[assessmentType]" value="<?=$assessmentData['assessmentType']?>"/>
                    <input autocomplete="off" type="hidden" name="assessmentResponse[academyYear]" value="<?=$assessmentData['academyYear']?>"/>
                    <div id="assessSidebar">
                        <?php 
                            $counter = 1;
                            foreach ($assessmentQuestionCategories as $assessmentQuestionCategory){
                                echo "<a href=\"".$counter."\" id=\"nav-$assessmentQuestionCategory->id\"><!-- --></a>";
                                $counter = $counter+1;
                            }
                        ?>
                        <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" name="submit" class="assessDone" />
                    </div>
                    <!--CAROUSEL BEGINS HERE-->
                    <div id="assessmentCarousel">
                        <ul>
                            <?php 
                                $counter = 1;
                                foreach ($assessmentQuestionCategories as $assessmentQuestionCategory){
                                ?>
                                    <li class="assessmentCard">
                                        <fieldset class="assessField" style="display: block;">
                                            <div class="fieldsetWrap">
                                                <div class="assessmentFormInner">
                                                    <h1 class="clearfix"><img src="../public/img/headers/assessment/<?=$assessmentQuestionCategory->id ?>.png" alt="<?=$assessmentQuestionCategory->name ?>" /></h1>
                                                    <h2><?=$assessmentQuestionCategory->description ?></h2>
                                                    <table>
                                                        <tr>
                                                            <?php include("assessmentQuestionType".$assessmentQuestionCategory->type.".phtml"); ?>
                                                        </tr>
                                                        <?php foreach ($questions[$assessmentQuestionCategory->name] as $question) { ?>
                                                            <tr>
                                                                <input autocomplete="off" type="hidden" name="answers[<?=$question->id?>][assessmentQuestionId]" value="<?=$question->id?>"/>
                                                                <?php 
                                                                    $optionCount = $assessmentQuestionCategory->type < 3 ? 3 : 6;
                                                                    if ($assessmentQuestionCategory->type == 1){
                                                                        for ($i = $optionCount; $i >=1; $i --) {
                                                                        ?>
                                                                            <td class="answers">
                                                                                <input autocomplete="off" type="radio" name="answers[<?=$question->id?>][answer]" value="<?=$i?>"/>
                                                                            </td>
                                                                        <?php    
                                                                        }
                                                                    }
                                                                    else{
                                                                        for ($i = 0; $i < $optionCount; $i++){?>
                                                                            <td class="answers">
                                                                                <input autocomplete="off" type="radio" name="answers[<?=$question->id?>][answer]" value="<?=$i?>"/>
                                                                            </td>
                                                                        <?php           
                                                                        }
                                                                    }?>
                                                                <td class="questions">
                                                                    <p><?=$question->question?></p>
                                                                </td>
                                                            </tr>
                                                        <?php }?>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="form-tc"></div>
                                            <div class="form-bc"></div>
                                        </fieldset>
                                    </li>
                            <?php
                                    $counter = $counter+1;
                                }
                            ?>
                        </ul>

                   </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function testSection($sec){

        var complete = true;
        $sec.find('tr:gt(0)').each(function(){
            if($(this).children(".active").length<1){
                complete=false;
            }
        });


        var $navItem = $("#assessSidebar a:eq("+($sec.attr('jcarouselindex')-1)+")");
        if(complete==true){
            if(! $navItem.hasClass('complete')){
                $navItem.next('a').click();
            }
            $navItem.addClass('complete');
            $('html, body').animate({scrollTop: $("#messages").offset().top});

        }else{
            $navItem.removeClass('complete');
        }

    };

    $(document).ready(function(){


        $('#assessment').submit(function(){
            if($('#assessSidebar a.complete').length == <?=count($assessmentQuestionCategories) ?>){
                 return true;
            }else{
                 alert('You must complete all questions in the assessment.');
                 return false;
            }
        });



        function mycarousel_initCallback(carousel) {
            jQuery('#assessSidebar a').bind('click', function() {
                carousel.scroll(jQuery.jcarousel.intval(jQuery(this).attr('href')));
                return false;
            });
        };

        jQuery("#assessmentCarousel").jcarousel({
            scroll: 1,
            initCallback: mycarousel_initCallback,
            itemVisibleInCallback: {
              onAfterAnimation: function(a,b,activeIndex,d){
                  jQuery('#assessSidebar a:eq('+(activeIndex-1)+')').addClass('active').siblings('a.active').removeClass('active');
              }
            }
            ,buttonNextHTML: null,
            buttonPrevHTML: null
        });

        $("#assessmentCarousel input[type=radio]").hide();
        $("#assessmentCarousel .answers").click(function(){
            var rdio = $(this).find('input[type=radio]').attr('checked','checked');
            $(this).addClass('active').siblings('td.active').removeClass('active');

            testSection($($(this).parents("li")[0]));

        }).css({
            'cursor': 'pointer'
        });
    });
</script>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
