<td class="answerTitles">
    <p>Don't Know<br>0</p>
</td>
<td class="answerTitles">
    <p>Strongly Disagree<br>1</p>
</td>
<td class="answerTitles">
    <p>2</p>
</td>
<td class="answerTitles">
    <p>Agree<br>3</p>
</td>
<td class="answerTitles">
    <p>4</p>
</td>
<td class="answerTitles">
    <p>Strongly Agree<br>5</p>
</td>
<td class="answerTitles">
    <p>&nbsp;</p>
</td>