<div id="takeAssessment-popup-text" class="assessmentWrap">
    <div id="superHeroMessages">
        <div class="shmWrapper">
            <div class="assessmentInner">
                <p>Hey <?=$user->login?></p>
                <p>Good job on continuing to work hard at the Academy. We're proud of you! It's time for us to check in and see how you're doing. </p>
                <p>We need you to head back over to HQ and complete your stats! Please take a moment and complete these for us.</p>
                <p>Keep up the good work! Remember to keep your eye out for Chaos and his minions.</p>
                <p>Choose Powerfully,<br/>Shakti
                <p><a href="assessment.php">Click Here</a><p>
            </div>
        </div>
        <div class="alert-tc"></div>
        <div class="alert-bc"></div>
    </div>
</div>
