    <td class="answerTitles">
        <p>YES</p>
    </td>
    <td class="answerTitles">
        <p>SOMETIMES TRUE</p>
    </td>
    <td class="answerTitles">
        <p>NO</p>
    </td>
    <td class="answerTitles">
        <p>&nbsp;</p>
    </td>