<?php include("_header.phtml"); ?>
    <img src="/public/img/bgcc/header.jpg" alt="" />
    <div id="firstBox">
        <img class="left" src="/public/img/bgcc/bgccChromeLogo.jpg" width="177" height="160" alt="" />
        <div>
            <img style="margin-top: 30px;" src="/public/img/bgcc/subHDR1.gif" width="325" height="33" alt="" />
            <p>For the past 18 months Healthy Heroes has been piloting the Shakti Warriors program within some of the Boys and Girls clubs of Chicago.   We have over 300+ kids actively on the site.</p>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div id="secondBox">
        <img src="/public/img/bgcc/subHDR2.gif" width="637" height="25" alt="" />
        <p>Our Shakti Warrior program can help you obtain your Core Areas goals!   Shakti Warriors aligns with BGCC core values:</p>
        <div style="float: left;">
            <img id="logoReflect" src="/public/img/bgcc/logoReflect.gif" alt="" />
        </div>
        <img src="/public/img/bgcc/arrowList.gif" alt="" />
        <div style="clear: both;"></div>
    </div>
    <div id="thirdBox">
        <img src="/public/img/bgcc/subHDR3.gif" width="657" height="26" alt="" />
            <h1>Power Hour:</h1>
            <p>--Kids get SW points for completing their homework on time.</p>
            <h1>Smart Girls:</h1>
            <p>--Our lead, Shakti, promotes feminine strength and power.</p>
            <h1>Smart Moves:</h1>
            <p>--Our Warrior in Action game board provides kids with challenging real world scenarios.</p>
            <h1>Torch:</h1>
            <p>--Kids get extra credit points for taking on projects in their community.</p>
            <h1>Cooking Club:</h1>
            <p>--We even have a Shakti Warrior cook book &mdash; designed specifically to teach kids how to prepare healthy snacks.</p>
    </div>
    <div id="fourthBox">
        <div style="flaot: left;">
            <img src="/public/img/bgcc/subHDR4.gif" width="212" height="29" alt="" />
        </div>
        <div style="float: left;">
            <img src="/public/img/bgcc/testimony1.jpg" width="151" height="114" alt="" /><br />
            <img src="/public/img/bgcc/testimony2.jpg" width="151" height="114" alt="" />
        </div>
        <div style="float: right;">
            <img src="/public/img/bgcc/testimony3.jpg" width="151" height="114" alt="" /><br />
            <img src="/public/img/bgcc/testimony4.jpg" width="151" height="114" alt="" />
        </div>
        <center>
            <div style="width: 409px;">
                <h1>&ldquo;This is better than video games!&rdquo;</h1>
                <p>Overheard between an 8 & 9 year old while playing on the SW website</p>
                <h1>&ldquo;One of my children has been transformed for the better.
                I am not sure what you are doing but keep it up.&rdquo;</h1>
                <p>Mother of a 9 year old girl at Boys and Girls club using the SW program.</p>
                <h1>&ldquo;At 4:00 on Wednesday afternoon, the day we do Shakti, there is a line of 15-20 kids waiting to get into the computer lab.  This never happens.&rdquo;</h1>
                <p>John Hoffman, Technology Director - BGCC - Valentine Club</p>
            </div>
        </center>
        <div style="clear: both"></div>
    </div>
    <div id="whiteBG">
        <img src="/public/img/bgcc/affordableHDR.jpg" width="723" height="29" alt="" />
    </div>
        <div id="sixthBox">
        <div>
        <img src="/public/img/bgcc/subHDR6.gif" width="158" height="25" alt="" />
        <p>Contact Nick Sanchez of the Cotter Club BGCC location to get first hand expierience of the SW program and to answer any questions you may have about their club&rsquo;s success of the program.</p>
        </div>
        <div class="rightCont">
        <span>Nick Sanchez<br />Daniel A. Cotter Club<br>Chicago, Il<br>Phone: 773.348.1866<br>email: nsanchez@bgcc.org</span>
        <a href="mailto:nsanchez@bgcc.org?subject=BOYS AND GIRLS CLUB"><img src="/public/img/bgcc/button.gif" alt="" /></a>
        </div>
        <div>
        <img class="echo" src="/public/img/bgcc/echo.gif" width="447" height="197" alt="" />
        </div>
        <div style="clear: both;"></div>
    </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>