<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/global.css" />
    </head>
    <body style="background:none;">
        <div id="bigdoor-description">
            <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogTop.png" />
                    <div class="ddWrap">
                        <div id="bigDoorExtendedDescription">
                            <div class="bigDoorExtendedDescriptionInner">
                                <h1>Do 200 jumping jacks in one day.</h1>
                                <div class="descriptionText">
                                    <ul>
                                        <li>You don’t have to do them all at one time. But complete them all by the end of the day.</li>
                                        <li>Once you have completed this checkpoint, click "Complete" in the bar on the bottom of you screen.</li>
                                    </ul>
                                    <div class="startButton">
                                        <a href="#" id="startButtonButton"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            <img style="vertical-align: bottom;display:block;" src="/public/img/dialogs/dialogBottom.png" />
        </div>
    </body>
</html>