<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
            <div id="mainFlash">
                    <?php include("_noFlash.phtml"); ?>
            </div>
            <script type="text/javascript">
                // <![CDATA[
                var so = new SWFObject("public/swf/bios.swf", "bios", "762", "442", "8.0.23", "#000000");
                so.addVariable("startPage", getQueryStringVariable('pages'));
                so.useExpressInstall('public/swf/expressinstall.swf');
                so.write("mainFlash");
                // ]]>
            </script>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>