<?php include("_header.phtml"); ?>
    <div id="campShakti">
    <center>
        <div class="charts">
            <a href="http://healthyheroes.com"> <img src="../../public/img/campShakti/bigImage.jpg" /></a><br>
        </div>
    </center>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
