<?php include("_header.phtml"); ?>
</script>
<div id="mainContent" class="extraPad">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Change Password For <?=$editUser->login ?></h3>
                </div>
                <form class="default-form" id="passwordForm" method="post" action="/app/actions/doChangeUserPassword.php">
                    <input autocomplete="off" type="hidden" name="userId" value="<?=$editUser->id?>"/>
                    <fieldset>
                        <div class="fieldWrap">
                            <label>New Password
                                <input type="password" id="password" name="password" class="form-control required">
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                Confirm Password
                                <input type="password" name="confirmPassword" class="form-control required">
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();

    $('#passwordForm').validate({
      rules: {
        confirmPassword: {
          equalTo: "#password"
        }
      }
    });

</script>
<?php include("_footer.phtml"); ?>