<?php include("_header.phtml"); ?>
            <div id="mainFlash"><?php include("_noFlash.phtml"); ?></div>
            <script type="text/javascript">
                // <![CDATA[
                var so = new SWFObject("public/swf/Bad_Guys_Home_Final.swf", "Chaos", "762", "495", "8.0.23", "#000000");
                so.addVariable("startPage", getQueryStringVariable('pages'));
                so.addParam("wmode", "transparent");
                so.useExpressInstall('public/swf/expressinstall.swf');
                so.write("mainFlash");
                // ]]>
            </script>
            <div class="clear"><!-- --></div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>