<?php include("_header.phtml"); ?>
    <div id="mainContent"></div>
    <script type="text/javascript">
    <!--Start Chaos Flash-->
    // <![CDATA[
        var so = new SWFObject("/public/swf/cherrybombV2.swf", "Cherrybomb", "650", "575", "8.0.23", "#000000", true);
        so.useExpressInstall('/public/swf/expressinstall.swf');
        so.write("mainContent");
    // ]]>
    </script>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>