<?php include("_header.phtml"); ?>
    <div id="mainContent">
        <?php include("_noFlash.phtml"); ?>
    </div>
    <script type="text/javascript">
        // <![CDATA[
        var so = new SWFObject("public/swf/comics/<?=$_REQUEST['comic']?>.swf", "Comic", "764", "619", "8.0.23", "#000000");
        so.addParam('allowfullscreen','true');
        so.addParam('wmode','transparent');
        so.addVariable("startPage", getQueryStringVariable('pages'));
        so.useExpressInstall('public/swf/expressinstall.swf');
        so.write("mainContent");
        // ]]>
    </script>
    <div class="clear"><!-- --></div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>