<?php include("_header.phtml"); ?>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=<?=Config::$googleMapApiKey?>&sensor=false"></script>

<script type="text/javascript">
$(document).ready(function() {
    var myOptions = {
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var marker;
    var latLng;
    var iconImage;
    var latLngBounds = new google.maps.LatLngBounds();
    <?php
        $count = 0;
        foreach ($schools as $school) {
            $count++;
    ?>
        latLng = new google.maps.LatLng(<?=$school->latitude?>, <?=$school->longitude?>);
        latLngBounds.extend(latLng);
        iconImage = 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=<?=$count?>|FF<?=$count <= 3 ? 'FF' : '00'?>00|000000';
        marker = new google.maps.Marker({
            position: latLng,
            map: map,
            title: "<?=$school->name?>",
            icon: iconImage
        });
        google.maps.event.addListener(marker, "click", function() {
            window.location = "/competitionSchoolStanding.php?schoolId=<?=$school->schoolId?>&competitionId=<?=$competition->id?>";
        });
    <?php } ?>
    map.fitBounds(latLngBounds);
});


</script>
    <div id="mainContent" class="extraPad clearfix update">
        <h1><img src="/public/img/headers/shakti-warrior-school-challenge.png" alt="shakti warrior school challenge" /></h1>
        <h2><?=$competition->name?><br /><?=count($schools)?> Schools Participating<?php if ($lastUpdated != null) {?><br/>Updated Daily: Last Updated on <?=$lastUpdated?><?php }?></h2>
        <div class="mapTitleImages clearfix">
            <div id="leftTitleImage">
                <img src="/public/img/headers/participating-school-locations.png" alt="overall school standings"/>
            </div>
            <div id="rightTitleImage">
                <img src="/public/img/headers/overall-school-ranking.png" alt="overall school standings"/>
            </div>
        </div>
        <div id="map_canvas" style="width:460px; height:480px; margin-bottom: 10px; float:left;"></div>
        <div id="schools">
            <?php
                $count = 0;
                foreach ($schools as $school){
                    $count++;
            ?>
                <div class="brdr">
                    <a class="schoolItemWrapper clearfix" href="/competitionSchoolStanding.php?schoolId=<?=$school->schoolId?>&competitionId=<?=$competition->id?>">
                        <div class="rankNum">
                            <p>Rank<br /><strong><?=$count?></strong></p>
                        </div>
                        <div class="schoolDetail">
                            <div class="classDetail">
                                <p><strong><?=$school->name?></strong></p>
                                <p><em><?=$school->getCity()?>, <?=$school->getState()?></em></p>
                                <p><?=count($competition->getStudents($school->id))?> students participating</p>
                            </div>
                            <div class="pts">
                                <div class="average">
                                    <p>AVG. Points<br /> <strong><?=number_format($school->averagePoints, 0, '.', ',')?></strong></p>
                                </div>
                                <div class="ttl">
                                    <p>Total Points<br /> <strong><?=number_format($school->totalPoints, 0, '.', ',')?></strong></p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
        <?php } ?>
    </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>