<?php

    $controlPanel = false;
    include("_header.phtml");
?>
<div id="mainContent" class="clearfix">
    <div class="controlPanel-content clearfix">
        <div class="controlPanel-content-inn">
            <h1 class="completeTitle">Thank you for starting the registration process.</h1>
            <p>You're almost finished! Please select whether you are registering an entire district or a single school by clicking on the buttons below. Complete the form to the best of your ability and we will contact you soon!</p>
            <div id="completeFormWrap">
                <div id="choiceWrap" class="clearfix">
                    <div id="buttonWrap" class="clearfix">
                        <div id="districtButton">

                        </div>
                        <div id="schoolButton">

                        </div>
                    </div>
                </div>
                <div id="messages" class="clearfix">
                    <img src="/public/img/application/completeDistrictRegistration.png" id="headerCap" />
                    <form class="shakti-form clearfix" id="completeDistrictForm" action="app/actions/doCompleteDistrictRegistration.php" method="post">
                        <fieldset>
                            <input type="hidden" name="shopifyOrderId" value="<?=$shopifyOrder->id?>"/>
                            <img class="completeRegistrationHeader" src="/public/img/headers/districtInfo.png" />
                            <div class="fieldWrap">
                                <label>
                                    First Name:
                                    <input autocomplete = "off" id="districtfirstname" name="district[contactFirstName]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Last Name:
                                    <input autocomplete = "off" id="districtlastname" name="district[contactLastName]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Prefix:
                                    <select name="district[contactPrefix]">
                                        <option value=""></option>
                                        <option value="mr">Mr.</option>
                                        <option value="mrs">Mrs.</option>
                                        <option value="miss">Miss.</option>
                                    </select>
                                </label>
                            </div>
                             <div class="fieldWrap">
                                <label>
                                    Phone:
                                    <input autocomplete = "off" id="districtPhone" name="district[contactWorkPhone]" type="text" />
                                </label>
                            </div>
                             <div class="fieldWrap">
                                <label>
                                    Email:
                                    <input autocomplete = "off" id="districtEmail" name="district[contactEmail]" type="text" value="<?=$shopifyOrder->email?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Your Role:
                                    <select name="district[contactRole]">
                                        <option value=""></option>
                                        <option value="supervisor">District/Area Supervisor</option>
                                        <option value="other">Other</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Type of Organization:
                                    <select name="district[organizationType]">
                                        <option value=""></option>
                                        <option value="school">School</option>
                                        <option value="agency">Agency</option>
                                        <option value="communitybased">Community Based (CBO)</option>
                                        <option value="other">Other</option>
                                    </select>
                                </label>
                            </div>
                            <img class="completeRegistrationHeader" src="/public/img/headers/districtInfo2.png" />

                            <div class="fieldWrap">
                                <label>
                                    District Name
                                    <input autocomplete = "off" id="districtname" name="district[name]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    District Address
                                    <input autocomplete = "off" id="districtaddress" name="district[address]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    District City
                                    <input autocomplete = "off" id="districtcity" name="district[city]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    District State
                                    <input autocomplete = "off" id="districtstate" name="district[state]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    District Zip
                                    <input autocomplete = "off" id="districtzip" name="district[zip]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    District Password
                                    <input autocomplete = "off" id="districtpasscode" name="district[passcode]" type="password" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Number of Schools in your district:
                                    <select name="district[numberOfSchools]">
                                        <option value=""></option>
                                        <option value="onetofive">1 - 5</option>
                                        <option value="sixtoten">6 - 10</option>
                                        <option value="tentotwenty">10 - 20</option>
                                        <option value="overtwenty">Over 20</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Total number of students in your disctrict:
                                    <input autocomplete = "off" id="passcode" name="district[numberOfStudents]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Approximate number of student that will be participating in our program:
                                    <input autocomplete = "off" id="passcode" name="district[numberOfStudentsInProgram]" type="text" value="<?=$shopifyOrder->quantity?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                   Are you interested in our program for:
                                    <select name="district[interest]">
                                        <option value=""></option>
                                        <option value="inschool">In-School</option>
                                        <option value="outofschool">Out-of-School</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                   Do you currentl have an SEL program:
                                     <select name="district[selProgram]">
                                         <option value=""></option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                   Do your schools or locations have a reliable computer lab (or equivalent) accesible to students?
                                    <select name="district[internetAccess]">
                                        <option value=""></option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-tc"></div>
                            <div class="form-bc"></div>
                            <div class="fieldWrap">
                                <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                            </div>
                        </fieldset>
                    </form>
                    <a href="#choiceWrap" class="backButton caroufredsel"><img src="/public/img/buttons/backSlide.png"></a>
                </div>
                <div id="messagesTwo" class="clearfix">
                    <img src="/public/img/application/completeSchoolRegistration.png" id="headerCap" />
                    <form class="shakti-form clearfix" id="completeSchoolForm" action="app/actions/doCompleteSchoolRegistration.php" method="post">
                        <fieldset>
                            <input type="hidden" name="shopifyOrderId" value="<?=$shopifyOrder->id?>"/>
                            <img class="completeRegistrationHeader" src="/public/img/headers/districtInfo.png" />
                            <div class="fieldWrap">
                                <label>
                                    First Name:
                                    <input autocomplete = "off" id="name" name="school[contactFirstName]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Last Name:
                                    <input autocomplete = "off" id="passcode" name="school[contactLastName]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Prefix:
                                    <select name="school[contactPrefix]">
                                        <option value=""></option>
                                        <option value="mr">Mr.</option>
                                        <option value="mrs">Mrs.</option>
                                        <option value="miss">Miss.</option>
                                    </select>
                                </label>
                            </div>
                             <div class="fieldWrap">
                                <label>
                                    Phone:
                                    <input autocomplete = "off" id="lastName" name="school[contactWorkPhone]" type="text" />
                                </label>
                            </div>
                             <div class="fieldWrap">
                                <label>
                                    Email:
                                    <input autocomplete = "off" id="email" name="school[contactEmail]" type="text" value="<?=$shopifyOrder->email?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Your Role:
                                    <select name="school[contactRole]">
                                        <option value=""></option>
                                        <option value="supervisor">District/Area Supervisor</option>
                                        <option value="other">Other</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Type of Organization:
                                    <select name="school[organizationType]">
                                        <option value=""></option>
                                        <option value="school">School</option>
                                        <option value="agency">Agency</option>
                                        <option value="communitybased">Community Based (CBO)</option>
                                        <option value="other">Other</option>
                                    </select>
                                </label>
                            </div>
                            <img class="completeRegistrationHeader" src="/public/img/headers/schoolInfo.png" />
                            <div class="fieldWrap">
                                <label>
                                    School Name
                                    <input autocomplete = "off" id="schoolname" name="school[name]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    School Address
                                    <input autocomplete = "off" id="schooladdress" name="school[address]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    School City
                                    <input autocomplete = "off" id="schoolcity" name="school[city]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    School State
                                    <input autocomplete = "off" id="schoolstate" name="school[state]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    School Zip
                                    <input autocomplete = "off" id="schoolzip" name="school[zip]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    School Password
                                    <input autocomplete = "off" id="schoolpasscode" name="school[passcode]" type="password" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Total number of students:
                                    <input autocomplete = "off" id="schoolsize" name="school[numberOfStudents]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Approximate number of student that will be participating in our program:
                                    <input autocomplete = "off" id="schoolusage" name="school[numberOfStudentsInProgram]" type="text" />
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                   Are you interested in our program for:
                                    <select name="school[interest]">
                                        <option value=""></option>
                                        <option value="inschool">In-School</option>
                                        <option value="outofschool">Out-of-School</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                   Do you currently have an SEL program:
                                     <select name="school[selProgram]">
                                         <option value=""></option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                   Do your schools or locations have a reliable computer lab (or equivalent) accesible to students?
                                    <select name="school[internetAccess]">
                                        <option value=""></option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-tc"></div>
                            <div class="form-bc"></div>
                            <div class="fieldWrap">
                                <input autocomplete="off" type="image" src="/public/img/global/pixel.gif" value="" class="submitButton" />
                            </div>
                        </fieldset>
                    </form>
                    <a href="#choiceWrap" class="backButton caroufredsel"><img src="/public/img/buttons/backSlide.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("input[type=radio]").change(function(){
            if($(this).attr('checked') == true){
                $("#completeDistrictForm .selected").removeClass('selected');
                $(this).parent().addClass('selected');
            }
        });
        $("input[type=radio]").change(function(){
            if($(this).attr('checked') == true){
                $("#completeSchoolForm .selected").removeClass('selected');
                $(this).parent().addClass('selected');
            }
        });


        $("#completeFormWrap").carouFredSel({
            auto : false,
            pagination : {
                container       : "#buttonWrap",
                anchorBuilder   : function(nr) {
                    return "<a id="+"button"+nr+"></a>";
                }
            }
        });

        $("#completeSchoolForm").bind("invalid-form.validate", function() {
             setTimeout(function(){
                $("#completeFormWrap").trigger("updateSizes");

             },1000)
        }).validate({
            rules: {
                "school[contactFirstName]": "required",
                "school[contactLastName]": "required",
                "school[contactPhone]": "required",
                "school[contactRole]": "required",
                "school[contactOrganization]": "required",
                "school[name]": "required",
                "school[address]": "required",
                "school[city]": "required",
                "school[state]": "required",
                "school[zip]": "required",
                "school[passcode]": "required",
                "school[size]": "required",
                "school[usage]": "required",
                "school[interest]": "required",
                "school[current]": "required",
                "school[access]": "required"
            },
            messages: {
                name: "This field is required."
            },
            invalidHandler: function(form, vaidator){

            }
        });
        $("#completeDistrictForm").bind("invalid-form.validate", function() {
             setTimeout(function(){
                $("#completeFormWrap").trigger("updateSizes");

             },1000)
        }).validate({
            rules: {
                "district[contactFirstName]": "required",
                "district[contactLastName]": "required",
                "district[contactPhone]": "required",
                "district[contactRole]": "required",
                "district[contactOrganization]": "required",
                "district[name]": "required",
                "district[address]": "required",
                "district[city]": "required",
                "district[state]": "required",
                "district[zip]": "required",
                "district[passcode]": "required",
                "district[districtSize]": "required",
                "district[districtStudents]": "required",
                "district[districtSchools]": "required",
                "district[interest]": "required",
                "district[current]": "required",
                "district[access]": "required"
            },
            messages: {
                name: "This field is required."
            },
            invalidHandler: function(form, vaidator){
                $("#completeFormWrap").trigger('updateSizes');

            }
        });
    });
</script>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
