<?php include("_header.phtml"); ?>
    <div id="mainContent" class="clearfix challenge comp">
        <div class="rankTitles clearfix">
            <a class="mapReturn" href="/competitionMap.php?competitionId=<?=$competition->id?>"><img src="../../public/img/buttons/return-to-map.png" /></a>
            <img class="challengeHeadline" src="../../public/img/headers/beyond-the-school-bell-challenge.png" />
        </div>
        <div class="tabsLeft overall">
             <a href="/competitionSchoolStanding.php?competitionId=<?=$competition->id?>&schoolId=<?=$school->id?>" class="overallStand overalLink">over all standing</a>
        </div>
        <div id="wrap">
            <div id="standingsContainer" class="topCats2 clearfix">
                <?php
                    $count = 0;
                    foreach ($topStandings as $topStanding){
                        $count++;
                ?>
                    <div id="topSTandings" class="clearfix" style="float:left;">
                        <div class="clearfix">
                            <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                            <img class="avatar" src="<?=$topStanding->getAvatarImage()?>" alt="<?=$topStanding->rankName?>" />
                            <div class="logRnkName">
                                <div class="nameData">
                                    <p class="log"><?=$topStanding->login?></p>
                                    <p><em><?=$topStanding->rankName?></em></p>
                                    <p style="color: #f9e597"><em><?=$topStanding->schoolName?></em></p>
                                </div>
                            </div>
                            <div class="totalStnding"><div>Points<br /> <b><?=$topStanding->totalPoints?></b></div></div>
                        </div>
                    </div>
                <?php } ?>
             </div><!-- ends standingsContainer -->
         <!-- starts right side bar -->
        <div id="topCategoryStandings" class="topCats clearfix" style="float: right">
            <h1 class="herosB">HERO'S BODY</h1>
            <?php
                $count = 0;
                foreach ($bodyStandings as $bodyStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$bodyStanding->getAvatarImage()?>" alt="<?=$bodyStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$bodyStanding->login?></p>
                                <p><em><?=$bodyStanding->rankName?></em></p>
                                <p><em><?=$bodyStanding->schoolName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$bodyStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
            <h1 class="herosM">HERO'S MIND</h1>
            <?php
                $count = 0;
                foreach ($mindStandings as $mindStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$mindStanding->getAvatarImage()?>" alt="<?=$mindStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$mindStanding->login?></p>
                                <p><em><?=$mindStanding->rankName?></em></p>
                                <p><em><?=$mindStanding->schoolName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$mindStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
            <h1 class="herosH">HERO'S HEART</h1>
            <?php
                $count = 0;
                foreach ($heartStandings as $heartStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$heartStanding->getAvatarImage()?>" alt="<?=$heartStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$heartStanding->login?></p>
                                <p><em><?=$heartStanding->rankName?></em></p>
                                <p><em><?=$heartStanding->schoolName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$heartStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
            <h1 class="herosCommunity">HERO'S COMMUNITY</h1>
            <?php
                $count = 0;
                foreach ($heartStandings as $heartStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$heartStanding->getAvatarImage()?>" alt="<?=$heartStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$heartStanding->login?></p>
                                <p><em><?=$heartStanding->rankName?></em></p>
                                <p><em><?=$heartStanding->schoolName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$heartStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
        </div>
        <!-- ends right container div called topSTandings -->
     </div><!-- ends wrap -->
    </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>