<?php include("_header.phtml"); ?>
    <div id="mainContent" class="clearfix challenge">
        <div class="rankTitles clearfix">
            <a class="mapReturn" href="/competitionMap.php?competitionId=<?=$competition->id?>"><img src="../../public/img/buttons/return-to-map.png" /></a>
            <img class="challengeHeadline" src="../../public/img/headers/beyond-the-school-bell-challenge.png" />
            <h2><?=$school->name?> -- <?=$school->getCity()?>, <?=$school->getState()?></h2>
            <h3>Total # of Competitors: <?=$studentCount?></h3>

        </div>
        <div class="tabsLeft">
             <a href="/competitionOverallStanding.php?competitionId=<?=$competition->id?>&schoolId=<?=$school->id?>" class="overallStand">over all standing</a>
        </div>
        <div id="wrap">
            <div id="standingsContainer" class="clearfix" style="height: 955px">
                <?php
                    $count = 0;
                    foreach ($topStandings as $topStanding) {
                        $count++;
                ?>
                    <div id="topSTandings" class="clearfix">
                        <div class="grayRight"><p>Rank<br /><strong><?=$count?></strong></p></div>
                            <img class="avatar" src="<?=$topStanding->getAvatarImage()?>" alt="<?=$topStanding->rankName?>" />
                            <div class="logRnkName">
                                <div class="nameData">
                                    <p class="log"><?=$topStanding->login?></p>
                                    <p><em><?=$topStanding->rankName?></em></p>
                                </div>
                            </div>
                            <div class="totalStnding"><div>Points<br /> <b><?=$topStanding->totalPoints?></b></div></div>
                    </div>
                <?php } ?>
            </div><!-- ends standingsContainer -->

         <!-- starts right side bar -->
        <div id="topCategoryStandings" class="clearfix" style="float: right">
            <h1 class="herosBdy">HERO'S BODY</h1>
            <?php
                $count = 0;
                foreach ($bodyStandings as $bodyStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$bodyStanding->getAvatarImage()?>" alt="<?=$bodyStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$bodyStanding->login?></p>
                                <p><em><?=$bodyStanding->rankName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$bodyStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
            <h1 class="herosMind">HERO'S MIND</h1>
            <?php
                $count = 0;
                foreach ($mindStandings as $mindStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$mindStanding->getAvatarImage()?>" alt="<?=$mindStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$mindStanding->login?></p>
                                <p><em><?=$mindStanding->rankName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$mindStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
            <h1 class="herosHrt">HERO'S HEART</h1>
            <?php
                $count = 0;
                foreach ($heartStandings as $heartStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$heartStanding->getAvatarImage()?>" alt="<?=$heartStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$heartStanding->login?></p>
                                <p><em><?=$heartStanding->rankName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$heartStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
            <h1 class="herosComm">HERO'S COMMUNITY</h1>
            <?php
                $count = 0;
                foreach ($communityStandings as $communityStanding) {
                    $count++;
            ?>
                <div id="topSTandings" class="clearfix">
                    <div class="clearfix">
                        <p class="grayRight">Rank<br /><strong><?=$count?></strong></p>
                        <img class="avatar" src="<?=$communityStanding->getAvatarImage();?>" alt="<?=$communityStanding->rankName?>" />
                        <div class="logRnkName">
                            <div class="nameData">
                                <p class="log"><?=$communityStanding->login?></p>
                                <p><em><?=$communityStanding->rankName?></em></p>
                            </div>
                        </div>
                        <div class="totalStnding"><div>Points<br /> <b><?=$communityStanding->totalPoints?></b></div></div>
                    </div>
                </div>
            <?php } ?>
        </div>
        <!-- ends right container div called topSTandings -->
     </div><!-- ends wrap -->
    </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>