<?php include("_header.phtml"); ?>
    <div id="mainContent">
        <form class="shakti-form" id="contactForm" name="ContactForm" action="/app/actions/doSendEmail.php" method="post">
            <fieldset style="margin:40px 5px 40px 0;">
                    <img class="chromeHDR" src="/public/img/headers/contactUs.png" alt="Contact Us">
                    <div id="darkGrayBox">
                        <span class="yellowText">Want to get in touch with the Shakti Warriors?  Please fill in all of the form, including your name and your e-mail address.  We'll be sure to get back to you as soon as we can!</span>
                    </div>

                    <div class="fieldsetWrap">
                        <div class="fieldWrap">
                            <label for="name">Your Name:
                              <input autocomplete="off" id="name" name="name">
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label for="address">Your E-mail:
                              <input autocomplete="off" id="address" name="email">
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label for="city">Phone Number (optional):
                              <input autocomplete="off" id="city" name="phone"><br>
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label class="largeTextareaLabel">
                                <span class="messageText">Leave a Message:</span>
                                <textarea name="message"></textarea>
                            </label>
                        </div>
                        <div class="fieldWrap captcha">
                            <?=recaptcha_get_html(Config::$recaptchaPublicKey)?>
                        </div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </div>
                    <div class="form-tc"></div>
                    <div class="form-bc"></div>
                </fieldset>
                <div class="clear"></div>
            </div>
        </form>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
