<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <img src="/public/img/headers/createGoal.png" id="headerCap" />
            <div id="messages">
                <form class="shakti-form" id="goalForm" action="app/actions/doCreateGroupGoal.php" method="post">
                    <?php if ($goal->id != null){?>
                        <input autocomplete="off" type="hidden" id="id" name="id" value="<?=$goal->id?>"/>
                    <?php }?>
                    <input autocomplete="off" type="hidden" id="groupId" name="groupId" value="<?=$goal->groupId?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label for="name">Name:
                                    <input autocomplete="off" type="text" id="name" name="name" value="<?=$goal->name?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label for="points">Points Goal:
                                    <input autocomplete="off" type="text" id="points" name="points" value="<?=$goal->points?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label for="startsOn">Goal Start date:
                                    <input autocomplete="off" type="text" name="startsOn" id="StartsOn" value="<?=$goal->startsOn?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label for="endsOn">Goal End Date:
                                    <input autocomplete="off" type="text" name="endsOn" id="endsOn" value="<?=$goal->endsOn?>"/>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label class="largeTextareaLabel" for="reward"><span>Reward for completeing this goal:</span>
                                      <textarea name="reward" id="reward"><?=$goal->reward?></textarea>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                            </div>
                        </div>
                         <div class="form-tc"></div>
                         <div class="form-bc"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
    <script>
        $(function() {
            $( "#StartsOn" ).datepicker({
                minDate: 0
            } );
            $( "#endsOn" ).datepicker( {
                minDate: 0
            } );
        });
        </script>
</body>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
