<?php

    $controlPanel = true;
    include("_header.phtml");
?>
<script type="text/javascript">
$(document).ready(function() {
    $("#typeName").change(function() {
        var groupType = $(this).val();
        if (groupType == "CLASS_ROOM") {

            $.fancybox({
                href: "#passcodeForm",
                modal: true
            });
        }
        else {
            $("#classroomInfo").hide();
            $("#classroomInfo input").removeClass("required");
            $("#classroomInfo select").removeClass("required");
            $("#backstory").removeClass("required");
        }
    });

    $("#passcodeForm").ajaxForm({
        dataType: 'json',
        success: function(json) {
            if (json.valid) {
                $.fancybox.close();
                $("#competitionId").val(json.competitionId);
                $("#classroomInfo").show();
                $("#classroomInfo input").addClass("required");
                $("#classroomInfo select").addClass("required");
                $("#backstory").addClass("required");
            }
            else {
                $("#passcodeErrorMessage").html(json.message);
            }
        }
    });

    $("#passcodeCancel").click(function() {
        $.fancybox.close();
        $("#typeName").val("FRIENDS");
    });
});
</script>

<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <img src="/public/img/application/createGroup.png" id="headerCap" />
                <form id="createGroupForm" action="app/actions/doCreateGroup.php" method="post" enctype="multipart/form-data" class="shakti-form">
                    <?php if ($group->id != null){?>
                    <div class="fieldWrap">
                        <input autocomplete="off" type="hidden" id="id" name="group[id]" value="<?= $group->id ?>"/>
                        <input autocomplete="off" type="hidden" id="id" name="group[typeName]" value="<?= $group->typeName ?>"/>
                    </div>
                    <?php
                        }
                        else{
                    ?>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="hidden" id="leaderId" name="group[leaderId]" value="<?= $group->leaderId ?>"/>
                        </div>
                    <?php }?>
                    <fieldset>
                        <div class="fieldsetWrap">
                             <div class="fieldWrap">
                                <img src="public/img/application/groupInformation.png" class="formTitle">
                            </div>
                            <?php if ($group->id != null){?>
                            <div class="fieldWrap">
                                <label>Team Leader:
                                    <select id="leaderId" name="group[leaderId]">
                                        <?php foreach ($group->getMembers() as $member){?>
                                            <option value="<?=$member->id?>" <?php echo $member->id == $group->leaderId ? 'selected="selected"' : ''; ?>><?=$member->login?></option>
                                        <?php }?>
                                    </select>
                                </label>
                            </div>
                            <?php }?>
                            <div class="fieldWrap">
                                <label for="name">Name:
                                     <input autocomplete="off" type="text" id="name" name="group[name]" value="<?=$group->name?>" class="required"/>
                                </label>

                            </div>
                            <!-- <div class="fieldWrap">
                                <label for="tag">Team Tag (any 3 letters):
                                     <input autocomplete="off" type="text" id="tag" name="group[tag]" value=""/>
                                </label>
                            </div>-->
                            <div class="fieldWrap">
                                <label for="typeName">Team Type:
                                    <select name="group[typeName]" id="typeName" class="required" <?= $group->id != null ? 'disabled="desabled"' : '' ?>>
                                        <option value="FRIENDS" <?php echo $group->typeName == "FRIENDS" ? 'selected="selected"' : ''; ?>>Friends</option>
                                        <option value="SCHOOL" <?php echo $group->typeName == "SCHOOL" ? 'selected="selected"' : ''; ?>>School</option>
                                        <option value="FAMILY" <?php echo $group->typeName == "FAMILY" ? 'selected="selected"' : ''; ?>>Family</option>
                                        <option value="CHURCH" <?php echo $group->typeName == "CHURCH" ? 'selected="selected"' : ''; ?>>Church</option>
                                        <option value="SPORTS_TEAM" <?php echo $group->typeName == "SPORTS_TEAM" ? 'selected="selected"' : ''; ?>>Sports Team</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                  <img src="public/img/headers/teamStory.png">
                                <label class="largeTextareaLabel" for="backstory"><span>Tell us what your team is about.</span>
                                      <textarea name="group[backstory]" id="backstory"><?=$group->backstory?></textarea>
                                </label>

                            </div>
                            <!--
                            <div class="fieldWrap">
                                <label for="location">Location:
                                      <input autocomplete="off" type="text" name="group[location]" id="location" value=""/>
                                </label>
                            </div>
                            -->
                            <div class="fieldWrap">
                                <label for="color">Color:
                                    <select name="group[color]" class="required">
                                        <option value="orange" <?=$group->color == "orange" ? 'selected="selected"' : ''?>>Orange</option>
                                        <option value="blue" <?=$group->color == "blue" ? 'selected="selected"' : ''?>>Blue</option>
                                        <option value="purple" <?=$group->color == "purple" ? 'selected="selected"' : ''?>>Purple</option>
                                        <option value="green" <?=$group->color == "green" ? 'selected="selected"' : ''?>>Green</option>
                                    </select>
                                </label>
                            </div>
                            <?php if (Config::$approvalRequired) {?>
                                <div class="fieldWrap">
                                    <label for="approvalPassword">Approval Password:
                                        <input type="password" name="approvalPassword" class="required"/>
                                    </label>
                                </div>
                            <?php } ?>
                            <!--
                            <div class="fieldWrap">
                                <label for="file">Upload team logo:
                                       <input autocomplete="off" type="file" name="file" id="file"/>
                                </label>
                            </div>
                            -->
                        </div>
                        <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<div style="display: none">
    <form id="passcodeForm" action="/json/checkCompetitionPasscode.php">
        <div id="passcodeErrorMessage"></div>
        <div>
            <label for="passcode">Passcode
                <input type="text" name="passcode"/>
            </label>
            <input type="submit" value="Submit"/>
            <input type="button" id="passcodeCancel" value="Cancel"/>
        </div>
    </form>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
