<?php

    $controlPanel = false;
    include("_header.phtml");
?>
<div id="mainContent" class="clearfix">
    <div class="controlPanel-content clearfix">
        <div class="controlPanel-content-inn">
            <h1 class="completeTitle">Thank you for completing the registration process.</h1>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

    });
</script>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
