<?php

    $controlPanel = true;
    include("_header.phtml");

?>

<div id="mainContent">
<?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <img class="header" src="/public/img/headers/echoBoard<?=$user->getRankName()?>.png" />
            
            <div class="buttonsMenu clearfix">
                <a href="/welcome.php" class="gotoBack"></a>
                <a href="/library.php" class="gotoLibrary"></a>
            </div>
            
            <div class="controlPanel-content-inn" id="flash-jeopardy">
                <?php include("_noFlash.phtml"); ?>
            </div>
        </div>
    </div>
</div>
        <!--Training Flash Is Here-->
<script type="text/javascript">
    // <![CDATA[

    var jeopardy = new SWFObject("/public/swf/Game.swf", "Game", "724", "509", "8.0.23", "#000000");
    jeopardy.useExpressInstall('public/swf/expressinstall.swf');
    jeopardy.write("flash-jeopardy");

    // ]]>
</script>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
