<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<script type="text/javascript">
    // Standard JQuery document.ready handling caused problems, perhaps only in IE.
    $(window).load(function()
    {
        var outfit = "";
        var backstory = "";
        var plan = "";

        $.getJSON("/json/getChildHero.php",
            {id: <?= $childHeroId ?>},
            function(jsonObject)
            {
                setFormFields($("#childHeroForm")[0], jsonObject, "childHero");
                outfit = $("#outfit").val();
                backstory = $("#backstory").val();
                plan = $("#plan").val();
            }
        );

        <?php if (Config::$approvalRequired) { ?>
            $(".checkForApproval").change(function() {
                var outfitVal = $("#outfit").val();
                var backstoryVal = $("#backstory").val();
                var planVal = $("#plan").val();

				if (outfitVal != outfit || backstoryVal != backstory || planVal != plan) {
					$("#approvalPassword").addClass("required");
					$("#approvalPasswordContainer").show();
				}
				else {
					$("#approvalPassword").removeClass("required");
					$("#approvalPasswordContainer").hide();
				}
			});
		<?php } ?>
    });
</script>
<div id="mainContent">
<?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
             <img src="/public/img/application/editHero.png" />
            <div id="messages">
                <form class="shakti-form" id="childHeroForm" action="/app/actions/doEditChildHero.php" method="post">
                    <input autocomplete="off" type="hidden" name="childHero[id]" value="<?= $childHeroId ?>">
                    <fieldset>
                        <div class="clearfix fieldsetWrap">
                            <img src="public/img/application/describeHero.png">
                            <div class="clearfix fieldWrap">
                                <label>Height Feet
                                    <select name="childHero[heightFeet]">
                                        <option value="">- Feet -</option>
                                        <option value="2">2 feet</option>
                                        <option value="3">3 feet</option>
                                        <option value="4">4 feet</option>
                                        <option value="5">5 feet</option>
                                        <option value="6">6 feet</option>
                                        <option value="7">7 feet</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Height Inches
                                    <select name="childHero[heightInches]">
                                        <option value="">- Inches -</option>
                                        <option value="0">0 inches</option>
                                        <option value="1">1 inches</option>
                                        <option value="2">2 inches</option>
                                        <option value="3">3 inches</option>
                                        <option value="4">4 inches</option>
                                        <option value="5">5 inches</option>
                                        <option value="6">6 inches</option>
                                        <option value="7">7 inches</option>
                                        <option value="8">8 inches</option>
                                        <option value="9">9 inches</option>
                                        <option value="10">10 inches</option>
                                        <option value="11">11 inches</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Ethnicity
                                    <select name="childHero[ethnicity]">
                                        <option value="">- Choose Ethnicity -</option>
                                        <option value="african">African-American</option>
                                        <option value="asian">Asian-American</option>
                                        <option value="caucasian">Caucasian</option>
                                        <option value="hispanic">Hispanic/Latino</option>
                                        <option value="other">Other</option>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Weight<input autocomplete="off" name="childHero[weight]" type="text" class="number"/></label>
                            </div>
                            <div class="fieldWrap">
                                <label>Eye Color
                                    <select name="childHero[eyeColor]">
                                        <option value="">- Eye Color -</option>
                                        <option>Black</option>
                                        <option>Blue</option>
                                        <option>Clear</option>
                                        <option>Brown</option>
                                        <option>Gray</option>
                                        <option>Green</option>
                                        <option>Red</option>
                                        <option>Pink</option>
                                        <option>Purple</option>
                                        <option>Silver</option>
                                        <option>White</option>
                                        <option>Yellow</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <img src="public/img/application/describeHair.png">
                        <div class="fieldWrap">
                            <label>
                                Type
                                <select name="childHero[hairType]">
                                    <option value="">- Choose Hair Type -</option>
                                    <option value="wavey">Wavey</option>
                                    <option value="straight">Straight</option>
                                    <option value="curly">Curly</option>
                                    <option value="bald">Bald</option>
                                </select>
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                Length
                                <select name="childHero[hairLength]">
                                    <option value="">- Choose Hair Length -</option>
                                    <option value="bald">Bald</option>
                                    <option value="short">Short</option>
                                    <option value="medium">Medium</option>
                                    <option value="long">Long</option>
                                    <option value="really long">Really Long</option>
                                </select>
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                         <img src="public/img/application/describeBody.png">
                         <div class="fieldWrap">
                            <label>
                                Type
                                <select name="bodyType">
                                    <option value="">- Choose Body Type -</option>
                                    <option value="lean">Lean</option>
                                    <option value="heavy">Heavy</option>
                                    <option value="muscular">Muscular</option>
                                    <option value="athletic">Athletic</option>
                                </select>
                            </label>
                        </div>
                    </fieldset>
                    <fieldset>
                         <img src="public/img/application/powers.png">
                         <div class="fieldWrap">
                                <select style="width: auto;float:right;margin-right:32px;" name="superPowers[superHeroPower1]">
                                <?php foreach ($superHeroPowers as $superHeroPower) { ?>
                                    <option value="<?= $superHeroPower->id ?>" <?= $superHeroPower1 == $superHeroPower->id ? 'selected="true"' : ''?>><?= $superHeroPower->name . " -- " . $superHeroPower->description ?></option>
                                <?php } ?>
                                </select>
                            </div>
                            <div class="fieldWrap">
                                <select style="width: auto;float:right;margin-right:32px;" name="superPowers[superHeroPower2]">
                                <?php foreach ($superHeroPowers as $superHeroPower) { ?>
                                    <option value="<?= $superHeroPower->id ?>" <?= $superHeroPower2 == $superHeroPower->id ? 'selected="true"' : ''?>><?= $superHeroPower->name . " -- " . $superHeroPower->description ?></option>
                                <?php } ?>
                                </select>
                            </div>
                    </fieldset>
                    <fieldset>
                        <img src="public/img/application/humanPowers.png">
                            <div class="fieldWrap">
                                <select style="width: auto;float:right;margin-right:32px;" name="humanPowers[humanPower1]">
                                <?php foreach ($humanPowers as $humanPower) { ?>
                                    <option value="<?= $humanPower->id ?>" <?= $humanPower1 == $humanPower->id ? 'selected="true"' : ''?>><?= $humanPower->name ?></option>
                                <?php } ?>
                                </select>
                            </div>
                            <div class="fieldWrap">
                                <select style="width: auto;float:right;margin-right:32px;" name="humanPowers[humanPower2]">
                                <?php foreach ($humanPowers as $humanPower) { ?>
                                    <option value="<?= $humanPower->id ?>" <?= $humanPower2 == $humanPower->id ? 'selected="true"' : ''?>><?= $humanPower->name ?></option>
                                <?php } ?>
                                </select><br />
                            </div>
                            <div class="fieldWrap">
                                <select style="width: auto;float:right;margin-right:32px;" name="humanPowers[humanPower3]">
                                <?php foreach ($humanPowers as $humanPower) { ?>
                                    <option value="<?= $humanPower->id ?>" <?= $humanPower3 == $humanPower->id ? 'selected="true"' : ''?>><?= $humanPower->name ?></option>
                                <?php } ?>
                                </select>
                            </div>
                    </fieldset>
                    <fieldset>
                        <div class="fieldWrap">
                            <img src="public/img/application/outfit.png">
                            <label class="largeTextareaLabel"><span>Describe Your Super Hero Outfit</span><textarea id="outfit" class="checkForApproval" name="childHero[superHeroOutfit]"></textarea></label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="fieldWrap">
                            <img src="public/img/application/backstory.png">
                            <label class="largeTextareaLabel"><span>Write Your Backstory (How did you become a super hero?)</span><textarea id="backstory" class="checkForApproval" name="childHero[backstory]"></textarea></label>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="fieldWrap">
                            <img src="public/img/application/plan.png">
                            <label class="largeTextareaLabel"><span>Tell us what good you will do in the world with your super hero powers.</span><textarea id="plan" class="checkForApproval" name="childHero[planToDoGood]"></textarea></label>
                        </div>
						<?php if (Config::$approvalRequired) { ?>
							<div class="fieldWrap" id="approvalPasswordContainer" style="display: none">
								<label>Approval Password
									<input type="password" name="approvalPassword" id="approvalPassword"/>
								</label>
							</div>
						<?php } ?>
                    </fieldset>
                    <div class="form-tc"></div>
                    <div class="form-bc"></div>
                     <div class="fieldWrap">
                        <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>