<?php

    $controlPanel = true;
    include("_header.phtml");
?>
<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <img src="/public/img/application/editBackground.png" id="headerCap" />
                <form class="shakti-form" id="applicationForm" action="app/actions/doEditBackground.php" method="post">
                    <fieldset>
                        <legend>Select an image and click submit to change your background.</legend>
                        <div class="fieldWrap">
                            <label>
                                <input type="radio" name="backgroundId" value="2" <?=$user->backgroundImage == 2 ? 'checked="checked"' : ''?>/>
                                <div class="img-out">
                                    <img src="public/img/backgrounds/boygirl1Small.jpg">
                                </div>
                                <span>All Warriors #1</span>
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                <input type="radio" name="backgroundId" value="1" <?=$user->backgroundImage == 1 ? 'checked="checked"' : ''?>/>
                                <div class="img-out">
                                    <img src="public/img/backgrounds/boygirl2Small.jpg">
                                </div>
                                <span>All Warriors #2</span>
                            </label>
                        </div>
                        <div class="clear"></div>
                        <div class="fieldWrap">
                            <label>
                                <input type="radio" name="backgroundId" value="4" <?=$user->backgroundImage == 4 ? 'checked="checked"' : ''?>/>
                                <div class="img-out">
                                    <img src="public/img/backgrounds/boy2Small.jpg">
                                </div>
                                <span>Maze</span>
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                <input type="radio" name="backgroundId" value="3" <?=$user->backgroundImage == 3 ? 'checked="checked"' : ''?>/>
                                <div class="img-out">
                                    <img src="public/img/backgrounds/boy1Small.jpg">
                                </div>
                                <span>Stone</span>
                            </label>
                        </div>
                        <div class="clear"></div>
                        <div class="fieldWrap">
                            <label>
                                <input type="radio" name="backgroundId" value="5" <?=$user->backgroundImage == 5 ? 'checked="checked"' : ''?>/>
                                <div class="img-out">
                                    <img src="public/img/backgrounds/girl1Small.jpg">
                                </div>
                                <span>Flowers</span>
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                <input type="radio" name="backgroundId" value="6" <?=$user->backgroundImage == 6 ? 'checked="checked"' : ''?>/>
                                <div class="img-out">
                                    <img src="public/img/backgrounds/girl2Small.jpg">
                                </div>
                                <span>Hearts</span>
                            </label>
                        </div>
                        <div class="fieldWrap submit">
                            <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                        <div class="form-tc"></div>
                        <div class="form-bc"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $("input[type=radio]").change(function(){
            if($(this).attr('checked') == true){
                $("#applicationForm .selected").removeClass('selected');
                $(this).parent().addClass('selected');
            }
        });
    });
</script>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
