<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<script type="text/javascript">
    var currentYear = <?= $currentYear ?>;

    function parentEmailRequired()
    {
        //if ("" != $("#emailAddress").val())
            //return ((currentYear - $("#yearOfBirth").val()) < 14);
        return false;
    }

    // Standard JQuery document.ready handling caused problems, perhaps only in IE.
    $(window).load(function()
    {
        $.getJSON("/json/getChild.php",
            {id: <?= $child->id ?>},
            function(jsonObject)
            {
                setFormFields($("#applicationForm")[0], jsonObject, "child")
            }
        );

        $.getJSON("/json/getUser.php",
            {id: <?= $user->id ?>},
            function(jsonObject)
            {
                setFormFields($("#applicationForm")[0], jsonObject, "user")
            }
        );

        $("#emailAddress, #yearOfBirth").change(function()
        {
/*
            if (parentEmailRequired())
            {
                $("#parentEmail").show();
                $("#parentEmail")[0].focus();
            }
            else
                $("#parentEmail").hide();
*/
        });

        $("#applicationForm").submit(function()
        {
            if (parentEmailRequired())
                if ("" == $("#parentEmailAddress").val())
                {
                    alert("You must enter a parent email address.");
                    return false;
                }

            if ("" == $("#login").val())
            {
                alert("Please enter both a super hero name and a password");
                return false;
            }

            if ($("#password").val() != $("#confirmPassword").val())
            {
                alert("Passwords do not match.");
                return false;
            }

        });
    });
</script>
<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <img src="/public/img/application/editProfile.png" id="headerCap" />
                <form class="editForm" id="applicationForm" action="app/actions/doEditProfile.php" method="post">
                    <input autocomplete="off" type="hidden" name="child[id]" value="<?= $child->id ?>">
                    <input autocomplete="off" type="hidden" name="user[id]" value="<?= $user->id ?>">
                    <fieldset>
                        <img src="public/img/application/yourSecretIdentity.png" />
                         <div class="fieldWrap">
                           <label>First Name<input autocomplete="off" name="child[firstName]" class="required" type="text" value="<?= $firstName ?>" /></label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                Boy or Girl
                                <select name="child[gender]">
                                    <option value=""></option>
                                    <option value="b">Boy</option>
                                    <option value="g">Girl</option>
                                </select>
                            </label>
                        </div>
                        <div class="fieldWrap">
                            <label>Year you were born
                                <select id="yearOfBirth" name="child[year]">
                                    <option value=""></option>
                                    <option value="1950">1950</option>
                                    <option value="1951">1951</option>
                                    <option value="1952">1952</option>
                                    <option value="1953">1953</option>
                                    <option value="1954">1954</option>
                                    <option value="1955">1955</option>
                                    <option value="1956">1956</option>
                                    <option value="1957">1957</option>
                                    <option value="1958">1958</option>
                                    <option value="1959">1959</option>
                                    <option value="1960">1960</option>
                                    <option value="1961">1961</option>
                                    <option value="1962">1962</option>
                                    <option value="1963">1963</option>
                                    <option value="1964">1964</option>
                                    <option value="1965">1965</option>
                                    <option value="1966">1966</option>
                                    <option value="1967">1967</option>
                                    <option value="1968">1968</option>
                                    <option value="1969">1969</option>
                                    <option value="1970">1970</option>
                                    <option value="1971">1971</option>
                                    <option value="1972">1972</option>
                                    <option value="1973">1973</option>
                                    <option value="1974">1974</option>
                                    <option value="1975">1975</option>
                                    <option value="1976">1976</option>
                                    <option value="1977">1977</option>
                                    <option value="1978">1978</option>
                                    <option value="1979">1979</option>
                                    <option value="1980">1980</option>
                                    <option value="1981">1981</option>
                                    <option value="1982">1982</option>
                                    <option value="1983">1983</option>
                                    <option value="1984">1984</option>
                                    <option value="1985">1985</option>
                                    <option value="1986">1986</option>
                                    <option value="1987">1987</option>
                                    <option value="1988">1988</option>
                                    <option value="1989">1989</option>
                                    <option value="1990">1990</option>
                                    <option value="1991">1991</option>
                                    <option value="1992">1992</option>
                                    <option value="1993">1993</option>
                                    <option value="1994">1994</option>
                                    <option value="1995">1995</option>
                                    <option value="1996">1996</option>
                                    <option value="1997">1997</option>
                                    <option value="1998">1998</option>
                                    <option value="1999">1999</option>
                                    <option value="2000">2000</option>
                                    <option value="2001">2001</option>
                                    <option value="2002">2002</option>
                                    <option value="2003">2003</option>
                                    <option value="2004">2004</option>
                                    <option value="2005">2005</option>
                                    <option value="2006">2006</option>
                                    <option value="2007">2007</option>
                                </select>
                            </label>
                        </div>
                        <!--
                        <div class="fieldWrap">
                            <label>
                                State
                                <select name="child[state]">
                                    <option value=""></option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FM">Federated States Of Micronesia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="GU">Guam</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PW">Palau</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VI">Virgin Islands</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                            </label>
                        </div>
                        -->
                        <div class="fieldWrap">
                            <label>
                                Ethnicity
                                <select name="child[ethnicity]">
                                    <option value=""></option>
                                    <option value="african">African-American</option>
                                    <option value="asian">Asian-American</option>
                                    <option value="caucasian">Caucasian</option>
                                    <option value="hispanic">Hispanic/Latino</option>
                                    <option value="other">Other</option>
                                </select>
                            </label>
                        </div>
<!--                         <div class="fieldWrap"> -->
<!--                             <p> -->
<!--                                 Enter your email address if  you would like to receive regular updates by email including information about Shakti Warrior events in your area, etc. -->
<!--                             </p> -->
<!--                         </div> -->
<!--                         <div class="fieldWrap"> -->
<!--                             <label>Email<input autocomplete="off" id="emailAddress" name="user[email]" type="text" /></label> -->
<!--                             <div id="parentEmail"> -->
<!--                                 <p>Since you have entered your own email and you are under 14 years of age, -->
<!--                                 you are required also to provide the email address of a parent or guardian.</p> -->
<!--                                 <label id="parentEmailLabel">Parent's Email<input autocomplete="off" id="parentEmailAddress" name="guardian[email]" type="text" /></label> -->
<!--                             </div> -->
<!--                         </div> -->
                        <img src="/public/img/application/yourSuperHeroInformation.png" width="393" height="21" alt="Your Super Hero Information">
                        <div class="fieldWrap">
                            <label>Super Hero Name<input autocomplete="off" id="login" name="user[login]" type="text" /></label>
                        </div>
                        <div class="fieldWrap">
                             <label>Password<input autocomplete="off" id="password" name="user[password]" type="password" /></label>
                        </div>
                        <div class="fieldWrap">
                             <label>Confirm Password<input autocomplete="off" id="confirmPassword" name="confirm" type="password" /></label>
                        </div>
                        <div class="fieldWrap">
                            <label>
                                Mentor
                                <select name="child[superheroId]">
                                    <option value=""></option>
                                    <option value="1">Shakti</option>
                                    <option value="2">Solan</option>
                                    <option value="3">Vibrato</option>
                                    <option value="4">Maye</option>
                                    <option value="5">Echo</option>
                                    <option value="6">Sable</option>
                                    <option value="7">Chune</option>
                                </select>
                            </label>
                        </div>
                        <div class="fieldWrap">
                        <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                    </div>
                         <div class="form-tc"></div>
                    <div class="form-bc"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.EditProfilePage();
</script>
<?php include("_footer.phtml"); ?>
