<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<script type="text/javascript">
var baseDate = "<?= $baseDate ?>";
var calendar;

function setCheckBoxes(date)
{
    $("#baseDate").html(baseDate);
    $("input").attr("checked", false);
    $.getJSON("/json/getChildHeroTasksForWeek.php",
        {baseDate: date},
        // Loop over the json result set and set the checkbox to checked for the
        // element with id e.g. 3,1 where 3 is the taskId and 1 is the offset (1 == Monday)
        function(jsonData){
              for (var i=0; i < jsonData.length; i++)
            {
                var selector = "#" + jsonData[i]['taskId'] + '_' + jsonData[i]['dayoffset'];
                $(selector).attr("checked", "checked");

                var approvedSelector = selector + "_approved";
                if (jsonData[i]['approved'])
                    $(approvedSelector).attr("checked", "checked");
            }
        }
    );
    getPointsForWeek();
}

function getPointsForWeek()
{
    $("#pointsForWeek").load("/json/getExtraCreditPointsForWeek.php", {weekStartDate: baseDate});
    updateTotalPoints();
}


function setTask(element, approved)
{
    if (2 != arguments.length)
        approved = false
    if (element.checked)
        $.post("/app/actions/doSetTaskComplete.php",
            {
                baseDate: baseDate,
                value: element.value,
                checked: true,
                approved: approved
            }
        );
    else
        $.post("/app/actions/doSetTaskComplete.php",
            {
                baseDate: baseDate,
                value: element.value
            }
        );
    getPointsForWeek();
}

function setTaskApproved(event)
{
    if (true == this.checked)
        $.post("/app/actions/doSetTaskApproved.php",
            {
                baseDate: baseDate,
                value: this.value,
                checked: true
            },
            getPointsForWeek
        );
    else
        $.post("/app/actions/doSetTaskApproved.php",
            {
                baseDate: baseDate,
                value: this.value,
                checked: false
            },
            getPointsForWeek
        );

}

function setTaskComplete(event)
{
    setTask(this)
}

function calendarChanged(type, args, me)
{
    var selected = args[0];
    var selectedDate = this._toDate(selected[0]);
    selectedDate.setDate(selectedDate.getDate() - selectedDate.getDay());

    var correctedMonth = selectedDate.getMonth() + 1;
    baseDate = selectedDate.getFullYear() + "-" + correctedMonth + "-" + selectedDate.getDate();

    printDateLabels();
    setCheckBoxes(baseDate);
}

function getDateLabel(offset)
{
    var date = getDateObjectForString(baseDate);
    return (date.getMonth() + 1 + "/" + date.getDate());
}

function getWeekLabel()
{
    var date = getDateObjectForString(baseDate);
    parts = date.toString().split(' ');
    return parts[0] + " " + parts[1] + " " + parts[2];
}


function printDateLabels()
{
    for (var i=0; i <= 6; i++)
        $("#dateLabel" + i).html(getDateLabel(i));
    $("#weekLabel").html(getWeekLabel());
}

// Standard JQuery document.ready handling caused problems, perhaps only in IE.
$(window).load(function()
{
    $("input[@type=checkbox].task").click(setTaskComplete);
    $("input[@type=checkbox].approved").click(setTaskApproved);
    setCheckBoxes(baseDate);
    printDateLabels();
});
</script>
<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <div id="pointsColumn">
                    <img src="/public/img/application/extraCredit.png" />
                    <table id="trackYourPoints">
                        <thead>
                            <tr>
                                <td>Task</td>
                                <td>Completed</td>
                                <td>Approved<br />(By Caring Adult Only)</td>
                            </tr>
                        </thead>
                        <tfoot>
                        </tfoot>
                    <?php foreach (array_keys($tasksByCategories) as $categoryName) {?>
                        <tr><td class="category" colspan="8"><?= $categoryName ?> for week of <span id="weekLabel"></span></td></tr>
                        <?php foreach ($tasksByCategories[$categoryName] as $task) {?>
                            <tr>
                                <td class="categoryOptionsCap"><?= $task->name ?></td>
                                <td class="categoryOptions"><input autocomplete="off" class="checkbox task" type="checkbox" id="<?= $task->id ?>_0" value='{"id":<?= $task->id ?>,"dayOffset":0}'></td>
                                <td class="categoryOptions"><input autocomplete="off" class="checkbox approved" type="checkbox" id="<?= $task->id ?>_0_approved" value='{"id":<?= $task->id ?>,"dayOffset":0}'></td>
                            </tr>
                        <?php }?>
                    <?php }?>
                    </table>
                    <h1>Points for this week: <span id="pointsForWeek"></span></h1>
                </div>
            </div>
        </div>
    </div>
    <div id="calendarContainer"></div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
