<?php include("_header.phtml"); ?>
        <div id="mainContent">
            <div class="controlPanel-content showbg">
                <div class="controlPanel-content-inn">
                    <img class="headerPic" src="/public/img/headers/arcade.png" />
                    <div class="subheader">
                        <img src="/public/img/games/gamerGames.png" />
                    </div>
                    <div id="gameDisplay">

                    </div>
                    <script type="text/javascript">
                    // <![CDATA[
                        var so = new SWFObject("/public/swf/gamers/gamers.swf", "gameDisplay", "599", "299", "9", "#000000");
                        so.useExpressInstall('/public/swf/expressinstall.swf');
                        so.addVariable("xmlfile", "/public/swf/gamers/albuminfo.xml");
                        so.write("gameDisplay");
                    // ]]>
                    </script>
                    <div class="gameCats">
                        <div class="catWrap kids">
                            <a href="/kids.php"><img src="/public/img/headers/kids.png" /></a>
                            <div class="catInner">
                                <a href="/kids.php"><img src="/public/img/games/games1.png" /></a>
                            </div>
                            <a href="/kids.php"><img src="/public/img/games/play.png" /></a>
                        </div>
                        <div class="catWrap gamers">
                            <a href="/games.php"><img src="/public/img/headers/shakti.png" /></a>
                            <div class="catInner">
                                <a href="/games.php"><img src="/public/img/games/games4.png" /></a>
                            </div>
                            <a href="/games.php"><img src="/public/img/games/play.png" /></a>
                        </div>
                        <div class="catWrap retro">
                            <a href="/retro.php"><img src="/public/img/headers/retro.png" /></a>
                            <div class="catInner">
                                <a href="/retro.php"><img src="/public/img/games/games3.png" /></a>
                            </div>
                            <a href="/retro.php"><img src="/public/img/games/play.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>