<?php include("_header.phtml"); ?>
<script type="text/javascript">
// Some versions of IE 6.0.2900 flake out on standard document.ready().
$(document).ready(function(){
    $(".confirm").click(function(){
        return confirm("Are you sure you want to do this?");
    });

    $(".cardViewButton").click(function() {
        $("#warriorCardView").show();
        $("#warriorListView").hide();
        return false;
    });

    $(".listViewButton").click(function() {
        $("#warriorListView").show();
        $("#warriorCardView").hide();
        return false;
    });

});
</script>
<script type="text/javascript">
// Some versions of IE 6.0.2900 flake out on standard document.ready().
$(document).ready(function(){
    $(".confirm").click(function(){
        return confirm("Are you sure you want to do this?");
    });

    $(".arrow").click(function() {
        if (!$(this).parents(".soloCompetitionCont").hasClass("active")) {
            $(".competitionHolder").slideUp();
            $(".soloCompetitionCont").removeClass("active");
            $(this).parents(".soloCompetitionCont").find(".competitionHolder").slideDown();
            $(this).parents(".soloCompetitionCont").addClass("active");
        }

        return false;
    });


});
</script>
<script type="text/javascript">
$(".rotateme").rotate({
   bind:
     {
        click: function(){
            $(this).rotate({ angle:0,animateTo:180,easing: $.easing.easeInOutExpo })
        }
     }

});
</script>
<div id="mainContent"">
    <div class="messages">
        <img src="/public/img/headers/teamInformation.png" />
        <div class="groupMain">
        <div class="groupName">
            <?=$group->name?>
        </div>

        <hr noshade size="5" color="#f7941d">
        <div class="groupStats">
            <div class="clearfix">
                <strong>Leader:</strong> <?php echo $groupLeader->login; ?>
            </div>
            <div class="clearfix">
                <strong>Team Type:</strong> <?php echo $group->getType(); ?>
            </div>
            <?php if ($group->tag != null){?>
                <!--<div class="clearfix">
                    <strong>Tag:</strong> <?php echo $group->tag; ?>
                </div>-->
            <?php }?>
            <div class="clearfix">
                 <strong>Start Date:</strong> <?php echo $group->createdOn; ?>
            </div>
            <div class="clearfix">
                 <strong>Location:</strong> <?php echo $group->location; ?>
            </div>
            <div class="clearfix">
                <strong>Size:</strong> <?php echo $groupSize; ?>
            </div>
            <div class="clearfix">
                 <strong>Total Points:</strong> <?php echo $totalPoints; ?>
            </div>
        </div>
        <hr noshade size="5" color="#f7941d">
        <div>
             <img src="/public/img/group/teamStory.png" />
             <div class="viewTeamData">
                <p><?php echo $group->backstory; ?></p>
            </div>
            <div class="viewTeamDataBG">
                <!-- -->
            </div>

        </div>
        <?php if ($goal != null){?>
            <!--
            <div>
                <img src="/public/img/group/teamGoal.png" />
                <div class="viewTeamData">
                    <div><strong>Description:</strong> <?= $goal->name?></div>
                    <div><strong>Points Goal:</strong> <?= $goal->points?> (current points: <?=$goal->getCurrentPoints($group->getMembers())?>)</div>
                    <div><strong>Start Date:</strong> <?= $goal->startsOn?></div>
                    <div><strong>End Date:</strong> <?= $goal->endsOn?></div>
                    <div><strong>Reward:</strong> <?= $goal->reward?></div>
                    <?php if ($user->id == $group->leaderId){?>
                        <div><a href="createGroupGoal.php?groupId=<?=$group->id?>">Edit Goal</a> - <a href="/app/actions/doDeleteGroupGoal.php?groupId=<?=$group->id?>">Delete Goal</a></div>
                    <?php }?>
                </div>
            </div>
            -->
        <?php }?>
    </div>
    <div class="groupSidebar">
        <?php if ($group->hasImage()){?>
            <div class="groupImage">
                <!--
                <img src="<?=$group->getThumbFilePath()?>"/>
                -->
                <img src="/public/img/group/<?=$group->color?>TeamOrb.png" />
            </div>
        <?php }?>
        <?php if ($user->id == $group->leaderId){?>
                <div class="adminOptions">

                    <a href="/createGroup.php?groupId=<?=$group->id?>">Edit Team</a><br/>
                    <a href="/app/actions/doDisbandGroup.php?groupId=<?=$group->id?>" class="confirm">Delete Team</a><br/>
                    <a href="/searchUser.php?search=&orderBy=login">Add member</a><br/>
                    <a href="/removeMemberFromGroup.php?groupId=<?=$group->id?>">Delete member</a><br/>
                    <!--<a href="/createGroupGoal.php?mode=new&groupId=<?=$group->id?>">Create Goal</a><br/>-->
                </div>
            <?php }?>
            <div class="requestJoin">
                <?php
                    if($user != null){
                        if(!$isMember){
                ?>
                        <a href="groupRequest.php?groupId=<?php echo $group->id; ?>"><img src="/public/img/group/request.png" alt="Request to Join"/></a>
                <?php
                        }
                        else if($user->id != $group->leaderId){
                ?>
                    <a href="/app/actions/doLeaveGroup.php?groupId=<?=$group->id?>" class="confirm"><img src="/public/img/group/leave.png" alt="Leave Team"/></a>
                <?php
                        }
                    }
                ?>
            </div>
    </div>
    <div style="clear: both;"><!-- WHAT'S GOING ON --></div>
    <div style="clear:both;"> <!-- --> </div>
    <div class="teamWarriorsContainer">
        <img src="../../public/img/headers/teamWarriors.png" />
        <div id="warriorCardView">
            <div class="tabLinks clearfix">
                <div class="tabsHolder clearfix">
                    <ul>
                        <li>
                            <a href="#" class="cardViewButton"><!-- Card --></a>
                        </li>
                        <li>
                            <a href="#" class="listViewButton"><!-- List --></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cardHolderTopBorder"><!-- Yep --></div>
            <div style="clear: both;"><!-- Hello--></div>
             <div class="containerForBorders">
             <?php
                 $count = 0;
                 foreach ($groupMembers as $member){
                     $child = $member->getChild();
                     $count++;
             ?>
                <div class="warrior <?=$member->getChildHero()->color?> <?=$count % 3 == 0 ? 'last':''?>">
                    <div class="warriorWrap">
                        <div class="pointsHead">
                            POINTS:
                        </div>
                        <div class="points">
                            <?=$member->getTotalPoints(); ?>
                        </div>
                        <div class="name">
                            <a href="/viewWarrior.php?userId=<?= $member->id ?>"><?= $member->login; ?></a>
                        </div>
                        <?php if($member->login == $groupLeader->login) {?>
                            <div id="captain">(Team Captain)</div>
                        <?php }?>
                        <div class="location">
                            Based out of <?= $child->state ?>
                        </div>
                        <div class="pic">
                             <a href="/viewWarrior.php?userId=<?= $member->id ?>">
                                <?php if (file_exists($member->getOriginalStoragePath())) {?>
                                    <img src="<?=$member->getFilePath("thumb")?>" />
                                <?php } else { ?>
                                    <img src="/public/img/backgrounds/noWarriorDesign.png" height="214" />
                                <?php }?>
                            </a>
                        </div>
                        <div class="rankImg">
                            <div class="tabHolder"><!-- HERE I GO AGAIN ON MY OWN --></div>
                            <a href="/viewWarrior.php?userId=<?= $member->id ?>">
                                <img src="/public/img/global/<?=$member->getRankImage()?>" height="109" width="109"/>
                            </a>
                        </div>
                        <!-- <div class="rank">
                            <?= $member->getRankName(); ?>
                        </div>-->

                    </div>
                </div>
                <?php if ($count % 3 == 0) { ?>
                    <div class="clear"></div>
                <?php } ?>
            <?php }?>
            <br class="clear" />
        </div>
        <div class="cardHolderBottomBG"> <!-- yep --></div>
        </div>
    <div id="warriorListView" class="clearfix" style="display: none">
        <div class="tabLinks clearfix">
            <div class="tabsHolder clearfix">
                <ul>
                    <li>
                        <a href="#" class="cardViewButton"><!-- Card --></a>
                    </li>
                    <li>
                        <a href="#" class="listViewButton"><!-- List --></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="listTopBorder"><!-- Yep --></div>
            <div class="tableContainer">
            <table width=705 cellpadding=0 cellspacing=0 class="listTable">
                <tr id="trhead">
                    <td>Warrior Name</td>
                    <td>Points</td>
                    <td>Rank</td>
                </tr>
         <?php
             $count = 0;
             foreach ($groupMembers as $member){
                 $child = $member->getChild();
                 $count++;
         ?>
                <tr class="black">
                    <td>
                        <a href="/viewWarrior.php?userId=<?= $member->id ?>"><?= $member->login; ?></a>
                        <?php if($member->login == $groupLeader->login) {?>
                            <br/>
                            (Team Captain)
                        <?php }?>
                    </td>
                    <td class="borderLeft">
                        <p class="points"><?=$member->getTotalPoints()?></p>
                    </td>
                    <td class="borderLeft">
                        <p class="rank-<?=strtolower(str_replace(" ", "-",$member->getRankName()))?>">
                            <?=$member->getRankName()?>
                        </p>
                    </td>
                </tr>
            </div>
        <?php }?>
        </table>
        </div>
        <div class="bottomTableBG"><!-- yep --></div>
    </div>
    </div>
</div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
