<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/inviteToTeam.png" />
                <form class="shakti-form" id="inviteForm" action="app/actions/doGroupInvite.php" method="post">
                    <input autocomplete="off" type="hidden" name="recipientId" value="<?=$requestUser->id?>"/>
                    <input autocomplete="off" type="hidden" name="senderId" value="<?=$user->id?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>Recipient:
                                 <input autocomplete="off" type="text" value="<?=$requestUser->login?>">
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Team to Invite to:
                                    <select name="groupId">
                                        <?php foreach ($groups as $group){?>
                                            <option value="<?=$group->id?>"><?=$group->name?></option>
                                        <?php }?>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>
                                    Message
                                    <textarea id="message" name="message"></textarea>
                                </label>
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
