<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<div id="mainContent">
    <?php include("_menu.phtml"); ?>
     <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <img src="/public/img/headers/request.png" />
            <div id="messages">
                <form id="requestForm" class="shakti-form" action="app/actions/doGroupRequest.php" method="post">
                    <input autocomplete="off" type="hidden" name="groupId" value="<?php echo $groupId; ?>"/>
                    <input autocomplete="off" type="hidden" name="senderId" value="<?php echo $user->id;?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>Message
                                    <textarea id="message" name="message"></textarea>
                                </label>
                            </div>
                           <div class="fieldWrap">
                                <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
