<?php include("_header.phtml"); ?>
            <div id="mainFlash"><?php include("_noFlash.phtml"); ?></div>
            <script type="text/javascript">
            // <![CDATA[
                var so = new SWFObject("/public/swf/home2.swf", "homeFlash", "762", "442", "9", "#000000");
                so.addParam("wmode", "transparent");
                so.useExpressInstall('/public/swf/expressinstall.swf');

                if (!$.cookie("firstPlay"))
                    so.addVariable("firstPlay", true);
                $.cookie("firstPlay", false);

                so.write("mainFlash");
            // ]]>
            </script>
            <div class="clearfix extraPad" id="warriorConsole" style="display: block;">

                <!--
                <div id="heroSelect">
                    <img src="/public/img/home/heroSelect_1.jpg" alt="Hero" />
                    <a href="bios.php?pages=30"><img class="autoRollOver" src="/public/img/home/heroSelect_2.jpg"></a>
                    <a href="bios.php?pages=27"><img class="autoRollOver" src="/public/img/home/heroSelect_3.jpg"></a>
                    <a href="bios.php?pages=12"><img class="autoRollOver" src="/public/img/home/heroSelect_4.jpg"></a>
                    <a href="bios.php?pages=18"><img class="autoRollOver" src="/public/img/home/heroSelect_5.jpg"></a>
                    <a href="bios.php?pages=22"><img class="autoRollOver" src="/public/img/home/heroSelect_6.jpg"></a>
                    <a href="bios.php?pages=4"><img class="autoRollOver" src="/public/img/home/heroSelect_7.jpg"></a>
                    <a href="bios.php?pages=8"><img class="autoRollOver" src="/public/img/home/heroSelect_8.jpg"></a>
                -->
                <div class="comicWrap clearfix">
                    <img src="public/img/home/comicBookDisplay.png" />
                    <div id="comicBookDisplay">


                    </div>
                </div>
                <div class="createComic">
                    <!--<img src="public/img/home/colorOwn.png" />-->
                    <img src="public/img/home/2ndYear-coming-banner.jpg" />
                    <a href="#" id="shaktiProgram"><img src="public/img/home/bringToSchool.jpg" /></a>
                </div>
                <script type="text/javascript">
                // <![CDATA[
                    var so = new SWFObject("/public/swf/gamers/gamers.swf", "comicBookDisplay", "460", "286", "9", "#000000");
                    so.useExpressInstall('/public/swf/expressinstall.swf');
                    so.addVariable("xmlfile", "/public/swf/comics/comicbooks.xml");
                    //so.addVariable("xmlfile", "/public/swf/gamers/albuminfo.xml");
                    so.addParam("wmode", "transparent");
                    so.write("comicBookDisplay");
                // ]]>
                </script>

                <!-- Open the mini stacker box -->
                <div class="miniStacker left">
                    <h1>Attention All Warriors</h1>
                    <div class="stacker">
                        <img src="/public/img/home/alert_thumb1.jpg" alt="" width="73" height="72" />
                        <div class="stackBody">
                            <h2>EARN MORE POINTS</h2>
                            <p>Coming soon:    Recruit your friends into the Shakti Warriors academy and earn additional points for each new Recruit.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    
                </div>
                <!-- Close the mini stacekr box -->
                <a class="right autoNewWindow"  href="/application.php?systemMessage=<?= $heroMachineSystemMessage?>"><img src="/public/img/home/call_heroMachine.jpg" width="272" height="248" alt=""></a>
                <!-- <a class="left" href="/campShakti.php"><img style="margin-top: 10px;" src="/public/img/home/campShaktibanner.jpg" width="744" height="94" alt=""></a> -->
                <div class="clear"></div>
            </div>
            <div style="display: none">
                <div id="ShaktiProgramContent">
                    <div>
                        <h1><img src="/public/img/home/ShaktiWarriorsProgram-header.png" alt="Bring the SHAKTI Warriors program to your school!" /></h1>
                        <div>
                            <b>Hey Kids,</b>
                            <img src="/public/img/orbs/slides/slide2Bg.png" alt="" class="popimg-right" />
                            <p>If you want to bring the SHAKTI Warriors program to your school, have your teachers go to</p>
							<p><a href="http://www.healthyheroes.com/" target="_blank">healthyheroes.com</a></p>
							<p>or click on the link below to learn about our program.</p>
                            <p><a class="assessmentButton" href="http://www.healthyheroes.com/" target="_blank"></a></p>
                        </div>
                    </div>
                </div>
            </div>

    <?php include("_scripts.phtml"); ?>
    <script type="text/javascript">
        new application.page.HomePage();
    </script>
<?php include("_footer.phtml"); ?>