<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn clearfix">
            <div id="messages">
                <img src="/public/img/headers/invitetoCornerbanner.png" />
                <form class="shakti-form" id="inviteForm" action="app/actions/doInviteToCorner.php" method="post">
                    <input autocomplete="off" type="hidden" name="recipientId" value="<?=$requestUser->id?>"/>
                    <input autocomplete="off" type="hidden" name="senderId" value="<?=$user->id?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>
                                    <textarea id="message" name="message">I consider you a great friend and would like for you to be in my corner</textarea>
                                </label>
                            </div>
                        </div>
                         <div class="form-tc"></div>
                        <div class="form-bc"></div>
                        <div class="fieldWrap">
                            <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
