<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <img src="/public/img/headers/joinCompetition.png" />
            <div class="searchContainer clearfix">
                <a href="/groupDetails.php?groupId=<?=$group->id?>"><img src="/public/img/buttons/back.png" alt="Back To Team" /></a>
            </div>
            <div id="messages">
                <form class="shakti-form" id="removeForm" action="app/actions/doJoinCompetition.php" method="post" enctype="multipart/form-data">
                    <input autocomplete="off" type="hidden" name="competitionTeam[groupId]" value="<?=$group->id?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>Competition
                                    <select name="competitionTeam[competitionId]" class="required">
                                        <option value="">Select a Competition</option>
                                        <?php foreach($competitions as $competition) { ?>
                                            <option value="<?=$competition->id?>"><?=$competition->name?></option>
                                        <?php } ?>
                                    </select>
                                </label>
                            </div>
                            <div class="fieldWrap">
                                <label>Passcode
                                    <input type="text" name="passcode" class="required"/>
                                </label>
                            </div>
                             <div class="fieldWrap">
                                <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="submitButton" />
                            </div>
                        </div>
                        <div class="form-tc"></div>
                        <div class="form-bc"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>