<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<script type="text/javascript">

    var timer;
    var elapsedTime;
    var timeLimit;
    var limitReached;
    var timerStarted;
    var timeLeft;
    var hasFocus;

    function updateImages(){
        $.getJSON('/json/getReadArticles.php', function(data){
            $.each(data, function(key, article){
                var article = $('#article-' + article.libraryArticleId)
                article.addClass("checked");
                article.find("input[name=pointsAvailable]").val("0");
            });

        });
    }

    function updateTimer() {
        if (!hasFocus) {
            elapsedTime++;

            timeLeft = timeLimit - elapsedTime;
            $("#timerSeconds").html(timeLeft);

            if (!limitReached && elapsedTime >= timeLimit) {
                $("#startArticleLink").hide();
                $("#readArticleLink").hide();
                $("#finishArticleLink").show();
                $("#timerText").html("Good job on reading this article.  You've earned 150 points.  Click &#34;Earn Points&#34; to receive your points.");
            } else if (!timerStarted){
                $("#startArticleLink").hide();
                $("#readArticleLink").show();
                $("#finishArticleLink").hide();

                $("#timerText").html("Are you sure you've read the whole article?  You probably need at least <span id='timerSeconds'>" + timeLeft + "</span> more seconds to complete reading it.  Click &#34;Continue&#34; to finish reading.");
                timerStarted = true;
            }


            var minutes = Math.floor(elapsedTime / 60);
            var seconds = elapsedTime % 60;

            var secString = "" + seconds;
            if (seconds < 10)
                secString = "0" + secString;

            console.log($("#timer"));

            $("#timer").html(minutes + ":" + secString);
        }
    }

    function stopTimer() {
        $("#fancybox-close").css('right', '109px');
        $("#fancybox-close").css('top', '42px');
        $("#fancybox-overlay").css('background', '');
        clearInterval(timer);
        timer = null;
        $("#timer").html("0:00");
    }
    function startTimer() {
        $("#timerText").html('We\'ve calculated that it should take you at least <span id="timerSeconds"></span> to read this article.  Click "GO" to get started!');
        $("#fancybox-close").css('right', '30px');
        $("#fancybox-close").css('top', '65px');
        $("#fancybox-overlay").css('background','none');
    }
    $(document).ready(function() {

        hasFocus = true;
        $(window).blur(function() {
            hasFocus = false;
        });
        $(window).focus(function() {
            hasFocus = true;
        });

        $(".articleLink").click(function() {
            var articleId = $(this).attr("rel");
            var pages = parseFloat($(this).attr("rev"));
            timeLimit = pages * 30;

            $("#startArticleLink").attr("href", "/app/actions/doReadArticle.php?articleId=" + articleId);
            $("#startArticleLink").show();
            $("#readArticleLink").attr("href", "/app/actions/doReadArticle.php?articleId=" + articleId);
            $("#readArticleLink").hide();
            $("#finishArticleLink").attr("href", "/app/actions/doFinishArticle.php?articleId=" + articleId);
            $("#finishArticleLink").hide();
            $.fancybox({
                'href': '#articleOverlay',
                'onStart': startTimer,
                'onClosed': stopTimer
            });

            $("#timerSeconds").html(timeLimit + " seconds ");
            return false;
        });

        $("#startArticleLink").click(function() {
            if (timer == null) {
                elapsedTime = 0;
                limitReached = false;
                timer = setInterval(updateTimer, 1000);
            }
        });



        updateImages();
        <?php if ($articleId != null) {?>
            $("#article-<?=$articleId?> a.articleLink").click();
        <?php }?>

    });
</script>
<div id="mainContent">
     <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
           <div id="messages">
               <div class="header">
                    <img src="/public/img/headers/library<?=$user->getRankName()?>.png" />
                    <div class="buttonsMenu clearfix">
                        <a href="/welcome.php" class="gotoBack"></a>
                        <a href="/echoBoard.php" class="gotoEchoBoard"></a>
                    </div>
                    <div class="subheader">
                        <img src="/public/img/library/clickToRead.png" />
                    </div>
                    <!-- <h1><span id="newMatchingStyles"><?=$user->getRankName()?> Library</span></h1> -->
                     <h3>Remember you have to complete all of these to move up a rank!&nbsp&nbsp&nbspDon't Let CHAOS talk you out of reading these!</h3>
                </div>
                <div class="libWrap clearfix">
                <?php
                    foreach ($articleSubjects as $subjectData){
                        $subject = $subjectData['subject'];
                        $totalPoints += $subjectData['subjectPoints'];
                ?>
                <div class="subjectWrap">
                    <h2><?=$subject->displayName?></h2>
                    <div class="subjectInner">
                        <div class="libImg">
                            <img src="/data/subject/<?= $subject->id ?>.jpg"/>
                        </div>
                        <?php foreach ($subjectData["articles"] as $article){?>
                            <div class="article" id="article-<?=$article->id?>">
                                <input autocomplete="off" type="hidden" name="pointsAvailable" value="<?=$article->points?>"/>
                                <a href="#" class="articleLink" rel="<?=$article->id?>" rev="<?=$article->pages?>" style="display:block;height:58px;">&nbsp;</a>
                                <div class="articleInner">
                                    <?=$article->points?>
                                </div>
                            </div>
                        <?php }?> <!-- end Article loop -->
                        <div class="total">
                            Total
                            <div class="totalSubjectPoints">
                                <?=$subjectData['subjectPoints']?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php }?> <!-- end Subject loop -->
                </div>
                <div class="grandTotal">
                    Total
                    <div class="grandTotalPoints" id="grandTotalPoints">
                        <?=$totalPoints?>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br class="clear" />
</div>
<div style="display: none">
    <div id="articleOverlay">
        <div id="timerUpper"></div>
        <div id="timerMid">
            <h1 id="timerText">We've calculated that it should take you at least <span id="timerSeconds"></span> to read this article.  Click "GO" to get started!</h1>
        </div>
        <div id="timerLower">

            <div id="timer">
                0:00
            </div>
            <div id="readLink">
                <a href="#" id="startArticleLink" target="_blank" style="display:none"><img src="/public/img/library/overlay/go.png" alt="Go" /></a>
                <a href="#" id="readArticleLink" target="_blank" style="display:none"><img src="/public/img/library/overlay/continue.png" alt="Continue" /></a>
                <a href="#" id="finishArticleLink" style="display:none"><img src="/public/img/library/overlay/earnPoints.png" alt="Earn Points" /></a>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include "_footer.phtml"; ?>
