<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <form method="post" action="/app/actions/doAnswerLibraryQuestion.php">                    
                    <input type="hidden" name="articleId" value="<?=$libraryArticleId?>"/>
                    <h1><?=$quizQuestion->question?></h1>
                    <?php foreach ($quizQuestionOptions as $option) {?>
                    <div>
                        <input type="radio" name="option" value="<?=$option->id?>"/><label><?=$option->option?></label>
                    </div>
                    <?php }?>
                    <div>
                        <input type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>