<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script type="text/javascript" src="/public/js/jquery-1.5.2.min.js"></script>        
        <script type="text/javascript" src="/public/js/jquery.jplayer.min.js"></script>        
		<link rel="stylesheet" type="text/css" href="/public/css/global.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/jplayer/skins/blue.monday/jplayer.blue.monday.css" />
		<script type="text/javascript">
			$(document).ready(function() {
				$("#media1").click(function() {					
					$.fancybox({
						'padding'		: 0,
						'autoScale'		: false,
						'transitionIn'	: 'none',
						'transitionOut'	: 'none',
						'title'			: this.title,
						'width'			: 773,
						'height'		: 516,
						'href'			: '/app/views/mediaPlayer3.phtml',
						'type'			: 'iframe',
						'onStart'		: function () {
							$("#fancybox-close").css('right', '154px');
							$("#fancybox-close").css('left', 'auto');
							$("#fancybox-close").css('top', '20px');
							$("#fancybox-overlay").css('background','none');
						}
					});
					return false;
				});

				$("#jquery_jplayer_1").jPlayer( {
	    			 ready: function () {
	    			     $(this).jPlayer("setMedia", {
	    			         mp3: "/public/mp3/themeSong.mp3"
	    			     }).jPlayer("play");
	    			 },
	    			 swfPath: "/public/swf",
	    			 supplied: 'mp3',
	    			 wmode: "window"
				 });
			});	             
		</script>
	</head>
	<body style="background:none;">
		<div class="mediaPlayerBG">
			<div class="mediaPlayerBGContainer">
				<div id="media3" style="padding-top: 35px;">
					<div id="jquery_jplayer_1" class="jp-jplayer"></div>
                      <div id="jp_container_1" class="jp-audio">
                        <div class="jp-type-single">
                          <div class="jp-gui jp-interface">
                            <ul class="jp-controls">
                              <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
                              <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
                              <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
                              <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
                              <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
                              <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
                            </ul>
                            <div class="jp-progress">
                              <div class="jp-seek-bar">
                                <div class="jp-play-bar"></div>
                              </div>
                            </div>
                            <div class="jp-volume-bar">
                              <div class="jp-volume-bar-value"></div>
                            </div>
                            <div class="jp-time-holder">
                              <div class="jp-current-time"></div>
                              <div class="jp-duration"></div>
                              <ul class="jp-toggles">
                                <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
                                <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
                              </ul>
                            </div>
                          </div>
                          <div class="jp-title">
                            <ul>
                              <li>Bubble</li>
                            </ul>
                          </div>
                          <div class="jp-no-solution">
                            <span>Update Required</span>
                            To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                          </div>
                        </div>
                      </div>
				</div>
				<a href="javascript:history.go(-1)"><img class="mediaBack" src="/public/img/backgrounds/mediaBack.png"></a>
			</div>
		</div>
	</body>
</html>