<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/global.css" />
        <script type="text/javascript">
            $(document).ready(function() {
                $("#media1").click(function() {
                    $.fancybox({
                        'padding'        : 0,
                        'autoScale'        : false,
                        'transitionIn'    : 'none',
                        'transitionOut'    : 'none',
                        'title'            : this.title,
                        'width'            : 773,
                        'height'        : 516,
                        'href'            : '/app/views/mediaPlayer1.phtml',
                        'type'            : 'iframe',
                        'onStart'        : function () {
                            $("#fancybox-close").css('right', '154px');
                            $("#fancybox-close").css('left', 'auto');
                            $("#fancybox-close").css('top', '20px');
                            $("#fancybox-overlay").css('background','none');
                        }
                    });
                    return false;
                });
            });
        </script>
    </head>
    <body style="background:none;">
        <div class="mediaPlayerBG">
            <div class="mediaPlayerBGContainer">
                <div id="media1">
                    <iframe class="youtube-player" type="text/html" width="640" height="390" src="http://www.youtube.com/embed/zOoVxa8nhO0" frameborder="0"></iframe>
                </div>
                <a href="javascript:history.go(-1)"><img class="mediaBack" src="/public/img/backgrounds/mediaBack.png"></a>
            </div>
        </div>
    </body>
</html>