<?php include("_header.phtml"); ?>
<script type="text/javascript">
$(document).ready(function() {
    $(".cardViewButton").click(function() {
        $("#warriorCardView").show();
        $("#warriorListView").hide();
        $("#usersNext").attr("href", "/searchUser.php?search=&orderBy=points&view=card");
        return false;
    });

    $(".listViewButton").click(function() {
        $("#warriorListView").show();
        $("#warriorCardView").hide();
        $("#usersNext").attr("href", "/searchUser.php?search=&orderBy=points&view=list");
        return false;
    });
});
</script>
<div id="mainContent" class="extraPad clearfix">
    <div class="headerPic">
        <img src="/public/img/headers/meetOther.png" />
    </div>
    <?php include "_searchBar.php"; ?>
    <h2>TOP WARRIORS</h2>
    <div class="teamWarriorsContainer">
        <img src="../../public/img/headers/teamWarriors.png" />
        <div id="warriorCardView">
            <div class="tabLinks clearfix">
                <div class="tabsHolder clearfix">
                    <ul>
                        <li>
                            <a href="#" class="cardViewButton"><!-- Card --></a>
                        </li>
                        <li>
                            <a href="#" class="listViewButton"><!-- List --></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cardHolderTopBorder"><!-- Yep --></div>
            <div style="clear: both;"><!-- Hello--></div>
            <div class="containerForBorders">
                <?php
                    $count = 0;
                    foreach ($members as $member){
                        $child = $member->getChild();
                        $count++;
                ?>
                    <div class="warrior <?=$member->getChildHero()->color?> <?=$count % 3 == 0 ? 'last':''?>">
                        <div class="warriorWrap">
                            <div class="pointsHead">
                                POINTS:
                            </div>
                            <div class="points">
                                <?=number_format($member->getTotalPoints())?>
                            </div>
                            <div class="name">
                                <a href="/viewWarrior.php?userId=<?= $member->id ?>"><?= $member->login; ?></a>
                            </div>
                            <?php if($member->login == $groupLeader->login) {?>
                                <div id="captain">(Team Captain)</div>
                            <?php }?>
                            <div class="location">
                                <?php if ($member->getSchool() != null) {?>
                                    School: <?=$member->getSchool()->name?>
                                <?php } else {?>
                                    Based out of <?= $child->state ?>
                                <?php }?>
                            </div>
                            <div class="joinDate">
                                Joined: <?=date("m/d/y", strtotime($child->createdAt))?>
                            </div>

                            <div class="pic">
                                 <a href="/viewWarrior.php?userId=<?= $member->id ?>">
                                    <?php if (file_exists($member->getOriginalStoragePath())) {?>
                                       <img src="<?=$member->getFilePath("thumb")?>" />
                                    <?php } else { ?>
                                       <img src="/public/img/backgrounds/noWarriorDesign.png" height="214" />
                                    <?php }?>
                                </a>
                            </div>
                            <div class="rankImg">
                                <div class="tabHolder"><!-- HERE I GO AGAIN ON MY OWN --></div>
                                <a href="/viewWarrior.php?userId=<?= $member->id ?>">
                                    <img src="/public/img/global/<?=$member->getRankImage()?>" height="109" width="109"/>
                                </a>
                                <div class="invite">
                                    <?php
                                        if (isset($_SESSION['user'])) {
                                            $loggedInUser = $_SESSION['user'];
                                            if (sizeof($loggedInUser->getLeaderTeams()) != 0){
                                    ?>
                                        <a href="/groupInvite.php?userId=<?=$member->id?>"><img src="/public/img/backgrounds/inviteToTeam.png" /></a>
                                    <?php } if ($loggedInUser->role == 'admin') { ?>
                                        <a href="/changePassword.php?userId=<?=$member->id?>"><img src="/public/img/backgrounds/changePassword.png" /></a>
                                    <?php } if ($loggedInUser->getChild()->academyYear > 1) {?>
                                        <a href="/inviteToCorner.php?userId=<?=$member->id?>"><img src="/public/img/backgrounds/inviteToCorner.png" /></a>
                                    <?php
                                            }
                                        }
                                    ?>
                                </div>
                            </div>
                            <div class="swid">
                                SW ID#: <?=$member->id?>
                            </div>
                        </div>
                    </div>
                    <?php if ($count % 3 == 0) { ?>
                        <div class="clear"></div>
                    <?php } ?>
                <?php }?>
                <br class="clear" />
            </div>
            <div class="cardHolderBottomBG"> <!-- yep --></div>
        </div>
        <div id="warriorListView" class="clearfix" style="display: none">
            <div class="tabLinks clearfix">
                <div class="tabsHolder clearfix">
                    <ul>
                        <li>
                            <a href="#" class="cardViewButton"><!-- Card --></a>
                        </li>
                        <li>
                            <a href="#" class="listViewButton"><!-- List --></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="listTopBorder"><!-- Yep --></div>
            <div class="tableContainer">
                <table width=705 cellpadding=0 cellspacing=0 class="listTable">
                    <tr id="trhead">
                        <td>Warrior Name</td>
                        <td>Points</td>
                        <td>Rank</td>
                    </tr>
                     <?php
                         $count = 0;
                         foreach ($members as $member){
                             $child = $member->getChild();
                             $count++;
                     ?>
                        <tr class="black">
                            <td>
                                <a href="/viewWarrior.php?userId=<?= $member->id ?>"><?= $member->login; ?></a>
                                <?php if($member->login == $groupLeader->login) {?>
                                    <br/>
                                    (Team Captain)
                                <?php }?>
                            </td>
                            <td class="borderLeft">
                                <p class="points"><?=number_format($member->getTotalPoints())?></p>
                            </td>
                            <td class="borderLeft">
                                <p class="rank-<?=strtolower(str_replace(" ", "-",$member->getRankName()))?>">
                                    <?=$member->getRankName()?>
                                </p>
                            </td>
                        </tr>
                    <?php }?>
              </table>
           </div>
           <div class="bottomTableBG"><!-- yep --></div>
        </div>
    </div>
    <br class="clear" />
    <a href="/searchUser.php?search=&orderBy=points" class="next" id="usersNext">View More</a>
    <br class="clear" />

    <hr/>
    <h2>TOP TEAMS</h2>
    <?php
        $count = 0;
        foreach($groups as $group){
            $count++;
    ?>
        <div class="teamWarrior <?=$group->color?> <?=$count % 3 == 0 ? 'last':''?>">
            <div class="teamWarriorWrap">
                <div class="teamPointsHead">
                    POINTS:
                </div>
                <div class="teamPoints">
                    <?= number_format($group->points); ?>
                </div>
                <div class="teamPic">
                    <a href="/groupDetails.php?groupId=<?= $group->id ?>"><img src="/public/img/group/<?=$group->color?>TeamOrb.png" /></a>
                </div>
                <div class="teamName">
                    <a href="/groupDetails.php?groupId=<?= $group->id ?>"><?= $group->name; ?></a>
                </div>
                <div class="teamLocation">
                    Based out of <?= $group->location ?>
                </div>
            </div>
        </div>
    <?php }?>
    <br class="clear"/>
    <a href="/searchGroup.php?search=&orderBy=points" class="next">View More</a>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
