<?php include("_header.phtml"); ?>
<div id="mainContent">
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
           <div id="messages">
                <img src="/public/img/headers/messageBoard.png" class="headerPic"/>
                <form id="messageForm" method="post" action="/app/actions/doPostMessage.php">
                    <fieldset>
                        <input autocomplete="off" type="hidden" name="groupId" value="<?=$group->id?>"/>
                        <input autocomplete="off" type="hidden" name="senderId" value="<?=$user->id?>"/>
                        <div><textarea name="message" class="required"></textarea></div>
                        <div><input autocomplete="off" type="submit" value="Submit"/></div>
                    </fieldset>
                </form>
                <h2>Recent Messages</h2>
                <div id="superHeroMessages">
                    <?php foreach ($messages as $message){?>
                        <div class="message">
                            <h2>Message from <?= $message->login?> : <?=date("F j, Y, g:i a", strtotime($message->sentOn))?></h2>
                            <p><?= $message->message?></p>
                            <hr/>
                            <br class="clear" />
                        </div>
                    <?php }?>
                </div>
            </div>
        </div>
    </div>
     <br class="clear" />
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
