<?php include("_header.phtml"); ?>
    <div id="mainContent">
        <img src="/public/img/recruits/hdr_theFateOfTheWorld.gif" alt="The Fate of The World Is In Your Hands" width="260" height="54" />
        <p>Our Mission, at the Super Hero Academy for Knowledge Training and Integrity (S.H.A.K.T.I Academy) is to train and deploy a new team of super heroes all over the world - well equipped to defend against Chaos in their homes, their schools and their communities.</p>
        <p>If you are receiving this message it is not by accident. <span>You</span> have been specifically chosen for this mission. You, and other recruits like you all over the world, have been chosen to band together and join the ranks of The Warriors - the <span>Shakti Warriors</span> - and help defeat Chaos.</p>
        <p><span>If you accept this challenge</span> - THE SACRED SECRETS FOR DEVELOPING THE SUPERHERO WITHIN YOU AND STRATEGIES FOR DEFEATING CHAOS WILL BE YOURS! </p>
    </div>
    <?php include("_scripts.phtml"); ?>
    <script type="text/javascript">
        new application.page.DefaultPage();
    </script>

<?php include("_footer.phtml"); ?>