<?php include("_header.phtml"); ?>
    <div id="mainContent">
        <img src="/public/img/legal/privacyHDR.gif" alt="The Shakti Warriors Terms and Conditions" />
        <p>The H2 Group, LLC  (formerly known as Healthy Heroes, LLC) herein H2G is committed to protecting and safeguarding consumer privacy on the Internet, especially for children. This privacy policy ("Privacy Policy") describes how we handle the personal information provided to us on this web site ("Site"), accessible from www.shaktiwarriors.com. This Privacy Policy applies only to the Site, not to any other third party sites that may be accessible from here.</p>

        <p>When dealing with children under the age of 13, H2G follows stringent guidelines that prohibit the sharing of personal information with any third parties. These are outlined in H2G' Parental Consent Policy listed below. H2G does not sell or ship any items directly to users who are under the age of 18.</p>

        <p>Please be sure to read this Privacy Policy before using this Site or submitting information to us. Our Privacy Policy may change from time to time and your continued use of this Site constitutes acceptance of such changes, so please check this area periodically for updates to this Privacy Policy. </p>

        <h1>Information H2G Collects From You</h1>

        <p>On our Site, we offer many features such as, SW Mission, About The Warriors, About Chaos, Meet other Warriors-in-Training, Online Games and Comics, that are highly entertaining which do not require a visitor of our site to provide any personal information.</p>

        <h1>Active Information Collection</h1>

        <p>H2G does not collect personally identifiable information unless our visitors provide this information to us. Visitors who are over 18 and wish to order merchandise from this Site are required to provide their full name, billing and shipping addresses, email address, telephone number, and credit card number. If the order is being shipped to a third party, the recipient's name and shipping address is also required. This information is used to fulfill the order.

        H2G does collect other information about our users but at all times the user is kept anonymous to H2G. The type of information collected includes the following: 1) Demographic Information, 2) Creative Information (creating your own super hero), and 3) Program Tracking Information. (See below for details of the information gathered in each of these areas.)</p>

        <ul>
        <li>Demographic Information. Demographic information collected is used to enhance and custom-tailor each user's experience on the Shakti Warriors website. This information includes: first name (only, not last name), gender, birth year, city, state, ethnicity, height and weight.. We want to emphasize that this information is used solely for H2G to better understand the users of our site. This information will not be shared with other third party organizations in any detailed format. However, H2G does share aggregate information about the users of Shakti Warrior website with our advertisers, business partners, sponsors and certain others. As mentioned above, this aggregate information is used to develop, improve and customize H2G website to better serve visitors to our website.
        </li>
        <li>Creative Information. This information is the portion of our site called the Super Hero Creation section (or the Warriors-in-Training). This section allows the users of the site to define the characteristics of the super hero they are becoming. It encourages them to be creative in their expression of this. This information is not about the child, but about the super hero they area creating themselves to be. Creative Information includes: super hero name, super hero secret code, super hero mentor (one of the Shakti Warriors), physical characteristics of the super hero they are creating including: height, weight, ethnicity, hair color and characteristics, body characteristics, super hero outfit, super hero powers, super human powers, and we ask questions requiring the user to give thought about their super hero - which are: Why do you want to become a super hero? and What good will you do in the world once you are a super hero. Creative Information is not shared with any third parties, but it is posted on the website for anyone to view. </li>
        <li> Program Tracking Information. This information tracks the various activities that a user completes during the day. Activities such as going to bed on time? Eating 3-5 helpings of fruits and vegetables each day? Focusing on the positive? If a user completes an activity they are then awarded points for having done so. Program Tracking Information is not shared with any third parties. For a detailed list of the activities tracked please visit our SW Training Program page.</li>
        </ul>

        <h1>Communication with the Super Heroes</h1>

        <p>Our system is set up so that our super heroes can communicate words of encouragement to the users of the system. For instance, if a child starts to eat more fruits and vegetables over the weeks, one of our super heroes will send them a message acknowledging their performance and reinforcing the need to eat more fruits and vegetables in order to have a heroes body. These messages are static messages and have been defined in advance based on a variance algorithm. All messages are stored within an internal database. There is just one-way communication from the system to the users of the system. There is no "real time" communication. After the user has logged on with their super hero name and secret code they will be notified if they have any new messages. The users of the system can then click on an icon to review their messages.</p>

        <h1>Passive Information Collection</h1>

        <p>H2G collects a variety of statistical data about its website visitors. This data includes the source IP address of the visitor, the time of visit, the areas of the site visited and information about browser, operating system and other system parameters. None of this information is used to personally identify any individual visitor, and is used solely for the purposes of analyzing overall traffic and usage patterns.</p>

        <h1>Use of Cookies</h1>

        <p>H2G uses "cookie" technology to enhance a visitor's online experience by making it easier to navigate through our website or to make an activity work better.</p>

        <p>Cookies are small pieces of information or files that a website puts on a computer's hard disk for record-keeping purposes. Cookies allow a computer to "remember" information from our website for future navigation. The use of cookies is an industry standard and is practiced by most major websites. Cookies alone tell us nothing about who you are. You may elect not to allow cookies to be collected by adjusting your settings on your browser, though this may inhibit the functioning of site features that depend on cookies.</p>

        <p>We use cookies and tracking technologies in a variety of ways, including:</p>

        <ul>
        <li>Keeping track of your Super Hero name and Secret Code to allow for easy navigation through the site.</li>
        <li>Accumulating and reporting anonymous, aggregate (data collected in mass), statistical information on website.</li>
        <li>Saving your password so you don't have to re-enter it each time you visit our sites.</li>
        </ul>

        <h1>How H2G Uses Your Information</h1>

        <p>H2G uses your personal information to enhance the operation of this Site and allow you to use all of its features.</p>

        <p>Personal, not private, information collected is used solely by H2G or other entities that provide technical, fulfillment or other services to H2G. For example, such entities may provide services, such as, web development and enhancements, etc. Personal information is not sold or transferred to third parties.</p>

        <p>H2G will disclose any information that it is required to disclose by law, if requested by an appropriate regulatory authority or as needed in an investigation of improper or illegal conduct in connection with our Site (e.g. fraud, misrepresentation, intellectual property infringement, hacking or any other activity that may put H2G at risk).</p>

        <h1>Choices You Have About How H2G Uses Your Information</h1>

        <p>We strive to provide you with as many choices and as much control as possible regarding the personal information you provide to us. We have created mechanisms to provide you with the following control over your information:</p>

        <p>You or your child may view, modify and delete the information that you or your child has provided to us by logging on with your (or your child's) super hero name and secret code and selecting the Edit Your Profile option. There is an option that will allow you to delete your information from the system. Be careful when selecting this option. Doing so will delete all your child's information pertaining to this logon account.</p>

        <p>You may also send us an e-mail message at <a id="mailTo" href="mailto:admin@shaktiwarriors.com">admin@shaktiwarriors.com</a> to delete your child's information from our records. Please specify "delete my child" in the subject heading of your email.
        </p>

        <p>If you do not wish us to collect cookies, you may set your browser to refuse cookies, or to alert you when cookies are being sent. If you do so, please note that some parts of this Site may then be inaccessible or not function properly.</p>

        <p>Please review this Privacy Policy carefully, because if you do not agree with our practices, your ultimate choice is not to use this Site.</p>

        <h1>Correspondence</h1>

        <p>H2G uses automated e-mail systems to collect and answer correspondence from our visitors. While H2G may not have the time or manpower to individually answer each piece of correspondence, we do read all of them! H2G tries to make it easy for visitors to contact us and we provide easy instructions on our website on how you can edit information previously given or remove yourself from automated messages generated by Shakti Warriors. Should you have a technical problem doing this please contact <a href="mailto:admin@shaktiwarriors.com">admin@shaktiwarriors.com.</a> </p>

        <h1>Security</h1>

        <p>The importance of security for all personal information associated with ShaktiWarriors.com visitors is of utmost concern to us. As such, we collect limited personally identifiable information. H2G exercises great care and implements a variety of technologies to make the Shakti Warrior website as secure as possible against unauthorized access and to protect the information visitors choose to provide to us. H2G uses the industry standard, SSL (secure socket layer) encryption when collecting information that is transmitted to us.</p>

        <p>The safety and security of your information also depends on you. You should never share your password with anyone else. Notify us promptly if you believe their password security has been breached, and remember to log off of this site before you leave your computer.</p>

        <p>This Site may contain links to other web sites operated by third parties that may be of interest to you. We cannot control these third party sites, which may collect personal information from you. When you follow a link and leave this Site, you do so at your own risk.</p>

        <h1>How You Can Contact H2G</h1>

        <p>If you have any questions, comments, or concerns about this Privacy Policy or the information practices of this Site, please contact us at:</p>

        <p>The H2 Group<br />218 N. Pitt Street <br />Alexandria, VA  22314</p>

        <p><a href="mailto:admin@shaktiwarriors.com">admin@shaktiwarriors.com</a></p>

        <h1>H2G Parental Consent Policy</h1>

        <p>Special notice for users under the age of thirteen and their parents:</p>

        <p>Where ShaktiWarriors.com's information collection activities involve children, H2G provides special privacy protections. H2G is committed to protecting the online privacy of children. In accordance with the Children's Online Privacy Protection Act ("COPPA"), H2G will not knowingly collect any personally identifiable information from children under the age of thirteen (13), therefore, obtaining parental consent is not a requirement. Furthermore, H2G does not share any detailed information about users under the age of 13 with third parties. However, H2G does share aggregate information about the users of Shakti Warrior website with our advertisers, business partners, sponsors and certain others. As mentioned above, this aggregate information is used to develop, improve and customize Shakti Warriors website to better serve visitors to our website.</p>

        <p>Parents and/or children can remove themselves from participating in the Shakti Warrior online academy by selecting the Delete button from the "EDIT YOUR PROFILE" option. Please note that deleting a child from the academy will delete all information about the child including: demographic, creative, and program information. Once deleted, this information is not retrievable.</p>

        <p>Although there is currently no advertising being done on the Shatki Warriors website, we have plans to do so in the future. It will be H2G' intention to adhere to the Children's Advertising Review Unit (CARU) Guidelines on Internet advertising with its special sensitivities regarding solicitations to children under thirteen (13).</p>

        <p>H2G encourages parents/guardians to supervise and join their children in exploring cyberspace. H2G is proud of its website and believes that it is suitable for H2G fans of all ages.</p>

        <p>H2G will not disclose information collected from children under the age of 13 to third parties unless except in special cases where H2G has reason to believe that disclosure is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference (whether intentionally or unintentionally) with H2G' rights or property or anyone else who may be harmed by such actions or if required by law.</p>

        <p>H2G recommends that parents/guardians monitor and supervise the online activities of their children and to consider using available parental control tools which can prevent children from disclosing their name, address, and other personal information without parental permission. Visitors to ShaktiWarriors.com website who are under thirteen (13) years old should not be submitting any personally identifiable information like their last name, address, e-mail address, phone number etc. without a parent's or guardian's permission.</p>

        <h1>Effective Date</h1>

        <p>This Privacy Policy is effective as of 6/14/06</p>

        <p>CH02/ 22452348.2</p>
    </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>