<?php

    $controlPanel = true;
    include("_header.phtml");
?>

    <link type="text/css" rel="stylesheet" href="/public/css/jquery.autocomplete.css" />
    <script src="/public/js/jquery.autocomplete.js" type="text/javascript"></script>
    <script src="/public/js/jquery.bgiframe.js" type="text/javascript"></script>
    <script src="/public/js/jquery.dimensions.js" type="text/javascript" ></script>

    <script type="text/javascript">
        function findValueCallback(event, data, formatted) {
            $("<li>").text( !data ? "No match!" : "Selected: " + formatted).appendTo("#result");
        }

        function formatItem(row) {
            //var row = row.split("|");
            return row[0] + " (id: " + row[1] + ")";
        }

        function formatResult(row) {
            return row[0];
        }

        $(window).load(function()
        {
            $("#q").autocomplete("/json/getLogins.php");
        });
    </script>
<div id="mainContent">
<?php include("_menu.phtml"); ?>
  <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
                <img src="/public/img/application/showRecruits.png"/>
            <div id="message">
                <div id="findYourRecruiter">
                    <img src="../../public/img/recruits/whorcrtdyouHDR.gif" alt="Who Recruited You?">
                    <input autocomplete="off" id="q" type="text" name="fname" value="" />
                    <input autocomplete="off" type="submit" value="Save" />
                </div>
                <div id="yourRecruits">
                    <img src="../../public/img/recruits/yourrecruitsHDR.jpg" width="333" height="30" alt="">
                    <div>Recruit #1</div>
                </div>
                <div class="clear"><!-- & --></div>
            </div>
        </div>
        <div id="heroBanner">
            <div id="heroSelect">
                <img src="/public/img/home/heroSelect_1.jpg" alt="Hero" /><a href="bios.php?pages=30"><img class="autoRollOver" src="/public/img/home/heroSelect_2.jpg"></a><a href="bios.php?pages=27"><img class="autoRollOver" src="/public/img/home/heroSelect_3.jpg"></a><a href="bios.php?pages=12"><img class="autoRollOver" src="/public/img/home/heroSelect_4.jpg"></a><a href="bios.php?pages=18"><img class="autoRollOver" src="/public/img/home/heroSelect_5.jpg"></a><a href="bios.php?pages=22"><img class="autoRollOver" src="/public/img/home/heroSelect_6.jpg"></a><a href="bios.php?pages=4"><img class="autoRollOver" src="/public/img/home/heroSelect_7.jpg"></a><a href="bios.php?pages=8"><img class="autoRollOver" src="/public/img/home/heroSelect_8.jpg"></a>
                <div class="clear"><!-- & --></div>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
