<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <img src="/public/img/headers/removeMember.png" />
            <div class="searchContainer clearfix">
                <a href="/groupDetails.php?groupId=<?=$group->id?>"><img src="/public/img/buttons/back.png" alt="Back To Team" /></a>
            </div>
            <div id="messages">
                <form class="shakti-form" id="removeForm" action="app/actions/doRemoveMemberFromGroup.php" method="post" enctype="multipart/form-data">
                    <input autocomplete="off" type="hidden" name="groupId" value="<?=$group->id?>"/>
                    <fieldset>
                        <div class="fieldSetWrap">
                            <div class="fieldWrap">
                                <label>Member
                                    <select name="memberId">
                                        <option value="">Select Member to Delete</option>
                                        <?php
                                            foreach($group->getMembers() as $member){
                                                if ($member->id != $group->leaderId){
                                        ?>
                                            <option value="<?=$member->id?>"><?=$member->login?></option>
                                        <?php
                                                }
                                            }
                                        ?>

                                    </select>
                                </label>
                            </div>
                             <div class="fieldWrap">
                                <input autocomplete="off" type="image" src="public/img/global/pixel.gif" value="" class="deleteButton" />
                            </div>
                        </div>
                        <div class="form-tc"></div>
                        <div class="form-bc"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
