<?php include("_header.phtml"); ?>
<div id="mainContent" class="extraPad">
    <h1>Teams</h1>
    <?php include "_searchBar.php"; ?>
    <?php
        $count = 0;
        foreach($groups as $group){
            $count++;
    ?>
        <div class="teamWarrior <?=$group->color?> <?=$count % 3 == 0 ? 'last':''?>">
            <div class="teamWarriorWrap">
                <div class="teamPointsHead">
                    POINTS:
                </div>
                <div class="teamPoints">
                    <?= number_format($group->points); ?>
                </div>
                <div class="teamPic">
                    <a href="/groupDetails.php?groupId=<?= $group->id ?>"><img src="/public/img/group/<?=$group->color?>TeamOrb.png" /></a>
                </div>
                <div class="teamName">
                    <a href="/groupDetails.php?groupId=<?= $group->id ?>"><?= $group->name; ?></a>
                </div>
                <div class="teamRank">
                    RECRUIT
                </div>
                <div class="teamLocation">
                    Based in <?= $group->location ?>
                </div>
            </div>
        </div>
    <?php }?>
    <br class="clear" />
    <a class="next" href="<?= $_SERVER["SCRIPT_NAME"]?>?page=<?= $page + 1?>">NEXT</a>
    <br class="clear" />
    <?php if ($page > 0) { ?>
    <a href="<?= $_SERVER["SCRIPT_NAME"]?>?page=<?= $page - 1?>">PREVIOUS</a>
    <?php } ?>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
