<?php include("_header.phtml"); ?>
<script type="text/javascript">
$(document).ready(function() {

    var search = "<?=$search?>";
    var orderBy = "<?=$orderBy?>";
    var prevPage = <?=$prevPage?>;
    var nextPage = <?=$nextPage?>;
    var view = "<?=$view?>";

    $(".cardViewButton").click(function() {
        $("#warriorCardView").show();
        $("#warriorListView").hide();
        $(".previous").attr("href", "/searchUser.php?search=" + search + "&orderBy=" + orderBy + "&page=" + prevPage + "&view=card");
        $(".next").attr("href", "/searchUser.php?search=" + search + "&orderBy=" + orderBy + "&page=" + nextPage + "&view=card");

        return false;
    });

    $(".listViewButton").click(function() {
        $("#warriorListView").show();
        $("#warriorCardView").hide();
        $(".previous").attr("href", "/searchUser.php?search=" + search + "&orderBy=" + orderBy + "&page=" + prevPage + "&view=list");
        $(".next").attr("href", "/searchUser.php?search=" + search + "&orderBy=" + orderBy + "&page=" + nextPage + "&view=list");

        return false;
    });

});
</script>
<div id="mainContent" class="extraPad">
    <h1>Warriors</h1>
    <?php include "_searchBar.php"; ?>
    <div class="teamWarriorsContainer">
        <img src="../../public/img/headers/teamWarriors.png" />
        <div id="warriorCardView" <?=$view == "list" ? 'style="display: none"' : ''?>>
            <div class="tabLinks clearfix">
                <div class="tabsHolder clearfix">
                    <ul>
                        <li>
                            <a href="#" class="cardViewButton"><!-- Card --></a>
                        </li>
                        <li>
                            <a href="#" class="listViewButton"><!-- List --></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cardHolderTopBorder"><!-- Yep --></div>
            <div style="clear: both;"><!-- Hello--></div>
            <div class="containerForBorders">
                <?php
                    $count = 0;
                    foreach ($members as $member){
                        $child = $member->getChild();
                        $count++;
                ?>
                    <div class="warrior <?=$member->getChildHero()->color?> <?=$count % 3 == 0 ? 'last':''?>">
                        <div class="warriorWrap">
                            <div class="pointsHead">
                                POINTS:
                            </div>
                            <div class="points">
                                <?=number_format($member->getTotalPoints())?>
                            </div>
                            <div class="name">
                                <a href="/viewWarrior.php?userId=<?= $member->id ?>"><?= $member->login; ?></a>
                            </div>
                            <?php if($member->login == $groupLeader->login) {?>
                                <div id="captain">(Team Captain)</div>
                            <?php }?>
                            <div class="location">
                                <?php if ($member->getSchool() != null) {?>
                                    School: <?=$member->getSchool()->name?>
                                <?php } else {?>
                                    Based out of <?= $child->state ?>
                                <?php }?>
                            </div>
                            <div class="joinDate">
                                Joined: <?=date("m/d/y", strtotime($child->createdAt))?>
                            </div>

                            <div class="pic">
                                 <a href="/viewWarrior.php?userId=<?= $member->id ?>">
                                    <?php if (file_exists($member->getOriginalStoragePath())) {?>
                                       <img src="<?=$member->getFilePath("thumb")?>" />
                                    <?php } else { ?>
                                       <img src="/public/img/backgrounds/noWarriorDesign.png" height="214" />
                                    <?php }?>
                                </a>
                            </div>
                            <div class="rankImg">
                                <div class="tabHolder"><!-- HERE I GO AGAIN ON MY OWN --></div>
                                <a href="/viewWarrior.php?userId=<?= $member->id ?>">
                                    <img src="/public/img/global/<?=$member->getRankImage()?>" height="109" width="109"/>
                                </a>
                                <div class="invite">
                                    <?php
                                        if (isset($_SESSION['user'])) {
                                            $loggedInUser = $_SESSION['user'];
                                            if (sizeof($loggedInUser->getLeaderTeams()) != 0){
                                    ?>
                                        <a href="/groupInvite.php?userId=<?=$member->id?>"><img src="/public/img/backgrounds/inviteToTeam.png" /></a>
                                    <?php } if ($loggedInUser->role == 'admin') { ?>
                                        <a href="/changePassword.php?userId=<?=$member->id?>"><img src="/public/img/backgrounds/changePassword.png" /></a>
                                    <?php } if ($loggedInUser->getChild()->academyYear > 1) {?>
                                        <a href="/inviteToCorner.php?userId=<?=$member->id?>"><img src="/public/img/backgrounds/inviteToCorner.png" /></a>
                                    <?php
                                            }
                                        }
                                    ?>
                                </div>
                            </div>
                            <div class="swid">
                                SW ID#: <?=$member->id?>
                            </div>
                        </div>
                    </div>
                    <?php if ($count % 3 == 0) { ?>
                        <div class="clear"></div>
                    <?php } ?>
                <?php }?>
                <br class="clear" />
            </div>
            <div class="cardHolderBottomBG"> <!-- yep --></div>
        </div>
        <div id="warriorListView" class="clearfix" <?=$view == "card" ? 'style="display: none"' : ''?>>
            <div class="tabLinks clearfix">
                <div class="tabsHolder clearfix">
                    <ul>
                        <li>
                            <a href="#" class="cardViewButton"><!-- Card --></a>
                        </li>
                        <li>
                            <a href="#" class="listViewButton"><!-- List --></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="listTopBorder"><!-- Yep --></div>
            <div class="tableContainer">
                <table width=705 cellpadding=0 cellspacing=0 class="listTable">
                    <tr id="trhead">
                        <td>Warrior Name</td>
                        <td>Points</td>
                        <td>Rank</td>
                    </tr>
                     <?php
                         $count = 0;
                         foreach ($members as $member){
                             $child = $member->getChild();
                             $count++;
                     ?>
                        <tr class="black">
                            <td>
                                <a href="/viewWarrior.php?userId=<?= $member->id ?>"><?= $member->login; ?></a>
                                <?php if($member->login == $groupLeader->login) {?>
                                    <br/>
                                    (Team Captain)
                                <?php }?>
                            </td>
                            <td class="borderLeft">
                                <p class="points"><?=number_format($member->getTotalPoints())?></p>
                            </td>
                            <td class="borderLeft">
                                <p class="rank-<?=strtolower(str_replace(" ", "-",$member->getRankName()))?>">
                                    <?=$member->getRankName()?>
                                </p>
                            </td>
                        </tr>
                    <?php }?>
              </table>
           </div>
           <div class="bottomTableBG"><!-- yep --></div>
        </div>
    </div>
    <br class="clear" />
    <a class="next" href="/searchUser.php?search=<?=$search?>&orderBy=<?= $orderBy ?>&page=<?=$nextPage?>&view=<?=$view?>">NEXT</a>
    <br class="clear" />
    <?php if ($page > 0) { ?>
        <a class="previous" href="searchUser.php?search=<?=$search?>&orderBy=<?= $orderBy ?>&page=<?=$prevPage?>&view=<?=$view?>">PREVIOUS</a>
    <?php } ?>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>
