<?php include("_header.phtml"); ?>
    <div id="mainContent">
        <img src="/public/img/legal/terms_n_conditionsHDR.gif" alt="The Shakti Warriors Terms and Conditions" width="258" height="43" />
        <p>Welcome to the Shakti Warriors web site ("Site") operated by The H2 Group, LLC ("H2G"), accessible at <a href="index.php">www.shaktiwarriors.com.</a> This Site provides an online academy of Super Heroes, super hero creation capability, point tracking capability, as well as online games, comic books and store for the ordering of "training supplies." [All uses of the Site are subject to the following terms and conditions of use (these "Terms of Use"). Please read these Terms of Use carefully before accessing or using any part of this Site. By accessing or using this Web Site, you are acknowledging your consent to the following Terms of Use. If you do not agree to these Terms of Use, do not access or use any part of this Web Site. H2G reserves the right to revise and update these Terms of Use at any time by posting the amended terms to this Web Site. </p>

        <p>H2G, LLC and all related marks, designs and slogans are H2G trademarks. You may not use such marks without H2G' prior written permission. All other names, brands and marks are used for identification purposes only and may be trademarks or registered trademarks of their respective owners.</p>

        <h1>Your Conduct at This Web Site</h1>

        <p>By accessing, participating on, or otherwise using this Site, you agree that you will not post any content that:</p>

        <ul>
        <li>Contains offensive, profane, harassing, defamatory, inappropriate, threatening, infringing, obscene, or unlawful material;</li>

        <li>Contains slanderous or libelous comments about other Site users, H2G employees, or other individuals;</li>

        <li>Contains personal information about any individual;</li>

        <li>Violates the privacy of any other individual or entity;</li>

        <li>Contains business solicitation of any type, including advertising a product or service, offering a product or service for sale, or directing users to a location for more information about a product;</li>

        <li>Contains viruses, corrupted files, or any other similar software or programs that may adversely affect the operation of H2G' system or a third party's computer;</li>

        <li>Undermines the operation of a forum, chat room, or other feature; or</li>

        <li>Contains unauthorized copies of third parties' works.</li>
        </ul>

        <p>You understand and agree that H2G will remove postings that contain objectionable material or otherwise violate the foregoing terms.</p>

        <h1>Disclaimer and Limitation of Liability</h1>

        <p>H2G does not assume any liability for the materials, information and opinions provided on, or available through, the Web Site (the "Site Content"). Reliance on the Site Content is solely at your own risk. H2G disclaims any liability for injury or damages resulting from the use of any Site Content.</p>

        <p>THE SITE, THE SITE CONTENT AND THE PRODUCTS AND SERVICES PROVIDED ON OR AVAILABLE THROUGH THIS SITE ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. NEITHER H2G NOR ANY PERSON ASSOCIATED WITH H2G MAKES ANY WARRANTY OR REPRESENTATION WITH RESPECT TO THE QUALITY, ACCURACY OR AVAILABILITY OF THE SITE. NEITHER H2G NOR ANYONE ASSOCIATED WITH H2G WARRANTS OR REPRESENTS THAT THE SITE, OR THE SITE CONTENT OR THE SERVICES PROVIDED ON OR THROUGH THIS SITE WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED; THAT DEFECTS WILL BE CORRECTED; THAT THE WEB SITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR THAT THE SITE WILL OTHERWISE MEET YOUR NEEDS OR EXPECTATIONS. H2G DISCLAIMS ALL WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NONINFRINGEMENT. IN NO EVENT WILL H2G BE LIABLE FOR ANY DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF, OR INABILITY TO USE, THE SITE, THE SITE CONTENT, ANY SERVICES PROVIDED ON OR THROUGH THIS SITE OR ANY LINKED SITE, INCLUDING ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING, BUT NOT LIMITED TO, PERSONAL INJURY, LOST PROFITS OR DAMAGES RESULTING FROM DELAY, INTERRUPTION IN SERVICE, VIRUSES, DELETION OF FILES OR ELECTRONIC COMMUNICATIONS, OR ERRORS, OMISSIONS OR OTHER INACCURACIES IN THE SITE OR THE SITE CONTENT, WHETHER OR NOT THERE IS NEGLIGENCE BY H2G AND WHETHER OR NOT H2G HAS BEEN ADVISED OF THE POSSIBILITY OF ANY SUCH DAMAGES.</p>

        <h1>Indemnification</h1>

        <p>You agree to indemnify and hold harmless H2G and its officers, directors, employees, agents, affiliates, third-party information providers, licensors and others involved in the Site from and against any and all liabilities, expenses, damages and costs, including reasonable attorney's fees, arising from any violation by you of these Terms of Use or your use of the site or any products, services or information obtained from this Site.  This specifically includes, but is not limited to, any liability or damages of any kind, whether based in tort, contract, strict liability or otherwise, including without limitation, any direct, special indirect, incidental, consequential or punitive damages arising or resulting in any way from or in connection with this Site, including but not limited to emulation or imitation of any character, plot, or story.</p>

        <p>Under no circumstances does your use of this Site form any relationship, whether implied or express, with H2G.  H2G hereby disclaims any such relationship and any liability arising as a result of its use of any content, including, without limitation, messages, comments or contributions, contained on the Site.</p>

        <h1>Privacy; Protection of Personal Information</h1>

        <p>H2G' use of your personal information and your responsibilities in connection with protecting your privacy are described in our Privacy Policy which is located on home page at www.shaktiwarriors.com and is incorporated by reference into these Terms of Use.</p>

        <h1>Third Party Links</h1>

        <p>The Site may contain links to other web sites on the Internet. H2G is not responsible for and does not endorse the content, products or services of any third-party web sites, and does not make any representations regarding the quality, content or accuracy of any third-party site. Your use of third-party web sites is at your own risk and subject to the terms and conditions of use for such web sites.</p>

        <h1>Contact</h1>

        <p>Please contact us at <a id="mailTo" href="mailto:admin@shaktiwarriors.com">admin@shaktiwarriors.com</a> if you become aware of any content that may infringe the copyright of a third party or that you believe to be in violation of these Terms of Use.</p>

        <h1>Jurisdiction and Choice of Law</h1>

        <p>These Terms of Use shall be governed in all respects by and construed in accordance with the laws of the State of Illinois, USA, without regard to its conflicts of law principles. These Terms of Use, as they may be amended from time to time, completely and exclusively state the agreement between you and H2G with respect to the Site, and no other terms that may have been communicated to you orally or in any other manner shall have any force or effect. Any cause of action you may have with respect to the Site must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. You agree that jurisdiction and venue for any legal proceeding directly or indirectly arising out of or relating to the Site shall be in the state or federal courts in the State of Illinois.</p>

        <h1>Severability</h1>

        <p>If any part of these Terms of Use is unenforceable, the unenforceable part shall be construed to reflect, as nearly as possible, the original intentions of the parties. The other provisions of these Terms of Use shall remain in full force and effect.</p>
    </div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>