<?php

    $controlPanel = true;
    include("_header.phtml");
?>

<script type="text/javascript">
var baseDate = "<?= $baseDate ?>";
var calendar;

/**
* Determine if a checkbox represents a date in the future, given the checkbox's
* base date and dayOffset.
*/
function checkboxIsFuture(baseDate, dayOffset)
{
    alert(baseDate + " " + dayOffset);
    die();
}

function setCheckBoxes(baseDate)
{
    // Uncheck all inputs. Checked has no meaning for non-checkboxes, but no harm is done.
    $("input").attr("checked", false);
    $.getJSON("/json/getChildHeroTasksForWeek.php",
        {baseDate: baseDate},
        // Loop over the json result set and set the checkbox to checked for the
        // element with id e.g. 3,1 where 3 is the taskId and 1 is the offset (1 == Monday)
        function(jsonData){
              for (var i=0; i < jsonData.length; i++)
            {
                var selector = "#" + jsonData[i]['taskId'] + '_' + jsonData[i]['dayoffset'];
                $(selector).attr("checked", "checked");
            }
        }
    );
    getPointsForWeek();
}

function disableCheckBoxes(baseDate)
{
    var date = getDateObjectForString(baseDate);
    var todaysDate = new Date();
    var signUpDate = getDateObjectForString("<?=date("Y-m-d", strtotime(date("Y-m-d", strtotime($user->getChild()->createdAt)) . " -2 weeks"))?>");

    var daysOffset = Math.floor((todaysDate - date) / (24 * 60 * 60 * 1000));

    $("input").each(function()
    {
        var parts = this.id.split("_");
        var checkDate = getDateObjectForString(baseDate);
        checkDate.setDate(checkDate.getDate() + parseInt(parts[1]));
        if ((parts[1] > daysOffset) || (checkDate < signUpDate))
            $(this).attr("disabled", "disabled");
        else
            $(this).attr("disabled", false);
    });
}

function getPointsForWeek()
{
    $("#pointsForWeek").load("/json/getPointsForWeek.php", {weekStartDate: baseDate});
}

function setTask(event)
{
    if (this.checked) {
        $.ajax({
            url: "/app/actions/doSetTaskComplete.php",
            data: {baseDate: baseDate, value: this.value, checked: true, approved: true},
            type: "POST",
            success: function(data) {
                getPointsForWeek();
                updateTotalPoints();
            }
        });
    }
    else {
        $.ajax({
            url: "/app/actions/doSetTaskComplete.php",
            data: {baseDate: baseDate, value: this.value},
            type: "POST",
            success: function(data) {
                getPointsForWeek();
                updateTotalPoints();
            }
        });
    }
}

function calendarChanged(type, args, me)
{
    var selected = args[0];
    var selectedDate = this._toDate(selected[0]);
    selectedDate.setDate(selectedDate.getDate() - selectedDate.getDay());

    var correctedMonth = selectedDate.getMonth() + 1;
    baseDate = selectedDate.getFullYear() + "-" + correctedMonth + "-" + selectedDate.getDate();

    printDateLabels();
    setCheckBoxes(baseDate);
    disableCheckBoxes(baseDate);
}

function getDateLabel(offset)
{
    var date = getDateObjectForString(baseDate);
    date.setDate(date.getDate() + offset);
    return (date.getMonth() + 1 + "/" + date.getDate());
}

function printDateLabels()
{
    for (var i=0; i <= 6; i++)
        $("#dateLabel" + i).html(getDateLabel(i));
}

function addCustomTask()
{
    $.getJSON('/app/actions/doCreateCustomTask.php', function(data){
        addRow(data);

        var totalCustomTasks = parseInt($("#totalCustomTasks").val());
        totalCustomTasks++;
        if (totalCustomTasks >=2 ) {
            $("#addCustomTask").hide();
        }
        $("#totalCustomTasks").val(totalCustomTasks);

    });
}

function addRow(data)
{
    var html = '';
    html += '<tr>';
    html += '<td class="categoryOptionsCap nameColumn"><form id="editCustomTaskName"><input type="hidden" name="taskId" id="taskId" value="' + data.id + '"/><input type="text" name="customTaskNameField" id="customTaskNameField" value="' + data.name + '"/><input type="submit" value="submit"/></form></td>';
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 0);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId +"_0' value='{\"id\":" + data.taskId + ",\"dayOffset\":0}'></td>";
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 1);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId + "_1' value='{\"id\":" + data.taskId + ",\"dayOffset\":1}'></td>";
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 2);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId + "_2' value='{\"id\":" + data.taskId + ",\"dayOffset\":2}'></td>";
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 3);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId + "_3' value='{\"id\":" + data.taskId + ",\"dayOffset\":3}'></td>";
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 4);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId + "_4' value='{\"id\":" + data.taskId + ",\"dayOffset\":4}'></td>";
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 5);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId + "_5' value='{\"id\":" + data.taskId + ",\"dayOffset\":5}'></td>";
    html += "<td class='categoryOptions " + "<?= getCurrentDayClassString($baseDate, 6);?>" + "'><input autocomplete='off' class='checkbox' type='checkbox' id='" + data.taskId + "_6' value='{\"id\":" + data.taskId + ",\"dayOffset\":6}'></td>";
    html += '</tr>';
    $("#trackYourPoints").append(html);

    setCheckBoxes(baseDate);
    disableCheckBoxes(baseDate);
}

function saveChangesToCustomTask()
{
    var taskId = $(this).find("#taskId").val();
    var name =  $(this).find("#customTaskNameField").val();
    var column = $(this).parent(".nameColumn");

    $.ajax({
        url: "/app/actions/doUpdateCustomTask.php",
        data: {id : taskId, name : name},
        dataType: "json",
        type: "POST",
        async: true,
        success : function(json) {
            if (json.success) {
                var html = '<input type="hidden" id="customTaskId" value=" ' + taskId + '"/><span class="customName">' + name + '</span><button class="editNameButton">Edit</button>';
                column.html(html);
            }
            else {
                alert(json.message);
            }
        }
    });
    return false;
}

function showEditForm()
{
    var column = $(this).parent(".nameColumn");
    var name = column.find(".customName").html();
    var taskId = column.find("#customTaskId").val();

    var html = '<form id="editCustomTaskName"><input type="hidden" name="taskId" id="taskId" value="' + taskId + '"/><input type="text" name="customTaskNameField" id="customTaskNameField" value="' + name + '"/><input type="submit" value="submit"/></form>';
    column.html(html);
}

// Standard JQuery document.ready handling caused problems, perhaps only in IE.
$(window).load(function()
{
    $("input[type=checkbox]").live('click', setTask);
    $("#editCustomTaskName").live('submit', saveChangesToCustomTask);
    $(".editNameButton").live('click', showEditForm);
    setCheckBoxes(baseDate);
    disableCheckBoxes(baseDate);
    printDateLabels();

    $("#addCustomTask").click(addCustomTask);
});
</script>
<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="messages">
                <div id="pointsColumn">
                    <img src="/public/img/headers/dailyTraining.png" />
                    <a id="goBack" href="/welcome.php"><!--Back To Admin Home--></a>
                    <table id="trackYourPoints">
                    <thead>
                        <tr>
                            <td>Task</td>
                            <td>Sun <span class="dateLabel" id="dateLabel0"></span></td>
                            <td>Mon <span class="dateLabel" id="dateLabel1"></span></td>
                            <td>Tue <span class="dateLabel" id="dateLabel2"></span></td>
                            <td>Wed <span class="dateLabel" id="dateLabel3"></span></td>
                            <td>Thu <span class="dateLabel" id="dateLabel4"></span></td>
                            <td>Fri <span class="dateLabel" id="dateLabel5"></span></td>
                            <td>Sat <span class="dateLabel" id="dateLabel6"></span></td>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <?php foreach (array_keys($tasksByCategories) as $categoryName) {?>
                        <tr><td class="category" colspan="8"><?= $categoryName ?></td></tr>
                        <?php foreach ($tasksByCategories[$categoryName] as $task) {?>
                            <tr>
                                <td class="categoryOptionsCap"><?= $task->name ?></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 0);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_0" value='{"id":<?= $task->id ?>,"dayOffset":0}'></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 1);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_1" value='{"id":<?= $task->id ?>,"dayOffset":1}'></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 2);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_2" value='{"id":<?= $task->id ?>,"dayOffset":2}'></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 3);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_3" value='{"id":<?= $task->id ?>,"dayOffset":3}'></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 4);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_4" value='{"id":<?= $task->id ?>,"dayOffset":4}'></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 5);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_5" value='{"id":<?= $task->id ?>,"dayOffset":5}'></td>
                                <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 6);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $task->id ?>_6" value='{"id":<?= $task->id ?>,"dayOffset":6}'></td>
                            </tr>
                        <?php }?>
                    <?php }?>
                    <tr><td class="category" colspan="8">Your Specific Activities</td></tr>
                    <?php
                        $childHeroId = $user->getChildHeroId();
                        $childHeroCustomTaskService = new ChildHeroCustomTaskService();
                        $customCount = 0;
                        foreach ($customTasks as $customTask) {
                            $childHeroCustomTask = array_pop($childHeroCustomTaskService->find("child_hero_id = $childHeroId AND task_id = $customTask->id"));
                            if ($childHeroCustomTask != null) {
                                $customCount++;

                    ?>
                                <tr>
                                    <td class="categoryOptionsCap nameColumn"><input type="hidden" id="customTaskId" value="<?=$childHeroCustomTask->id?>"/><span class="customName"><?= $childHeroCustomTask->name ?></span><button class="editNameButton">Edit</button></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 0);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_0" value='{"id":<?= $customTask->id ?>,"dayOffset":0}'></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 1);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_1" value='{"id":<?= $customTask->id ?>,"dayOffset":1}'></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 2);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_2" value='{"id":<?= $customTask->id ?>,"dayOffset":2}'></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 3);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_3" value='{"id":<?= $customTask->id ?>,"dayOffset":3}'></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 4);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_4" value='{"id":<?= $customTask->id ?>,"dayOffset":4}'></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 5);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_5" value='{"id":<?= $customTask->id ?>,"dayOffset":5}'></td>
                                    <td class="categoryOptions <?= getCurrentDayClassString($baseDate, 6);?>"><input autocomplete="off" class="checkbox" type="checkbox" id="<?= $customTask->id ?>_6" value='{"id":<?= $customTask->id ?>,"dayOffset":6}'></td>
                                </tr>
                    <?php
                            }
                        }
                     ?>
                    </table>
                    <input type="hidden" id="totalCustomTasks" value="<?=$customCount?>"/>
                    <?php if ($customCount < 2) {?>
                        <button id="addCustomTask">Add Activity</button>
                    <?php }?>
                    <h1>Points for this Week: <span id="pointsForWeek"></span></h1>
                    <input autocomplete="off" id="printBttn" type="image" src="/public/img/welcome/printBttn.gif" style="width: 124px; height: 36px; margin-top: 20px;" value="Print This Page" onclick="window.print(); return false;" />
                </div>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
