<?php include("_header.phtml"); ?>
    <div id="mainContent"><?php include("_noFlash.phtml"); ?></div>
            <!--Training Flash Is Here-->
    <script type="text/javascript">
        // <![CDATA[

        var bo = new SWFObject("/public/swf/training_diagramv2.swf", "training_diagramv2", "757", "509", "8.0.23", "#000000");
        bo.addParam("wmode", "transparent");
        bo.useExpressInstall('public/swf/expressinstall.swf');
        bo.write("mainContent");

        // ]]>
    </script>
<!--End Training Flash Window-->
            <div><img src="/public/img/training/footerPlate.jpg" alt="Footer Plate"></div>
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td id="trainingGrayBox" valign="top">
                    <img class="grayBoxHDR" src="/public/img/headers/earnPoints.png" alt="Do You Have What it Takes to be a Hero? Unleash the Superhero Inside You! Collect Points and Earn Badges!" /><br><p>#1 - DAILY ACTIVITIES:    Perform any of the following actions at least once a day and start earning points.</p>
                    <ul>
                        <li class="listHDR">Hero's Body</li>
                        <ul>
                            <li>Exercised 60 minutes today   :   <span>10pts</span></li>
                            <li>Ate 5+ helpings of fruits and/or vegetables : <span> 10pts</span></li>
                            <li>Eat junk food less than twice today : <span>10 pts</span> </li>
                            <li>Got 9 hours of sleep last night   :   <span>10pts</span></li>
                        </ul>
                        <li class="listHDR">Hero's Mind</li>
                        <ul>
                            <li>Make it to school on time   :   <span>10pts</span></li>
                            <li>Complete your homework  :   <span>10pts</span></li>
                            <li>Take a "time-in" 2-3 times a day  :   <span>10pts</span></li>
                            <li>Limit TV and video games to 1 hour a day   :   <span>10pts</span></li>
                            <li>Tell the truth all day   :   <span>10pts</span></li>
                        </ul>

                        <li class="listHDR">Hero's Heart</li>
                        <ul>
                            <li>Were kind to those around you :   <span>10pts</span></li>
                            <li>Write in your gratitude journal   :   <span>10pts</span></li>
                            <li>Show compassion for someone today   :   <span>10pts</span></li>
                            <li>Do a nice deed for someone :   <span>10pts</span></li>
                        </ul>
                        <li class="listHDR">Hero's Community</li>
                        <ul>
                            <li>Complete your chores   :   <span>10pts</span></li>
                            <li>Report to an adult about a bully or cyber-bully   :   <span>10pts</span></li>
                            <li>Support your teammates   :   <span>10pts</span></li>
                        </ul>
                    </ul>
                    <p>#2 - THE LIBRARY:    Check out articles from the Academy library. Learn what it takes to be a SUPER HERO!!!   <span>150 pts for each article. That's a lot of points!</span></p>
                    <p><span>Don't let Chaos stop you from reading these.    He knows you won't do it. Prove him wrong!</span></p>
                    <p>#3 - ECHO BOARD: This is where you show the Warriors what you know!   Answer questions correctly - and earn points.   <span>900 pts for clearing the board</span></p>
                </td>
                <td id="trainingLightGrayBox" valign="top"><img class="grayBoxHDR" src="/public/img/training/LightGrayBox_buttn.gif" alt="Earn More Points! Extra Credit!" /><p>Earn points faster by doing extra credit work. Each deed is <span style="color:red;">worth 10</span> points and will help you earn your next badge faster!</p>
                <ul>
                    <li>Took a long walk (or went outside) with your family</li>
                    <li>Helped out with the grocery planning/shopping</li>
                    <li>Improved your report card!!!!</li>
                    <li>Completed a book</li>
                    <li>Completed an art project</li>
                    <li>Won the Warriors in Action Game</li>
                    <li>Joined a team (Shakti Warriors team, sport, dance, ect.)</li>
                    <li>Baby sit your brother/sister</li>
                    <li>Shoveled you or your neighbors snow</li>
                    <li>Mowed you or your neighbors lawn</li>
                    <li>Washed the car</li>
                    <li>Helped out with the laundry</li>
                    <li>Reviewed your homework with your parents/guardian this week</li>
                    <li>Read with your parents or guardian this week</li>
                    <li>Helped out with yard work today</li>
                </ul>
                <p><img src="/public/img/headers/donts.png" /></p>
                <ol>
                    <li>DON'T CHEAT.</li>
                    <li>DON'T COMPLAIN</li>
                    <li>DON'T TAKE THE EASY WAY OUT.</li>
                    <li>DON'T LET CHAOS MAKE YOU WEAK.</li>
                </ol>
                </td>
            </tr>
            </table>
            <div id="trainingBlueBox"><img src="/public/img/training/blueBoxHDR.gif" alt="Make a Difference in Your Community / Insert Subhead for Community Service Here" /><img class="thumbnail1" src="/public/img/training/thumbnail1.jpg" alt="Thumbnail Pic" />
                <p>Everyone knows that a super hero is not a "super" hero unless they use their powersto help others.</p>

                <p>So start now and think about how you can help others.    Talk to your parents, your teachers and other caring adults and see if they have ideas on how you can use your special powers to help out your family, your friends and your school.</p>

                <p>Coming soon you will need to take on special projects in order to move up the ranks.</p><div class="clear"></div></div>
        <div class="clear"></div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>