<?php include("_header.phtml"); ?>
<script type="text/javascript">
// Some versions of IE 6.0.2900 flake out on standard document.ready().
$(window).load(function()
{
    var heroMachineString = "<?= $heroMachineString ?>";
    if ("" == heroMachineString)
        $(".heroMachine").toggle();
});
</script>
<div id="mainContent">
    <div id="messages">
        <img src="/public/img/headers/meetOther.png" id="headerCap" class="headerPic"/>

        <iframe class="heroMachine" src="/public/swf/heromachine/character.php?ChildHeroID=<?= $childHeroId ?>&amp;heroMachineString=<?= $heroMachineString ?>"></iframe>
        <img class="heroMachine" style="display: none" src="/public/img/meetOtherWarriors/notYetDesigned.gif" width="272" height="389" alt="NotYetDesigned">
        <div id="stats">
            <h1><?= $login ?></h1>
            <div id="currentLevel"><?= $rank ?></div>
            <div id="currentRankBar"><div style="width: <?= $nextRankPercentage ?>%"></div></div>
            <div id="experiencePoints" class="totalPoints"></div>

            <hr noshade size="5" color="#f7941d">

            <h1>Vital Stats:</h1>

            <strong>Height:</strong> <?= $heightFeet ?> feet <?= $heightInches ?><br />
            <strong>Weight:</strong> <?= $weight ?><br />
            <strong>Ethnicity:</strong> <?= $ethnicity ?><br />

            <strong>Hair Type:</strong> <?= $hairType ?><br />
            <strong>Hair Length:</strong> <?= $hairLength ?><br />
            <strong>Hair Description:</strong> <?= $hairSpecialFeatures ?><br />

            <strong>Body Type:</strong> <?= $bodyType ?><br />
            <strong>Body Description:</strong> <?= $bodySpecialFeatures ?>

            <hr noshade size="5" color="#f7941d">

            <img src="/public/img/meetOtherWarriors/hdrOutfit.gif" />
            <div id="viewWarriorData">
                <p><?= $superHeroOutfit ?></p>
            </div>

            <img src="/public/img/meetOtherWarriors/hdrBackStory.gif" />
            <div id="viewWarriorData">
                <p><?= $backstory ?></p>
            </div>

            <img src="/public/img/meetOtherWarriors/hdrWork.gif" />
            <div id="viewWarriorData">
                <p><?= $planToDoGood ?></p>
            </div>
        </div>
    </div>
</div>
<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.DefaultPage();
</script>
<?php include("_footer.phtml"); ?>