<?php

    $controlPanel = true;
    include("_header.phtml");

?>
<script type="text/javascript">
// Some versions of IE 6.0.2900 flake out on standard document.ready().
$(window).load(function()
{

    $('#teamSlider').jcarousel({
        visible: 2,
        scroll: 1,
        auto: 3,
        itemFallbackDimension: "156",
        wrap: "last",
        buttonNextHTML: "<div>&nbsp;</div>",
        buttonPrevHTML: "<div>&nbsp;</div>"
    });



    <?php if ($takeAssessment){?>
            $.fancybox({
                'transitionIn': 'fade',
                'transitionOut': 'fade',
                'type': 'ajax',
                'href': '/assessmentMessage.php',
                'autoDimensions': true,
                'autoScale': false
            });
    <?php }?>

    var heroMachineString = "<?= $heroMachineString ?>";
    if ("" == heroMachineString)
        $(".heroMachine").toggle();
});
</script>
<style type="text/css">
    .jcarousel-clip{
    overflow: hidden;
    }
</style>
<div id="bd-quest-container"></div>
<div id="mainContent">
    <?php include("_menu.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div id="warrior-heroMachine">
                <iframe class="heroMachine" style="height: 429px; margin: 0px auto;" src="/public/swf/heromachine/character.php?ChildHeroID=<?= $childHeroId ?>&amp;heroMachineString=<?= $heroMachineString ?>"></iframe>
                <a class="heroMachine" style="display: none" href="/public/swf/heromachine/editCharacter.php?childHeroId=<?= $childHeroId ?>"><img src="/public/img/home/call_heroMachine.jpg" width="330" height="auto" alt="Hero Machine"></a>
                <div class="customized">
                    <a href="/public/swf/heromachine/editCharacter.php?childHeroId=<?= $childHeroId ?>&heroMachineString=<?= $heroMachineString ?>"><img src="/public/img/welcome/customize.png" /></a>
                </div>
            <div id="shaktiOS">
                    <p> You are currently at the <span><?= $rank ?></span> level with <span><?= $points ?> points.</span> Here is what you need to accomplish to move up to the rank of <?=$nextRankInfo['nextRank']->name?></p>
                    <ul>
                        <?php if ($nextRankInfo['pointsNeeded'] > 0){?>
                            <li>Earn <?=$nextRankInfo['pointsNeeded']?> number of points</li>
                        <?php }?>
                        <?php if ($nextRankInfo['needAssessment']){?>
                            <li>Update your <b><a href="/assessment.php">STATS</a></b></li>
                        <?php }?>
                        <?php if ($nextRankInfo['needLibrary']){?>
                            <li>Finish reading the articles from <b><a href="/library.php">THE LIBRARY</a></b></li>
                        <?php }?>
                        <?php if ($nextRankInfo['needQuiz']){?>
                            <li>Clear the <b><a href="/echoBoard.php">ECHO BOARD</a></b></li>
                        <?php }?>
                    </ul>
                    <p><strong>KEEP WORKING HARD!</strong></p>
                </div>
            </div>
            <div  id="warrior-infoDisplay">
                <div id="stats">
                    <div class="welcomeHeader">
                        <h1>Your Training</h1>
                    </div>
                    <div class="clearfix">
                        <div id="welcomeUser">
                            <div style="width: 200px;"></div>
                            <?= $login ?>
                        </div>
                        <div id="user-rank">
                            <div id="totalPointsHolder"><p>Total Points</p></div>
                            <div id="experiencePoints" class="totalPoints"></div>
                            <div id="currentLevel"><?= $rank ?></div>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="currentRankBar">
                        <div style="width: <?= $nextRankPercentage ?>%"></div>
                    </div>
                    <div id="warriors-pointsBreakdown">
                        <h3>Your Points</h3>
                        <div>
                            <ul>
                                <li>
                                    <strong><?=$user->getTaskPoints()?></strong>
                                    <span>Daily Training</span>
                                </li>
                                <li>
                                    <strong><?=$user->getQuizPoints()?></strong>
                                    <span>Echo Board</span>
                                </li>
                                <li>
                                    <strong><?=$user->getLibraryPoints()?></strong>
                                    <span>Library</span>
                                </li>
                                <li class="last">
                                    <strong><?=$user->getGroupJoinPoints()?></strong>
                                    <span>Recruiting Points</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="warrior-earnPoints">
                        <a href="/trackYourPoints.php" class="dailyTraining"><img src="/public/img/welcome/dailyTraining.png" alt="Daily training" /></a>
                        <a href="/echoBoard.php" class="jeopardy"><img src="/public/img/welcome/jeopardy.png" alt="Echo Board" /></a>
                        <a href="/library.php" class="library"><img src="/public/img/welcome/library.png" alt="Library" /></a>
                        <div style="clear: both;"></div>
                    </div>
                    <div id="warrior-teams" class="clearfix">
                        <h3>Your Teams</h3>
                        <div>
                            <ul class="clearfix" id="teamSlider">
                                <?php
                                    $teamColToggle = false;
                                    foreach ($groups as $group){
                                ?>
                                    <li class="clearfix teamCard theme_f col_<?= ($teamColToggle == true) ? '2' : '1'; ?>">
                                        <a href="/groupDetails.php?groupId=<?= $group->id?>">
                                            <div class="clearfix teamCard-inn">
                                                <p class="points">points <strong><?=$group->getTotalPoints()?></strong></p>
                                                <p class="title"><?= $group->name?></p>
                                                <p class="icon">&nbsp;</p>
                                                <p style="clear: both;"></p>
                                            </div>
                                        </a>
                                    </li>
                                <?php }?>
                            </ul>
                        </div>
                    </div>
                </div>
                <?php if (isset($_REQUEST['firstVisit'])){?>
                    <div id="superHeroMessages">
                        <h1>You have 2 new messages</h1>
                        <div class="message">
                            <img src="/public/img/superheroes/Shakti.jpg" />
                            <h2>Message from Shakti</h2>
                            Congratulations! Welcome to the Academy. This message confirms your acceptance into the
                            Shakti Academy. You are joining the ranks of a powerful force growing across the
                            country that is defending against Chaos and his minions.</p>

                            Please enter the academy and start tracking your points right away. We're looking
                            forward to seeing you around the academy, <?= $login ?>. Choose Powerfully....
                            <br class="clear" />
                        </div>
                        <div class="message">
                            <img src="/public/img/superheroes/<?= $mentorName?>.jpg" />
                            <h2>Message from <?= ucwords($mentorName) ?></h2>
                            Hi <?= $login ?>. So, you've chosen me to be your Mentor. Thanks! It will be my
                            honor to help grow you into a fine Super Hero. Remember to keep tracking your points
                            and I'll check in on you in the next couple of days. Choose Powerfully ... <?= ucwords($mentorName) ?>
                            <br class="clear" />
                        </div>
                    </div>
                <?php }?>

            </div>
            <div style="clear: both;"></div>
            <div>
                <div id="gauges" style="margin-left: -14px;">

                </div>
                <script type="text/javascript">
                // <![CDATA[
                    var so = new SWFObject("/public/swf/gauges.swf", "gauges", "750", "200", "9", "#000000");
                    so.useExpressInstall('/public/swf/expressinstall.swf');
                    so.addParam("wmode", "transparent");

                    so.addVariable("gauge1Current", "<?=$gaugeData->body?>");
                    so.addVariable("gauge1Base", "0");
                    so.addVariable("gauge1Title", "Hero's Body");
                    so.addVariable("gauge1Link", "");

                    so.addVariable("gauge2Current", "<?=$gaugeData->mind?>");
                    so.addVariable("gauge2Base", "0");
                    so.addVariable("gauge2Title", "Hero's Mind");
                    so.addVariable("gauge2Link", "");

                    so.addVariable("gauge3Current", "<?=$gaugeData->heart?>");
                    so.addVariable("gauge3Base", "0");
                    so.addVariable("gauge3Title", "Hero's Heart");
                    so.addVariable("gauge3Link", "");

                    so.addVariable("gauge4Current", "<?=$gaugeData->community?>");
                    so.addVariable("gauge4Base", "0");
                    so.addVariable("gauge4Title", "Hero's Community");
                    so.addVariable("gauge4Link", "");

                    so.write("gauges");
                // ]]>
                </script>
            </div>
        </div>
    </div>
</div>

<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
new application.page.training.BaseTrainingPage();
</script>
<?php include("_footer.phtml"); ?>
