<?php

    $controlPanel = true;
    include("_header.phtml");

?>
<div id="bd-quest-container"></div>
<script type="text/javascript">
// Some versions of IE 6.0.2900 flake out on standard document.ready().
$(window).load(function(){
});
</script>
<style type="text/css">
    .jcarousel-clip{
    overflow: hidden;
    }
</style>
<div id="bd-quest-container"></div>
<div id="mainContent">
    <?php include("_menu2.phtml"); ?>
    <div class="controlPanel-content">
        <div class="controlPanel-content-inn">
            <div class="controlPanelTopWrap clearfix">
                <div class="clearfix welcomeHeader2">
                    <h1 class="rank"><b><?=$rank?></b></h1>
                    <h1 class="secondYearPoints"><img src="/public/img/welcome/secondYearHeader.png" alt="2nd Year Academy" /></h1>
                </div>
                <div class="clearfix pointsWrap">
                    <div id="welcomeUser">
                        <?= $login ?>
                    </div>
                    <div id="user-rank">
                        <div id="totalPointsHolder"><p>Total Points</p></div>
                        <div id="experiencePoints" class="totalPoints"></div>
                    </div>
                    <div style="clear: both;"></div>
                </div>
                <div id="warriors-pointsBreakdown2">
                    <div>
                        <ul class="clearfix">
                            <li>
                                <strong><?=number_format($user->getTaskPoints())?></strong>
                                <span>Daily Training</span>
                            </li>
                            <li>
                                <strong><?=number_format($user->getQuizPoints())?></strong>
                                <span>Echo Board</span>
                            </li>
                            <li>
                                <strong><?=number_format($user->getLibraryPoints())?></strong>
                                <span>Library</span>
                            </li>
                            <li class="last">
                                <strong><?=number_format($user->getGroupJoinPoints())?></strong>
                                <span>Recruiting Points</span>
                            </li>
                        </ul>
                    </div>
                    <div id="currentRankBar">
                        <div style="width: <?= $nextRankPercentage ?>%"></div>
                    </div>
                </div>
            </div>
            <div id="shaktiOrbs">
                <div class="pointsContainer"><?=number_format($user->getOrbPoints())?></div>
                <div class="shaktiOrbsDarkener"></div>
                <?php
                $numbers = array("zero", "first", "second", "third", "fourth", "fifth", "sixth");
                $totalCount = 0;
                $count = 0;
                $row = 3;
                $width = 72;
                foreach ($orbs as $orb) {
                    $totalCount++;
                    $count++;
                    if ($totalCount == 5) {
                        $count = 1;
                        $width = 84;
                        $row = 2;
                    }
                    if ($totalCount == 10) {
                        $count = 1;
                        $width = 106;
                        $row = 1;
                    }
                ?>
                    <a href="/orb.php?id=<?=$orb->id?>" class="orbPopUp">
                        <div class="orbContent row<?=$row?> <?=$numbers[$count]?>" data-orig-width="<?=$width?>" data-title="<?=$orb->name?>" data-long-description="<?=htmlentities($orb->longDescription)?>" data-big-door-quest-id="<?=$orb->bigDoorQuestId?>" data-quest-completed="<?=$orb->completed?>">
                            <img class="orbGlow" src="/public/img/orbs/orbGlowStart.png" alt="" />
                            <img style="display:none;" class="startedGlow <?=$orb->getImageName()?> <?=$orb->started != null ? "showGlow" : "" ?>" src="/public/img/training/startedGlow/<?=$orb->getImageName()?>.png" alt="" />
                            <img style="display:none;" class="orbGlowFinish" src="/public/img/orbs/orbGlowFinish.png" alt="" />
                            <img class="orbs" data-active-src="/public/img/orbs/<?=$orb->getImageName()?>.png" data-original-src="/public/img/orbs/<?=$orb->getImageName()?><?=$orb->completed ? '' : 'Inactive'?>.png" src="/public/img/orbs/<?=$orb->getImageName()?><?=$orb->completed ? '' : 'Inactive'?>.png" alt="" />
                            <div class="orbsPane">
                                <div class="toolTip">
                                    <img src="/public/img/orbs/toolTop.png" />
                                    <div class="toolMiddle">
                                        <div class="toolMiddleInner">
                                            <div class="orbName">
                                                <?=$orb->name?>
                                            </div>
                                            <div class="orbDescription">
                                                <?=$orb->description?>
                                            </div>
                                        </div>
                                    </div>
                                    <img src="/public/img/orbs/toolBottom.png" />
                                </div>
                                <img style="width:100%;height:100%;" src="/public/img/orbs/pixel.gif" />
                            </div>
                        </div>
                    </a>
                <?php }?>
                <div class="orbsInfo">
                    <a href="" id="orb-info"></a>
                </div>
                <div style="clear: both;"></div>
            </div>
            <div id="warrior-heroMachine">
                <div id="herosCorner">
                    <p id="whosCorner">WHO'S GOT YOUR BACK?</p>
                    <div style="clear: both;"></div>
                    <ul class="clearfix">
                        <?php foreach($heroesInCorner as $hero) {?>
                            <li>
                                <?php if (file_exists($hero->getOriginalStoragePath())) {?>
                                   <div class="heroCornerThumb<?=$hero->getAvatarStyle()?>"><img src="<?=$hero->getFilePath("thumb")?>" class="heroImage"/></div>
                                <?php } else { ?>
                                   <img src="/public/img/backgrounds/noWarriorDesign.png" style="width:65px; height:59px" />
                                <?php }?>
                                <span><?=$hero->login?></span><br />
                                <span><?=number_format($hero->getTotalPoints())?></span><br />
                                <a href="/app/actions/doRemoveHeroFromCorner.php?heroId=<?=$hero->id?>"><img src="/public/img/welcome/deleteCorner.png" alt="" /></a>
                            </li>
                        <?php }?>
                    </ul>
                    <div id="pointsHeros">
                        <a href="/searchUser.php"><img id="herosLeft" src="/public/img/welcome/addCorner.png" /></a>
                    </div>
                    <div class="herosBottomInfo">
                        <a href="#" id="heros-corner-info"></a>
                    </div>
                </div>
                <div id="warrior-earnPoints2">
                        <a href="/trackYourPoints.php" class="dailyTraining"><img src="/public/img/welcome/dailyTraining2.png" alt="Daily training" /></a>
                        <a href="/library.php" class="library"><img src="/public/img/welcome/library2.png" alt="Library" /></a>
                        <a href="/echoBoard.php" class="jeopardy"><img src="/public/img/welcome/jeopardy2.png" alt="Echo Board" /></a>
                        <div style="clear: both;"></div>
                </div>
                <!--<div id="shaktiOS">
                    <p> You are currently at the <span><?= $rank ?></span> level with <span><?= number_format($points) ?> points.</span> Here is what you need to accomplish to move up to the rank of <?=$nextRankInfo['nextRank']->name?></p>
                    <ul>
                        <?php if ($nextRankInfo['pointsNeeded'] > 0){?>
                            <li>Earn <?=$nextRankInfo['pointsNeeded']?> number of points</li>
                        <?php }?>
                        <?php if ($nextRankInfo['needAssessment']){?>
                            <li>Update your <b><a href="/assessment.php">STATS</a></b></li>
                        <?php }?>
                        <?php if ($nextRankInfo['needLibrary']){?>
                            <li>Finish reading the articles from <b><a href="/library.php">THE LIBRARY</a></b></li>
                        <?php }?>
                        <?php if ($nextRankInfo['needQuiz']){?>
                            <li>Clear the <b><a href="/echoBoard.php">ECHO BOARD</a></b></li>
                        <?php }?>
                    </ul>
                    <p><strong>KEEP WORKING HARD!</strong></p>
                </div>-->
            </div>
            <div  id="warrior-infoDisplay">
                <div id="stats">
                    <div id="extraCredit" class="clearfix">
                        <p id="creditPoints"><!-- YOUR POINTS: <span><?=number_format($totalArticlePoints)?></span> --></p>
                        <div style="clear: both;"></div>
                        <div id="bookCarousel">
                            <ul class="clearfix" id="extraSlider">
                                <?php
                                    $count = 0;
                                    $booksPerPage = 10;
                                    $booksPerRow = 5;
                                    foreach ($readArticles as $readArticle){
                                ?>
                                    <?php
                                        if($count%$booksPerPage == 0){
                                    ?>
                                        <li class="clearfix teamCard theme_a col_1">

                                    <?
                                        }
                                    ?>
                                             <?php
                                                if($count%$booksPerRow == 0){
                                            ?>
                                                <div class="clearfix teamCardRow">
                                            <?
                                                }
                                            ?>
                                            <a class="readArticle" title="<?=$readArticle->name?>" href="<?= $readArticle->url?>" target="_blank">
                                                <div class="clearfix teamCard-inn">
                                                    <img src="/public/img/welcome/book<?=rand(1, 5)?>.png">
                                                    <p style="clear: both;"></p>
                                                </div>
                                            </a>
                                            <?php
                                                if($count%5 == $booksPerRow-1 || $count == count($readArticles)-1){
                                            ?>
                                                </div>
                                            <?
                                                }
                                            ?>
                                    <?php
                                        if($count%10 == $booksPerPage-1 || $count == count($readArticles)-1){
                                    ?>
                                        </li>
                                    <?
                                        }
                                    ?>
                                <?php $count++; }?>
                            </ul>
                        </div>
                    </div>
                    <div id="warrior-teams" class="clearfix">
                        <h3>Your Teams</h3>
                        <div>
                            <ul class="clearfix" id="teamSlider">
                                <?php
                                    $teamColToggle = false;
                                    foreach ($groups as $group){
                                ?>
                                    <li class="clearfix teamCard theme_f col_<?= ($teamColToggle == true) ? '2' : '1'; ?>">
                                        <a href="/groupDetails.php?groupId=<?= $group->id?>">
                                            <div class="clearfix teamCard-inn">
                                                <p class="points">points <strong><?=number_format($group->getTotalPoints())?></strong></p>
                                                <p class="title"><?= $group->name?></p>
                                                <p class="icon">&nbsp;</p>
                                                <p style="clear: both;"></p>
                                            </div>
                                        </a>
                                    </li>
                                <?php }?>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear: both;"></div>
            <!--<div>
                <div id="gauges" style="margin-left: -14px;">

                </div>
                <script type="text/javascript">
                // <![CDATA[
                    var so = new SWFObject("/public/swf/gauges.swf", "gauges", "750", "200", "9", "#000000");
                    so.useExpressInstall('/public/swf/expressinstall.swf');
                    so.addParam("wmode", "transparent");

                    so.addVariable("gauge1Current", "<?=$gaugeData->body?>");
                    so.addVariable("gauge1Base", "0");
                    so.addVariable("gauge1Title", "Hero's Body");
                    so.addVariable("gauge1Link", "");

                    so.addVariable("gauge2Current", "<?=$gaugeData->mind?>");
                    so.addVariable("gauge2Base", "0");
                    so.addVariable("gauge2Title", "Hero's Mind");
                    so.addVariable("gauge2Link", "");

                    so.addVariable("gauge3Current", "<?=$gaugeData->heart?>");
                    so.addVariable("gauge3Base", "0");
                    so.addVariable("gauge3Title", "Hero's Heart");
                    so.addVariable("gauge3Link", "");

                    so.addVariable("gauge4Current", "<?=$gaugeData->community?>");
                    so.addVariable("gauge4Base", "0");
                    so.addVariable("gauge4Title", "Hero's Community");
                    so.addVariable("gauge4Link", "");

                    so.write("gauges");
                // ]]>
                </script>
            </div>-->
        </div>
    </div>
</div>
<div id="orb-description-popup" style="display: none">
    <h1 id="orb-popup-title"></h1>
    <img id="orb-popup-image" src="" alt="orb image"/>
    <p id="orb-popup-description"></p>
    <a id="orb-popup-link" href="#" data-orb-id="">Start Quest</a>
    <p id="orb-completed-content">Congratulations, You have Completed this Orb!</p>
</div>
<div class="orbsPopupText" id="orbs-popup-text" style="display: none">
        <a id="backHowTo"></a>
        <a id="nextHowTo"></a>
    <div id="orbsHowTo" class="clearfix">
        <div class="orbsSlide1">
            <img class="header" src="/public/img/orbs/slides/slide1Header.png">
            <div class="orbsParagraph">Second year students have the special opportunity to earn orbs! If you move your cursor over the orbs you can see the names of the orbs you will be earning.</div>
        </div>
        <div class="orbsSlide2">
            <img class="header" src="/public/img/orbs/slides/slide2Header.png" />
            <ol>
                <li><strong>IF YOU ARE EVER UNCOMFORTABLE DOING A TASK</strong><br>– DO NOT DO IT. Talk to your teacher and they will help you figure out a way around that task.</li>
                <li class="last"><strong>IF A TASK ASKS YOU TO TALK TO A PERSON</strong><br><span class="highlighted">ALWAYS pick someone you feel safe with</span> and someone you know will not hurt you. If you are uncomfortable in any way, talk to your teacher.</li>
            </ol>
        </div>
        <div class="orbsSlide3">
            <img class="header" src="/public/img/orbs/slides/slide3Header.png" />
            <div class="orbsParagraph">The first orb that you have to earn is the <span class="highlighted"><strong>"ORB TRACKER"</strong></span> orb. To earn this orb you will need to create your ORB BOOK. This is the book that you will use to keep track of notes about the other orbs you earn. Try not to loose your orb tracker book. If you do, however, you can always create another ORB BOOK.</div>
            <div class="orbsParagraph last"><strong>Once you have created your ORB BOOK</strong>, you are then able to start earning other orbs. You can earn orbs in any order AND you can even earn multiple orbs at the same time. Be careful not to be earning too many orbs at the same time – as you might get confused.</div>
        </div>
        <div class="orbsSlide4">
            <img class="header" src="/public/img/orbs/slides/slide4Header.png" />
            <div class="orbsParagraph">To select an ORB to earn, simply move your cursor over the orb and click to select. This will take you to the ORB QUEST of the Shakti Site. (This is at the bottom of the page.)<br/><br /> <strong>OR,</strong></div>
            <div class="orbsParagraph last">you can move your cursor to the bottom left right corner of the screen and select the Quest option. This will provide a list of orbs that you can earn.</div>
        </div>
        <div class="orbsSlide5">
            <img class="header" src="/public/img/orbs/slides/slide5Header.png" />
            <div class="orbsParagraph"><strong>TO EARN AN ORB</strong> you will have to complete many tasks for each orb. Some tasks can be done quickly. Some might take you a week or more. It’s ok.</div>
            <div class="orbsParagraph last"><strong>THE GOAL</strong> is not to do tasks quickly but instead to do them to the very best of your ability.</div>
        </div>
        <div class="orbsSlide6">
            <img class="header" src="/public/img/orbs/slides/slide6Header.png" />
            <div class="orbsParagraph"><strong>FOR EACH TASK YOU COMPLETE</strong> you will earn 150 points. And when you have completed all tasks for that orb you will earn an additional 500 points. <span class="highlighted">That’s a lot of points.</span></div>
        </div>
        <div class="orbsSlide7">
            <img class="header" src="/public/img/orbs/slides/slide7Header.png" />
            <div class="orbsParagraph"><strong>COMING SOON</strong>  you will be able to redeem your Orb Points for prizes, coupons and opportunities.</div>
        </div>
        <div class="orbsSlide8">
            <img class="header" src="/public/img/orbs/slides/slide8Header.png" />
            <div class="orbsParagraph"><strong>REMEMBER</strong> Shakti, the Warriors, your parents and teachers will be keeping an eye on the work you are doing as you earn your orbs. So please be honest and do not take short cuts. Complete each task properly and to the best of your ability.</div>
            <div class="orbsParagraph last">If you are caught cheating, you will be prevented from earning that Orb and your points for that orb will be taken away.</div>
        </div>
    </div>
</div>
<div class="herosPopupText" id="heros-popup-text" style="display: none">
    <div id="herosCornerPopup">
        <h1><img src="/public/img/welcome/herosCornerHeader.png"></h1>
        <p></strong>TO SELECT SOMEONE TO BE IN YOUR CORNER IS A VERY BIG DEAL.</strong> It says to the world that this person is one your very best friends and someone that you trust. <span class="blueHighlighted">You will only get to select 3 people – so select them carefully.</span>   Before you invite someone to your corner, make sure you can answer ‘yes’ to the following 5 questions about this person:</p>
        <ol>
            <li>Is this person someone who you have known for a long time?</li>
            <li>Has this person proven to you that you can trust them?</li>
            <li>Would this person defend you even if your other friends were saying bad things about you?</li>
            <li>Does this person have your back?<br />Are you sure?</li>
            <li>Could you count on this person to<br /> come through for you in a time of need?</li>
        </ol>
        <p>If you can answer YES to ALL 5 questions, then go ahead and invite your friend to be in your corner.</p>
    </div>
</div>
<div id="takeAssessment-popup-text" class="assessmentWrap" style="display: none">
    <div>
        <div>
            <img class="assessmentHeader" src="/public/img/welcome/assessmentHeader.png" />
            <p>Hey <?=$user->login?></p>
            <p>Good job on continuing to work hard at the Academy. We're proud of you! It's time for us to check in and see how you're doing. </p>
            <p>We need you to head back over to HQ and complete your stats! Please take a moment and complete these for us.</p>
            <p>Keep up the good work! Remember to keep your eye out for Chaos and his minions.</p>
            <p>Choose Powerfully,<br/>Shakti
            <p><a class="assessmentButton" href="assessment.php"></a></p>
        </div>
    </div>
</div>

<?php include("_scripts.phtml"); ?>
<script type="text/javascript">
    new application.page.training.WelcomePage2({
        takeAssessment: <?=$takeAssessment ? "true" : "false"?>,
        heroMachineString: "<?=$heroMachineString?>"
    });
</script>


<?php include("_footer.phtml"); ?>
