<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/global.css" />
    </head>
    <body style="background:none;">
        <div id="youtubeVideo">
            <div id="youtubeContainer">
                <div id="media1">
                    <a href="/app/views/mediaPlayer1.phtml"><img src="/public/img/buttons/media1.png"></a>
                </div>
                <div id="media2">
                    <a href="/app/views/mediaPlayer2.phtml"><img src="/public/img/buttons/media2.png"></a>
                </div>
                <div id="media3">
                    <a href="/app/views/mediaPlayer3.phtml"><img src="/public/img/buttons/media3.png"></a>
                </div>
            </div>
        </div>
    </body>
</html>