.default-form{
  .form-group{
    .make-row();
    .control-label{
       .make-md-column(3);
    }

    .controls{
       .make-md-column(9);

         input[type='text'],
         input[type='password'],
         input[type='email'],
         input[type='tel'],
         input[type='number'],
         input[type='date'],
         select,
         textarea
         {
           .form-control;
         }

         select {
            width: auto !important;
         }
     }


     &.has-error{
       label{
         color: @label-danger-bg;
       }
        input[type='text'],
         input[type='password'],
         input[type='email'],
         input[type='tel'],
         input[type='number'],
         input[type='date'],
         select,
         textarea
         {
           border-color: @label-danger-bg;
          }
     }
  }

  .first-wrap,
  .last-wrap {
    .form-group {
      margin-bottom: 0;
    }
  }

  .first-wrap {
    .control-label,
    .controls{
       .make-md-column(6);
    }
  }
  .last-wrap {
    .control-label {
      .make-md-column(4);
    }

    .controls {
      .make-md-column(8);
    }
  }



  .form-button-group{
    .controls{
        .make-md-column-offset(3);

        input,
        button{
            margin-right: 20px;
        }
        .cancel{
          .make-md-column-offset(3);
        }
    }
  }
}
.error{

}
