#email-modal {
    .to-email-wrap {
        font-weight: bold;
    }
    
    .toEmails {
        width: 90%;
        
        &.checkbox {
            width: 100%;
        }
    }
    
    label.error {
        color: #E60000;
    }
}