// Bootstrap override
.dropdown-submenu{position:relative; width: 100%;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px; width: 350px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

@media (min-width: @screen-tablet) {
    .container {
        max-width: 100% !important;
    }
}

//Button redux
 button, button[type="button"], a.btn, input[type="submit"]{
      font-weight: normal;
      padding-left: 10px;
      padding-right: 10px;
      border: 1px solid black;
}

tr th{
  background: lighten(#000, 40%);
  color: white;
  font-size: 18px;
}

.nav-tabs > li{
    margin-bottom: 0;

    > a {
        &,
        &:hover,
        &:focus {
            text-transform: uppercase;
            font-weight: bold;
            color: #5E5E5E;
            font-size: 15px;
        }
    }
}

.title h1,
.container > h1 {
    font-family: 'ethnocentricregular';
}

tr.clickableRow{
  cursor:pointer;
}

.muted{
  color: #999;
}
body{
    //background: url('/public/admin/img/loginBackgroundGradient.png') repeat-x top center;
}
.outer{
    margin: 0 auto;
    width: @mainWidth;
    -webkit-box-shadow: 0px 0px 8px 8px #d8d8d8;
    box-shadow: 0px 0px 8px 8px #d8d8d8;
    background: white;
}

.row{
    margin: 0 auto !important;
}
h1{
    margin-top:10px;
    text-align: center;
}

.pageTitle {
    h1 {
        margin-bottom: 0px;
    }
    h2 {
        margin-top: 0px;
        margin-bottom: 20px;
        text-align: center;
    }
}
