.nav{

    width: 1024px;
    .center-block();
    background: #e1e1e1;
    border-bottom: 1px solid #b7b7b7;
    -webkit-box-shadow:  0px 7px 7px 0px #dedede;
    box-shadow:  0px 7px 7px 0px #dedede;
    .logout{
        .pull-right();
    }
    li{
        width: 140px;

		&.competitionsLink {
			width: 160px;
		}

        &.lessonPlansLink {
            width: 160px;
        }

		&.professionalDevelopmentLink {
			width: 282px;
		}

        a{
            text-align: center;
            display: block;
        }
    }

    li.logout {
        width: 135px;
    }
}

.backgroundWrap{
    width: 1024px;
    .center-block();

}
